<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth auth-change-password">
			<header>
				<h2>@Html.Sitecore().Field("Header Text")</h2>
			</header>
			<form>
				<div class="content">
					@Html.Sitecore().Field("Body Text")
					<dl class="clearfix">
						<dt>@Html.Sitecore().Field("Account Number Label"):</dt>
						<dd>12534567890</dd>
						<dt>@Html.Sitecore().Field("Username Label"):</dt>
						<dd>john.smith</dd>
					</dl>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="password">@Html.Sitecore().Field("Password Label"):</label>
							<input id="password" type="password">
							<span class="help-text">@Html.Sitecore().Field("Password Help Text")</span>
						</div>
						<div class="item group-col" float-label>
							<label for="confirm-password">@Html.Sitecore().Field("Confirm Password Label"):</label>
							<input id="confirm-password" type="password">
						</div>
					</div>
				</div>
				<footer>
					<div class="buttons">
						<button type="submit">@Html.Sitecore().Field("Change Password Button Text")</button>
					</div>
				</footer>
			</form>
		</article>
	</section>
</section>