<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth auth-forgot-password">
			<header>
				<h2>@Html.Sitecore().Field("Header Text")</h2>
			</header>
			<form>
				<div class="content">
					@Html.Sitecore().Field("Body Text")

					<div class="alert alert-error">
						@Html.Sitecore().Field("Error Text")
					</div>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="username">@Html.Sitecore().Field("Username Label"):</label>
							<input id="username" type="text">
						</div>
						<div class="item group-col">
							<a href="" class="single-link">@Html.Sitecore().Field("Forgot Username Text")</a>
						</div>
					</div>
				</div>
				<footer>
					<div class="buttons">
						<button type="submit">@Html.Sitecore().Field("Continue Button Text")</button>
					</div>
				</footer>
			</form>
		</article>
	</section>
</section>