<article class="mobile-sidebar white-box">
    <div class="content">
        <select>
            <option>@Html.Sitecore().Field("Option Text")</option>
        </select>
        <p>@Html.Sitecore().Field("Quick Links Text")</p>
        <ul>
            <li>@Html.Sitecore().Field("Details Link Text")</li>
            <li>@Html.Sitecore().Field("Plan Link Text")</li>
            <li>@Html.Sitecore().Field("Accounts Link Text")</li>
        </ul>
    </div>
</article>