<article class="promoHD @Html.Sitecore().Field("Custom CSS Class")">
    <strong>@Html.Sitecore().Field("Promo Image")</strong>
    <header>
        @Html.Sitecore().Field("Promo Icon")
        <h3>@Html.Sitecore().Field("Promo Title")</h3>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Promo Content")
        <div class="action">
            @Html.Sitecore().Field("Promo Link")
        </div>
    </div>
</article>