<article class="promo @Html.Sitecore().Field("Custom CSS Class")" style="@Html.AsBackgroundStyle("Background Image")">
    <div>
        @Html.Sitecore().Field("Title")
        @Html.Sitecore().Field("Content")
        @Html.Sitecore().Field("Button")
    </div>
</article>
