<article class="promo @Html.Sitecore().Field("Custom CSS Class")">
    <header>
        <h3>@Html.Sitecore().Field("Title")</h3>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Image")
        @Html.Sitecore().Field("Content")
        <div class="action">
            @Html.Sitecore().Field("Link")
        </div>
    </div>
</article>