<article class="marketing full-html   pay">
    <div class="wrapper">
        <h2 class="get-started">@Html.Sitecore().Field("Header Text")</h2>
    </div>
</article>
<article class="marketing state-tabs states-pay" ng-controller="LoginCtrl" ng-init="init('https://secure3.i-doxs.net/StreamEnergy/Default.aspx', 'https://secure3.i-doxs.net/StreamEnergyGA/Default.aspx')" state-tabs="texas">
    <ul class="tabs-nav">
        <li ng-click="selectPane('texas')" ng-class="{ active: pane == 'texas' }">
            <a href="">
                <span><i class="icon-state-texas"></i></span>
                @Html.Sitecore().Field("Texas State Text")
            </a>
        </li>
        <li ng-click="selectPane('georgia')" ng-class="{ active: pane == 'georgia' }">
            <a href="">
                <span><i class="icon-state-georgia"></i></span>
                @Html.Sitecore().Field("Georgia State Text")

            </a>
        </li>
        <li ng-click="selectPane('pennsylvania')" ng-class="{ active: pane == 'pennsylvania' }">
            <a href="">
                <span><i class="icon-state-pennsylvania"></i></span>
                @Html.Sitecore().Field("Pennsylvania State Text")
            </a>
        </li>
        <li ng-click="selectPane('maryland')" ng-class="{ active: pane == 'maryland' }">
            <a href="">
                <span><i class="icon-state-maryland"></i></span>
                @Html.Sitecore().Field("Maryland State Text")
            </a>
        </li>
        <li ng-click="selectPane('newjersey')" ng-class="{ active: pane == 'newjersey' }">
            <a href="">
                <span><i class="icon-state-newjersey"></i></span>
                @Html.Sitecore().Field("New Jersey State Text")
            </a>
        </li>
        <li ng-click="selectPane('newyork')" ng-class="{ active: pane == 'newyork' }">
            <a href="">
                <span><i class="icon-state-newyork"></i></span>
                @Html.Sitecore().Field("New York State Text")
            </a>
        </li>
        <li ng-click="selectPane('washingtondc')" ng-class="{ active: pane == 'washingtondc' }">
            <a href="">
                <span><i class="icon-state-washingtondc"></i></span>
                @Html.Sitecore().Field("Washington DC State Text")
            </a>
        </li>
    </ul>
    <div class="tab-content" ng-class="{ hidden : pane != 'texas' }">
        <div class="tab-header">
        </div>
        <article class="marketing wrapper pay">
            <div class="grid">
                <div class="col">
                    <div class="pay-option">
                        <h1>@Html.Sitecore().Field("Texas State Text")</h1>
                        <p>@Html.Sitecore().Field("Intro Text")</p>
                        <p class="call">@Html.Sitecore().Field("Call Us Text") <span class="phone">@Html.Sitecore().Field("Phone Number")</span>.</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("One Time Payment Text")</h2>
                        <p>@Html.Sitecore().Field("No Login Text")</p>
                        <p><a class="button" href="https://secure3.i-doxs.net/StreamEnergy/OneTimeValidate.aspx">@Html.Sitecore().Field("No Login Button Text")</a> @Html.Sitecore().Field("Instead Text")</p>
                        <p>@Html.Sitecore().Field("Charges Apply Text")</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("Mail Payment Text")</h2>
                        <p>@Html.Sitecore().Field("Texas Payment Address")</p>
                        <p>@Html.Sitecore().Field("Mail Instructions Text")</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("Phone Payment Text")</h2>
                        <p>@Html.Sitecore().Field("Phone Instructions Text") <span class="phone">@Html.Sitecore().Field("Texas Phone Payment Number")</span>.</p>
                        <p>@Html.Sitecore().Field("Charges Apply Text")</p>
                        <p>@Html.Sitecore().Field("Phone Payment Posting Text")</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <h1>@Html.Sitecore().Field("My Stream Account Text")</h1>
                        <input type="text" ng-model="username" placeholder="Username">
                        <input type="password" ng-model="password" placeholder="Password">
                        <p><button type="button" ng-click="loginClicked('TX')">@Html.Sitecore().Field("Login Button Text")</button></p>
                        <p class="forgot">@Html.Sitecore().Field("Texas Forgot Text")</p>
                        <hr />
                        <p>@Html.Sitecore().Field("Havent Created Text")</p>
                        <p class="sign-up"><a href="https://secure3.i-doxs.net/StreamEnergy/OneTimeValidate.aspx">@Html.Sitecore().Field("Sign Up Text")</a> @Html.Sitecore().Field("Benefits Text")</p>
                        <p><span class="benefits">@Html.Sitecore().Field("Paperless Billing Text")</span> @Html.Sitecore().Field("Paperless Benefit Text")</p>
                        <p><span class="benefits">@Html.Sitecore().Field("Automated Payments Text")</span> @Html.Sitecore().Field("Automated Benefit Text")</p>
                    </div>
                    <hr />
                    <h2>@Html.Sitecore().Field("Find Pay Center Text")</h2>
                    @Html.Sitecore().Field("Pay Center Instructions")
                </div>
            </div>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'georgia' }">
        <div class="tab-header">
        </div>
        <article class="marketing wrapper pay">
            <div class="grid">
                <div class="col">
                    <div class="pay-option">
                        <h1>@Html.Sitecore().Field("Georgia State Text")</h1>
                        <p>@Html.Sitecore().Field("Intro Text")</p>
                        <p class="call">@Html.Sitecore().Field("Call Us Text") <span class="phone">@Html.Sitecore().Field("Phone Number")</span>.</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("One Time Payment Text")</h2>
                        <p>@Html.Sitecore().Field("No Login Text")</p>
                        <p><a class="button" href="https://secure3.i-doxs.net/StreamEnergyGA/OneTimeValidate.aspx">@Html.Sitecore().Field("No Login Button Text")</a> @Html.Sitecore().Field("Instead Text")</p>
                        <p>@Html.Sitecore().Field("Charges Apply Text")</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("Mail Payment Text")</h2>
                        <p>@Html.Sitecore().Field("Georgia Payment Address")</p>
                        <p>@Html.Sitecore().Field("Mail Instructions Text")</p>
                    </div>
                    <div class="pay-option">
                        <h2>@Html.Sitecore().Field("Phone Payment Text")</h2>
                        <p>@Html.Sitecore().Field("Phone Instructions Text") <span class="phone">@Html.Sitecore().Field("Georgia Phone Payment Number")</span>.</p>
                        <p>@Html.Sitecore().Field("Charges Apply Text")</p>
                        <p>@Html.Sitecore().Field("Phone Payment Posting Text")</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <h1>@Html.Sitecore().Field("My Stream Account Text")</h1>
                        <input type="text" ng-model="username" placeholder="Username">
                        <input type="password" ng-model="password" placeholder="Password">
                        <p><button ng-click="loginClicked('GA')">@Html.Sitecore().Field("Login Button Text")</button></p>
                        <p class="forgot">@Html.Sitecore().Field("Georgia Forgot Text")</p>
                        <hr />
                        <p>@Html.Sitecore().Field("Havent Created Text")</p>
                        <p class="sign-up"><a href="https://secure3.i-doxs.net/StreamEnergyGA/Enroll_Step1.aspx">@Html.Sitecore().Field("Sign Up Text")</a> @Html.Sitecore().Field("Benefits Text")</p>
                        <p><span class="benefits">@Html.Sitecore().Field("Paperless Billing Text")</span> @Html.Sitecore().Field("Paperless Benefit Text")</p>
                        <p><span class="benefits">@Html.Sitecore().Field("Automated Payments Text")</span> @Html.Sitecore().Field("Automated Benefit Text")</p>
                    </div>
                    <hr />
                    <h2>@Html.Sitecore().Field("Find Pay Center Text")</h2>
                    @Html.Sitecore().Field("Pay Center Instructions")
                </div>
            </div>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'pennsylvania' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>@Html.Sitecore().Field("Pennsylvania State Text")</h1>
                    @Html.Sitecore().Field("Pennsylvania Payment Details")
                </div>
            </section>
            <aside>
                <h4>@Html.Sitecore().Field("Pay Your Bill Text")</h4>
                @Html.Sitecore().Field("Pennsylvania Payment List")
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'maryland' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>@Html.Sitecore().Field("Maryland State Text")</h1>
                    @Html.Sitecore().Field("Maryland Payment Details")
                </div>
            </section>
            <aside>
                <h4>@Html.Sitecore().Field("Pay Your Bill Text")</h4>
                @Html.Sitecore().Field("Maryland Payment List")
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newjersey' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>@Html.Sitecore().Field("New Jersey State Text")</h1>
                    @Html.Sitecore().Field("New Jersey Payment Details")
                </div>
            </section>
            <aside>
                <h4>@Html.Sitecore().Field("Pay Your Bill Text")</h4>
                @Html.Sitecore().Field("New Jersey Payment List")
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newyork' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>@Html.Sitecore().Field("New York State Text")</h1>
                    @Html.Sitecore().Field("New York Payment Details")
                </div>
            </section>
            <aside>
                <h4>@Html.Sitecore().Field("Pay Your Bill Text")</h4>
                @Html.Sitecore().Field("New York Payment List")
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'washingtondc' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>@Html.Sitecore().Field("Washington DC State Text")</h1>
                    @Html.Sitecore().Field("Washington DC Payment Details")
                </div>
            </section>
            <aside>
                <h4>@Html.Sitecore().Field("Pay Your Bill Text")</h4>
                @Html.Sitecore().Field("Washington DC Payment List")
            </aside>
        </article>
    </div>
</article>