@model StreamEnergy.MyStream.Models.Authentication.ChangePasswordRequest

@if (Sitecore.Context.PageMode.IsPageEditor)
{
    @Html.AllValidationMessagesFor(m => m)
}
<article class="grey-box auth auth-change-password" ng-controller="AuthChangePasswordCtrl" ng-init="formData.resetToken = @Json.Encode(Model != null ? Model.ResetToken : "")" ng-show="!activeState || activeState == 'changepassword'">
    <header>
        <h2>@Html.Sitecore().Field("Header Text")</h2>
    </header>
    <form ng-submit="changePassword()">
        <div class="content">
            @Html.Sitecore().Field("Body Text").Format(new { Name = ViewBag.Name ?? "{{name}}" })
            <dl class="clearfix">
                <dt>@Html.Sitecore().Field("Username Label")</dt>
                <dd>@(ViewBag.Username ?? "{{username}}")</dd>
            </dl>
            <div class="group">
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Password)>
                    <label for="@Html.For(m => m.Password)">@Html.Sitecore().Field("Password Label")</label>
                    <input type="password" @Html.ValidationAttributes(m => m.Password) ng-model="formData.password" />
                    @Html.ValidationMessageFor(model => model.Password)
                    <span class="help-text">@Html.Sitecore().Field("Password Help Text")</span>
                </div>
                <div class="item group-col" @Html.ValidationErrorClass(model => model.ConfirmPassword)>
                    <label for="@Html.For(m => m.ConfirmPassword)">@Html.Sitecore().Field("Confirm Password Label")</label>
                    <input type="password" @Html.ValidationAttributes(m => m.ConfirmPassword) ng-model="formData.confirmPassword" />
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit" data-val-submit>@Html.Sitecore().Field("Change Password Button Text")</button>
            </div>
        </footer>
    </form>
</article>
