<article class="grey-box auth auth-create-account" ng-show="activeState == 'step2'">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<form>
		<div class="content">
			<div class="alert alert-error">
				@Html.Sitecore().Field("Error Text")
			</div>
			
			<h3>@Html.Sitecore().Field("Personal Header Text")</h3>

			@Html.Sitecore().Field("Body Text")
			
			<dl class="clearfix">
				<dt>@Html.Sitecore().Field("Name Label")</dt>
				<dd>Mr. John Smith</dd>
				<dt>@Html.Sitecore().Field("Phone Number Label")</dt>
				<dd>123-456-7890</dd>
				<dt>@Html.Sitecore().Field("Email Label")</dt>
				<dd>john.smith@email.com</dd>
				<dt>@Html.Sitecore().Field("Address Label")</dt>
				<dd>456 Center Street, Dallas, TX 75001</dd>
			</dl>
			<dl class="clearfix">
				<dt>@Html.Sitecore().Field("Account Number Label")</dt>
				<dd>1234567890</dd>
				<dt>@Html.Sitecore().Field("SSN Label")</dt>
				<dd>1234</dd>
			</dl>

			<hr class="content-divider">

			<h3>@Html.Sitecore().Field("Social Header Text")</h3>

			<ul class="social-login clearfix">
				<li>
					<a href="#" class="button social facebook">
						<span class="icon-holder"><i class="icon-facebook"></i></span> Facebook
					</a>
				</li>
				<li>
					<a href="#" class="button social twitter">
						<span class="icon-holder"><i class="icon-twitter"></i></span> Twitter
					</a>
				</li>
				<li>
					<a href="#" class="button social linkedin">
						<span class="icon-holder"><i class="icon-linkedin"></i></span> LinkedIn
					</a>
				</li>								
			</ul>

			<div class="text-content-divider">@Html.Sitecore().Field("And Divider Text")</div>
		
			<h3>@Html.Sitecore().Field("Create Header Text")</h3>
	
			<div class="item">
				<label for="username">@Html.Sitecore().Field("Username Label"):</label>
				<input id="username" type="text">
			</div>
			<div class="group">
				<div class="item group-col">
					<label for="password">@Html.Sitecore().Field("Password Label"):</label>
					<input id="password" type="password">
					<span class="help-text">@Html.Sitecore().Field("Password Help Text")</span>
				</div>
				<div class="item group-col">
					<label for="confirm-password">@Html.Sitecore().Field("Confirm Password Label"):</label>
					<input id="confirm-password" type="password">
				</div>
			</div>

			<hr class="content-divider">

			<div class="group">
				<div class="item group-col">
					<label for="security-question-1">@Html.Sitecore().Field("Question 1 Label"):</label>
					<select name="security-question-1" id="security-question-1">
						<option value="">Select a Security Question</option>
					</select>
				</div>
				<div class="item group-col">
					<label for="security-answer-1">@Html.Sitecore().Field("Question 1 Answer Label"):</label>
					<input type="text" name="security-answer-1" id="security-answer-1">
					<span class="help-text">@Html.Sitecore().Field("Question 1 Help Text")</span>
				</div>
			</div>
			<div class="group">
				<div class="item group-col">
					<label for="security-question-2">@Html.Sitecore().Field("Question 2 Label"):</label>
					<select name="security-question-2" id="security-question-2">
						<option value="">Select a Security Question</option>
					</select>
				</div>
				<div class="item group-col">
					<label for="security-answer-2">@Html.Sitecore().Field("Question 2 Answer Label"):</label>
					<input type="text" name="security-answer-2" id="security-answer-2">
					<span class="help-text">@Html.Sitecore().Field("Question 2 Help Text")</span>
				</div>
			</div>
		</div>
		<footer>
			<div class="buttons">
				<button type="submit" class="primary" ng-click="createAccount()">@Html.Sitecore().Field("Create Account Button Text")</button>
			</div>
		</footer>
	</form>	
</article>