@model StreamEnergy.MyStream.Models.Authentication.CreateLoginRequest

<article class="grey-box auth auth-create-account" ng-show="activeState == 'step2'">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
    <form ng-submit="createLogin()">
        <div class="content">
            <div class="alert alert-error" ng-show="createLoginError" ng-bind-html="createLoginError">@Html.Sitecore().Field("Error Text")</div>

            <h3>@Html.Sitecore().Field("Personal Header Text")</h3>

            @Html.Sitecore().Field("Body Text")

            <dl class="clearfix">
                <dt>@Html.Sitecore().Field("Name Label")</dt>
                <dd>{{ customer.name.first }} {{ customer.name.last }}</dd>
                <dt>@Html.Sitecore().Field("Phone Number Label")</dt>
                <dd>{{ customer.primaryPhone.number }}</dd>
                <dt>@Html.Sitecore().Field("Email Label")</dt>
                <dd>{{ customer.email.address }}</dd>
                <dt>@Html.Sitecore().Field("Address Label")</dt>
                <dd>{{ address.line1 }},{{ address.city }}, {{ address.stateAbbreviation }} {{ address.postalCode5 }}</dd>
            </dl>
            <dl class="clearfix">
                <dt>@Html.Sitecore().Field("Account Number Label")</dt>
                <dd>{{ accountNumber }}</dd>
                <dt>@Html.Sitecore().Field("SSN Label")</dt>
                <dd>{{ssnLastFour }}</dd>
            </dl>

            <hr class="content-divider">

            <h3>@Html.Sitecore().Field("Social Header Text")</h3>

            <ul class="social-login clearfix">
                <li>
                    <a href="#" class="button social facebook">
                        <span class="icon-holder"><i class="icon-facebook"></i></span> Facebook
                    </a>
                </li>
                <li>
                    <a href="#" class="button social twitter">
                        <span class="icon-holder"><i class="icon-twitter"></i></span> Twitter
                    </a>
                </li>
                <li>
                    <a href="#" class="button social linkedin">
                        <span class="icon-holder"><i class="icon-linkedin"></i></span> LinkedIn
                    </a>
                </li>
            </ul>

            <div class="text-content-divider">@Html.Sitecore().Field("And Divider Text")</div>

            <h3>@Html.Sitecore().Field("Create Header Text")</h3>

            <div class="item" @Html.ValidationErrorClass(model => model.Username)>
                <label for="@Html.For(m => m.Username)">@Html.Sitecore().Field("Username Label")</label>
                <input type="text" @Html.ValidationAttributes(m => m.Username) ng-model="formData.username" />
            </div>
            <div class="group" @Html.ValidationErrorClass(model => model.Password)>
                <div class="item group-col">
                    <label for="@Html.For(m => m.Password)">@Html.Sitecore().Field("Password Label")</label>
                    <input type="password" @Html.ValidationAttributes(m => m.Password) ng-model="formData.password" />
                    <span class="help-text">@Html.Sitecore().Field("Password Help Text")</span>
                </div>
                <div class="item group-col" @Html.ValidationErrorClass(model => model.ConfirmPassword)>
                    <label for="@Html.For(m => m.ConfirmPassword)">@Html.Sitecore().Field("Confirm Password Label")</label>
                    <input type="password" @Html.ValidationAttributes(m => m.ConfirmPassword) ng-model="formData.confirmPassword" />
                </div>
            </div>

            <hr class="content-divider">

            <div class="group">
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                    <label for="question-1">@Html.Sitecore().Field("Question 1 Label")</label>
                    <select ng-model="formData.challenges[0].selectedQuestion" ng-options="question.text for question in availableSecurityQuestions track by question.id"></select>
                </div>
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                    <label for="answer-1">@Html.Sitecore().Field("Question 1 Answer Label")</label>
                    <input type="text" name="answer-1" id="answer-1" ng-model="formData.challenges[0].answer" required>
                    <span class="help-text">@Html.Sitecore().Field("Question 1 Help Text")</span>
                </div>
            </div>
            <div class="group">
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                    <label for="@Html.For(m => m.Challenges)">@Html.Sitecore().Field("Question 2 Label")</label>
                    <select ng-model="formData.challenges[1].selectedQuestion" ng-options="question.text for question in availableSecurityQuestions track by question.id"></select>
                </div>
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                    <label for="answer-2">@Html.Sitecore().Field("Question 2 Answer Label")</label>
                    <input type="text" name="answer-2" id="answer-2" ng-model="formData.challenges[1].answer" required>
                    <span class="help-text">@Html.Sitecore().Field("Question 2 Help Text")</span>
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                {{ formData }}
                <button type="submit" class="primary">@Html.Sitecore().Field("Create Account Button Text")</button>
            </div>
        </footer>
    </form>	
</article>