@model StreamEnergy.MyStream.Models.Authentication.SendResetPasswordEmailRequest

<article class="grey-box auth auth-forgot-password" ng-show="activeState == 'step2'">
    <header>
        <h2>@Html.Sitecore().Field("Step 2 Header Text")</h2>
    </header>
    <form ng-submit="sendResetPasswordEmail()">
        <div class="content">
            @Html.Sitecore().Field("Step 2 Body Text")
            <div class="alert alert-error" ng-show="sendResetError" ng-bind-html="sendResetError">@Html.Sitecore().Field("Step 2 Error Text")</div>
            <dl class="clearfix">
                <dt>@Html.Sitecore().Field("Step 2 Username Label")</dt>
                <dd>{{ username }}</dd>
            </dl>
            <div class="group">
                <div class="item group-col">
                    <span class="label">@Html.Sitecore().Field("Question 1 Label")</span>
                    {{ securityQuestions[0].text }}What is your mother&rsquo;s maiden name?
                </div>
                <div class="item group-col" float-label>
                    <label for="@Html.For(m => m.Answers)">@Html.Sitecore().Field("Question 1 Answer Label")</label>
                    <input type="text" @Html.ValidationAttributes(m => m.Answers) ng-model="formData.answer1" required />
                </div>
            </div>
            <div class="group">
                <div class="item group-col">
                    <span class="label">@Html.Sitecore().Field("Question 2 Label")</span>
                    {{ securityQuestions[1].text }}What city did you grow up in?
                </div>
                <div class="item group-col" float-label>
                    <label for="@Html.For(m => m.Answers)">@Html.Sitecore().Field("Question 2 Answer Label")</label>
                    <input type="text" @Html.ValidationAttributes(m => m.Answers) ng-model="formData.answer2" required />
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit">@Html.Sitecore().Field("Step 2 Continue Button Text")</button>
            </div>
        </footer>
    </form>
</article>

<article class="grey-box auth" ng-show="activeState == 'confirm'">
    <header>
        <h2>@Html.Sitecore().Field("Error Header Text")</h2>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Error Body Text")
    </div>
    <footer>
        <div class="buttons">
            <a href="" class="button" ng-click="return()">@Html.Sitecore().Field("Return Button Text")</a>
        </div>
    </footer>
</article>
