<article class="grey-box auth-forgot-password">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<form>
		<div class="content">
			@Html.Sitecore().Field("Body Text")
			<div class="alert alert-error">
				@Html.Sitecore().Field("Error Text")
			</div>
			<dl class="clearfix">
				<dt>@Html.Sitecore().Field("Username Label"):</dt>
				<dd>john.smith</dd>
			</dl>
			<div class="group">
				<div class="item group-col">
					<span class="label">@Html.Sitecore().Field("Question 1 Label"):</span>
					What is your mother&rsquo;s maiden name?
				</div>
				<div class="item group-col" float-label>
					<label for="security-answer-1">@Html.Sitecore().Field("Question 1 Answer Label"):</label>
					<input id="security-answer-1" type="text">
				</div>
			</div>
			<div class="group">
				<div class="item group-col">
					<span class="label">@Html.Sitecore().Field("Question 2 Label"):</span>
					What city did you grow up in?
				</div>
				<div class="item group-col" float-label>
					<label for="security-answer-2">@Html.Sitecore().Field("Question 2 Answer Label"):</label>
					<input id="security-answer-2" type="text">
				</div>
			</div>
		</div>
		<footer>
			<div class="buttons">
				<button type="submit">@Html.Sitecore().Field("Continue Button Text")</button>
			</div>
		</footer>
	</form>
</article>