<div ng-controller="AuthResetPasswordCtrl">
	<article class="grey-box auth auth-forgot-password" ng-show="activeState == 'step1'">
		<header>
			<h2>@Html.Sitecore().Field("Step 1 Header Text")</h2>
		</header>
		<form>
			<div class="content">
				@Html.Sitecore().Field("Step 1 Body Text")

				<div class="alert alert-error">
					@Html.Sitecore().Field("Step 1 Error Text")
				</div>
				<div class="group">
					<div class="item group-col" float-label>
						<label for="username">@Html.Sitecore().Field("Step 1 Username Label"):</label>
						<input id="username" type="text">
					</div>
					<div class="item group-col">
						<a href="/auth/recover-username" class="single-link">@Html.Sitecore().Field("Forgot Username Text")</a>
					</div>
				</div>
			</div>
			<footer>
				<div class="buttons">
					<button type="submit" ng-click='stepOneContinue()'>@Html.Sitecore().Field("Step 1 Continue Button Text")</button>
				</div>
			</footer>
		</form>
	</article>

	<article class="grey-box auth auth-forgot-password" ng-show="activeState == 'step2'">
		<header>
			<h2>@Html.Sitecore().Field("Step 2 Header Text")</h2>
		</header>
		<form>
			<div class="content">
				@Html.Sitecore().Field("Step 2 Body Text")
				<div class="alert alert-error">
					@Html.Sitecore().Field("Step 2 Error Text")
				</div>
				<dl class="clearfix">
					<dt>@Html.Sitecore().Field("Step 2 Username Label"):</dt>
					<dd>john.smith</dd>
				</dl>
				<div class="group">
					<div class="item group-col">
						<span class="label">@Html.Sitecore().Field("Question 1 Label"):</span>
						What is your mother&rsquo;s maiden name?
					</div>
					<div class="item group-col" float-label>
						<label for="security-answer-1">@Html.Sitecore().Field("Question 1 Answer Label"):</label>
						<input id="security-answer-1" type="text">
					</div>
				</div>
				<div class="group">
					<div class="item group-col">
						<span class="label">@Html.Sitecore().Field("Question 2 Label"):</span>
						What city did you grow up in?
					</div>
					<div class="item group-col" float-label>
						<label for="security-answer-2">@Html.Sitecore().Field("Question 2 Answer Label"):</label>
						<input id="security-answer-2" type="text">
					</div>
				</div>
			</div>
			<footer>
				<div class="buttons">
					<button type="submit" ng-click="stepTwoContinue()">@Html.Sitecore().Field("Step 2 Continue Button Text")</button>
				</div>
			</footer>
		</form>
	</article>

	<article class="grey-box auth" ng-show="activeState == 'confirm'">
		<header>
			<h2>@Html.Sitecore().Field("Error Header Text")</h2>
		</header>
		<div class="content">
			@Html.Sitecore().Field("Error Body Text")
		</div>
		<footer>
			<div class="buttons">
				<a href="" class="button" ng-click="return()">@Html.Sitecore().Field("Return Button Text")</a> 
			</div>
		</footer>
	</article>
</div>