@model StreamEnergy.DomainModels.Accounts.ResetPassword.ResetPasswordContext

@if (Sitecore.Context.PageMode.IsPageEditor)
{ 
    @Html.AllValidationMessagesFor(m => m.Answers)
}
<article class="grey-box auth auth-forgot-password" ng-show="activeState == 'step2'">
    <header>
        <h2>@Html.Sitecore().Field("Step 2 Header Text")</h2>
    </header>
    <form ng-submit="submitSecurityQuestions()" data-val-bind-messages="validations">
        <div class="content">
            @Html.Sitecore().Field("Step 2 Body Text")
            <div class="alert alert-error" ng-show="sendResetError" ng-bind-html="sendResetError">@Html.Sitecore().Field("Step 2 Error Text")</div>
            <dl class="clearfix">
                <dt>@Html.Sitecore().Field("Step 2 Username Label")</dt>
                <dd>{{ username }}</dd>
            </dl>
            <div class="group" data-ng-repeat="question in securityQuestions">
                <div class="item group-col">
                    <span class="label">@Html.Sitecore().Field("Question Label")</span>
                    {{ question.text }}
                </div>
                <div class="item group-col" data-val-error="Answers[$index]" float-label>
                    <label for="answer{{$index}}">@Html.Sitecore().Field("Question Answer Label")</label>
                    <input type="text" data-val-required="@Html.Sitecore().Field("Answer Required")" data-val="true" name="Answers[$index]" id="answer{{$index}}" ng-model="formData.answers[question.id]" />
                    <span class="field-validation-valid" data-valmsg-for="Answers[$index]" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit" data-val-submit>@Html.Sitecore().Field("Step 2 Continue Button Text")</button>
            </div>
        </footer>
    </form>
    <form>
        <div class="text-content-divider">@Html.Sitecore().Field("Or Divider Text")</div>
        <p>@Html.Sitecore().Field("Step 2 Send Email Text")</p>
        <footer>
            <div class="buttons">
                <button ng-click="sendResetPasswordEmail()">@Html.Sitecore().Field("Step 2 Send Email Button Text")</button>
            </div>
        </footer>
    </form>
</article>

<article class="grey-box auth" ng-show="activeState == 'confirm'">
    <header>
        <h2>@Html.Sitecore().Field("Confirm Header Text")</h2>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Confirm Body Text")
    </div>
    <footer>
        <div class="buttons">
            @Html.Sitecore().Field("Return Button Link")
        </div>
    </footer>
</article>

<article class="grey-box auth" ng-show="activeState == 'hard-stop-error'">
    <header>
        <h2>@Html.Sitecore().Field("Error Header Text")</h2>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Error Body Text")
    </div>
    <footer>
        <div class="buttons">
            @Html.Sitecore().Field("Return Button Link")
        </div>
    </footer>
</article>
