@model StreamEnergy.DomainModels.Accounts.ResetPassword.ResetPasswordContext

<article class="grey-box auth auth-forgot-password" ng-show="activeState == 'step1'">
    <header>
        <h2>@Html.Sitecore().Field("Step 1 Header Text")</h2>
    </header>
    <form ng-submit="getUserChallengeQuestions()">
        <div class="content">
            @Html.Sitecore().Field("Step 1 Body Text")
            <div class="alert alert-error" ng-show="getUserError" ng-bind-html="getUserError">@Html.Sitecore().Field("Step 1 Error Text")</div>
            <div class="group">
                <div class="item group-col" @Html.ValidationErrorClass(model => model.Username) float-label>
                    <label for="@Html.For(m => m.Username)">@Html.Sitecore().Field("Step 1 Username Label")</label>
                    <input type="text" @Html.ValidationAttributes(m => m.Username) ng-model="formData.username"  />
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="item group-col">
                    @Html.Sitecore().Field("Forgot Username Link")
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit" data-val-submit>@Html.Sitecore().Field("Step 1 Continue Button Text")</button>
            </div>
        </footer>
    </form>
</article>