@model StreamEnergy.MyStream.Models.Authentication.FindAccountForImpersonation

<article class="grey-box auth form" ng-controller="ImpersonateMobileCtrl as ctrl">
    <header ng-if="ctrl.activeStep == 1">
        <h2>@Html.Sitecore().Field("Look Up Account Header Text")</h2>
    </header>
    <form data-val-bind-messages="validations" ng-if="ctrl.activeStep == 1" ng-submit="ctrl.findAccount()">
        <div class="content" loading-indicator>
            <div stream-connect-errors="ctrl"></div>
            <div ng-show="ctrl.errorMessage">
                <div class="notice error">
                    @Html.Sitecore().Field("Look up Account Error")
                </div>
                <hr class="content-divider" />
            </div>
            <div ng-show="ctrl.adminError">
                <div class="notice error">
                    @Html.Sitecore().Field("Is Admin Error")
                </div>
                <hr class="content-divider" />
            </div>
            <div class="item">
                @Html.Sitecore().Field("Body Text")
            </div>
            <div class="item">
                <label for="@Html.IdFor(m => m.AccountNumber)">@Html.Sitecore().Field("Account Number Label"):</label>
                @Html.TextBoxFor(m => m.AccountNumber, new { ng_model = "ctrl.accountNumber" })
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit" data-val-submit>@Html.Sitecore().Field("Continue Button Text")</button>
            </div>
        </footer>
    </form>
    <header ng-if="ctrl.activeStep == 2">
        <h2>@Html.Sitecore().Field("Account Header Text")</h2>
    </header>
    <form data-val-bind-messages="validations" ng-if="ctrl.activeStep == 2">
        <div class="content">
            <div class="group">
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Account Number Label"):</label>
                    {{ formData.accountNumber }}
                </div>
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Balance Label"):</label>
                    {{ formData.balance | currency }}
                </div>
            </div>
            <div class="group">
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Account Holder Name Label"):</label>
                    {{ formData.customerName.first }} {{ formData.customerName.last }}
                </div>
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Account Holder Ssn Label"):</label>
                    {{ formData.ssn }}
                </div>
            </div>
            <div class="group">
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Account Holder Phone Label"):</label>
                    {{ formData.phone[0].number }}
                </div>
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Account Holder Phone Type Label"):</label>
                    {{ formData.phone[0].category }}
                </div>
            </div>
            <div class="item">
                <label>@Html.Sitecore().Field("Account Holder Email Label"):</label>
                {{ formData.email.address }}
            </div>
            <hr class="content-divider" />
            <h3>@Html.Sitecore().Field("Billing Address Title")</h3>
            <div class="group">
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Address Line 1 Label"):</label>
                    {{ formData.billingAddress.line1 }}
                </div>
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Address Line 2 Label"):</label>
                    {{ formData.billingAddress.line2 }}
                </div>
            </div>
            <div class="group">
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Address City Label"):</label>
                    {{ formData.billingAddress.city }}
                </div>
                <div class="item group-col">
                    <label>@Html.Sitecore().Field("Address State Label"):</label>
                    {{ formData.billingAddress.stateAbbreviation }}
                </div>
            </div>
            <div class="item">
                <label>@Html.Sitecore().Field("Address Zip Label"):</label>
                {{ formData.billingAddress.postalCode5 }}
            </div>
            <footer>
                <div class="buttons">
                    <button type="button" ng-click="ctrl.imperonsate()" data-val-submit>@Html.Sitecore().Field("Impersonate Button Text")</button>
                    <button type="button" class="secondary" ng-click="ctrl.back()">@Html.Sitecore().Field("Back Button Text")</button>
                </div>
            </footer>
        </div>
    </form>
</article>
