@model StreamEnergy.MyStream.Models.Authentication.LoginRequest

@if (Sitecore.Context.PageMode.IsPageEditor)
{
    @Html.AllValidationMessagesFor(m => m)
}
<div ng-controller="AuthLoginCtrl" ng-init="init('@HttpUtility.JavaScriptStringEncode(Html.Sitecore().Field("Error Text").ToHtmlString())','@HttpUtility.JavaScriptStringEncode(Html.Sitecore().Field("Impersonate Error Text").ToHtmlString())');">
	<article class="grey-box auth auth-sign-in">
		<header>
			<h2>@Html.Sitecore().Field("Header Text")</h2>
		</header>
        <div class="content" loading-indicator>
            <form ng-submit="login()" data-val-bind-messages="validations">
                <div class="notice alert" ng-show="timeoutMessage" ng-cloak>
                    @Html.Sitecore().Field("Timeout Text")
                </div>
                <div class="notice error" ng-show="loginError" ng-bind-html="loginError" ng-cloak></div>
                @Html.ValidationSummary()
                <div class="group">
                    <div class="item group-col" @Html.Validation().ErrorClass(model => model.Username)>
                        <label for="@Html.IdFor(m => m.Username)">@Html.Sitecore().Field("Username Label")</label>
                        @Html.TextBoxFor(m => m.Username, new { ng_model = "formData.username" })
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                    <div class="item group-col">
                        @Html.Sitecore().Field("Forgot Username Link")
                    </div>
                </div>
                <div class="group">
                    <div class="item group-col" @Html.Validation().ErrorClass(model => model.Password)>
                        <label for="@Html.IdFor(m => m.Password)">@Html.Sitecore().Field("Password Label")</label>
                        @Html.PasswordFor(m => m.Password, new { ng_model = "formData.password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="item group-col">
                        @Html.Sitecore().Field("Forgot Password Link")
                    </div>
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.RememberMe)>
                    <ul class="checkbox-list">
                        <li>
                            <input type="checkbox" id="@Html.IdFor(m => m.RememberMe)" ng-model="formData.rememberMe" ng-init="formData.rememberMe = @((Model != null && Model.RememberMe).ToString().ToLower())" />
                            <label for="@Html.IdFor(m => m.RememberMe)">@Html.Sitecore().Field("Remember Me Text")</label>
                        </li>
                    </ul>
                </div>
                <div class="buttons">
                    @Html.Sitecore().Field("Create Account Link")
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Sign In Button Text")</button>
                </div>
                <!--NOT SUPPORTING SOCIAL SIGN IN AT FIRST
            <div class="text-content-divider">@Html.Sitecore().Field("Or Divider Text")</div>

            <h3>@Html.Sitecore().Field("Social Header Text")</h3>
            <ul class="social-login clearfix">
                <li>
                    <a href="#" class="button social facebook">
                        <span class="icon-holder"><i class="icon-facebook"></i></span> Facebook
                    </a>
                </li>
                <li>
                    <a href="#" class="button social twitter">
                        <span class="icon-holder"><i class="icon-twitter"></i></span> Twitter
                    </a>
                </li>
                <li>
                    <a href="#" class="button social linkedin">
                        <span class="icon-holder"><i class="icon-linkedin"></i></span> LinkedIn
                    </a>
                </li>
            </ul>
            -->
            </form>
        </div>
	</article>
</div>