@{
    var classes = new List<string>();

    var sc = Html.Sitecore();
    classes.Add(sc.LookupItem("Accent Color").SafeFieldValue("Css Class").Prefix("accent-"));
    classes.Add(sc.CurrentItem["Custom CSS Class"]);
}
<article class="marketing marketingIntro wrapper @string.Join(" ", classes)">
    <div class="wrapper">
        @if (Html.Sitecore().HasValue("Heading"))
        {
            <h1>@Html.Sitecore().Field("Heading")</h1>
        }
        @if (Html.Sitecore().HasValue("Intro"))
        {
            <p class="intro">@Html.Sitecore().Field("Intro")</p>
        }
        @if (Html.Sitecore().HasValue("Body") || !string.IsNullOrEmpty(Html.Sitecore().Field("Action Button").ToString()))
        {
            <hr />
            <div class="body">
                @Html.Sitecore().Field("Body")

                <p>@Html.Sitecore().Field("Action Button")</p>
            </div>
        }
    </div>
</article>