<article class="marketing loginHorizontal" ng-controller="LoginCtrl" ng-init="init('@Html.TranslateDomain("https://secure3.i-doxs.net")/StreamEnergy/Default.aspx', '@Html.TranslateDomain("https://secure3.i-doxs.net")/StreamEnergyGA/Default.aspx')">
    <div class="wrapper">
        <span class="text">@Html.Sitecore().Field("Header Text")</span>
        <div class="form">
            <div class="group">
                <div class="item">
                    <ul class="radio-list">
                        <li><input type="radio" name="loginState" value="TX" id="loginState[texas]" ng-model="form.state" /> <label for="loginState[texas]">@Html.Sitecore().Field("Texas Label")</label></li>
                        <li><input type="radio" name="loginState" value="GA" id="loginState[georgia]" ng-model="form.state" /> <label for="loginState[georgia]">@Html.Sitecore().Field("Georgia Label")</label></li>
                    </ul>
                </div>
                <div class="item username-item">
                    <input type="text" name="username" placeholder="@Html.Sitecore().CurrentItem.Fields["username placeholder"].Value" ng-model="form.username" />
                </div>
                <div class="item password-item">
                    <input type="password" name="password" placeholder="@Html.Sitecore().CurrentItem.Fields["password placeholder"].Value" ng-model="form.password" />
                </div>
                <div class="item button-item">
                    <button class="secondary plain" type="button" ng-click="loginClicked()">@Html.Sitecore().Field("Button Text")</button>
                </div>
            </div>
        </div>
    </div>
</article>