@using HtmlAgilityPack
@using Sitecore.ContentSearch.ComputedFields
@using Sitecore.Data.Items
@{
    var sc = Html.Sitecore();

    var classes = new List<string>();

    if (sc.CurrentItem.IsChecked("Image on Right") ?? false)
    {
        classes.Add("right-img");
    }

    classes.Add(sc.LookupItem("Background Color").SafeFieldValue("CSS Class").Prefix("bg-"));
    classes.Add(sc.LookupItem("Accent Color").SafeFieldValue("CSS Class").Prefix("accent-"));

    classes.Add(sc.LookupItem("Border Color").SafeFieldValue("CSS Class").Prefix("border border-"));
    classes.Add(sc.CurrentItem["Custom Css Class"]);
    classes.Add(sc.LookupItem("Background Image Position").SafeFieldValue("CSS Class"));
    var id = !string.IsNullOrEmpty(sc.CurrentItem["Custom ID"]) ? " id=\"" + sc.CurrentItem["Custom ID"] + "\"" : "";
}

@if (Html.Sitecore().HasValue("Quote"))
{
    <aside class="module quote @string.Join(" ", classes)" style="background-color: #71b243; color: white">
        <blockquote>
            @Html.Sitecore().Field("Quote")
            @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Citation").ToString()))
            {
                <footer>
                    — <cite>@Html.Sitecore().Field("Citation")</cite><br>
                    @Html.Sitecore().Field("Button")
                </footer>
            }
        </blockquote>
    </aside>
}
else if (!string.IsNullOrEmpty(Html.Sitecore().Field("Content").ToString()))
{
    <article class="module photoLockup">
        @if (!Html.Sitecore().CurrentItem.IsChecked("Image on Right").GetValueOrDefault())
        {
            if (Sitecore.Context.PageMode.IsPageEditorEditing)
            {
                @Html.Sitecore().Field("Background Image", new { width = 502, alt = "" });
            }
            else
            {
                var document = new HtmlDocument();
                document.LoadHtml(Html.Sitecore().Field("Background Image", new { width = 502, alt = "" }).ToString());
                document.DocumentNode.SetAttributeValue("alt", null);
                @Html.Raw(document.DocumentNode.OuterHtml)
            }
        }
        <div class="content">
            @if (Html.Sitecore().HasValue("Header") || Html.Sitecore().HasValue("Sub Header"))
            {
                <header>
                    @if (Html.Sitecore().HasValue("Header"))
                    {
                        <h2>@Html.Sitecore().Field("Header")</h2>
                    }
                    @if (Html.Sitecore().HasValue("Sub Header"))
                    {
                        <p>@Html.Sitecore().Field("Sub Header")</p>
                    }
                </header>
            }

            @Html.Sitecore().Field("Content")
            @Html.Sitecore().Field("Button")
        </div>
        @if (Html.Sitecore().CurrentItem.IsChecked("Image on Right").GetValueOrDefault())
        {
            @Html.Sitecore().Field("Background Image", new { width = 502, alt = "" });
        }
        <div style="clear: both;"></div>
    </article>
}