<article class="protective protective-services-info" ng-controller="protectiveMarketingCtrl">
    <div class="sticky-nav clearfix" id="navBar">
        <div class="wrapper">
            <div class="nav-service" id="virtualMDNav" ng-click="scrollTo('virtualMD', -99)"><div class="icon"></div><p>@Html.Sitecore().Field("Virtual MD Nav Label")</p></div>
            <div class="nav-service" id="roadsideNav" ng-click="scrollTo('roadside', -99)"><div class="icon"></div><p>@Html.Sitecore().Field("Roadside Nav Label")</p></div>
            <div class="nav-service" id="identityNav" ng-click="scrollTo('identity', -99)"><div class="icon"></div><p>@Html.Sitecore().Field("Identity Nav Label")</p></div>
            <div class="nav-service" id="creditNav" ng-click="scrollTo('credit', -99)"><div class="icon"></div><p>@Html.Sitecore().Field("Credit Nav Label")</p></div>
            <div class="nav-service" id="techNav" ng-click="scrollTo('tech', -99)"><div class="icon"></div><p>@Html.Sitecore().Field("Tech Nav Label")</p></div>
            <div class="get-started">
                <a class="button">@Html.Sitecore().Field("Get Started Text")</a>
                <p><a href="">@Html.Sitecore().Field("Need Help Text")</a></p>
            </div>
        </div>
    </div>
    <div class="spacer" id="spacer"></div>
    <div class="service" id="virtualMD">
        <div class="service-info clearfix">
            <div class="wrapper">
                <div class="intro">
                    <h2>@Html.Sitecore().Field("Virtual MD Header")</h2>
                    <p class="introduction">@Html.Sitecore().Field("Virtual MD Intro")</p>
                    <p>@Html.Sitecore().Field("Virtual MD Paragraph")</p>
                </div>
                <div class="banner">
                    @Html.Sitecore().Field("Virtual MD Image")
                    @Html.Sitecore().Field("Virtual MD Availability Map")
                </div>
                <div class="features">
                    <h3>@Html.Sitecore().Field("Features Header")</h3>
                    @Html.Sitecore().Field("Virtual MD Few Features")
                    @Html.Sitecore().Field("Virtual MD All Features")
                    <p ng-click="viewFeatures = !viewFeatures">
                        <a ng-hide="viewFeatures" href="">@Html.Sitecore().Field("All Features Link")</a>
                        <a ng-show="viewFeatures" href="">@Html.Sitecore().Field("Fewer Features Link")</a>
                        <i class="icon-view-all" ng-class="{rotate: viewFeatures}"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="wrapper">
                @Html.Sitecore().Field("Virtual MD Comparison Table")
                @Html.Sitecore().Field("Virtual MD Mobile Comparison Table")
            </div>
        </div>
        <div class="back-to-top">
            <div class="wrapper">
                <div ng-click="scrollTo('top', 0, 500)" class="icon"></div>
            </div>
        </div>
        <div class="wrapper">
            <p class="footnote">@Html.Sitecore().Field("Virtual MD Table Footnote")</p>
        </div>
    </div>
    <div class="service" id="roadside">
        <div class="service-info clearfix">
            <div class="wrapper">
                <div class="intro">
                    <h2>@Html.Sitecore().Field("Roadside Assistance Header")</h2>
                    <p class="introduction">@Html.Sitecore().Field("Roadside Assistance Intro")</p>
                    <p>@Html.Sitecore().Field("Roadside Assistance Paragraph")</p>
                </div>
                <div class="banner">
                    @Html.Sitecore().Field("Roadside Assistance Image")
                </div>
                <div class="features">
                    <h3>@Html.Sitecore().Field("Features Header")</h3>
                    @Html.Sitecore().Field("Roadside Assistance Few Features")
                    @Html.Sitecore().Field("Roadside Assistance All Features")
                    <p ng-click="viewFeatures1 = !viewFeatures1">
                        <a ng-hide="viewFeatures1" href="">@Html.Sitecore().Field("All Features Link")</a>
                        <a ng-show="viewFeatures1" href="">@Html.Sitecore().Field("Fewer Features Link")</a>
                        <i class="icon-view-all" ng-class="{rotate: viewFeatures1}"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="wrapper">
                @Html.Sitecore().Field("Roadside Assistance Comparison Table")
                @Html.Sitecore().Field("Roadside Assistance Mobile Comparison Table")
            </div>
        </div>
        <div class="back-to-top">
            <div class="wrapper">
                <div ng-click="scrollTo('top', 0, 500)" class="icon"></div>
            </div>
        </div>
        <div class="wrapper">
            <p class="footnote">@Html.Sitecore().Field("Roadside Assistance Table Footnote")</p>
        </div>
    </div>
    <div class="service" id="identity">
        <div class="service-info clearfix">
            <div class="wrapper">
                <div class="intro">
                    <h2>@Html.Sitecore().Field("Identity Protection Header")</h2>
                    <p class="introduction">@Html.Sitecore().Field("Identity Protection Intro")</p>
                    <p>@Html.Sitecore().Field("Identity Protection Paragraph")</p>
                </div>
                <div class="banner">
                    @Html.Sitecore().Field("Identity Protection Image")
                </div>
                <div class="features">
                    <h3>@Html.Sitecore().Field("Features Header")</h3>
                    @Html.Sitecore().Field("Identity Protection Few Features")
                    @Html.Sitecore().Field("Identity Protection All Features")
                    <p ng-click="viewFeatures2 = !viewFeatures2">
                        <a ng-hide="viewFeatures2" href="">@Html.Sitecore().Field("All Features Link")</a>
                        <a ng-show="viewFeatures2" href="">@Html.Sitecore().Field("Fewer Features Link")</a>
                        <i class="icon-view-all" ng-class="{rotate: viewFeatures2}"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="wrapper">
                @Html.Sitecore().Field("Identity Protection Comparison Table")
                @Html.Sitecore().Field("Identity Protection Mobile Comparison Table")
            </div>
        </div>
        <div class="back-to-top">
            <div class="wrapper">
                <div ng-click="scrollTo('top', 0, 500)" class="icon"></div>
            </div>
        </div>
        <div class="wrapper">
            <p class="footnote">@Html.Sitecore().Field("Identity Protection Table Footnote")</p>
        </div>
    </div>
    <div class="service" id="credit">
        <div class="service-info clearfix">
            <div class="wrapper">
                <div class="intro">
                    <h2>@Html.Sitecore().Field("Credit Monitoring Header")</h2>
                    <p class="introduction">@Html.Sitecore().Field("Credit Monitoring Intro")</p>
                    <p>@Html.Sitecore().Field("Credit Monitoring Paragraph")</p>
                </div>
                <div class="banner">
                    @Html.Sitecore().Field("Credit Monitoring Image")
                </div>
                <div class="features">
                    <h3>@Html.Sitecore().Field("Features Header")</h3>
                    @Html.Sitecore().Field("Credit Monitoring Few Features")
                    @Html.Sitecore().Field("Credit Monitoring All Features")
                    <p ng-click="viewFeatures3 = !viewFeatures3">
                        <a ng-hide="viewFeatures3" href="">@Html.Sitecore().Field("All Features Link")</a>
                        <a ng-show="viewFeatures3" href="">@Html.Sitecore().Field("Fewer Features Link")</a>
                        <i class="icon-view-all" ng-class="{rotate: viewFeatures3}"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="wrapper">
                @Html.Sitecore().Field("Credit Monitoring Comparison Table")
                @Html.Sitecore().Field("Credit Monitoring Mobile Comparison Table")
            </div>
        </div>
        <div class="back-to-top">
            <div class="wrapper">
                <div ng-click="scrollTo('top', 0, 500)" class="icon"></div>
            </div>
        </div>
        <div class="wrapper">
            <p class="footnote">@Html.Sitecore().Field("Credit Monitoring Table Footnote")</p>
        </div>
    </div>
    <div class="service" id="tech">
        <div class="service-info clearfix">
            <div class="wrapper">
                <div class="intro">
                    <h2>@Html.Sitecore().Field("Tech Support Header")</h2>
                    <p class="introduction">@Html.Sitecore().Field("Tech Support Intro")</p>
                    <p>@Html.Sitecore().Field("Tech Support Paragraph")</p>
                </div>
                <div class="banner">
                    @Html.Sitecore().Field("Tech Support Image")
                </div>
                <div class="features">
                    <h3>@Html.Sitecore().Field("Features Header")</h3>
                    @Html.Sitecore().Field("Tech Support Few Features")
                    @Html.Sitecore().Field("Tech Support All Features")

                    <p ng-click="viewFeatures4 = !viewFeatures4">
                        <a ng-hide="viewFeatures4" href="">@Html.Sitecore().Field("All Features Link")</a>
                        <a ng-show="viewFeatures4" href="">@Html.Sitecore().Field("Fewer Features Link")</a>
                        <i class="icon-view-all" ng-class="{rotate: viewFeatures4}"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="comparison">
            <div class="wrapper">
                @Html.Sitecore().Field("Tech Support Comparison Table")
                @Html.Sitecore().Field("Tech Support Mobile Comparison Table")
            </div>
        </div>
        <div class="back-to-top">
            <div class="wrapper">
                <div ng-click="scrollTo('top', 0, 500)" class="icon"></div>
            </div>
        </div>
        <div class="wrapper">
            <p class="footnote">@Html.Sitecore().Field("Tech Support Table Footnote")</p>
        </div>
    </div>
</article>