@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Sitecore.Data.Fields
@{
    var item = Html.Sitecore().CurrentRendering.Item;
    var states = ((NameValueListField)item.Fields["State Names"]).NameValues;
    
    var stateEnrollData = new JArray();
    foreach (var state in states)
    {
        stateEnrollData.Add(new JObject {
            { "key", state.ToString() },
            { "name", Server.UrlDecode(states[state.ToString()].ToString()) },
            { "enrollmentURL", item.Fields[state.ToString() + " Enrollment Link"].ToString() },
            { "rateURL", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentRendering.Item.Fields[state.ToString() + " Rates Link"]).TargetItem) }
        });
    }
}

<article class="marketing state-tabs states-enroll" state-selector="TX" ng-init='stateEnrollData = @Html.Raw(stateEnrollData.ToString(Formatting.None));'>
    <div class="wrapper grid">
        <div class="col"><h3>@Html.Sitecore().Field("Header")</h3></div>
        <div class="col">
            @Html.Sitecore().Field("Location")
            <select ng-options="item.key as item.name for item in stateEnrollData" ng-model="selectedStateKey"></select>
            <a class="button" ng-href="{{ selectedState.enrollmentURL }}">@Html.Sitecore().Field("Get Started")</a>
        </div>
        <div class="col"><a data-ng-href="{{ selectedState.rateURL }}">@Html.Sitecore().Field("View Rates")</a></div>
    </div>
</article>