<article class="marketing state-tabs states-enroll" state-tabs="texas">
    <ul class="tabs-nav">
        @* Leave off Texas for Gas *@
        @{
            if (Sitecore.Context.Item.ID.ToString() != "{C7693DE6-6FF3-433C-A5F1-5BF7740C1469}")
            {
                <li ng-click="selectPane('texas')" ng-class="{ active: pane == 'texas' }">
                    <a href="">
                        <span><i class="icon-state-texas"></i></span>
                        @Html.Sitecore().Field("Texas State Text")
                    </a>
                </li>
            }
        }
        @* Leave of Georgia for Electricity *@
        @{
            if (Sitecore.Context.Item.ID.ToString() != "{49B60A21-3394-466D-A65D-1963E888244C}")
            {
                <li ng-click="selectPane('georgia')" ng-class="{ active: pane == 'georgia' }">
                    <a href="">
                        <span><i class="icon-state-georgia"></i></span>
                        @Html.Sitecore().Field("Georgia State Text")
                    </a>
                </li>
            }
        }
        <li ng-click="selectPane('pennsylvania')" ng-class="{ active: pane == 'pennsylvania' }">
            <a href="">
                <span><i class="icon-state-pennsylvania"></i></span>
                @Html.Sitecore().Field("Pennsylvania State Text")
            </a>
        </li>
        <li ng-click="selectPane('maryland')" ng-class="{ active: pane == 'maryland' }">
            <a href="">
                <span><i class="icon-state-maryland"></i></span>
                @Html.Sitecore().Field("Maryland State Text")
            </a>
        </li>
        <li ng-click="selectPane('newjersey')" ng-class="{ active: pane == 'newjersey' }">
            <a href="">
                <span><i class="icon-state-newjersey"></i></span>
                @Html.Sitecore().Field("New Jersey State Text")
            </a>
        </li>
        <li ng-click="selectPane('newyork')" ng-class="{ active: pane == 'newyork' }">
            <a href="">
                <span><i class="icon-state-newyork"></i></span>
                @Html.Sitecore().Field("New York State Text")
            </a>
        </li>
        @* Leave off DC for Gas *@
        @{
            if (Sitecore.Context.Item.ID.ToString() != "{C7693DE6-6FF3-433C-A5F1-5BF7740C1469}")
            {
                <li ng-click="selectPane('washingtondc')" ng-class="{ active: pane == 'washingtondc' }">
                    <a href="">
                        <span><i class="icon-state-washingtondc"></i></span>
                        @Html.Sitecore().Field("Washington DC State Text")
                    </a>
                </li>
            }
        }  
    </ul>
    <div class="tab-content" ng-class="{ hidden : pane != 'texas' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/tx_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/signup_customer.asp?BC_ID=1&RefSite=SCS&CO_LA=US_EN&State=TX&AccountType=R" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'georgia' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/ga_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/signup_customer.asp?BC_ID=1&amp;RefSite=SCS&amp;CO_LA=US_EN&amp;State=GA&amp;AccountType=R" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'pennsylvania' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/pa_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/enroll_redir.asp?BC_ID=1&amp;RefSiteId=6&amp;St=PA&amp;AccountType=R&amp;CO_LA=US_EN" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'maryland' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/md_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/enroll_redir.asp?BC_ID=1&amp;RefSiteId=6&amp;St=MD&amp;AccountType=R&amp;CO_LA=US_EN" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newjersey' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/nj_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/enroll_redir.asp?BC_ID=1&amp;RefSiteId=6&amp;St=NJ&amp;AccountType=R&amp;CO_LA=US_EN" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newyork' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/ny_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/enroll_redir.asp?BC_ID=1&amp;RefSiteId=6&amp;St=NY&amp;AccountType=R&amp;CO_LA=US_EN" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'washingtondc' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    <a href="https://secure.streamenergy.net/dc_rates.asp?CO_LA=" class="button white">@Html.Sitecore().Field("View Rates Text")</a>
                    <a href="https://secure.streamenergy.net/enroll_redir.asp?BC_ID=1&amp;RefSiteId=6&amp;St=DC&amp;AccountType=R&amp;CO_LA=US_EN" class="button green">@Html.Sitecore().Field("Enroll Now Text")</a>
                </p>
            </div>
        </div>
    </div>
</article>