<article class="plan" ng-controller="AcctYourGasPlanCtrl" ng-show="gasPlan.planName">
    <header>
        <h2>@Html.Sitecore().Field("Your Gas Plan Text")</h2>
    </header>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>@Html.Sitecore().Field("Plan Name Text")</th>
                <th>@Html.Sitecore().Field("Rate Text")</th>
                <th>@Html.Sitecore().Field("Term Text")</th>
                <th>@Html.Sitecore().Field("Fees Text")</th>
            </tr>
        </thead>
        <tbody additional-fields>
            <tr>
                <th class="vertical"><div class="fixed">{{ gasPlan.planType }}</div></th>
                <td class="arrow">
                    <h5><strong>{{ gasPlan.planName }}</strong></h5>
                    <p class="details">
                        <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("View Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Hide Text")</span> @Html.Sitecore().Field("Details Text")
                        </a>
                    </p>
                </td>
                <td class="center">
                    <span class="plan-cost">{{ gasPlan.rate }}&#162;</span>
                    <p>@Html.Sitecore().Field("Per CCF Text")</p>
                    <p class="details">
                        <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("View Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Hide Text")</span> @Html.Sitecore().Field("Details Text")
                        </a>
                    </p>
                    <div class="details-arrow"></div>
                </td>
                <td class="center"><i class="icon-month-to-month" ng-show="gasPlan.terms = 'Month-to-Month'"></i><p>{{ gasPlan.terms }}</p></td>
                <td class="center"><span class="plan-cost">{{ gasPlan.fees }}</span> <p>@Html.Sitecore().Field("Termination Fee Text")</p></td>
            </tr>
            <tr class="expand-details additional-fields">
                <td colspan="5">
                    <div class="inner"><p><a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href=""><i class="icon-close"></i></a>{{ gasPlan.planDetails }}</p></div>
                    <div class="grid three">
                        <div class="col">@Html.Sitecore().Field("Pricing Effective Text")<br /><strong>{{ gasPlan.pricingEffectiveDate }}</strong></div>
                        <div class="col">@Html.Sitecore().Field("Minimum Usage Fee Text")<br /><strong>{{ gasPlan.minimumUsageFee }}</strong></div>
                        <div class="col">
                            <ul>
                                <li><a href="#">@Html.Sitecore().Field("Gas Facts Text")</a></li>
                                <li><a href="#">@Html.Sitecore().Field("Terms of Service Text")</a></li>
                                <li><a href="#">@Html.Sitecore().Field("Your Rights Text")</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <footer class="renew-plan" ng-show="gasPlan.isRenewable">
        <div class="grid two">
            <div class="col">
                <h3>@Html.Sitecore().Field("Renew Plan Text")</h3>
                <p>@Html.Sitecore().Field("Renew Date Text") {{ gasPlan.renewDate }}</p>
            </div>
            <div class="col">
                <button class="primary">@Html.Sitecore().Field("Renew Button Text")</button>
            </div>
        </div>
    </footer>
</article>
