<div ng-controller="AcctYourUtilityPlanCtrl" ng-cloak>
    
    <article class="plain renew-plan" ng-if="renewal">
        <div class="notice alert" loading-indicator>
            <div class="grid two">
                <div class="col">
                    <strong>@Html.Sitecore().Field("Renew Plan Text")</strong>
                    <p>@Html.Sitecore().Field("Renew Date Text")</p>
                </div>
                @*
                <div class="col">
                    <button class="primary" ng-click="setupRenewal()">@Html.Sitecore().Field("Renew Button Text")</button>
                </div>
                *@
            </div>
        </div>
    </article>

    <article class="plain renew-plan" ng-if="utilityPlan.customerType && !renewal.isEligible && renewalRedirect">
        <div class="notice message" ng-if="utilityPlan.customerType != 'commercial'">
            @Html.Sitecore().Field("Renew Ineligible Text")
        </div>
        <div class="notice message" ng-if="utilityPlan.customerType == 'commercial'">
            @Html.Sitecore().Field("Commercial Renew Ineligible Text")
        </div>
    </article>

    <article class="plan" ng-init="georgiaProducts = @(Html.Action("GeorgiaProducts", "Data").ToHtmlString());" ng-if="utilityPlan.subAccountType == 'GeorgiaGas'">
        <header>
            <h2>@Html.Sitecore().Field("Your Gas Plan Text")</h2>
        </header>

        <table class="plan-table" loading-indicator>
            <thead class="hide-small">
                <tr>
                    <th></th>
                    <th>@Html.Sitecore().Field("Plan Name Text")</th>
                    <th ng-show="utilityPlan.rate">@Html.Sitecore().Field("Rate Text")</th>
                    <th>@Html.Sitecore().Field("Term Text")</th>
                    <th ng-if="utilityPlan.fees">@Html.Sitecore().Field("Fees Text")</th>
                    <th ng-if="renewal">@Html.Sitecore().Field("Action Text")</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hide-medium-large">
                    <td class="plan-name" colspan="5">
                        {{ utilityPlan.productName }}
                    </td>
                </tr>
                <tr>
                    <th class="vertical">
                        <div ng-show="utilityPlan.rateType == 'fixed'" class="fixed">{{ utilityPlan.rateType }}</div>
                        <div class="variable" ng-show="utilityPlanplan.rateType == 'variable'">{{ utilityPlan.rateType }}</div>
                    </th>
                    <td class="plan-name hide-small">
                        {{ utilityPlan.productName }}
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}" ng-show="utilityPlan.description">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Details Text") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">@Html.Sitecore().Field("Hide Text") <i class="icon-blue-arrow-up"></i></span>
                        </a>
                    </td>
                    <td class="center" ng-show="utilityPlan.rate">
                        <span class="plan-cost">${{ utilityPlan.rate | number:3 }}</span>
                        <p>@Html.Sitecore().Field("Per Therm Text")</p>
                        @*<p class="details">
                            <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                                <span ng-if="!isOpen">@Html.Sitecore().Field("View Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Hide Text")</span> @Html.Sitecore().Field("Details Text")
                            </a>
                        </p>
                        <div class="details-arrow"></div>*@
                    </td>
                    <td class="term" ng-if="utilityPlan.termMonths != '1'">
                        @Html.Sitecore().Field("Gas Term Months").Format(new { Count = "{{utilityPlan.termMonths}}" })
                    </td>
                    <td class="term" ng-if="utilityPlan.termMonths == '1'">
                        @Html.Sitecore().Field("Gas Month To Month")
                    </td>
                    <td class="fees" ng-if="utilityPlan.fees">
                        {{ utiltiyPlan.cancellationFee }}<span>@Html.Sitecore().Field("Gas Early Termination Fee")</span>
                    </td>
                    <td ng-if="renewal">
                        <button class="primary" ng-click="setupRenewal()">@Html.Sitecore().Field("Renew Button Text")</button>
                    </td>
                </tr>
                <tr class="hide-medium-large" ng-show="utilityPlan.description">
                    <td class="plan-actions" colspan="4">
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Details Text") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">@Html.Sitecore().Field("Hide Text") <i class="icon-blue-arrow-up"></i></span>
                        </a>
                    </td>
                </tr>

                <tr class="details-row additional-fields ng-cloak">
                    <td colspan="4">
                        <div slide-down-show="isOpen">
                            <p>{{ utilityPlan.description }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*
        <footer class="renew-plan" ng-show="!renewal.isEligible">
            <div class="grid two">
                <div class="col">
                    <h3>@Html.Sitecore().Field("Renew Plan Text")</h3>
                    <p>@Html.Sitecore().Field("Renew Date Text") {{ renewal.renewalDate }}</p>
                </div>
                <div class="col">
                    <button class="primary">@Html.Sitecore().Field("Renew Button Text")</button>
                </div>
            </div>
        </footer>
        *@
    </article>

    <article class="plan" ng-if="utilityPlan.subAccountType == 'TexasElectricity'">
        <header>
            <h2>@Html.Sitecore().Field("Your Electricity Plan Text")</h2>
        </header>
        <table class="plan-table" loading-indicator>
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.Sitecore().Field("Plan Name Text")</th>
                    <th ng-show="utilityPlan.rate">@Html.Sitecore().Field("Rate Text")</th>
                    <th>@Html.Sitecore().Field("Term Text")</th>
                    <th ng-if="utilityPlan.fees">@Html.Sitecore().Field("Fees Text")</th>
                    <th ng-if="renewal">@Html.Sitecore().Field("Action Text")</th>
                </tr>
            </thead>
            <tbody additional-fields>
                <tr ng-repeat="utilityPlan in utilityPlans">
                    <th class="vertical">
                        <div ng-show="utilityPlan.rateType == 'fixed'" class="fixed">{{ utilityPlan.rateType }}</div>
                        <div class="variable" ng-show="utilityPlanplan.rateType == 'variable'">{{ utilityPlan.rateType }}</div>
                    </th>
                    <td class="arrow plan-name">
                        <h5><strong>{{ utilityPlan.productName }}</strong></h5>
                        @*<p class="details">
                    <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                        <span ng-if="!isOpen">@Html.Sitecore().Field("View Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Hide Text")</span> @Html.Sitecore().Field("Details Text")
                    </a>
                </p>*@
                    </td>
                    <td class="center" ng-show="utilityPlan.rate">
                        <span class="plan-cost">{{ utilityPlan.rate * 100 | number:2 }}&#162;</span>
                        <p>@Html.Sitecore().Field("Per KwH Text")</p>
                        @*<p class="details">
                    <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                        <span ng-if="!isOpen">@Html.Sitecore().Field("View Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Hide Text")</span> @Html.Sitecore().Field("Details Text")
                    </a>
                </p>
                <div class="details-arrow"></div>*@
                    </td>
                    <td class="term" ng-if="utilityPlan.termMonths != '1'">
                        @Html.Sitecore().Field("Electricity Term Months").Format(new { Count = "{{utilityPlan.termMonths}}" })
                    </td>
                    <td class="term" ng-if="utilityPlan.termMonths == '1'">
                        <i class="icon-month-to-month"></i>
                        @Html.Sitecore().Field("Electricity Month To Month")
                    </td>
                    <td class="center" ng-if="utilityPlan.fees"><span class="plan-cost">{{ utilityPlan.fees }}</span> <p>@Html.Sitecore().Field("Termination Fee Text")</p></td>
                    <td ng-if="utilityPlan.renewalEligibility">
                        <button class="primary" ng-click="setupRenewal()">@Html.Sitecore().Field("Renew Button Text")</button>
                    </td>
                </tr>
                <tr class="expand-details additional-fields">
                    <td colspan="5">
                        <div class="inner"><p><a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href=""><i class="icon-close"></i></a>{{ utilityPlan.planDetails }}</p></div>
                        <div class="grid three">
                            <div class="col">@Html.Sitecore().Field("Pricing Effective Text")<br /><strong>{{ utilityPlan.pricingEffectiveDate }}</strong></div>
                            <div class="col">@Html.Sitecore().Field("Minimum Usage Fee Text")<br /><strong>{{ utilityPlan.minimumUsageFee }}</strong></div>
                            <div class="col">
                                <ul>
                                    <li><a href="#">@Html.Sitecore().Field("Gas Facts Text")</a></li>
                                    <li><a href="#">@Html.Sitecore().Field("Terms of Service Text")</a></li>
                                    <li><a href="#">@Html.Sitecore().Field("Your Rights Text")</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        @*
        <footer class="renew-plan" ng-show="utilityPlan.isRenewable">
            <div class="grid two">
                <div class="col">
                    <h3>@Html.Sitecore().Field("Renew Plan Text")</h3>
                    <p>@Html.Sitecore().Field("Renew Date Text") {{ utilityPlan.renewDate }}</p>
                </div>
                <div class="col">
                    <button class="primary">@Html.Sitecore().Field("Renew Button Text")</button>
                </div>
            </div>
        </footer>
        *@
    </article>
</div>
