@model StreamEnergy.MyStream.Models.MobileEnrollment.ChooseNetwork
@using StreamEnergy.DomainModels.MobileEnrollment

<div id="phoneFlowNetwork" class="enrollment" ng-show="stepsService.isStepVisible('phoneFlowNetwork')" ng-controller="MobileEnrollmentChooseNetworkCtrl">
    <div class="banner enrollment__banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper clearfix">
            <h1>
                <span class="block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Single Column Layout for Choose Network *@
    <section class="wrapper layout">
        <article class="enrollment__box enrollment__choose-network">
            <header>
                <h1>
                    @Html.Sitecore().Field("Header - Choose Network")
                    <select ng-model="mobileEnrollmentService.state" ng-options="state.abbreviation as state.display | addSpaces for state in stateNames"></select>
                </h1>
            </header>
            <div class="content">
                @* Networks not available *@
                <div class="no-networks-available" ng-if="!showNetworks">
                    <h2 class="no-plans">@Html.Sitecore().Field("Header - No Plans Available")</h2>
                    <div class="stretch-full">
                        <p class="intro">@Html.Sitecore().Field("Subheader - Check Out Services")</p>
                        <div class="grid three">
                            <div class="col">
                                <i class="icon-hls-credit-monitoring img-col"></i>
                                <h3>@Html.Sitecore().Field("Header - Credit Monitoring")</h3>
                                @Html.Sitecore().Field("Text - Credit Monitoring")
                                @Html.Sitecore().Field("Link - Credit Monitoring") <i class="icon-arrow-right"></i>
                            </div>
                            <div class="col">
                                <i class="icon-hls-identity-theft img-col"></i>
                                <h3>@Html.Sitecore().Field("Header - Identity Theft Protection")</h3>
                                @Html.Sitecore().Field("Text - Identity Theft Protection")
                                @Html.Sitecore().Field("Link - Identity Theft Protection") <i class="icon-arrow-right"></i>
                            </div>
                            <div class="col">
                                <i class="icon-hls-online-protection img-col"></i>
                                <h3>@Html.Sitecore().Field("Header - Online Backup")</h3>
                                @Html.Sitecore().Field("Text - Online Backup")
                                @Html.Sitecore().Field("Link - Online Backup") <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @* Networks are available *@
                <div class="stretch-full" ng-if="showNetworks">
                    <table class="choose-network-table">
                        <thead>
                            <tr>
                                <th class="plans">@Html.Sitecore().Field("Table Header - Plans")</th>
                                <th class="coverage">@Html.Sitecore().Field("Table Header - Coverage")</th>
                                <th class="devices">@Html.Sitecore().Field("Table Header - Devices")</th>
                                <th class="select-network">@Html.Sitecore().Field("Table Header - Get Started")</th>
                            </tr>
                        </thead>
                    </table>
                    @foreach (var network in Model.MobileNetworks)
                    {
                        <div class="choose-network-table-wrapper">
                            <table class="choose-network-table">
                                <tbody>
                                    <tr>
                                        <td class="plans">@Html.Raw(network.Description)</td>
                                        <td class="coverage">@Html.Raw(network.Coverage)</td>
                                        <td class="devices">@Html.Raw(network.Device)</td>
                                        <td class="select-network">
                                            @Html.Sitecore().Field("Text - Get Started").Format(new { price = @network.StartingPrice, network = @network.Name })
                                            <button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'new')" ng-if="'@network.Value' != 'sprint' || mobileEnrollmentSettings.sprintBuyPhone">@Html.Sitecore().Field("Button - Shop Devices")</button>
                                            <button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'existing')" ng-if="'@network.Value' != 'sprint' || mobileEnrollmentSettings.sprintByod">@Html.Sitecore().Field("Button - Bring My Own Phone")</button>
                                            <span ng-if="'@network.Value' == 'sprint' && !mobileEnrollmentSettings.sprintByod">@Html.Sitecore().Field("BYOD Coming Soon Text")</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="'@network.Value' == 'sprint' && !mobileEnrollmentSettings.sprintBuyPhone && !mobileEnrollmentSettings.sprintByod">
                                <div class="overlay"></div>
                                <span class="text">@Html.Sitecore().Field("Coming Soon Text")</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </article>
        <article class="enrollment__box enrollment__choose-network">
            <div class="content">
                <div class="stretch-full">
                    <div class="choose-network-table-wrapper">
                        <table class="choose-network-table">
                            <tbody>
                                <tr>
                                    <td>@Html.Sitecore().Field("Text - Trade and Save")</td>
                                    <td class="devices">@Html.Sitecore().Field("Image - Trade and Save")</td>
                                    <td class="select-network">
                                        @Html.Sitecore().Field("Link - Trade and Save")
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
        <p class="footnotes" ng-if="showNetworks">@Html.Sitecore().Field("Footnotes")</p>
    </section>
</div>