@model StreamEnergy.MyStream.Models.MobileEnrollment.ChoosePhone

<div id="choose-phone" ng-if="mobileEnrollment.currentStep == 'choose-phone'" ng-controller="MobileEnrollmentChoosePhoneCtrl" ng-init="bringYourOwnDevices = @(Html.Action("BringYourOwnDevices", "MobileEnrollment").ToHtmlString()); remainingMinutes = '@Html.Sitecore().Field("Remaining Minutes Number")'; activationFee = '@Html.Sitecore().Field("Activation Fee")';">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column Layout for Choose Device *@
    <section class="wrapper layout cols-2">
        <section>
            <article class="enrollment__box enrollment__choose-device form">
                @* Commenting out tabs for Nov 15, so can't get to Shop Devices screen
                    <header class="tabbed-header clearfix">
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'new' }" ng-click="mobileEnrollment.phoneTypeTab = 'new'">
                            <h1>@Html.Sitecore().Field("Header - Shop Phones")</h1>
                        </div>
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'existing' }" ng-click="mobileEnrollment.phoneTypeTab = 'existing'; clearPhoneSelection()">
                            <h1>@Html.Sitecore().Field("Header - Bring Your Own Phone")</h1>
                        </div>
                    </header>
                *@
                <header>
                    <h1>@Html.Sitecore().Field("Header - Bring Your Own Phone")</h1>
                </header>
                @* New Phone Template *@
                <toggle-pane name="new" value="mobileEnrollment.phoneTypeTab">
                    <div class="content" ng-if="!selectedPhone">
                        <div class="filters">
                            <div class="group">
                                <div class="item">
                                    <div class="btn-group">
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="undefined">All</button>
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="'Reconditioned'">Reconditioned</button>
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="'New'">New</button>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="item">
                                        <label>@Html.Sitecore().Field("Filter - Sort By")</label>
                                        <select>
                                            <option value="">@Html.Sitecore().Field("Filter - Price - HighLow")</option>
                                            <option value="">@Html.Sitecore().Field("Filter - Price - LowHigh")</option>
                                        </select>
                                    </div>
                                    <div class="item">
                                        <button class="plain filter-button" type="button" ng-click="displayFilters = !displayFilters">@Html.Sitecore().Field("Filter Text")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="group" ng-if="displayFilters">
                                <div class="item group-col">
                                    <label class="block-label">@Html.Sitecore().Field("Filter - Brands")</label>
                                    <span ng-repeat="brand in mobileEnrollmentService.getBrands()">
                                        <label class="filter-label"><input type="checkbox" value="{{ brand }}" ng-checked="phoneFilters.brand.indexOf(brand) > -1" ng-click="toggleBrands(brand)">{{ brand }}</label>
                                    </span>
                                </div>
                                <div class="item group-col">
                                    <label class="block-label">@Html.Sitecore().Field("Filter - OS")</label>
                                    <span ng-repeat="os in mobileEnrollmentService.getOSs()">
                                        <label class="filter-label"><input type="checkbox" value="{{ os }}" ng-checked="phoneFilters.os.indexOf(os) > -1" ng-click="toggleOSs(os)">{{ os }}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="stretch-full form">
                            <div class="phone-selector">
                                @* Would like to change this out for using the model, but getting rid of ng-repeat will take some extra work *@
                                <div class="grid three" ng-repeat="phone in mobileEnrollmentService.getPhones() | phoneFilter: phoneFilters | partition: 3">
                                    <div class="col" ng-repeat="item in phone">
                                        <div class="product-image">
                                            <img ng-src="{{ item.imageUrl }}" />
                                        </div>
                                        <h3>{{ item.name }}</h3>
                                        <div class="price">
                                            <div ng-if="mobileEnrollmentService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("New From")</span>
                                                {{ mobileEnrollmentService.getConditionPrice(item.id, 'New') | currency }}
                                            </div>
                                            <div ng-if="mobileEnrollmentService.getConditionPrice(item.id, 'Reconditioned') && !mobileEnrollmentService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("Reconditioned From")</span>
                                                {{ mobileEnrollmentService.getConditionPrice(item.id, 'Reconditioned') | currency }}
                                            </div>
                                            <span>@Html.Sitecore().Field("Lease From") {{ mobileEnrollmentService.getConditionPrice(item.id, 'Lease') | currency }}</span>
                                        </div>
                                        <button ng-click="setSelectedPhone(item.id)">@Html.Sitecore().Field("Button - Select Phone")</button>
                                    </div>
                                    <div class="col" ng-if="phone.length % 3 == 2"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>
                                    <div class="col" ng-if="results.length == 0">
                                        <strong>No results found...</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </toggle-pane>
                @* Phone Details Overlay *@
                @foreach (var phone in Model.MobilePhones)
                {
                    <toggle-pane name="@Html.Raw(phone.Name)" value="selectedPhone.name">
                        <div class="content">
                            <div class="clearfix">
                                <i class="icon-close pull-right" ng-click="clearPhoneSelection()"></i>
                                <a href="" class="pull-left" ng-click="clearPhoneSelection()">&#8592; @Html.Sitecore().Field("Back to All Phones")</a>
                            </div>
                            <div class="phone-image-large">
                                <img src="@Html.Raw(phone.ImageUrlLarge)" alt="">
                            </div>
                            <div class="phone-details">
                                <h1>@Html.Raw(phone.Name)</h1>
                                <div class="description">
                                    @Html.Raw(phone.Description)
                                </div>
                                <p><a href="">@Html.Sitecore().Field("More Details") <i class="icon-arrow-right"></i></a></p>
                            </div>
                            <hr class="content-divider">
                            @* Chrome doesn't support <button> as display: table-cell, so we're using <a> *@
                            <div class="vertical">
                                <div class="item simple-options-item">
                                    <label>@Html.Sitecore().Field("Select Color")</label>
                                    <div class="btn-group btn-group-options colors">
                                        @foreach (var color in phone.Colors)
                                        {
                                            <a>
                                                <span class="button @Html.Raw(color.Color)" ng-model="phoneOptions.color" btn-radio="'@Html.Raw(color.Color)'"></span>
                                                <span class="color-name">@Html.Raw(color.Value)</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="item simple-options-item">
                                    <label>@Html.Sitecore().Field("Select Size")</label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" ng-repeat="size in mobileEnrollmentService.getPhoneSizes('@phone.Id')" class="button btn-group-arrow" ng-model="phoneOptions.size" btn-radio="'{{ size }}'" class="size">
                                            <span>{{ size }}</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="content-divider">
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Purchase Options")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Purchase Options Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" ng-repeat="model in mobileEnrollmentService.getPricesForSize('@phone.Id', phoneOptions.size)" class="button" ng-model="phoneOptions.condition" btn-radio="'{{ model.condition }}'">{{ model.condition }}<br /><span>{{ model.price | currency }}</span></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Warranty")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Warranty Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" class="button" ng-model="phoneOptions.warranty" btn-radio="'accept'">@Html.Sitecore().Field("Add Warranty")<br /> $9.99/mo</a><a href="" class="button" ng-model="phoneOptions.warranty" btn-radio="'decline'">@Html.Sitecore().Field("Decline Warranty")</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Phone Number")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Phone Number Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'new'">@Html.Sitecore().Field("Assign New Number")</a>
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'existing'">@Html.Sitecore().Field("Transfer My Number")</a>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'existing'">
                                        <div class="button button-type-border">
                                            @Html.Sitecore().Field("Label - Enter Existing Number")
                                            <div class="pull-right">
                                                <input type="text" ng-model="phoneOptions.number.value" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'new'">
                                        <div class="button button-type-border">
                                            @Html.Sitecore().Field("Label - Enter Area Code")
                                            <div class="pull-right">
                                                <input type="text" ng-model="phoneOptions.number.value" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <button type="submit" ng-if="mobileEnrollment.phoneTypeTab == 'new'" ng-click="addDeviceToCart()" ng-disabled="!phoneOptionsValid()">@Html.Sitecore().Field("Button - Add to Cart")</button>
                        </footer>
                    </toggle-pane>
                }
                @* Bring Your Own Phone Template *@
                <toggle-pane name="existing" value="mobileEnrollment.phoneTypeTab">
                    <form data-val-bind-messages="validations" ng-submit="addDeviceToCart()">
                        <div class="content bring-your-own">
                            @* @Html.Sitecore().Field("Bring Your Phone - Description").Format(new { network = "{{ mobileEnrollmentService.selectedNetwork.name }}" }) *@
                            @Html.Sitecore().Field("Bring Your Phone - Instructions").Format(new { network = "{{ mobileEnrollmentService.selectedNetwork.name }}" })
                            <hr />
                            <div class="vertical">
                                <div class="item">
                                    <label>@Html.Sitecore().Field("Header - Select Device")</label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - Select Device")</label>
                                        <div class="group">
                                            <div class="item group-col" data-val-error="phoneMake">
                                                <select name="phoneMake" ng-model="phoneOptions.make" ng-options="brand.make for brand in bringYourOwnDevices" data-val="true" data-val-required></select>
                                            </div>
                                            <div class="item group-col" data-val-error="phoneModel">
                                                <select name="phoneModel" ng-model="phoneOptions.model" ng-options="model.modelName for model in phoneOptions.make.models" data-val="true" data-val-required></select>
                                            </div>
                                        </div>
                                        <div class="info">@Html.Sitecore().Field("Text - Select Device Info")</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="item" data-val-error="imeiNumber">
                                    <label>
                                        @Html.Sitecore().Field("Header - IMEI Number")
                                        <span class="label-description">@Html.Sitecore().Field("Text - IMEI Number Note")</span>
                                    </label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - IMEI Number")</label>
                                        <input type="text" name="imeiNumber" ng-model="phoneOptions.imeiNumber" data-val="true" data-val-required />
                                        <span class="note"><a href="" ng-click="showModal('instructions/imei')">@Html.Sitecore().Field("Text - IMEI Number Instructions Link")</a></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="item" data-val-error="simNumber">
                                    <label>
                                        @Html.Sitecore().Field("Header - SIM Card Number")
                                        <span class="label-description">@Html.Sitecore().Field("Text - SIM Card Number Note")</span>
                                    </label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - SIM Card Number")</label>
                                        <input type="text" name="simNumber" ng-model="phoneOptions.simNumber" />
                                        <span class="note"><a href="" ng-click="showModal('instructions/sim')">@Html.Sitecore().Field("Text - SIM Card Number Instructions Link")</a></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Phone Number")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Phone Number Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'new'" data-val="true" data-val-required ng-change="phoneOptions.number.value = ''">@Html.Sitecore().Field("Assign New Number")</a>
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'existing'" data-val="true" data-val-required ng-change="phoneOptions.number.value = ''">@Html.Sitecore().Field("Transfer My Number")</a>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'existing'">
                                        <div class="button button-type-border">
                                            <label>@Html.Sitecore().Field("Label - Enter Existing Number")</label>
                                            <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{10}$" data-val-if="phoneOptions.number.type == 'existing'" data-val-required="" />
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'new'">
                                        <div class="button button-type-border">
                                            <label>@Html.Sitecore().Field("Label - Enter Area Code")</label>
                                            <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{3}$" data-val-if="phoneOptions.number.type == 'new'" data-val-required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <button type="submit" data-val-submit>@Html.Sitecore().Field("Button - Configure Data")</button>
                        </footer>
                    </form>
                </toggle-pane>
            </article>
            <p class="footnotes">@Html.Sitecore().Field("Footnotes")</p>
        </section>
        <aside>
            <div ng-include src="'mobile-enrollment-cart'"></div>
        </aside>
    </section>
</div>

<script type="text/ng-template" id="networkUnlocking/att">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Unlock ATT")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Unlock ATT")
        </div>
        @*
        <div class="modal-footer">
            @Html.Sitecore().Field("Footer - Unlock ATT")
        </div>
        *@
    </div>
</script>

<script type="text/ng-template" id="networkUnlocking/sprint">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Unlock Sprint")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Unlock Sprint")
        </div>
        <div class="modal-footer">
            @Html.Sitecore().Field("Footer - Unlock Sprint")
        </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/imei">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - IMEI ESN Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - IMEI ESN Instructions")
        </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/sim">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - SIM Number Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - SIM Number Instructions")
        </div>
    </div>
</script>