@model StreamEnergy.MyStream.Models.MobileEnrollment.ChoosePhone

<div id="choose-phone" ng-if="mobileEnrollment.currentStep == 'choose-phone'" ng-controller="MobileEnrollmentChoosePhoneCtrl" ng-init="bringYourOwnDevices = @(Html.Action("BringYourOwnDevices", "MobileEnrollment").ToHtmlString()); remainingMinutes = '@Html.Sitecore().Field("Remaining Minutes Number")'; activationFee = '@Html.Sitecore().Field("Activation Fee")'; previousServiceProviders = @(Html.Action("PreviousServiceProviders", "MobileEnrollment").ToHtmlString());">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column Layout for Choose Device *@
    <section class="wrapper layout cols-2">
        <section>
            <article class="enrollment__box enrollment__choose-device form">
                    <header class="tabbed-header clearfix">
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'new' }" ng-click="mobileEnrollment.phoneTypeTab = 'new'" ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint' || mobileEnrollmentSettings.sprintBuyPhone">
                            <h1>@Html.Sitecore().Field("Header - Shop Phones")</h1>
                        </div>
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'existing' }" ng-if="mobileEnrollmentService.selectedNetwork.value == 'sprint' && !mobileEnrollmentSettings.sprintBuyPhone"></div>
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'existing' }" ng-click="mobileEnrollment.phoneTypeTab = 'existing'; clearPhoneSelection()" ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint' || mobileEnrollmentSettings.sprintByod">
                            <h1>@Html.Sitecore().Field("Header - Bring Your Own Phone")</h1>
                        </div>
                        <div class="tab" ng-class="{ 'active': mobileEnrollment.phoneTypeTab == 'existing' }" ng-if="mobileEnrollmentService.selectedNetwork.value == 'sprint' && !mobileEnrollmentSettings.sprintByod"></div>
                    </header>
                <toggle-pane name="new" value="mobileEnrollment.phoneTypeTab">
                    <div class="content" ng-if="!selectedPhone">
                        <div class="filters">
                            <div class="group">
                                @* There are only new phones being offered for Dec 3
                                <div class="item">
                                    <div class="btn-group">
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="undefined">All</button>
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="'Reconditioned'">Reconditioned</button>
                                        <button type="button" ng-model="phoneFilters.condition" btn-radio="'New'">New</button>
                                    </div>
                                </div>
                                *@
                                <div @*class="pull-right"*@>
                                    <div class="item">
                                        <label>@Html.Sitecore().Field("Filter - Sort By")</label>
                                        <select ng-model="phoneFilters.phoneOrder">
                                            <option value="high">@Html.Sitecore().Field("Filter - Price - HighLow")</option>
                                            <option value="low">@Html.Sitecore().Field("Filter - Price - LowHigh")</option>
                                        </select>
                                    </div>
                                    <div class="item">
                                        <button class="plain filter-button" type="button" ng-click="displayFilters = !displayFilters">@Html.Sitecore().Field("Filter Text")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="group" ng-if="displayFilters">
                                <div class="item group-col brands">
                                    <label class="block-label">@Html.Sitecore().Field("Filter - Brands")</label>
                                    <span ng-repeat="brand in mobileEnrollmentService.getBrands()">
                                        <label class="filter-label"><input type="checkbox" value="{{ brand }}" ng-checked="phoneFilters.brand.indexOf(brand) > -1" ng-click="toggleBrands(brand)">{{ brand }}</label>
                                    </span>
                                </div>
                                <div class="item group-col os">
                                    <label class="block-label">@Html.Sitecore().Field("Filter - OS")</label>
                                    <span ng-repeat="os in mobileEnrollmentService.getOSs()">
                                        <label class="filter-label"><input type="checkbox" value="{{ os }}" ng-checked="phoneFilters.os.indexOf(os) > -1" ng-click="toggleOSs(os)">{{ os }}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="stretch-full form">
                            <div class="phone-selector">
                                @* Would like to change this out for using the model, but getting rid of ng-repeat will take some extra work *@
                                <div class="grid three" ng-repeat="phone in mobileEnrollmentService.getPhones() | orderByPrice: mobileServices.getPhones():isPhoneOrderReversed() | phoneFilter: phoneFilters | partition: 3">
                                    <div class="col" ng-repeat="item in phone">
                                        <div class="product-image"><img ng-src="{{ item.imageFront }}" /></div>
                                        <h3>{{ item.brand }}&reg; {{ item.name }}</h3>
                                        <div class="price">
                                            <div ng-if="mobileEnrollmentService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("New From")</span>
                                                {{ mobileEnrollmentService.getConditionPrice(item.id, 'New') | currency }}
                                            </div>
                                            <div ng-if="mobileEnrollmentService.getConditionPrice(item.id, 'Reconditioned') && !mobileEnrollmentService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("Reconditioned From")</span>
                                                {{ mobileEnrollmentService.getConditionPrice(item.id, 'Reconditioned') | currency }}
                                            </div>
                                            <span class="lease">@Html.Sitecore().Field("Lease From") {{ mobileEnrollmentService.get24LeasePrice(item.id) | currency }}@Html.Sitecore().Field("Per Month Text")</span>
                                        </div>
                                        <button ng-click="setSelectedPhone(item.id)">@Html.Sitecore().Field("Button - Select Phone")</button>
                                    </div>
                                    <div class="col" ng-if="phone.length % 3 == 2"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>
                                    <div class="col" ng-if="results.length == 0">
                                        <strong>No results found...</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </toggle-pane>
                @* Phone Details Overlay *@
                @foreach (var phone in Model.MobilePhones)
                {
                    <toggle-pane name="@Html.Raw(phone.Name)" value="selectedPhone.name">
                        <form data-val-bind-messages="validations" ng-submit="addDeviceToCart()">
                        <div class="content">
                            <div class="clearfix">
                                <i class="icon-close pull-right" ng-click="clearPhoneSelection()"></i>
                                <a href="" class="pull-left" ng-click="clearPhoneSelection()">&#8592; @Html.Sitecore().Field("Back to All Phones")</a>
                            </div>
                                <div class="phone-details" data-additional-fields>
                                <h1>@Html.Raw(phone.Name)</h1>
                                <div class="description">
                                    @Html.Raw(phone.Description)
                                </div>
                                    <div slide-down-show="isOpen" class="description">
                                        @Html.Raw(phone.LongDescription)
                            </div>
                                    <div>
                                        <a href="" ng-click="isOpen = !isOpen" ng-show="!isOpen">@Html.Sitecore().Field("More Details") <i class="icon-blue-arrow-down"></i></a>
                                        <a href="" ng-click="isOpen = !isOpen" ng-show="isOpen">@Html.Sitecore().Field("Hide Details") <i class="icon-blue-arrow-up"></i></a>
                                    </div>
                                </div>
                                <div class="phone-image-large">
                                    <img src="@Html.Raw(phone.ImageFront)" alt=""><img src="@Html.Raw(phone.ImageBack)" alt="">
                                </div>
                            <hr class="content-divider">
                            @* Chrome doesn't support <button> as display: table-cell, so we're using <a> *@
                            <div class="vertical">
                                <div class="item simple-options-item">
                                    <label>@Html.Sitecore().Field("Select Color")</label>
                                    <div class="btn-group btn-group-options colors">
                                            <a href="" ng-repeat="color in mobileEnrollmentService.getPhoneColors('@phone.Id')" ng-class="{'btn-group-arrow': mobileEnrollmentService.getPhoneSizes('@phone.Id')[0].size == ''}" ng-model="phoneOptions.color" btn-radio="'{{ color.color }}'">
                                                <span class="button {{ color.colorClass }}"></span>
                                                <span class="color-name">{{ color.color }}</span>
                                            </a>

                                    </div>
                                </div>
                                    <div class="item simple-options-item" ng-if="mobileEnrollmentService.getPhoneSizes('@phone.Id')[0].size != ''">
                                    <label>@Html.Sitecore().Field("Select Size")</label>
                                    <div class="btn-group btn-group-options">
                                            <a href="" ng-repeat="size in mobileEnrollmentService.getPhoneSizes('@phone.Id')" class="button btn-group-arrow" ng-model="phoneOptions.size" btn-radio="'{{ size.size }}'">
                                                <span class="size">{{ size.size }}</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="content-divider">
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Purchase Options")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Purchase Options Description")</span>
                                    </label>
                                        <div class="btn-group btn-group-options purchase-options">
                                            <div ng-repeat="model in mobileEnrollmentService.getPricesForPhone('@phone.Id', phoneOptions.size, phoneOptions.color)" data-additional-fields>
                                                <a href="" class="button" ng-model="phoneOptions.purchaseOption" btn-radio="'{{ model.condition }}'" ng-click="isOpen = false">
                                                    <span class="purchase-type">{{ model.condition }}</span>
                                                    <span class="purchase-price">{{ model.price | currency }}</span>
                                                </a>
                                                @* No 20-Month Lease option for this release
                                                <a href="" class="button" ng-model="phoneOptions.purchaseOption" btn-radio="'Lease20'">
                                                    <span class="purchase-type">@Html.Sitecore().Field("20 Month Lease")</span>
                                                    <span class="purchase-price">{{ model.lease20 | currency }}@Html.Sitecore().Field("Per Month Text")</span>
                                                </a>
                                                *@
                                                <a href="" class="button btn-group-arrow" ng-model="phoneOptions.purchaseOption" btn-radio="'Lease24'" ng-click="isOpen = true">
                                                    <span class="purchase-type">@Html.Sitecore().Field("24 Month Lease")</span>
                                                    <span class="purchase-price">{{ model.lease24 | currency }}@Html.Sitecore().Field("Per Month Text")</span>
                                                </a>
                                                <span class="lease-box button" slide-down-show="isOpen">
                                                    @Html.Sitecore().Field("24 Month Lease Text")
                                                </span>
                                            </div>
                                    </div>
                                </div>
                                <div class="item" ng-if="false">
                                    <label>
                                        @Html.Sitecore().Field("Warranty")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Warranty Description")</span>
                                    </label>
                                        <div class="btn-group btn-group-options warranty-options">
                                            <a href="" class="button" ng-model="phoneOptions.warranty" btn-radio="'accept'">
                                                <span>@Html.Sitecore().Field("Add Warranty")</span>
                                                <span class="warranty-price">@Html.Sitecore().Field("Warranty Price")</span>
                                            </a>
                                            <a href="" class="button" ng-model="phoneOptions.warranty" btn-radio="'decline'">
                                                @Html.Sitecore().Field("Decline Warranty")
                                            </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Phone Number")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Phone Number Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'new'">@Html.Sitecore().Field("Assign New Number")</a>
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'existing'">@Html.Sitecore().Field("Transfer My Number")</a>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'existing'">
                                        <div class="button button-type-border">
                                            <label>@Html.Sitecore().Field("Label - Enter Existing Number")</label>
                                            <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^\d{3}[^\d]?\d{3}[^\d]?\d{4}$" data-val-if="mobileEnrollment.phoneTypeTab == 'new' && selectedPhone.id == '@phone.Id' && phoneOptions.number.type == 'existing'" data-val-required="" />
                                            <div class="previous-provider">
                                                <label>@Html.Sitecore().Field("Label - Previous Service Provider")</label>
                                                <select name="previousServiceProvider" ng-model="mobileEnrollmentService.previousServiceProvider" ng-options="provider.name for provider in previousServiceProviders" data-val="true" data-val-required></select>
                                            </div>
                                            <div class="transfer-number">
                                                @Html.Sitecore().Field("Transfer Number Text")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'new'">
                                        <div class="button button-type-border">
                                                <label>@Html.Sitecore().Field("Label - Enter Area Code")</label>
                                                <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{3}$" data-val-if="mobileEnrollment.phoneTypeTab == 'new' && selectedPhone.id == '@phone.Id' && phoneOptions.number.type == 'new'" data-val-required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                                <button type="submit" ng-if="mobileEnrollment.phoneTypeTab == 'new'" ng-disabled="!phoneOptionsValid()" data-val-submit>@Html.Sitecore().Field("Button - Add to Cart")</button>
                        </footer>
                        </form>
                    </toggle-pane>
                }
                @* Bring Your Own Phone Template *@
                <toggle-pane name="existing" value="mobileEnrollment.phoneTypeTab">
                    <form data-val-bind-messages="validations" ng-submit="addDeviceToCart()">
                        <div class="content bring-your-own">
                            <div ng-if="mobileEnrollmentService.selectedNetwork.value == 'att'">
                                @Html.Sitecore().Field("Bring Your Phone - ATT Instructions")
                            </div>
                            <div ng-if="mobileEnrollmentService.selectedNetwork.value == 'sprint'">
                                @Html.Sitecore().Field("Bring Your Phone - Sprint Instructions")
                            </div>
                            <hr />
                            <div class="vertical">
                                <div class="item" ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint'">
                                    <label>@Html.Sitecore().Field("Header - Select Device")</label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - Select Device")</label>
                                        <div class="group">
                                            <div class="item group-col" data-val-error="phoneMake">
                                                <select name="phoneMake" ng-model="phoneOptions.make" ng-options="brand.make for brand in bringYourOwnDevices" ng-change="phoneOptions.model = phoneOptions.make.models[0]" data-val="true" data-val-required data-val-if="mobileEnrollment.phoneTypeTab == 'existing'"></select>
                                            </div>
                                            <div class="item group-col" data-val-error="phoneModel">
                                                <select name="phoneModel" ng-model="phoneOptions.model" ng-options="model.modelName for model in phoneOptions.make.models" data-val="true" data-val-required data-val-if="mobileEnrollment.phoneTypeTab == 'existing'"></select>
                                            </div>
                                        </div>
                                        <div class="info">@Html.Sitecore().Field("Text - Select Device Info")</div>
                                    </div>
                                </div>
                                <hr ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint'" />
                                <div class="item" data-val-error="imeiNumber">
                                    <label>
                                        @Html.Sitecore().Field("Header - IMEI Number")
                                        <span class="label-description">@Html.Sitecore().Field("Text - IMEI Number Note")</span>
                                    </label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - IMEI Number")</label>
                                        <input type="text" name="imeiNumber" ng-model="phoneOptions.imeiNumber" data-val="true" data-val-required data-val-if="mobileEnrollment.phoneTypeTab == 'existing'" />
                                        <span class="note"><a href="" ng-click="showModal('instructions/imei')">@Html.Sitecore().Field("Text - IMEI Number Instructions Link")</a></span>
                                    </div>
                                </div>
                                <hr />
                                <div class="item" data-val-error="simNumber" ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint'">
                                    <label>
                                        @Html.Sitecore().Field("Header - SIM Card Number")
                                        <span class="label-description">@Html.Sitecore().Field("Text - SIM Card Number Note")</span>
                                    </label>
                                    <div class="btn-group-options">
                                        <label>@Html.Sitecore().Field("Label - SIM Card Number")</label>
                                        <input type="text" name="simNumber" ng-model="phoneOptions.simNumber" />
                                        <span class="note"><a href="" ng-click="showModal('instructions/sim')">@Html.Sitecore().Field("Text - SIM Card Number Instructions Link")</a></span>
                                    </div>
                                </div>
                                <hr ng-if="mobileEnrollmentService.selectedNetwork.value != 'sprint'" />
                                <div class="item">
                                    <label>
                                        @Html.Sitecore().Field("Phone Number")<br />
                                        <span class="label-description">@Html.Sitecore().Field("Phone Number Description")</span>
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'new'" data-val="true" data-val-required ng-change="phoneOptions.number.value = ''">@Html.Sitecore().Field("Assign New Number")</a>
                                        <a href="" class="button btn-group-arrow btn-phone-number" ng-model="phoneOptions.number.type" btn-radio="'existing'" data-val="true" data-val-required ng-change="phoneOptions.number.value = ''">@Html.Sitecore().Field("Transfer My Number")</a>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'existing'">
                                        <div class="button button-type-border">
                                            <label>@Html.Sitecore().Field("Label - Enter Existing Number")</label>
                                            <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^\d{3}[^\d]?\d{3}[^\d]?\d{4}$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.number.type == 'existing'" data-val-required="" />
                                            <div class="previous-provider">
                                                <label>@Html.Sitecore().Field("Label - Previous Service Provider")</label>
                                                <select name="previousServiceProvider" ng-model="mobileEnrollmentService.previousServiceProvider" ng-options="provider.name for provider in previousServiceProviders" data-val="true" data-val-required></select>
                                            </div>
                                            <div class="transfer-number">
                                                @Html.Sitecore().Field("Transfer Number Text")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-options phone-number-group" ng-if="phoneOptions.number.type == 'new'">
                                        <div class="button button-type-border">
                                            <label>@Html.Sitecore().Field("Label - Enter Area Code")</label>
                                            <input type="text" ng-model="phoneOptions.number.value" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{3}$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.number.type == 'new'" data-val-required="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <button type="submit" data-val-submit>@Html.Sitecore().Field("Button - Configure Data")</button>
                        </footer>
                    </form>
                </toggle-pane>
            </article>
            <p class="footnotes">@Html.Sitecore().Field("Footnotes")</p>
        </section>
        <aside>
            <div ng-include src="'mobile-enrollment-cart'"></div>
        </aside>
    </section>
</div>

<script type="text/ng-template" id="networkUnlocking/att">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Unlock ATT")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Unlock ATT")
        </div>
        @*
        <div class="modal-footer">
            @Html.Sitecore().Field("Footer - Unlock ATT")
        </div>
        *@
    </div>
</script>

<script type="text/ng-template" id="networkUnlocking/sprint">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Unlock Sprint")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Unlock Sprint")
        </div>
        @*
        <div class="modal-footer">
            @Html.Sitecore().Field("Footer - Unlock Sprint")
        </div>
        *@
    </div>
</script>

<script type="text/ng-template" id="instructions/imei">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - IMEI ESN Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - IMEI ESN Instructions")
        </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/sim">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - SIM Number Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - SIM Number Instructions")
        </div>
    </div>
</script>