@model StreamEnergy.MyStream.Models.MobileEnrollment.ChoosePhone

<div ng-if="ctrl.currentStep == 'choose-phone'">

    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("2 - Page Title")</span><br />
            </h1>
        </div>
    </div>

    @* Two-column Layout for Choose Device *@
    <section class="wrapper layout cols-2">
        <section>
            <article class="enrollment__box enrollment__choose-device form">
                <header class="tabbed-header clearfix">
                    <div class="tab" ng-class="{ 'active': ctrl.phoneFilters.phoneTypeTab == 'new' }" ng-click="ctrl.phoneFilters.phoneTypeTab = 'new'">
                        <h1>@Html.Sitecore().Field("2 - Header - Shop Phones")</h1>
                    </div>
                    <div class="tab" ng-class="{ 'active': ctrl.phoneFilters.phoneTypeTab == 'existing' }" ng-click="ctrl.phoneFilters.phoneTypeTab = 'existing'; ctrl.clearPhoneSelection()">
                        <h1>@Html.Sitecore().Field("2 - Header - Bring Your Own Phone")</h1>
                    </div>
                </header>

                @* New Phone Template *@
                <toggle-pane name="new" value="ctrl.phoneFilters.phoneTypeTab">
                    <div class="content" ng-if="!ctrl.phoneFilters.selectedPhone">
                        <div class="filters">
                            <div class="group">
                                <div class="item">
                                    <div class="btn-group">
                                        <button type="button" ng-model="ctrl.phoneFilters.condition" btn-radio="undefined">All</button>
                                        <button type="button" ng-model="ctrl.phoneFilters.condition" btn-radio="'Reconditioned'">Reconditioned</button>
                                        <button type="button" ng-model="ctrl.phoneFilters.condition" btn-radio="'New'">New</button>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="item">
                                        <label>@Html.Sitecore().Field("2 - Filter - Sort By")</label>
                                        <select>
                                            <option value="">@Html.Sitecore().Field("2 - Filter - Price - HighLow")</option>
                                            <option value="">@Html.Sitecore().Field("2 - Filter - Price - LowHigh")</option>
                                        </select>
                                    </div>
                                    <div class="item">
                                        <button class="plain filter-button" type="button" ng-click="ctrl.displayFilters = !ctrl.displayFilters">@Html.Sitecore().Field("2 - Filter Text")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="group" ng-if="ctrl.displayFilters">
                                <div class="item group-col">
                                    <label class="block-label">@Html.Sitecore().Field("2 - Filter - Brands")</label>
                                    <span ng-repeat="brand in ctrl.mobileService.getBrands()">
                                        <label class="filter-label"><input type="checkbox" value="{{ brand }}" ng-checked="ctrl.phoneFilters.brand.indexOf(brand) > -1" ng-click="ctrl.toggleBrands(brand)">{{ brand }}</label>
                                    </span>
                                </div>
                                <div class="item group-col">
                                    <label class="block-label">@Html.Sitecore().Field("2 - Filter - OS")</label>
                                    <span ng-repeat="os in ctrl.mobileService.getOSs()">
                                        <label class="filter-label"><input type="checkbox" value="{{ os }}" ng-checked="ctrl.phoneFilters.os.indexOf(os) > -1" ng-click="ctrl.toggleOSs(os)">{{ os }}</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="stretch-full form">
                            <div class="phone-selector">

                                @* Would like to change this out for using the model, but getting rid of ng-repeat will take some extra work *@
                                <div class="grid three" ng-repeat="phone in ctrl.mobileService.getPhones() | phoneFilter: ctrl.phoneFilters | partition: 3">
                                    <div class="col" ng-repeat="item in phone">
                                        <div class="product-image">
                                            <img ng-src="{{ item.imageUrl }}" />
                                        </div>
                                        <h3>{{ item.name }}</h3>
                                        <div class="price">

                                            <div ng-if="ctrl.mobileService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("2 - New From")</span>
                                                {{ ctrl.mobileService.getConditionPrice(item.id, 'New') | currency }}
                                            </div>

                                            <div ng-if="ctrl.mobileService.getConditionPrice(item.id, 'Reconditioned') && !ctrl.mobileService.getConditionPrice(item.id, 'New')">
                                                <span>@Html.Sitecore().Field("2 - Reconditioned From")</span>
                                                {{ ctrl.mobileService.getConditionPrice(item.id, 'Reconditioned') | currency }}
                                            </div>

                                            <span>@Html.Sitecore().Field("2 - Lease From") {{ ctrl.mobileService.getConditionPrice(item.id, 'Lease') | currency }}</span>
                                        </div>
                                        <button ng-click="ctrl.setSelectedPhone(item.id)">@Html.Sitecore().Field("2 - Button - Select Phone")</button>
                                    </div>
                                    <div class="col" ng-if="phone.length % 3 == 2"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>
                                    <div class="col" ng-if="phone.length % 3 == 1"></div>

                                    <div class="col" ng-if="results.length == 0">
                                      <strong>No results found...</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </toggle-pane>

                @* Phone Details Overlay *@
                @foreach (var phone in Model.MobilePhones) {
                <toggle-pane name="@Html.Raw(phone.Name)" value="ctrl.phoneFilters.selectedPhone">
                    <div class="content">
                        <div class="clearfix">
                            <i class="icon-close pull-right" ng-click="ctrl.clearPhoneSelection()"></i>
                            <a href="" class="pull-left" ng-click="ctrl.clearPhoneSelection()">&#8592; @Html.Sitecore().Field("2 - Back to All Phones")</a>
                        </div>

                        <div class="phone-image-large">
                            <img src="@Html.Raw(phone.ImageUrlLarge)" alt="">
                        </div>
                        <div class="phone-details">
                            <h1>@Html.Raw(phone.Name)</h1>
                            <div class="description">
                                @Html.Raw(phone.Description)
                            </div>
                            <p><a href="">@Html.Sitecore().Field("2 - More Details") <i class="icon-arrow-right"></i></a></p>
                        </div>
                        <hr class="content-divider">
                        
                        @* Chrome doesn't support <button> as display: table-cell, so we're using <a> *@
                        <div class="vertical">
                            <div class="item simple-options-item">
                                <label>@Html.Sitecore().Field("2 - Select Color")</label>

                                <div class="btn-group btn-group-options colors">
                                    @foreach (var color in phone.Colors) {
                                    <a>
                                        <span class="button @Html.Raw(color.Color)" ng-model="ctrl.phoneOptions.color" btn-radio="'@Html.Raw(color.Color)'"></span>
                                        <span class="color-name">@Html.Raw(color.Value)</span>
                                    </a>
                                    }
                                </div>
                            </div>
                            <div class="item simple-options-item">
                                <label>@Html.Sitecore().Field("2 - Select Size")</label>

                                <div class="btn-group btn-group-options">
                                    <a href="" ng-repeat="size in ctrl.mobileService.getPhoneSizes('@phone.Id')" class="button btn-group-arrow" ng-model="ctrl.phoneOptions.size" btn-radio="'{{ size }}'" class="size">
                                        <span>{{ size }}</span>
                                    </a>
                                </div>
                            </div>

                            <hr class="content-divider">

                            <div class="item">
                                <label>@Html.Sitecore().Field("2 - Purchase Options")<br />
                                    <span class="label-description">@Html.Sitecore().Field("2 - Purchase Options Description")</span>
                                </label>

                                <div class="btn-group btn-group-options">
                                    <a href="" ng-repeat="model in ctrl.mobileService.getPricesForSize('@phone.Id', ctrl.phoneOptions.size)" class="button" ng-model="ctrl.phoneOptions.condition" btn-radio="'{{ model.condition }}'">{{ model.condition }}<br /><span>{{ model.price | currency }}</span></a>
                                </div>
                            </div>
                            <div class="item">
                                <label>@Html.Sitecore().Field("2 - Warranty")<br />
                                    <span class="label-description">@Html.Sitecore().Field("2 - Warranty Description")</span>
                                </label>

                                <div class="btn-group btn-group-options">
                                    <a href="" class="button" ng-model="ctrl.phoneOptions.warranty" btn-radio="'accept'">@Html.Sitecore().Field("2 - Add Warranty")<br /> $9.99/mo</a><a href="" class="button" ng-model="ctrl.phoneOptions.warranty" btn-radio="'decline'">@Html.Sitecore().Field("2 - Decline Warranty")</a>
                                </div>
                            </div>
                            <div class="item">
                                <label>@Html.Sitecore().Field("2 - Phone Number")<br />
                                    <span class="label-description">@Html.Sitecore().Field("2 - Phone Number Description")</span>
                                </label>

                                <div class="btn-group btn-group-options">
                                    <a href="" class="button btn-group-arrow btn-phone-number" ng-model="ctrl.phoneOptions.number" btn-radio="'new'">@Html.Sitecore().Field("2 - Assign New Number")</a>
                                    <a href="" class="button btn-group-arrow btn-phone-number" ng-model="ctrl.phoneOptions.number" btn-radio="'existing'">@Html.Sitecore().Field("2 - Transfer My Number")</a>
                                </div>

                                <div class="btn-group btn-group-options phone-number-group" ng-if="ctrl.phoneOptions.number == 'existing'">
                                    <div class="button button-type-border">
                                        @Html.Sitecore().Field("2 - Existing Number") 
                                        <div class="pull-right">
                                            <input type="text" class="small" name="" value="" maxlength="3">
                                            <input type="text" class="small" name="" value="XXX" disabled>
                                            <input type="text" class="small" name="" value="XXXX" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-group btn-group-options phone-number-group" ng-if="ctrl.phoneOptions.number == 'new'">
                                    <div class="button button-type-border">
                                        @Html.Sitecore().Field("2 - Area Code") 
                                        <div class="pull-right">
                                            <input type="text" class="small" name="" value="" maxlength="3">
                                            <input type="text" class="small" name="" value="" maxlength="3">
                                            <input type="text" class="small" name="" value="" maxlength="4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button type="submit" ng-if="ctrl.phoneFilters.phoneTypeTab == 'new'" ng-click="ctrl.addPhoneToCart()" ng-disabled="!ctrl.isPhoneOptionsValid()">@Html.Sitecore().Field("2 - Button - Add to Cart")</button>
                    </footer>
                </toggle-pane>
                }

                @* Bring Your Own Phone Template *@
                <toggle-pane name="existing" value="ctrl.phoneFilters.phoneTypeTab">
                    <div class="content form bring-your-own">
                        <h2>@Html.Sitecore().Field("2 - Header - Bring Your Own Network Phone").Format(new { network = "{{ ctrl.phoneFilters.selectedNetwork }}" })</h2>
                        @Html.Sitecore().Field("2 - Bring Your Phone - Description")
                        
                        <hr>

                        @Html.Sitecore().Field("2 - Bring Your Phone - Instructions").Format(new { network = "{{ ctrl.phoneFilters.selectedNetwork }}" })
                    
                        <h3><strong>To bring your own phone, it must be:</strong></h3>

                        <ol>
                            <li>An <strong>AT&amp;T Device</strong> or compatible <strong>GSM network</strong> phone<br />
                            Want to bring a Sprint or CDMA network phone? <a href="">Switch Carriers</a></li>
                            <li>The phone must be unlocked. <a href="" ng-click="ctrl.showUnlockingModal()">How do I unlock my phone?</a></li>
                            <li><strong>In good standing*</strong></li>
                            <li>Compatible with the list of devices below.</li>
                        </ol>
                        
                        <div class="group">
                            <div class="item">
                                <select name="" id="">
                                    <option value="">Apple</option>
                                </select>
                            </div>
                            <div class="item">
                                <select name="" id="">
                                    <option value="">iPhone</option>
                                </select>
                            </div>
                        </div>

                        <hr>

                        <h3><strong>Enter IMEI Number</strong></h3>

                        <ol>
                            <li>Dial *#06# on your phone's keypad</li>
                            <li>Your phone's <a href="">IMEI number</a> will appear on the screen</li>
                            <li>Enter your phone's <a href="">IMEI number</a> below</li>
                        </ol>

                        <p><input type="text"></p>

                        <p>Based on your phone selection, we'll send you a SIM Starter Kit for your device. The SIM Starter Kit includes both Standard and Micro SIM cards. This will fit most phones that have a SIM slot. Your new SIM will be shipped to you on verification of your order.</p>                  
                    </div>
                    <footer>
                        <button type="submit" ng-if="ctrl.phoneFilters.phoneTypeTab == 'existing'">Add Phone</button>
                    </footer>
                </toggle-pane>
            </article>
        </section>
        <aside>
            <div ng-include src="'mobile-enrollment-cart'"></div>
        </aside>
    </section>

</div>