@model StreamEnergy.MyStream.Models.MobileEnrollment.ChoosePhone

<div id="phoneFlowDevices" class="enrollment" ng-show="stepsService.isStepVisible('phoneFlowDevices')" ng-controller="MobileEnrollmentChoosePhoneCtrl" ng-init="bringYourOwnDevices = @(Html.Action("BringYourOwnDevices", "MobileEnrollment").ToHtmlString()); bringYourOwnCdmaDevices = @(Html.Action("bringYourOwnCdmaDevices", "MobileEnrollment").ToHtmlString()); esnValidationMessages = @(Html.Action("EsnValidationMessages", "MobileEnrollment").ToHtmlString()); setTimeRemaining('phoneFlowDevices', '@Html.Sitecore().Field("Remaining Minutes Number")'); activationFee = '@Html.Sitecore().Field("Activation Fee")'; usStates = @(Html.Action("States", "Data").ToHtmlString());">
    @Html.Partial("~/Views/Components/Mobile Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.MobileEnrollment.ProgressBar { StepNumber = 1, StepTextField = "Step 1 Description Text" })
    <div class="layout">
        <div class="wrapper cols-2" id="chooseDevice">
            <section>
                <form name="addDevice" data-val-bind-messages="validations" ng-submit="verifyPhone()">
                    <article class="enrollment__box enrollment_verify-phone form">
                        <header>
                            <div ng-show="!phoneVerified">
                                <h1>@Html.Sitecore().Field("Verify Phone Heading")</h1>
                            </div>
                        </header>
                        <div class="content" ng-show="!phoneVerified">
                            <div class="phone-line clearfix" ng-repeat="item in getCartDevices()">
                                <h3>@Html.Sitecore().Field("Phone Line Header")</h3>
                                <dl class="clearfix">
                                    <dt>@Html.Sitecore().Field("MEID Label")</dt>
                                    <dd>{{ item.imeiNumber }}</dd>
                                    <dt ng-if="item.iccidNumber">@Html.Sitecore().Field("ICCID Label")</dt>
                                    <dd ng-if="item.iccidNumber">{{ item.iccidNumber}}</dd>
                                    <dt>@Html.Sitecore().Field("Phone Number Label")</dt>
                                    <dd ng-if="item.transferInfo == null">@Html.Sitecore().Field("Assigning New Number Text")</dd>
                                    <dd ng-if="item.transferInfo != null">{{ item.transferInfo.phoneNumber }}</dd>
                                </dl>
                                <a href="" ng-click="editMobileDevice(location, item)">@Html.Sitecore().Field("Edit")</a><a href="" ng-click="deleteMobileDevice(location, item)">@Html.Sitecore().Field("Remove Line Link Text")</a>
                            </div>
                            <hr ng-if="getDevicesCount() > 0" />
                            <div class="item full">
                                <h3>@Html.Sitecore().Field("See If Phone Works")</h3>
                                <div class="input-group">
                                    <div class="input-group-control item" data-val-error="imeiNumber">
                                        <label>
                                            @Html.Sitecore().Field("Enter Number")
                                            <a href="" ng-click="showModal('instructions/imei');">@Html.Sitecore().Field("What Is This")</a>
                                        </label>
                                        <input class="full" name="imeiNumber" id="imeiNumber" type="text" ng-model="phoneOptions.imeiNumber" data-val="true" data-val-required placeholder="@Html.Sitecore().Field("Enter Number")" />
                                    </div>
                                    <div class="input-group-btn">
                                        <button ng-submit ng-disabled="addDevice.$invalid">@Html.Sitecore().Field("Check Text")</button>
                                    </div>
                                </div><!-- /input-group -->
                                <div class="input-group" ng-if="showCaptcha">
                                    <div re-captcha ng-model="phoneOptions.captcha" key="mobileEnrollmentSettings.reCaptchaPublicKey" on-create="setWidgetId(widgetId)"></div>
                                </div><!-- /input-group -->
                            </div>
                            <div ng-show="hasError" class="device-error">
                                <div compile="deviceIneligibleMessage">
                                </div>
                                <div ng-show="gsmIneligible">
                                    @Html.Sitecore().Field("GSM Error Message")
                                </div>
                                <div ng-show="duplicateDevice">
                                    @Html.Sitecore().Field("Duplicate Device Error Message")
                                </div>
                                <div ng-show="!phoneOptions.supportsLte">
                                    @Html.Sitecore().Field("Non LTE Message")
                                </div>
                            </div>
                            <div>
                                <a href="" ng-click="showLightbox('compatible-devices')">@Html.Sitecore().Field("Check Compatible Devices Message")</a>
                            </div>
                        </div>
                    </article>
                </form>
            </section>
            <aside>
                <div ng-include src="'cart-template'"></div>
            </aside>
        </div>
    </div>
</div>
<script type="text/ng-template" id="networkUnlocking">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Unlock")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Unlock")
        </div>
        @*
            <div class="modal-footer">
                @Html.Sitecore().Field("Footer - Unlock Sprint")
            </div>
        *@
    </div>
</script>
<script type="text/ng-template" id="instructions/compatileDevices">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Compatible Device Modal Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Compatible Device Modal Body")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/imei">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - IMEI ESN Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - IMEI ESN Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/esn">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - ESN Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - ESN Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/iccid">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - ICCID Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - ICCID Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/sim">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - SIM Number Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - SIM Number Instructions")
        </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/whyUnlocked">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Why Unlocked Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Why Unlocked Instructions")
        </div>
    </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/activationCode">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Activation Code Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Activation Code Instructions")
        </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/sametechnology">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Same Technology")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Same Technology")
        </div>
    </div>
    </div>
</script>
