@model StreamEnergy.MyStream.Models.MobileEnrollment.ChooseNetwork
@using StreamEnergy.DomainModels.MobileEnrollment

<div ng-if="mobileEnrollment.currentStep == 'choose-network'" ng-controller="MobileEnrollmentChooseNetworkCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Single Column Layout for Choose Network *@
    <section class="wrapper layout">
        <article class="enrollment__box enrollment__choose-network">
            <header>
                <h1>
                    @Html.Sitecore().Field("Header - Choose Network")
                    <select ng-model="mobileEnrollmentService.state" ng-options="state.abbreviation as state.display for state in usStates"></select>
                </h1>
            </header>
            <div class="content">
                @* Networks not available *@
                <div class="no-networks-available" ng-if="!availableNetworks.length">
                    <h2 class="no-plans">@Html.Sitecore().Field("Header - No Plans Available")</h2>
                    <div class="stretch-full">
                        <h3>@Html.Sitecore().Field("Subheader - Check Out Services")</h3>
                        <div class="grid">
                            <div class="col">
                                <div class="ico-wrapper">
                                    <i class="icon-home-utility"></i>
                                </div>
                                <h2>@Html.Sitecore().Field("Header - Utility Services")</h2>
                                @Html.Sitecore().Field("Text - Utility Description")
                                @Html.Sitecore().Field("Link - Energy Services") <i class="icon-arrow-right"></i>
                            </div>
                            <div class="col">
                                <div class="ico-wrapper">
                                    <i class="icon-homelife"></i>
                                </div>
                                <h2>@Html.Sitecore().Field("Header - Homelife Services")</h2>
                                @Html.Sitecore().Field("Text - Homelife Description")
                                @Html.Sitecore().Field("Link - HomeLife Services") <i class="icon-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                @* Networks are available *@
                <div class="stretch-full" ng-if="availableNetworks.length">
                    <table class="choose-network-table">
                        <thead>
                            <tr>
                                <th class="plans">@Html.Sitecore().Field("Table Header - Plans")</th>
                                <th class="coverage">@Html.Sitecore().Field("Table Header - Coverage")</th>
                                <th class="devices">@Html.Sitecore().Field("Table Header - Devices")</th>
                                <th class="select-network">@Html.Sitecore().Field("Table Header - Get Started")</th>
                            </tr>
                        </thead>
                    </table>
                    @foreach (var network in Model.MobileNetworks)
                    {
                        @* Using idividual tabls and the wrapper so we can put the "Coming Soon" overlay over the Sprint table. Should combine back into one table when both networks launch. *@
                        <div class="choose-network-table-wrapper @Html.Raw(network.Value)">
                            <table class="choose-network-table">
                                <tbody>
                                    <tr ng-if="isAvailableNetwork('@network.Value')">
                                        <td class="plans">@Html.Raw(network.Description)</td>
                                        <td class="coverage">@Html.Raw(network.Coverage)</td>
                                        <td class="devices">@Html.Raw(network.Device)</td>
                                        <td class="select-network">
                                            @Html.Sitecore().Field("Text - Get Started").Format(new { price = @network.StartingPrice })
                                            <!--<button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'new')">@Html.Sitecore().Field("Button - Shop Devices")</button>
                                            <button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'existing')">@Html.Sitecore().Field("Button - Bring My Own Phone")</button>-->

                                            <button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'new')">@Html.Sitecore().Field("Button - Shop Devices")</button>
                                            <button type="button" ng-click="chooseNetwork('@Html.Raw(network.Value)', 'existing')">
                                                @Html.Sitecore().Field("Button - Get Started")
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @if (network.Value == "sprint")
                            {
                                <div class="overlay"></div>
                                <span class="text">Coming Soon</span>
                            }
                        </div>
                    }
                </div>
            </div>
        </article>
        <p class="footnotes" ng-if="availableNetworks.length">@Html.Sitecore().Field("Footnotes")</p>
    </section>
</div>