<div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
    <div class="wrapper">
        <h1>
            <span class="small block">@Html.Sitecore().Field("4 - Page Title")</span><br />
        </h1>
    </div>
</div>

@* Two-column layout for Complete Order *@
<section class="wrapper layout cols-2">
    <section>
        <article class="enrollment__box enrollment__complete-order">
            <header>
                <h1>@Html.Sitecore().Field("4 - Header - Complete Order")</h1>
                <p>@Html.Sitecore().Field("4 - Complete Order Description")</p>
            </header>
            <div class="content">
                <div class="plan-summary">
                    <div class="line-item clearfix">
                        <div class="description">
                            <h2>@Html.Sitecore().Field("4 - Header - Monthly Plan Cost")</h2>
                            <p>@Html.Sitecore().Field("4 - Unlimited Plan Details")</p>
                            <p><a href="">@Html.Sitecore().Field("4 - Plan Details Link Text")</a> | <a href="">@Html.Sitecore().Field("4 - Edit Plan Link Text")</a> | <a href="">@Html.Sitecore().Field("4 - Configure Data Link Text")</a></p>
                        </div>
                        <div class="rate">$399.00</div>
                    </div>
                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>@Html.Sitecore().Field("4 - Taxes and Other Fees Text")</h3>
                            <a href="">@Html.Sitecore().Field("4 - Show Breakdown Link Text")</a>
                        </div>
                        <div class="rate">$29</div>
                    </div>
                    <div class="plan-summary-image">
                        <i class="icon-plan-summary"></i>
                    </div>
                </div>
                <hr>
                <div class="phone-summary">
                    <div class="line-item clearfix">
                        <div class="description">
                            <span class="condition">Reconditioned</span>
                            <h2 class="model">Apple iPhone 5S </h2>
                            <span class="model">16B, Silver</span> <a href="">@Html.Sitecore().Field("4 - Edit Link Text")</a>
                        </div>
                    </div>
                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>@Html.Sitecore().Field("4 - Initial Activiation Fee Text")</h3>
                            <p>@Html.Sitecore().Field("4 - Activation Fee Description")</p>
                        </div>
                        <div class="rate">$39</div>
                    </div>
                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>@Html.Sitecore().Field("4 - Coverage Warranty Text")</h3>
                        </div>
                        <div class="rate">$19.00/mo</div>
                    </div>
                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>@Html.Sitecore().Field("4 - Shipping Text")</h3>
                        </div>
                        <div class="rate"></div>
                    </div>
                    <div class="phone-summary-image">
                        
                    </div>
                </div>
            </div>
            <footer>
                @Html.Sitecore().Field("4 - Total Due Now Text") $439.97
            </footer>
        </article>

        <form>
            <article class="enrollment__box enrollment__contact-info">
                <header>
                    <h1>@Html.Sitecore().Field("4 - Header - Contact Information")</h1>
                </header>
                <div class="content form">
                    <h3>@Html.Sitecore().Field("4 - Header - Personal Information")</h3>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - First Name")</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Last Name")</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Phone Number")</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Phone Type")</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Email Address")</label>
                            <input type="text">
                        </div>
                    </div>
                    <hr>
                    <h3>@Html.Sitecore().Field("4 - Header - Billing Address")</h3>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Address 1")</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Address 2")</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - City")</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - State")</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">@Html.Sitecore().Field("4 - Zip Code")</label>
                            <input type="text">
                        </div>
                    </div>
                    <hr>
                    <h3>@Html.Sitecore().Field("4 - Header - Shipping Address")</h3>
                    <label><input type="checkbox"> @Html.Sitecore().Field("4 - Same as Billing Address")</label>
                </div>
            </article>

            <article class="enrollment__box enrollment__payment-info">
                <header>
                    <h1>@Html.Sitecore().Field("4 - Header - Payment Information")</h1>
                </header>
                <div class="content">
                    <div class="payment-options" credit-card-payment="completeOrder.creditCard" data-val-if="true"></div>
                </div>
            </article>

            <article class="enrollment__box enrollment__terms-conditions">
                <header>
                    <h1>@Html.Sitecore().Field("4 - Header - Terms and Conditions")</h1>
                </header>
                <div class="content">
                    <p><label><input type="checkbox"> @Html.Sitecore().Field("4 - I Agree Stream")</label></p>
                    <p><textarea name="" id="" cols="30" rows="10"></textarea></p>
                    <p><label><input type="checkbox"> @Html.Sitecore().Field("4 - I Agree TCPA")</label></p>
                </div>
            </article>
            @Html.Sitecore().Field("4 - Footnotes")
            <div class="clearfix">
                <button type="button" class="plain plain-footer">@Html.Sitecore().Field("4 - Button - Cancel Enrollment")</button>
                <button type="button" class="pull-right">@Html.Sitecore().Field("4 - Button - Next")</button>
            </div>
        </form>
    </section>
</section>