@model StreamEnergy.DomainModels.MobileEnrollment.UserContext
@using TypedPhone = StreamEnergy.DomainModels.TypedPhone
@using StreamEnergy.DomainModels.MobileEnrollment

<div ng-if="mobileEnrollment.currentStep == 'complete-order'" ng-controller="MobileEnrollmentCompleteOrderCtrl">

    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column layout for Complete Order *@
    <section class="wrapper layout cols-2">
        <section>
            <article class="enrollment__box enrollment__complete-order">
                <header>
                    <h1>@Html.Sitecore().Field("Header - Complete Order")</h1>
                    <p>@Html.Sitecore().Field("Complete Order Description")</p>
                </header>
                <div class="content">
                    
                    <!--
                    <div class="cart-product clearfix" ng-repeat="item in cart.items">
                        <div class="description" ng-if="item.type == 'new'">
                            <div class="condition">{{ item.buyingOption.condition }}</div>
                            <div>{{ item.device.name }}</div>
                            <div class="options">{{ item.buyingOption.size }}, {{ item.buyingOption.color.value }}</div>
                            <a href="">@Html.Sitecore().Field("Edit Phone Link")</a>
                        </div>
                        <div class="description" ng-if="item.type == 'existing'">
                            <div>@Html.Sitecore().Field("Bring Your Own Device")</div>
                            <div class="details">{{ item.make }} {{ item.model }}</div>
                            <a href="">@Html.Sitecore().Field("Edit Phone Link")</a>
                        </div>
                        <div class="rate">{{ item.price | currency }}</div>
                        <div ng-if="item.warranty">
                            <div class="description">@Html.Sitecore().Field("Phone Warranty")</div>
                            <div class="rate">$9.95/mo</div>
                        </div>
                    </div>
                    -->

                    <div class="phone-summary" ng-repeat="item in cart.items">
                        <div class="line-item clearfix">
                            @*
                            <div class="description">
                                <!--<span class="condition">Reconditioned</span>-->
                                <h2>Bring Your Own Device</h2>
                                <span class="model">Apple iPhone 4S</span> <a href="">@Html.Sitecore().Field("Edit Link Text")</a>
                            </div>
                            *@
                            <div class="description" ng-if="item.type == 'new'">
                                <div class="condition">{{ item.buyingOption.condition }}</div>
                                <div>{{ item.device.name }}</div>
                                <div class="options">{{ item.buyingOption.size }}, {{ item.buyingOption.color.value }}</div>
                                <a href="">@Html.Sitecore().Field("Edit Phone Link")</a>
                            </div>
                            <div class="description" ng-if="item.type == 'existing'">
                                <h2>@Html.Sitecore().Field("Bring Your Own Device")</h2>
                                <div class="details">{{ item.make }} {{ item.model }}</div>
                                <a href="">@Html.Sitecore().Field("Edit Phone Link")</a>
                            </div>
                        </div>
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Initial Activation Fee Text")</h3>
                                <p class="note">@Html.Sitecore().Field("Activation Fee Description")</p>
                            </div>
                            <div class="rate">{{ item.activationFee | currency }}</div>
                        </div>
                        @*
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Coverage Warranty Text")</h3>
                            </div>
                            <div class="rate">$19.00/mo</div>
                        </div>
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Shipping Text")</h3>
                            </div>
                            <div class="rate"></div>
                        </div>
                        *@
                        <div class="phone-summary-image">

                        </div>
                    </div>
                    <hr />
                    <div class="plan-summary">
                        <div class="line-item clearfix">
                            <div class="description">
                                <h2>@Html.Sitecore().Field("Header - Monthly Plan Cost")</h2>
                                <p>@Html.Sitecore().Field("Text - Monthly Plan Details").Format(new { size = "{{ cart.dataPlan.baseData }}" })</p>
                                <p><a href="">@Html.Sitecore().Field("Edit Plan Link Text")</a></p>
                            </div>
                            <div class="rate">{{ mobileEnrollmentService.getProratedCost() | currency }}</div>
                        </div>
                        <div class="plan-summary-image">
                            <i class="icon-plan-summary"></i>
                        </div>
                    </div>
                </div>
                <footer>
                    @Html.Sitecore().Field("Total Due Now Text") <strong>{{ mobileEnrollmentService.getTotalDueToday() | currency }}</strong>
                </footer>
            </article>

            <article class="enrollment__box enrollment__complete-order">
                <div class="content">
                    <div class="plan-summary no-img">
                        <div class="line-item clearfix">
                            <div class="description">
                                <h2>@Html.Sitecore().Field("Header - Estimated Monthly Plan")</h2>
                                <p>@Html.Sitecore().Field("Text - Monthly Plan Details").Format(new { size = "{{ cart.dataPlan.data }}" })</p>
                                <p><a href="">@Html.Sitecore().Field("Edit Plan Link Text")</a></p>
                            </div>
                            <div class="rate">{{ cart.dataPlan.price | currency }}/mo</div>
                        </div>
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Tax and Other Fees Text")</h3>
                                <a href="">@Html.Sitecore().Field("Show Breakdown Link Text")</a>
                            </div>
                            <div class="rate">{{ mobileEnrollmentService.getTotalFees() | currency }}</div>
                        </div>
                        @*
                        <div class="line-item clearfix" ng-if="cart.dataPlan.additionalDataPrice">
                            <div class="description">
                                <h3>{{ cart.dataPlan.additionalData }}GB @Html.Sitecore().Field("Additional Data Text")</h3>
                            </div>
                            <div class="rate">+{{ cart.dataPlan.additionalDataPrice | currency }}/mo</div>
                        </div>
                        *@
                    </div>
                </div>
                <footer>
                    @Html.Sitecore().Field("Text - Estimated Monthly Bill") <strong>{{ mobileEnrollmentService.getEstimatedMonthlyTotal() | currency }}</strong>
                </footer>
            </article>

            <form data-val-bind-messages="validations" ng-submit="completeStep()">
                <article class="enrollment__box enrollment__contact-info">
                    <header>
                        <h1>@Html.Sitecore().Field("Header - Contact Information")</h1>
                    </header>
                    
                    <div class="content">
                        <h3>@Html.Sitecore().Field("Header - Personal Information")</h3>
                        <div class="group">
                            <div class="item group-col" @Html.Validation().ErrorClass(m => m.ContactInfo.Name.First)>
                                <label for="@Html.IdFor(m => m.ContactInfo.Name.First)">@Html.Sitecore().Field("First Name")</label>
                                @Html.TextBoxFor(m => m.ContactInfo.Name.First, new { ng_model = "ctrl.accountInformation.contactInfo.name.first" })
                                @Html.ValidationMessageFor(model => model.ContactInfo.Name.First)
                            </div>
                            <div class="item group-col" @Html.Validation().ErrorClass(m => m.ContactInfo.Name.Last)>
                                <label for="@Html.IdFor(m => m.ContactInfo.Name.Last)">@Html.Sitecore().Field("Last Name")</label>
                                @Html.TextBoxFor(m => m.ContactInfo.Name.Last, new { ng_model = "ctrl.accountInformation.contactInfo.name.last" })
                                @Html.ValidationMessageFor(model => model.ContactInfo.Name.Last)
                            </div>
                        </div>
                        <div class="group">
                            @using (var firstPhone = Html.ClientRepeater(m => m.ContactInfo.Phone, "0").Shortcut(m => (TypedPhone)m))
                            {
                                <div class="item group-col" @firstPhone.Validation().ErrorClass(m => m.Number)>
                                    <label for="@firstPhone.Fix(h => h.IdFor(m => m.Number))">@Html.Sitecore().Field("Phone Number")</label>
                                    @firstPhone.Fix(h => h.TextBoxFor(m => m.Number, new { type = "tel", ng_model = "ctrl.accountInformation.contactInfo.phone[0].number" }))
                                    @firstPhone.ValidationMessageFor(m => m.Number)
                                </div>
                                <div class="item group-col" @firstPhone.Validation().ErrorClass(m => m.Category)>
                                    <label for="@firstPhone.Fix(h => h.IdFor(m => m.Category))">@Html.Sitecore().Field("Phone Type")</label>
                                    @firstPhone.Fix(h => h.DropDownListFor(m => m.Category,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            ng_model = "ctrl.accountInformation.contactInfo.phone[0].category",
                                                            ng_options = "type.name as type.display for type in phoneTypes|filter:filter2|filter:filterCustomerType"
                                                        }))
                                    @firstPhone.ValidationMessageFor(m => ((TypedPhone)m).Category)
                                </div>
                            }
                        </div>
                        <div class="item" @Html.Validation().ErrorClass(m => m.ContactInfo.Email.Address)>
                            <label for="@Html.IdFor(m => m.ContactInfo.Email.Address)">@Html.Sitecore().Field("Email Address")</label>
                            @Html.TextBoxFor(m => m.ContactInfo.Email.Address, new { type = "email", ng_model = "ctrl.accountInformation.contactInfo.email.address" })
                            @Html.ValidationMessageFor(model => model.ContactInfo.Email.Address)
                        </div>

                        <hr />
                        
                        <h3>@Html.Sitecore().Field("Header - Billing Address")</h3>
                        <div>
                            @using (var billingAddress = Html.Shortcut(m => m.BillingAddress))
                            {
                                <div>
                                    <div class="group">
                                        <div class="item group-col" @(billingAddress.Validation().ErrorClass(m => m.Line1))>
                                            <label for="@billingAddress.Fix(h => h.IdFor(m => m.Line1))">@Html.Sitecore().Field("Address 1")</label>
                                            @billingAddress.Fix(h => h.TextBoxFor(m => m.Line1, new { data_val_if = "!ctrl.accountInformation.billingAddressSame", ng_model = "ctrl.accountInformation.billingAddress.line1" }))
                                            @billingAddress.ValidationMessageFor(m => m.Line1)
                                        </div>
                                        <div class="item group-col" @billingAddress.Validation().ErrorClass(m => m.Line2)>
                                            <label for="@billingAddress.Fix(h => h.IdFor(m => m.Line2))">@Html.Sitecore().Field("Address 2")</label>
                                            @billingAddress.Fix(h => h.TextBoxFor(m => m.Line2, new { data_val_if = "!ctrl.accountInformation.billingAddressSame", ng_model = "ctrl.accountInformation.billingAddress.line2" }))
                                            @billingAddress.ValidationMessageFor(m => m.Line2)
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" @billingAddress.Validation().ErrorClass(m => m.City)>
                                            <label for="@billingAddress.Fix(h => h.IdFor(m => m.City))">@Html.Sitecore().Field("City")</label>
                                            @billingAddress.Fix(h => h.TextBoxFor(m => m.City, new { data_val_if = "!ctrl.accountInformation.billingAddressSame", ng_model = "ctrl.accountInformation.billingAddress.city" }))
                                            @billingAddress.ValidationMessageFor(m => m.City)
                                        </div>
                                        <div class="item" @billingAddress.Validation().ErrorClass(m => m.StateAbbreviation)>
                                            <label for="@billingAddress.Fix(h => h.IdFor(m => m.StateAbbreviation))">@Html.Sitecore().Field("State")</label>
                                            @billingAddress.Fix(h => h.DropDownListFor(m => m.StateAbbreviation,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            data_val_if = "!ctrl.accountInformation.billingAddressSame",
                                                            ng_model = "ctrl.accountInformation.billingAddress.stateAbbreviation",
                                                            ng_options = "state.abbreviation as state.display for state in usStates"
                                                        }))
                                            @billingAddress.ValidationMessageFor(m => m.StateAbbreviation)
                                        </div>
                                        <div class="item zip-code" @billingAddress.Validation().ErrorClass(m => m.PostalCode5)>
                                            <label for="@billingAddress.Fix(h => h.IdFor(m => m.PostalCode5))">@Html.Sitecore().Field("Zip Code")</label>
                                            @billingAddress.Fix(h => h.TextBoxFor(m => m.PostalCode5, new { @class = "small", data_val_if = "!ctrl.accountInformation.billingAddressSame", ng_model = "ctrl.accountInformation.billingAddress.postalCode5" }))
                                            @billingAddress.ValidationMessageFor(m => m.PostalCode5)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                        <hr />

                        <h3>@Html.Sitecore().Field("Header - Shipping Address")</h3>
                        <div class="item">
                            <ul class="checkbox-list">
                                <li>
                                    <input type="checkbox" name="same-address-mailing" id="same-address-mailing" ng-model="accountInformation.shippingAddressSame" />
                                    <label for="same-address-mailing">@Html.Sitecore().Field("Same as Billing Address")</label>
                                </li>
                            </ul>
                        </div>
                        @using (var shippingAddress = Html.Shortcut(m => m.ShippingAddress))
                        {
                            <div ng-hide="accountInformation.shippingAddressSame">
                                <div class="group">
                                    <div class="item group-col" @(shippingAddress.Validation().ErrorClass(m => m.Line1))>
                                        <label for="@shippingAddress.Fix(h => h.IdFor(m => m.Line1))">@Html.Sitecore().Field("Address 1")</label>
                                        @shippingAddress.Fix(h => h.TextBoxFor(m => m.Line1, new { data_val_if = "!accountInformation.shippingAddressSame", ng_model = "accountInformation.shippingAddress.line1" }))
                                        @shippingAddress.ValidationMessageFor(m => m.Line1)
                                    </div>
                                    <div class="item group-col" @shippingAddress.Validation().ErrorClass(m => m.Line2)>
                                        <label for="@shippingAddress.Fix(h => h.IdFor(m => m.Line2))">@Html.Sitecore().Field("Address 2")</label>
                                        @shippingAddress.Fix(h => h.TextBoxFor(m => m.Line2, new { data_val_if = "!accountInformation.shippingAddressSame", ng_model = "accountInformation.shippingAddress.line2" }))
                                        @shippingAddress.ValidationMessageFor(m => m.Line2)
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item group-col" @shippingAddress.Validation().ErrorClass(m => m.City)>
                                        <label for="@shippingAddress.Fix(h => h.IdFor(m => m.City))">@Html.Sitecore().Field("City")</label>
                                        @shippingAddress.Fix(h => h.TextBoxFor(m => m.City, new { data_val_if = "!accountInformation.shippingAddressSame", ng_model = "accountInformation.shippingAddress.city" }))
                                        @shippingAddress.ValidationMessageFor(m => m.City)
                                    </div>
                                    <div class="item" @shippingAddress.Validation().ErrorClass(m => m.StateAbbreviation)>
                                        <label for="@shippingAddress.Fix(h => h.IdFor(m => m.StateAbbreviation))">@Html.Sitecore().Field("State")</label>
                                        @shippingAddress.Fix(h => h.DropDownListFor(m => m.StateAbbreviation,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            data_val_if = "!accountInformation.shippingAddressSame",
                                                            ng_model = "accountInformation.shippingAddress.stateAbbreviation",
                                                            ng_options = "state.abbreviation as state.display for state in usStates"
                                                        }))
                                        @shippingAddress.ValidationMessageFor(m => m.StateAbbreviation)
                                    </div>
                                    <div class="item zip-code" @shippingAddress.Validation().ErrorClass(m => m.PostalCode5)>
                                        <label for="@shippingAddress.Fix(h => h.IdFor(m => m.PostalCode5))">@Html.Sitecore().Field("Zip Code")</label>
                                        @shippingAddress.Fix(h => h.TextBoxFor(m => m.PostalCode5, new { @class = "small", data_val_if = "!accountInformation.shippingAddressSame", ng_model = "accountInformation.shippingAddress.postalCode5" }))
                                        @shippingAddress.ValidationMessageFor(m => m.PostalCode5)
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </article>

                <article class="enrollment__box enrollment__business-info">
                    <header>
                        <h1>@Html.Sitecore().Field("Header - Business Information")</h1>
                    </header>
                    <div class="content">
                        <p>@Html.Sitecore().Field("Text - Business Information")</p>
                        <div class="group">
                            <div class="item group-col">
                                <label>@Html.Sitecore().Field("Label - Name")</label>
                                <input type="text" />
                                <span class="note">@Html.Sitecore().Field("Note - Name")</span>
                            </div>
                            <div class="item group-col">
                                <label>@Html.Sitecore().Field("Label - Business Name")</label>
                                <input type="text" />
                                <span class="note">@Html.Sitecore().Field("Note - Business Name")</span>
                            </div>
                        </div>
                        <hr />
                        <div class="item">
                            <label>@Html.Sitecore().Field("Federal Tax Classification")</label>
                            <ul class="checkbox-list inline">
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - Individual")</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - C Corporation")</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - S Corporation")</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - Partnership")</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - Trust Estate")</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - Limited Liability Company")</label>
                                    <select></select>
                                </li>
                                <li>
                                    <input type="checkbox" name="taxClassification" /> <label>@Html.Sitecore().Field("Label - Other")</label>
                                    <input type="text" />
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <label>@Html.Sitecore().Field("Text - Exemptions")</label>
                            <ul class="checkbox-list">
                                <li>
                                    <input type="checkbox" name="exemptions" /> <label>@Html.Sitecore().Field("Label - Exempt Payee Code")</label>
                                    <input type="text" />
                                </li>
                                <li>
                                    <input type="checkbox" name="exemptions" /> <label>@Html.Sitecore().Field("Label - Exempt From FATCA")</label>
                                    <input type="text" />
                                </li>
                            </ul>
                        </div>
                        <hr />

                        <h3>@Html.Sitecore().Field("Header - Business Address")</h3>
                        <div class="item">
                            <ul class="checkbox-list">
                                <li>
                                    <input type="checkbox" name="same-address-business" id="same-address-business" ng-model="accountInformation.businessAddressSame" />
                                    <label for="same-address-business">@Html.Sitecore().Field("Same as Billing Address")</label>
                                </li>
                            </ul>
                        </div>
                        @using (var businessAddress = Html.Shortcut(m => m.BusinessAddress))
                        {
                            <div ng-hide="accountInformation.businessAddressSame">
                                <div class="group">
                                    <div class="item group-col" @(businessAddress.Validation().ErrorClass(m => m.Line1))>
                                        <label for="@businessAddress.Fix(h => h.IdFor(m => m.Line1))">@Html.Sitecore().Field("Address 1")</label>
                                        @businessAddress.Fix(h => h.TextBoxFor(m => m.Line1, new { data_val_if = "!accountInformation.businessAddressSame", ng_model = "accountInformation.businessAddress.line1" }))
                                        @businessAddress.ValidationMessageFor(m => m.Line1)
                                    </div>
                                    <div class="item group-col" @businessAddress.Validation().ErrorClass(m => m.Line2)>
                                        <label for="@businessAddress.Fix(h => h.IdFor(m => m.Line2))">@Html.Sitecore().Field("Address 2")</label>
                                        @businessAddress.Fix(h => h.TextBoxFor(m => m.Line2, new { data_val_if = "!accountInformation.businessAddressSame", ng_model = "accountInformation.businessAddress.line2" }))
                                        @businessAddress.ValidationMessageFor(m => m.Line2)
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="item group-col" @businessAddress.Validation().ErrorClass(m => m.City)>
                                        <label for="@businessAddress.Fix(h => h.IdFor(m => m.City))">@Html.Sitecore().Field("City")</label>
                                        @businessAddress.Fix(h => h.TextBoxFor(m => m.City, new { data_val_if = "!accountInformation.businessAddressSame", ng_model = "accountInformation.businessAddress.city" }))
                                        @businessAddress.ValidationMessageFor(m => m.City)
                                    </div>
                                    <div class="item" @businessAddress.Validation().ErrorClass(m => m.StateAbbreviation)>
                                        <label for="@businessAddress.Fix(h => h.IdFor(m => m.StateAbbreviation))">@Html.Sitecore().Field("State")</label>
                                        @businessAddress.Fix(h => h.DropDownListFor(m => m.StateAbbreviation,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            data_val_if = "!accountInformation.businessAddressSame",
                                                            ng_model = "accountInformation.businessAddress.stateAbbreviation",
                                                            ng_options = "state.abbreviation as state.display for state in usStates"
                                                        }))
                                        @businessAddress.ValidationMessageFor(m => m.StateAbbreviation)
                                    </div>
                                    <div class="item zip-code" @businessAddress.Validation().ErrorClass(m => m.PostalCode5)>
                                        <label for="@businessAddress.Fix(h => h.IdFor(m => m.PostalCode5))">@Html.Sitecore().Field("Zip Code")</label>
                                        @businessAddress.Fix(h => h.TextBoxFor(m => m.PostalCode5, new { @class = "small", data_val_if = "!accountInformation.businessAddressSame", ng_model = "accountInformation.businessAddress.postalCode5" }))
                                        @businessAddress.ValidationMessageFor(m => m.PostalCode5)
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="item">
                            <label>@Html.Sitecore().Field("Label - List Account Numbers")</label>
                            <input type="text" />
                        </div>

                        <hr />
                        
                        <h3>@Html.Sitecore().Field("Header - Taxpayer Identification Number")</h3>
                        @Html.Sitecore().Field("Text - Taxpayer Identification Number")
                        
                        <hr />

                        <div class="group or-sep">
                            <div class="item group-col">
                                <input type="radio" name="tin" id="tin-ein" />
                                <label for="tin-ein">@Html.Sitecore().Field("Label - Employer Identification Number")</label>
                                <input type="text" />
                                <span class="note">@Html.Sitecore().Field("Note - Employer Identification Number")</span>
                            </div>
                            <div class="item group-col">
                                <input type="radio" name="tin" id="tin-ssn" />
                                <label for="tin-ssn">@Html.Sitecore().Field("Label - Social Security Number")</label>
                                <input type="text" />
                                <span class="note">@Html.Sitecore().Field("Note - Social Security Number")</span>
                            </div>
                        </div>
                        <hr />
                        <h3>@Html.Sitecore().Field("Header - Certification")</h3>
                        <div class="terms-agreement">
                            <div class="item">
                                <ul class="checkbox-list">
                                    <li>
                                        <input type="checkbox" id="certification" /> <label for="certification">@Html.Sitecore().Field("Label - Certification")</label>
                                    </li>
                                </ul>
                                <div class="terms">
                                    @Html.Sitecore().Field("Text - Certification")
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="group">
                            <div class="item group-col">
                                <label>@Html.Sitecore().Field("Label - Signature") <a href="#" tooltip="@Html.Sitecore().Field("Signature Tooltip")"><i class="icon-tooltip"></i></a></label>
                                <div class="signature">@Html.Sitecore().Field("Text - Add Signature")</div>
                                <ul class="checkbox-list">
                                    <li>
                                        <input type="checkbox" id="signatory" /> <label for="signatory">@Html.Sitecore().Field("Label - Signatory")</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="item group-col">
                                <label>@Html.Sitecore().Field("Label - Date")</label>
                                Oct 14, 2014
                            </div>
                        </div>
                    </div>
                </article>

                @*
                <article class="enrollment__box enrollment__payment-info">
                    <header>
                        <h1>@Html.Sitecore().Field("Header - Payment Information")</h1>
                    </header>
                    <div class="content">
                        <div class="payment-options" credit-card-payment="completeOrder.creditCard" data-val-if="true"></div>
                    </div>
                </article>
                *@

                <article class="enrollment__box enrollment__terms-conditions">
                    <header>
                        <h1>@Html.Sitecore().Field("Header - Terms and Conditions")</h1>
                    </header>
                    <div class="content">
                        <div class="terms-agreement">
                            <div class="item">
                                <ul class="checkbox-list">
                                    <li>
                                        <input type="checkbox" id="stream-terms" /> <label for="stream-terms">@Html.Sitecore().Field("I Agree Stream")</label>
                                    </li>
                                    <li>
                                        <div class="terms">
                                            @Html.Sitecore().Field("Text - Certification")
                                        </div>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="tcpa-terms" /> <label for="tcpa-terms">@Html.Sitecore().Field("I Agree TCPA")</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </article>
                
                <p</p>@Html.Sitecore().Field("Footnotes")
                
                <div class="clearfix">
                    <button type="button" class="plain plain-footer">@Html.Sitecore().Field("Button - Cancel Enrollment")</button>
                    <button type="submit" class="pull-right" ng-click="setCurrentStep('order-confirmation');">@Html.Sitecore().Field("Button - Place Order")</button>
                </div>
            </form>
        </section>
        <aside>
            <div ng-include src="'enrollment-order-summary'"></div>
        </aside>
    </section>
</div>