@{
    var mobileSettings = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Settings/Mobile Enrollment Options");
    var showSprint = !String.IsNullOrEmpty(mobileSettings.Fields["Sprint Buy Phone"].Value) || !String.IsNullOrEmpty(mobileSettings.Fields["Sprint BYOD"].Value);
    var item = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Components/Shared/Coverage Map");
    var dataCalculator = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Components/Marketing/Mobile/Mobile Usage Calculator");
}

<div id="phoneFlowPlans" class="enrollment" ng-show="enrollmentStepsService.isStepVisible('phoneFlowPlans')" ng-controller="MobileEnrollmentConfigureDataCtrl" ng-init="setTimeRemaining('phoneFlowPlans', '@Html.Sitecore().Field("Remaining Minutes Number")'); previousServiceProviders = @(Html.Action("PreviousServiceProviders", "MobileEnrollment").ToHtmlString()); mobileEnrollmentSettings = @(Html.Action("MobileEnrollmentSettings", "Data").ToHtmlString())">
    @Html.Partial("~/Views/Components/Mobile Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.MobileEnrollment.ProgressBar { StepNumber = 2, StepTextField = "Step 2 Description Text" })
    @* Two-column layout for Configure Data *@
    <div class="layout plan-selection">
        <div class="wrapper cols-2">
            <section>
                <article class="enrollment__box enrollment__configure-data">
                    <header ng-hide="showChangeLocation">
                        <div>
                            <h1 class="success-message">@Html.Sitecore().Field("Congratulations")</h1>
                            <div compile="deviceResponseMessage"></div>
                            @Html.Sitecore().Field("Eligible Device Message")
                            <div ng-if="phoneOptions.foreignDevice">
                                @Html.Sitecore().Field("Foreign Device Message")
                            </div>
                        </div>
                    </header>
                    <form name="configureData" data-val-bind-messages="validations" ng-submit="completeStep(false)" ng-hide="showChangeLocation">
                        <div class="content bring-your-own form">
                            <div class="plan-error" ng-show="excludedStates">
                                <span>@Html.Sitecore().Field("Location Unavailable")</span>
                            </div>
                            <div class="plan-error" ng-show="zipCodeInvalid">
                                @Html.Sitecore().Field("Invalid Zip Code Message")
                            </div>
                            <div class="item" ng-hide="excludedStates">
                                <div class="btn-group-options my-device-container">
                                    <i class="icon-my-device"></i>
                                    <label class="my-device">@Html.Sitecore().Field("My Device")</label>
                                    <div class="edit-remove">
                                        <a href="" ng-click="editDevice(true)">@Html.Sitecore().Field("Edit")</a> | <a href="" ng-click="editDevice(false)">@Html.Sitecore().Field("Remove")</a>
                                    </div>
                                    <p class="IMEI">
                                        <span class="heading">@Html.Sitecore().Field("MEID IMEI Number")</span> <span id="DeviceID">{{ phoneOptions.imeiNumber }}</span>
                                    </p>
                                </div>
                                <div class="item select-phone-type" ng-show="phoneOptions.showIccid">
                                    <hr />
                                    <label>
                                        @Html.Sitecore().Field("Select Phone Type")
                                    </label>
                                    <div class="btn-group btn-group-options">
                                        <a class="button btn-phone-type" ng-model="phoneOptions.phoneOS" ng-click="phoneType='Apple'" btn-radio="'Apple'" data-val="true" data-val-required data-val-if="phoneOptions.showIccid">
                                            <i class="icon-apple"></i>
                                            @Html.Sitecore().Field("Apple")
                                        </a>
                                        <a class="button btn-phone-type" ng-model="phoneOptions.phoneOS" ng-click="phoneType='Android'" btn-radio="'Android'" data-val="true" data-val-required data-val-if="phoneOptions.showIccid">
                                            <i class="icon-android"></i>
                                            @Html.Sitecore().Field("Android")
                                        </a>
                                        <a class="button btn-phone-type" ng-model="phoneOptions.phoneOS" ng-click="phoneType='Other'" btn-radio="'Other'" data-val="true" data-val-required data-val-if="phoneOptions.showIccid">
                                            @Html.Sitecore().Field("Other")
                                        </a>
                                    </div>
                                </div>
                                <div class="item verify-your-ICCID" ng-show="phoneOptions.showIccid" ng-class="{ disabled : phoneOptions.showIccid && phoneOptions.phoneOS == null }">
                                    <hr />
                                    <div class="label-and-description">
                                        <label>
                                            @Html.Sitecore().Field("Header - ICCID Number")
                                        </label>
                                        <p class="label-description">@Html.Sitecore().Field("Text - ICCID Number Note")</p>
                                    </div>
                                    <div class="btn-group-options iccid" data-val-error="iccid">
                                        <div class="label" ng-class="{ disabled : phoneOptions.missingIccid }">@Html.Sitecore().Field("Label - ICCID Number")</div>
                                        <a class="what-is-this" href="" ng-click="showModal('instructions/iccid')">@Html.Sitecore().Field("What is this Text")</a>
                                        <input type="text" name="iccid" ng-disabled="phoneOptions.missingIccid" ng-model="phoneOptions.iccidNumber" data-val="true" data-val-required data-val-regex data-val-regex-pattern="^(8901)(120|490)" data-val-if="phoneOptions.showIccid && !phoneOptions.missingIccid" />
                                        <p ng-if="configureData.iccid.$error.regex && !configureData.iccid.suppressValidationMessages">@Html.Sitecore().Field("ICCID Not Valid")</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div>
                                        <label><input type="checkbox" ng-model="phoneOptions.missingIccid" /> @Html.Sitecore().Field("I dont have ICCID")</label>
                                        <div class="device-error" ng-show="phoneOptions.missingIccid && phoneOptions.phoneOS != 'Apple'">
                                            @Html.Sitecore().Field("ICC Error Message")
                                        </div>
                                        <div class="device-error" ng-show="iccidInvalid && phoneOptions.phoneOS != 'Apple' && !phoneOptions.missingIccid">
                                            @Html.Sitecore().Field("ICC Invalid Message")
                                        </div>
                                        <div class="device-error" ng-show="iccidInvalid && phoneOptions.phoneOS == 'Apple' && !phoneOptions.missingIccid">
                                            @Html.Sitecore().Field("ICC Invalid Message Apple")
                                        </div>
                                        <div class="missing-iccid" ng-show="phoneOptions.missingIccid  && phoneOptions.phoneOS == 'Apple'">
                                            @Html.Sitecore().Field("ICC Activation Message")
                                        </div>
                                    </div>
                                </div>
                                <div class="item phone-number" ng-class="{ disabled : phoneNumberDisabled() }">
                                    <hr />
                                    <div class="label-and-description">
                                        <label>
                                            @Html.Sitecore().Field("Phone Number")<br />
                                        </label>
                                        <p class="label-description">@Html.Sitecore().Field("Phone Number Description")</p>
                                    </div>
                                    <div class="btn-group btn-group-options">
                                        <button type="button" class="button btn-phone-number" ng-model="phoneOptions.transferInfo.type" ng-disabled="phoneNumberDisabled()" btn-radio="'new'" data-val="true" data-val-required ng-change="phoneOptions.transferInfo.value = ''">@Html.Sitecore().Field("Assign New Number")</button>
                                        <button type="button" class="button btn-phone-number" ng-model="phoneOptions.transferInfo.type" ng-disabled="phoneNumberDisabled()" btn-radio="'existing'" data-val="true" data-val-required ng-change="phoneOptions.transferInfo.value = ''">@Html.Sitecore().Field("Transfer My Number")</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="item transfer-number" ng-if="phoneOptions.transferInfo.type == 'existing'">
                                    <hr class="content-divider" />
                                    <div class="notice alert" ng-if="'@Html.Sitecore().Field("Transfer Alert").ToString().Length' != '0'">
                                        @Html.Sitecore().Field("Transfer Alert")
                                    </div>
                                    <div class="group transfer-header">
                                        @Html.Sitecore().Field("Transfer Header")
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" data-val-error="TransferInfo.PhoneNumber">
                                            <label>@Html.Sitecore().Field("Label - Enter Existing Number")</label>
                                            <input name="TransferInfo.PhoneNumber" type="text" ng-model="phoneOptions.transferInfo.phoneNumber" data-val="true" data-val-regex data-val-regex-pattern="^\d{3}[^\d]?\d{3}[^\d]?\d{4}$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                        </div>
                                        <div class="item group-col" data-val-error="TransferInfo.CurrentProvider">
                                            <label>@Html.Sitecore().Field("Label - Previous Service Provider")</label>
                                            <select name="TransferInfo.CurrentProvider" ng-model="phoneOptions.transferInfo.currentProvider" ng-options="provider.name as provider.display for provider in previousServiceProviders" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required></select>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" data-val-error="TransferInfo.AccountNumber">
                                            <label>@Html.Sitecore().Field("Label - Current Account Number")</label>
                                            <input name="TransferInfo.AccountNumber" type="text" ng-model="phoneOptions.transferInfo.accountNumber" data-val="true" data-val-regex data-val-regex-pattern="^\d*$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                        </div>
                                        <div class="item group-col" data-val-error="TransferInfo.Password">
                                            <label>@Html.Sitecore().Field("Label - Current PIN")</label>
                                            <input name="TransferInfo.Password" type="password" ng-model="phoneOptions.transferInfo.password" data-val="true" data-val-regex data-val-regex-pattern="^.+$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - Current PIN")</div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" data-val-error="TransferInfo.FirstName">
                                            <label>@Html.Sitecore().Field("Label - First Name")</label>
                                            <input name="TransferInfo.FirstName" type="text" ng-model="phoneOptions.transferInfo.firstName" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - First Name")</div>
                                        </div>
                                        <div class="item group-col" data-val-error="TransferInfo.LastName">
                                            <label>@Html.Sitecore().Field("Label - Last Name")</label>
                                            <input name="TransferInfo.LastName" type="text" ng-model="phoneOptions.transferInfo.lastName" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - Last Name")</div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item street-number" data-val-error="TransferInfo.BillingAddressStreetNumber">
                                            <label>@Html.Sitecore().Field("Label - Street Number")</label>
                                            <input name="TransferInfo.BillingAddressStreetNumber" type="text" ng-model="phoneOptions.transferInfo.billingAddressStreetNumber" data-val="true" data-val-regex data-val-regex-pattern="^\d*$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - Street Number")</div>
                                        </div>
                                        <div class="item street-name" data-val-error="TransferInfo.BillingAddressStreetName">
                                            <label>@Html.Sitecore().Field("Label - Street Name")</label>
                                            <input name="TransferInfo.BillingAddressStreetName" type="text" ng-model="phoneOptions.transferInfo.billingAddressStreetName" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - Street Name")</div>
                                        </div>
                                        <div class="item" data-val-error="TransferInfo.BillingAddressStreetDirection">
                                            <label>@Html.Sitecore().Field("Label - Street Direction")</label>
                                            @Html.Sitecore().Field("Street Direction Select")
                                            <div class="help-text">@Html.Sitecore().Field("Help - Street Direction")</div>
                                        </div>
                                        <div class="item street-line-2" data-val-error="TransferInfo.BillingAddressLine2">
                                            <label>@Html.Sitecore().Field("Label - Address Line 2")</label>
                                            <input name="TransferInfo.BillingAddressLine2" type="text" ng-model="phoneOptions.transferInfo.billingAddressLine2" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'new' && phoneOptions.transferInfo.type == 'existing'" />
                                            <div class="help-text">@Html.Sitecore().Field("Help - Address Line 2")</div>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" data-val-error="TransferInfo.BillingAddressCity">
                                            <label>@Html.Sitecore().Field("Label - City")</label>
                                            <input name="TransferInfo.BillingAddressCity" type="text" ng-model="phoneOptions.transferInfo.billingAddressCity" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                        </div>
                                        <div class="item" data-val-error="TransferInfo.BillingAddressState">
                                            <label>@Html.Sitecore().Field("Label - State")</label>
                                            <select name="TransferInfo.BillingAddressState" ng-model="phoneOptions.transferInfo.billingAddressState" data-val="true" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" ng-options="state.abbreviation as state.display for state in usStates">
                                                <option value="">@Html.Sitecore().Field("Text - Please Choose")</option>
                                            </select>
                                        </div>
                                        <div class="item zip-code" data-val-error="TransferInfo.BillingAddressZip">
                                            <label>@Html.Sitecore().Field("Label - Zip")</label>
                                            <input name="TransferInfo.BillingAddressZip" class="small" type="text" ng-model="phoneOptions.transferInfo.billingAddressZip" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{5}$" data-val-if="mobileEnrollment.phoneTypeTab == 'existing' && phoneOptions.transferInfo.type == 'existing'" data-val-required="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="item plan-select" ng-show="currentMobileLocationInfo().offerInformationByType.length > 0 && !excludedStates && !zipCodeInvalid">
                                    <hr />
                                    <div class="label">
                                        <label>@Html.Sitecore().Field("Text - Select Your Rate Plan")</label>
                                        <span class="location-text">
                                            @Html.Sitecore().Field("It looks like youre in") {{ geoLocation.city }}, {{ geoLocation.state }} {{ geoLocation.postalCode5 }} <a href="" ng-click="changeLocation()">@Html.Sitecore().Field("Change Text")</a>
                                        </span>
                                    </div>
                                    <div>
                                        <div data-ng-repeat="typedOffers in currentMobileLocationInfo().offerInformationByType" ng-include src="'indPlanList/' + typedOffers.key"></div>
                                    </div>
                                    <div class="button full" ng-show="!showPlanDetails" ng-click="showPlanDetails = true">
                                        <a>@Html.Sitecore().Field("Show Plan Details")</a>
                                    </div>
                                    <div class="plan-details" ng-show="showPlanDetails">
                                        <div class="open collapsed">
                                            @Html.Sitecore().Field("Individual Plans Details")
                                            <div class="footnotes">
                                                @Html.Sitecore().Field("Footnotes")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button full hideDetails" ng-click="showPlanDetails = false" ng-show="showPlanDetails">
                                        <a>@Html.Sitecore().Field("Hide Plan Details")</a>
                                    </div>
                                    <div class="disclaimer">
                                        <p>@Html.Sitecore().Field("Text - Stream International Plus Disclaimer")</p>
                                    </div>
                                </div>
                                <div class="line-summary clearfix">
                                    <div class="not-cost">
                                        <label>@Html.Sitecore().Field("Text - Line Summary")</label>
                                        <div ng-if="selectedPlan.id">
                                            <p class="description">@Html.Sitecore().Field("Text - Individual Plan plus Data")</p>
                                            <div class="international-calling clearfix">
                                                <p class="includes-international" ng-show="selectedPlan.includesInternational">
                                                    <i class="icon-international-phone"></i>
                                                    @Html.Sitecore().Field("Text - Includes Stream International")
                                                    <span ng-show="selectedPlan.data == 2 || selectedPlan.data == 4"> - <a href="" ng-click="toggleInternational()" >@Html.Sitecore().Field("Remove")</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="monthy-cost">
                                        <p>@Html.Sitecore().Field("Text - Monthly Cost")</p>
                                        <div ng-if="selectedPlan.id">
                                            <p class="cost">{{selectedPlan.rates[0].rateAmount | currency}}/mo</p>
                                        </div>
                                    </div>
                                    <div class="get-international clearfix" ng-show="selectedPlan.includesInternational == false">
                                        <i class="icon-international-phone-large"></i>
                                        <div class="text">
                                            <p class="title">@Html.Sitecore().Field("Text - Stream International")</p>
                                            <p>@Html.Sitecore().Field("Text - Unlimited for 499 mo")</p>
                                            <a href="" ng-click="showModal('internationalDetails')">@Html.Sitecore().Field("Link - Show Details")</a>
                                        </div>
                                        <button class="button" type="button" ng-click="toggleInternational()">@Html.Sitecore().Field("Button - Add for 499 mo")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="clearfix" ng-hide="showChangeLocation">
                            <a class="back" href="" ng-click="editDevice(true)">@Html.Sitecore().Field("Link - Back")</a>
                            <button class="button" ng-submit ng-disabled="configureData.$invalid">@Html.Sitecore().Field("Button - Check Out")</button>
                            <button class="button add-line" type="button" ng-click="showModal('add-another-line')" ng-disabled="configureData.$invalid">@Html.Sitecore().Field("Button - Add Another Line")</button>
                        </footer>
                    </form>
                    <div class="location-section clearfix" ng-show="showChangeLocation">
                        <form name="lookupZipForm" class="location-input">
                            <span>@Html.Sitecore().Field("Enter Zip Code Message")</span>
                            <input type="text" name="zipCode" data-val="true" data-val-regex data-val-regex-pattern="^[0-9]{5}$" data-val-if="showChangeLocation" data-val-required="" class="zip-code" ng-model="postalCode5" ng-keyup="$event.keyCode == 13 && lookupZip()">
                            <a href="" ng-click="lookupZip()">@Html.Sitecore().Field("Go Text")</a>
                        </form>
                        <a href="" class="view-coverage" ng-click="showCoverageMapOverlay()">@Html.Sitecore().Field("View Coverage Text")</a>
                    </div>
                </article>
            </section>
            <aside>
                <div ng-include src="'cart-template'"></div>
            </aside>
        </div>
    </div>
</div>


<div class="coverage-map-container hidden-map" ng-if="serviceType === 'mob'">
    <div class="inner">
        <div class="modal-header">
            <a class="close" onclick="$('.coverage-map-container').addClass('hidden-map')">X</a>
        </div>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCKwR5gbRNgWMZ84ZxGFPh1Jpvm5nMRuRY&libraries=places"></script>
        <div class="wrapper">
            <article class="coverage-map" ng-controller="MobileEnrollmentConfigureDataCtrl">
                <div class="form">
                    <div class="item">
                        <label for="gmap-search-input">@item.Fields["Enter Zip Code"].Value</label>
                        <div id="gmap-search"></div>
                    </div>
                </div>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events" control="map.control">
                    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="'gmap-search'"></ui-gmap-search-box>
                </ui-gmap-google-map>
                <ul class="layer-toggle">
                    <li>
                        <input type="checkbox" id="sprint_voice" ng-model="layers.sprint_voice_roam" /> <label for="sprint_voice">@item.Fields["Voice"].Value</label>
                    </li>
                    <li>
                        <input type="checkbox" id="sprint_data" ng-model="layers.sprint_data_roam" /> <label for="sprint_data">@item.Fields["Data"].Value</label>
                    </li>
                    <li>
                        <input type="checkbox" id="sprint_lte" ng-model="layers.sprint_lte" /> <label for="sprint_lte">@item.Fields["LTE"].Value</label>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>
<div class="coverage-map-fade" ng-if="serviceType === 'mob'"></div>

<script type="text/ng-template" id="indPlanList/Mobile">
    <div class="btn-group btn-group-options mobile-plans">
        <div class="button" ng-class="{selected: selectedPlan.data === plan.data, 'is-recommended': plan.recommended}" ng-click="selectPlan(plan.id)" ng-repeat="plan in typedOffers.value.availableOffers | filter:filterPlans | orderBy:'sortOrder'">
            <div class="size-speed">
                <div class="size"><span ng-class="{ number : plan.data != 'Unlimited' && plan.data != 'Ilimitado' }">{{ plan.data }}</span><span ng-if="plan.data != 'Unlimited' && plan.data != 'Ilimitado'">@Html.Sitecore().Field("GB Text")</span></div>
                <div class="speed">@Html.Sitecore().Field("Text - 4G LTE Data")</div>
            </div>
            <hr />
            <div class="price">
                <div class="cost">${{plan.rates[0].rateAmount}}</div>
                <div class="duration">@Html.Sitecore().Field("Per Month Text")</div>
            </div>
            <div class="extra-info">
                <span ng-if="plan.includesInternational">
                    <i class="icon-international-phone"></i>
                    @Html.Sitecore().Field("Text - Stream International")
                </span>
            </div>
            <div class="selection">
                <hr />
                <button class="button" type="button" ng-show="selectedPlan.data != plan.data">@Html.Sitecore().Field("Select Text")</button>
                <div ng-show="selectedPlan.data == plan.data" class="check"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="indPlanList/TexasElectricity">
</script>
<script type="text/ng-template" id="indPlanList/GeorgiaGas">
</script>
<script type="text/ng-template" id="indPlanList/Protective">
</script>
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" id="gmap-search-input" placeholder="" />
</script>

<script type="text/ng-template" id="internationalDetails">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - International Details")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - International Details")
        </div>
    </div>
</script>
<script type="text/ng-template" id="add-another-line">
    <div class="mobile-enrollment-modal add-another-line">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Heading")</h2>
        </div>
        <div class="modal-body">@Html.Sitecore().Field("Body Content")</div>
        <div class="modal-footer clearfix">
            <a href="" class="button primary" ng-click="$dismiss(); completeStep(true)">@Html.Sitecore().Field("Button - Add Another Line")</a>
            <a href="" class="button secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Button - Go Back")</a>
        </div>
    </div>
</script>
