<div ng-if="mobileEnrollment.currentStep == 'configure-data'" ng-controller="MobileEnrollmentConfigureDataCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("3 - Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column layout for Configure Data *@
    <section class="wrapper layout cols-2">
        <section>
            <article class="enrollment__box enrollment__configure-data">
                <header>
                    <h1>@Html.Sitecore().Field("3 - Header - Select Data Amount")</h1>
                </header>
                <div class="content">
                    <h3 class="mobile-plans-header">@Html.Sitecore().Field("3 - Header - Choose Data Amount")</h3>

                    <div class="btn-group btn-group-options mobile-plans">
                        <div class="button" ng-model="phoneOptions.plan" btn-radio="'plan1'">
                            <p>
                                <span class="size">500 MB</span>
                                <span class="price">$39/mo</span>
                            </p>
                            <hr />
                            <ul class="details">
                                <li><i class="icon-streaming-music"></i><span>@Html.Sitecore().Field("3 - Streaming Music Text")<br /><span class="time">4 hours</span></span></li>
                                <li><i class="icon-streaming-movies"></i><span>@Html.Sitecore().Field("3 - Streaming Movies Text")<br /><span class="time">3 hours</span></span></li>
                                <li><i class="icon-web-browsing"></i><span>@Html.Sitecore().Field("3 - Web Browsing Text")<br /><span class="time">3 hours</span></span></li>
                            </ul>
                        </div>
                        <div class="button is-recommended" ng-model="phoneOptions.plan" btn-radio="'plan2'">
                            <span class="recommended">Recommended</span>
                            <p>
                                <span class="size">2.5 GB</span>
                                <span class="price">$49/mo</span>
                            </p>
                            <hr />
                            <ul class="details">
                                <li><i class="icon-streaming-music"></i><span>@Html.Sitecore().Field("3 - Streaming Music Text")<br /><span class="time">8 hours</span></span></li>
                                <li><i class="icon-streaming-movies"></i><span>@Html.Sitecore().Field("3 - Streaming Movies Text")<br /><span class="time">6 hours</span></span></li>
                                <li><i class="icon-web-browsing"></i><span>@Html.Sitecore().Field("3 - Web Browsing Text")<br /><span class="time">6 hours</span></span></li>
                            </ul>
                        </div>
                        <div class="button" ng-model="phoneOptions.plan" btn-radio="'plan3'">
                            <p>
                                <span class="size">5 GB</span>
                                <span class="price">$59/mo</span>
                            </p>
                            <hr />
                            <ul class="details">
                                <li><i class="icon-streaming-music"></i><span>@Html.Sitecore().Field("3 - Streaming Music Text")<br /><span class="time">12 hours</span></span></li>
                                <li><i class="icon-streaming-movies"></i><span>@Html.Sitecore().Field("3 - Streaming Movies Text")<br /><span class="time">9 hours</span></span></li>
                                <li><i class="icon-web-browsing"></i><span>@Html.Sitecore().Field("3 - Web Browsing Text")<br /><span class="time">9 hours</span></span></li>
                            </ul>
                        </div>
                        <div class="button" ng-model="phoneOptions.plan" btn-radio="'plan4'">
                            <p>
                                <span class="size">7.5 GB</span>
                                <span class="price">$69/mo</span>
                            </p>
                            <hr />
                            <ul class="details">
                                <li><i class="icon-streaming-music"></i><span>@Html.Sitecore().Field("3 - Streaming Music Text")<br /><span class="time">20 hours</span></span></li>
                                <li><i class="icon-streaming-movies"></i><span>@Html.Sitecore().Field("3 - Streaming Movies Text")<br /><span class="time">15 hours</span></span></li>
                                <li><i class="icon-web-browsing"></i><span>@Html.Sitecore().Field("3 - Web Browsing Text")<br /><span class="time">15 hours</span></span></li>
                            </ul>
                        </div>
                        @*<a ng-repeat="color in item.colors" class="button {{ color.color }}" ng-model="phoneOptions.color" btn-radio="'{{ color.color }}'" uncheckable>{{ color.value }}</a>*@
                    </div>
                </div>
                <footer>
                    @Html.Sitecore().Field("3 - Need More Data")
                </footer>
            </article>
            <div class="clearfix">
                <button type="button" class="plain plain-footer">@Html.Sitecore().Field("3 - Button - Cancel Enrollment")</button>
                <button type="submit" class="pull-right" ng-click="setCurrentStep('complete-order');">@Html.Sitecore().Field("3 - Button - Next")</button>
            </div>
        </section>
        <aside>
            <div ng-include src="'mobile-enrollment-cart'"></div>
        </aside>
    </section>
</div>