<script type="text/ng-template" id="enrollment-order-summary" ng-controller="MobileEnrollmentOrderSummaryCtrl">
    <div class="enrollment__cart">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <h1>@Html.Sitecore().Field("Order Summary Header")</h1>
            </header>
            <div class="content">
                <div class="cart-item">
                    <h2>@Html.Sitecore().Field("To Be Billed Today")</h2>

                    <div class="cart-product clearfix" ng-repeat="item in cart.items">
                        <!--<div class="description">
                            <span class="model">{{ ctrl.mobileService.getCart().phone.name }}</span> <br />
                            <span class="options">{{ ctrl.mobileService.getCart().model.size }}, {{ ctrl.mobileService.getCart().color.value }}</span> <br />
                        </div>
                        <div class="rate">{{ ctrl.mobileService.getCart().model.price | currency }}</div>
                        -->
                        <div class="clearfix" ng-if="item.type=='existing'">
                            <div class="description">@Html.Sitecore().Field("Initial Activation Fee")</div>
                            <div class="rate">{{ item.activationFee | currency }}</div>
                        </div>
                        <div class="clearfix">
                            <div class="description">@Html.Sitecore().Field("Prorated 1st Month Plan Cost")</div>
                            <div class="rate">{{ mobileEnrollmentService.getProratedCost() | currency }}</div>
                        </div>
                        <div class="total">@Html.Sitecore().Field("Due Today"): <strong>{{ mobileEnrollmentService.getTotalDueToday() | currency }}</strong></div>
                    </div>

                    <div class="cart-product clearfix">
                        <h2>@Html.Sitecore().Field("To Be Billed Monthly")</h2>
                        <div class="clearfix">
                            <div class="description">@Html.Sitecore().Field("Monthly Plan Cost").Format(new { size = "{{ cart.dataPlan.data }}" })</div>
                            <div class="rate">{{ cart.dataPlan.price | currency }}/mo</div>
                        </div>
                        @*
                        <div class="clearfix" ng-if="cart.dataPlan.additionalData">
                            <div class="description">@Html.Sitecore().Field("Additional Data")</div>
                            <div class="rate">{{ cart.dataPlan.additionalDataPrice | currency }}/mo</div>
                        </div>
                        *@
                        <div class="clearfix">
                            <div class="description">@Html.Sitecore().Field("Estimated Taxes and Fees")</div>
                            <div class="rate">{{ mobileEnrollmentService.getTotalFees() | currency }}</div>
                        </div>
                        <div class="total">@Html.Sitecore().Field("Estimated Monthly Bill"): <strong>{{ mobileEnrollmentService.getEstimatedMonthlyTotal() | currency }}</strong></div>
                    </div>
                </div>
            </div>
        </article>
        <article class="enrollment__box plain-text">
            <header>
                <h1>@Html.Sitecore().Field("Early Termination Fee Header")</h1>
            </header>
            <div class="content">
                @Html.Sitecore().Field("Early Termination Fee Text")
            </div>
        </article>
        <article class="enrollment__box plain-text">
            <header>
                <h1>@Html.Sitecore().Field("Questions Header")</h1>
            </header>
        </article>
    </div>
</script>