<div ng-if="mobileEnrollment.currentStep == 'order-confirmation'" ng-controller="MobileEnrollmentCompleteOrderCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column layout for Complete Order *@
    <section class="wrapper layout cols-2">
        <section>
            @*<article class="enrollment__box enrollment__order-notice">
                    <header>
                        <h1>You're Almost There!</h1>
                    </header>
                    <div class="content">
                        <p>Thank you! We've received your request for service, and have sent a copy of your request to <strong>jcampbell@gmail.com</strong>. All That's left now is completing a W9 to verify your orer.</p>
                        <p><a href="" class="button">Complete W9 form</a></p>
                        <p>For questions on your request for service, call 1-800-STREAM.</p>
                    </div>
                </article>*@
            <article class="enrollment__box enrollment__confirmation">
                <header>
                    <h1>@Html.Sitecore().Field("Header - Confirmation")</h1>
                </header>
                <div class="content">
                    @Html.Sitecore().Field("Text - Confirmation")
                    @Html.Sitecore().Field("Text - W9")
                </div>
            </article>
            <article class="enrollment__box enrollment__mobile-order-details">
                <header>
                    <h1>@Html.Sitecore().Field("Header - Order Summary")</h1>
                </header>
                <div class="content">
                    <div class="phone-summary" ng-repeat="item in cart.items">
                        <div class="line-item clearfix">
                            @*
                                <div class="description">
                                    <!--<span class="condition">Reconditioned</span>-->
                                    <h2>Bring Your Own Device</h2>
                                    <span class="model">Apple iPhone 4S</span> <a href="">@Html.Sitecore().Field("Edit Link Text")</a>
                                </div>
                            *@
                            <div class="description" ng-if="item.type == 'new'">
                                <div class="condition">{{ item.buyingOption.condition }}</div>
                                <div>{{ item.device.name }}</div>
                                <div class="options">{{ item.buyingOption.size }}, {{ item.buyingOption.color.value }}</div>
                            </div>
                            <div class="description" ng-if="item.type == 'existing'">
                                <h2>@Html.Sitecore().Field("Bring Your Own Device")</h2>
                                <div class="details">{{ item.make.make }} {{ item.model.modelName }}</div>
                            </div>
                        </div>
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Initial Activation Fee Text")</h3>
                                <p class="note">@Html.Sitecore().Field("Activation Fee Description")</p>
                            </div>
                            <div class="rate">{{ item.activationFee | currency }}</div>
                        </div>
                        @*
                            <div class="line-item clearfix">
                                <div class="description">
                                    <h3>@Html.Sitecore().Field("Coverage Warranty Text")</h3>
                                </div>
                                <div class="rate">$19.00/mo</div>
                            </div>
                            <div class="line-item clearfix">
                                <div class="description">
                                    <h3>@Html.Sitecore().Field("Shipping Text")</h3>
                                </div>
                                <div class="rate"></div>
                            </div>
                        *@
                        <div class="phone-summary-image">
                            <i class="icon-byod"></i>
                        </div>
                    </div>
                    <hr />
                    <div class="plan-summary">
                        <div class="line-item clearfix">
                            <div class="description">
                                <h2>@Html.Sitecore().Field("Header - Monthly Plan Cost")</h2>
                                <p>@Html.Sitecore().Field("Text - Monthly Plan Details").Format(new { size = "{{ cart.dataPlan.data }}" })</p>
                            </div>
                            <div class="rate">{{ mobileEnrollmentService.getProratedCost() | currency }}</div>
                        </div>
                        <div class="plan-summary-image">
                            <i class="icon-plan-summary"></i>
                        </div>
                    </div>
                </div>
                <footer>
                    @Html.Sitecore().Field("Total Due Now Text") <strong>{{ mobileEnrollmentService.getTotalDueToday() | currency }}</strong>
                </footer>
            </article>

            <article class="enrollment__box enrollment__mobile-order-details">
                <header>
                    <h1>@Html.Sitecore().Field("Header - Estimated Monthly Cost")</h1>
                </header>
                <div class="content">
                    <div class="plan-summary no-img">
                        <div class="line-item clearfix">
                            <div class="description">
                                <h2>@Html.Sitecore().Field("Header - Estimated Monthly Plan")</h2>
                                <p>@Html.Sitecore().Field("Text - Monthly Plan Details").Format(new { size = "{{ cart.dataPlan.data }}" })</p>
                            </div>
                            <div class="rate">{{ cart.dataPlan.price | currency }}/mo</div>
                        </div>
                        <div class="line-item clearfix">
                            <div class="description">
                                <h3>@Html.Sitecore().Field("Tax and Other Fees Text")</h3>
                            </div>
                            <div class="rate">{{ mobileEnrollmentService.getTotalFees() | currency }}</div>
                        </div>
                    </div>
                </div>
                <footer>
                    @Html.Sitecore().Field("Text - Estimated Monthly Bill") <strong>{{ mobileEnrollmentService.getEstimatedMonthlyTotal() | currency }}</strong>
                </footer>
            </article>
            <article class="enrollment__box enrollment__contact-information">
                <div class="content">
                    <div class="grid">
                        <div class="col">
                            <h3>@Html.Sitecore().Field("Header - Personal Information")</h3>
                        </div>
                        <div class="col">
                            <h3>@Html.Sitecore().Field("Header - Business Information")</h3>
                        </div>
                    </div>
                </div>
            </article>
            @* DEC 3 Content...
                <article class="enrollment__box">
                    <header>
                        <h1>@Html.Sitecore().Field("Header - Accessories")</h1>
                    </header>
                    <div class="content">
                        <div class="grid">
                            <div class="col">
                                @Html.Sitecore().Field("Accessory 1")
                            </div>
                            <div class="col">
                                @Html.Sitecore().Field("Accessory 2")
                            </div>
                            <div class="col">
                                @Html.Sitecore().Field("Accessory 3")
                            </div>
                        </div>
                        @Html.Sitecore().Field("Text - W9")
                        <p><i class="icon-pdf"></i> <a href="">@Html.Sitecore().Field("Link Text - W9")</a></p>
                    </div>
                </article>
            *@
            <p class="footnotes">@Html.Sitecore().Field("Footnotes")</p>

        </section>
        <aside>
            <div class="enrollment__cart">
                <article class="enrollment__box">
                    <header>
                        <h1>@Html.Sitecore().Field("Questions Header")</h1>
                    </header>
                </article>
            </div>
        </aside>
    </section>
</div>