@using System.Linq

@using Sitecore
@using Sitecore.Modules.EmailCampaign.Messages
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web
@using Sitecore.Web.UI.Controls.Common.UserControls  

@model RenderingModel        
@{
  var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  userControl.Requires.Script("ecm", "LanguageSwitcher.js");
  userControl.Requires.Css("ecm", "LanguageSwitcher.css");
  userControl.Class = "sc-ecm-language sc-actionpanel";
  userControl.Attributes["data-bind"] = "visible: isVisible, isOpen: false";

  var messageId = WebUtil.GetQueryString("id");
  var contentLanguage = WebUtil.GetQueryString(Sitecore.Modules.EmailCampaign.Core.Constants.SpeakContentLanguage);

  var languageRepository = new LanguageRepository(); 
  var messageLanguages = languageRepository.GetLanguages(messageId, contentLanguage);

  var currentLanguageToolTip = string.Empty;
  var currentLanguage = messageLanguages.SingleOrDefault(x => x.IsDefault);
  if (currentLanguage != null)
  {
    currentLanguageToolTip = currentLanguage.DisplayName;
    userControl.Attributes.Add("data-sc-defaultLanguage", currentLanguage.IsoCode);
    userControl.Attributes.Add("data-sc-defaultLanguageToolTip", currentLanguageToolTip);
  }

  var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes data-sc-hasnested="true">
  @if (messageLanguages.Count > 0 && currentLanguage != null)
  {
    <ul role="menu" class="nav">
      <li role="menuitem">
        <div style="display:none" class="sc-actionpanel-popup data-sc-registered"></div>
        <div class="dropdown">
          <a class="btn btn-default language-switcher-btn js-language-switcher-btn" title="@currentLanguageToolTip">@currentLanguage.ShortDisplayName</a>  
          <div role="menu" class="sc-foldout dropdown-menu open language-switcher-list js-language-switcher-list" style="display:none;">
            <div class="sc-foldout-content">
              <ul>
                <li class="nav-header">@ClientHost.Globalization.Translate("Message languages")</li>

                <li class="sc-actionMenu-item language-all hidden">
                  <a class="language-item" data-isocode="sc-report-language-all" href="#" tabindex="-1">@ClientHost.Globalization.Translate("All languages")</a>
                </li>

                @foreach (var language in messageLanguages)
                {
                  <li class="sc-actionMenu-item@(language.HasVersion ? " selected" : "")">
                    <a class="language-item@(language.IsDefault ? " isdefault" : "")" data-isocode="@language.IsoCode" tabindex="-1" href="#">@language.DisplayName</a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  }
</div>