@{
    var plansParent = Html.Sitecore().LookupItem("Rates Parent");
    var plans = from folder in Html.Sitecore().LookupItem("Rates parent").Children
                let item = folder.Children.OrderBy(c => c.Fields["Effective Date"]).First()
                let endingDateField = (Sitecore.Data.Fields.DateField)item.Fields["Ending Date"]
                where endingDateField.DateTime == null || endingDateField.DateTime == DateTime.MinValue || endingDateField.DateTime > DateTime.Today
                select item;

    Html.Sitecore().CurrentItem.Fields.Sort();
    var utilities = from field in Html.Sitecore().CurrentItem.Fields
                    where field.Name.EndsWith("Utility Title")
                    select field.Name.Replace("Utility Title", "");

    var gasUtilities = (Sitecore.Data.Fields.MultilistField)Html.Sitecore().CurrentItem.Fields["Gas Utilities"];
    var tables = from utility in utilities
                 select new
                 {
                     HeaderField = utility + "Utility Title",
                     IsGas = gasUtilities.Contains(utility + "Utility Title"),
                     Rows = from plan in plans
                            where !string.IsNullOrEmpty(plan.Fields[utility + "Current Price"].Value)
                            select new
                            {
                                Item = plan,
                                Prefix = utility,
                            }
                 };
}
<article class="marketing wrapper rates northeast">
    <h1>@Html.Sitecore().Field("Header")</h1>

    @Html.Sitecore().Field("Page Intro")

    <table>
        @foreach (dynamic table in tables)
        {
            <thead>
                <tr>
                    <th>@Html.Sitecore().Field(table.HeaderField)</th>
                    <th>@Html.Sitecore().Field(table.IsGas ? "Current Price per Therm" : "Current Price per KwH")</th>
                    <th>@Html.Sitecore().Field("Monthly Customer Service Fee")</th>
                    <th>@Html.Sitecore().Field("Term")</th>
                    <th>@Html.Sitecore().Field("Early Cancellation Fee")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (dynamic row in table.Rows)
                {
                    <tr>
                        <td>@Html.Sitecore().Field("Plan Title", row.Item)</td>
                        <td>@Html.AsMoney((string)row.Prefix + "Current Price", (Sitecore.Data.Items.Item)row.Item, 4)</td>
                        <td>@Html.AsMoney((string)row.Prefix + "Monthly Customer Service Fee", (Sitecore.Data.Items.Item)row.Item)</td>
                        <td class="term">@Html.Sitecore().Field(row.Prefix + "Term", row.Item)</td>
                        <td>@Html.AsMoney((string)row.Prefix + "Early Cancellation Fee", (Sitecore.Data.Items.Item)row.Item)</td>
                    </tr>
                }
            </tbody>
        }
    </table>

    @Html.Sitecore().Field("Page Outro")
</article>