@model StreamEnergy.DomainModels.Enrollments.UserContext
@using (new Sitecore.Data.Items.ContextItemSwitcher(Html.Sitecore().CurrentItem))
{
    <div id="reviewOrder" class="enrollment showCart" ng-show="stepsService.isStepVisible('reviewOrder')" ng-controller="EnrollmentCompleteOrderCtrl" ng-init="setTimeRemaining('reviewOrder', '@Html.Sitecore().Field("Remaining Minutes Number")');">
        <div ng-if="customerType != 'commercial'">
            @Html.Partial("~/Views/Components/Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.Enrollment.ProgressBar { StepNumber = 4, StepTextField = "Step 4 Description Text", HideCart = true })
        </div>
        <div ng-if="customerType == 'commercial'">
            @Html.Partial("~/Views/Components/Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.Enrollment.ProgressBar { StepNumber = 3, StepTextField = "Commercial Description Text", HideCart = true })
        </div>
        <div class="layout">
            <div class="wrapper cols-2 enrollment__review-order">
                <section>
                    <form data-val-bind-messages="validations" ng-submit="completeStep()" name="reviewOrderForm">
                        <article class="form enrollment__box" ng-if="!isRenewal">
                            <header>
                                <h1 ng-if="customerType != 'commercial' || cartHasMobile()">@Html.Sitecore().Field("Complete Order")</h1>
                                <h1 ng-if="customerType== 'commercial' && !cartHasMobile()">@Html.Sitecore().Field("Confirm Information")</h1>

                            </header>
                            <div class="content">
                                <div class="commercial-quote" ng-if="customerType== 'commercial'">
                                    <div class="services-header"  ng-repeat="(id, location) in getCartItems()">
                                        <div class="service-title">
                                            @Html.Sitecore().Field("Service Address Label")
                                        </div>
                                        <div class="service-description">
                                            {{ location.location.address | address}}
                                        </div>
                                    </div>
                                    <div ng-include src="'completeOrder/commercialQuote'"></div>
                                </div>
                                <div ng-if="customerType!= 'commercial'" ng-repeat="(id, location) in getCartItems()">
                                    <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                                        <div ng-if="customerType!= 'commercial'" ng-include src="'completeOrder/' + offerInformation.key"></div>
                                    </div>
                                    <hr class="content-divider" ng-if="!$last">
                                </div>
                            </div>
                            <footer ng-if="getCartTotal() > 0 && !cartHasMobile() && customerType!= 'commercial'">
                                <div class="total" ng-if="!cartHasProtective()">
                                    @Html.Sitecore().Field("Total Due Now") <strong>{{ getCartTotal() | currency }}</strong>
                                </div>
                                <div class="total clearfix protective" ng-if="cartHasProtective()">
                                    <p>@Html.Sitecore().Field("Total Due Monthly") <span>{{getProtectiveTotal() - getProtectiveDiscount() | currency}}</span></p>
                                    <div class="icon"></div>
                                </div>
                            </footer>
                        </article>
                        <article class="enrollment__box" ng-if="isRenewal">
                            <header>
                                <h1>@Html.Sitecore().Field("Complete Renewal")</h1>
                            </header>
                            <div class="content">
                                @Html.Sitecore().Field("Complete Renewal Content")
                            </div>
                        </article>
                        <div id="validation-summary"></div>
                        <article class="enrollment__box card-details" ng-if="customerType!= 'commercial' && getCartTotal() > 0">
                            <header>
                                <h1>@Html.Sitecore().Field("Card Details")</h1>
                                <span class="icons">
                                    <i class="icon-visa"></i>
                                    <i class="icon-mastercard"></i>
                                    <i class="icon-discover"></i>
                                    <i class="icon-amex" ng-if="!cartHasTxLocation()"></i>
                                    <i class="icon-accel"></i>
                                    <i class="icon-nyce"></i>
                                    <i class="icon-pulse"></i>
                                    <i class="icon-star"></i>
                                </span>
                            </header>
                            <div class="content">
                                <div ng-if="paymentError()" class="notice alert">
                                    @Html.Sitecore().Field("Payment Error Text")
                                </div>
                                <div class="payment-options" credit-card-payment="completeOrder.creditCard" data-val-if="true"></div>
                            </div>
                            <footer class="autopay-activation" ng-if="cartHasMobile() && (!isAddLine || !addLineAutoPay)">
                                <h2>@Html.Sitecore().Field("Turn on AutoPay")</h2>
                                <p>@Html.Sitecore().Field("Turn on AutoPay Details")</p>
                                <input name="autopay" id="autopay" type="checkbox" ng-model="completeOrder.autopay" ng-change="toggleAutoPay()" /><label for="autopay" class="autopay">@Html.Sitecore().Field("Activate AutoPay Button")</label>
                            </footer>
                        </article>
                        <article class="enrollment__box">
                            <header>
                                <h1 ng-if="customerType!= 'commercial'">@Html.Sitecore().Field("Terms Header")</h1>
                                <h1 ng-if="customerType== 'commercial'">@Html.Sitecore().Field("User Acceptance Header")</h1>
                            </header>
                            <div class="content form terms-agreement">
                                <div class="item" @Html.Validation().ErrorClass(m => m.AgreeToTerms) ng-if="customerType != 'commercial'|| cartHasMobile()">
                                    <ul class="checkbox-list">
                                        <li>
                                            @Html.CheckBoxFor(m => m.AgreeToTerms, new { ng_model = "completeOrder.agreeToTerms", data_val = "true", data_val_required = "" })
                                            <label for="@Html.IdFor(m => m.AgreeToTerms)">
                                                @Html.Sitecore().Field("Terms and Conditions Text")
                                            </label>
                                            <div class="terms">
                                                @Html.Sitecore().Field("Terms and Conditions Body Text")
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(m => m.AgreeToTerms) ng-if="customerType == 'commercial' && !cartHasMobile()">
                                    <ul class="checkbox-list">
                                        <li>
                                            @Html.CheckBoxFor(m => m.AgreeToTerms, new { ng_model = "completeOrder.agreeToTerms", data_val = "true", data_val_required = "Please agree to indicated authorization." })
                                            <label for="@Html.IdFor(m => m.AgreeToTerms)">
                                                @Html.Sitecore().Field("User Acceptance Text")
                                            </label>
                                            @Html.ValidationMessageFor(m => m.AgreeToTerms)
                                        </li>
                                    </ul>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(m => m.AdditionalAuthorizations[StreamEnergy.DomainModels.Enrollments.AdditionalAuthorization.Tcpa]) ng-if="customerType != 'commercial'">
                                    <ul class="checkbox-list">
                                        <li>
                                            <input type="checkbox" ng-model="completeOrder.additionalAuthorizations.tcpa" />
                                            <label for="@Html.IdFor(m => m.AdditionalAuthorizations[StreamEnergy.DomainModels.Enrollments.AdditionalAuthorization.Tcpa])">
                                                @Html.Raw(Html.Sitecore().CurrentItem["TCPA - I Agree Text"].Format(new { LinkAttributes = "ng-click=\"showTerms('Tcpa')\"" }))
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(m => m.AgreeToAutoPayTerms) ng-if="completeOrder.autopay && cartHasMobile() && customerType != 'commercial'">
                                    <ul class="checkbox-list">
                                        <li>
                                            @Html.CheckBoxFor(m => m.AgreeToAutoPayTerms, new { ng_model = "completeOrder.agreeToAutoPayTerms", data_val = "true", data_val_required = "" })
                                            <label for="@Html.IdFor(m => m.AgreeToAutoPayTerms)">
                                                @Html.Sitecore().Field("AutoPay Terms and Conditions Label")
                                            </label>
                                            <div class="terms">
                                                @Html.Sitecore().Field("AutoPay tac text")
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <div class="form terms-agreement">
                        </div>
                        <div class="buttons">
                            <button type="submit" class="primary" ng-if="((customerType != 'commercial' && customerType != 'commercial')|| cartHasMobile()) && !isRenewal" ng-click="completeOrder.nonExisting = true" ng-disabled="!completeOrder.agreeToTerms || (completeOrder.autopay && cartHasMobile() && !completeOrder.agreeToAutoPayTerms)" data-val-submit>@Html.Sitecore().Field("Button")</button>
                            <button type="submit" class="primary" ng-if="customerType == 'commercial' && !isRenewal && !cartHasMobile()" ng-click="reviewOrderForm.$valid" ng-disabled="!completeOrder.agreeToTerms" data-val-submit>@Html.Sitecore().Field("Request Quote Button")</button>
                            <button type="submit" class="primary" ng-if="isRenewal" ng-disabled="!completeOrder.agreeToTerms" data-val-submit>@Html.Sitecore().Field("Renewal Button")</button>
                            <button type="button" class="tertiary" ng-if="!isRenewal" ng-click="resetEnrollment();">
                                <span ng-if="customerType != 'commercial' || cartHasMobile()">@Html.Sitecore().Field("Cancel Enrollment Button")</span>
                                <span ng-if="customerType == 'commercial' && !cartHasMobile()">@Html.Sitecore().Field("Cancel Quote Button")</span>
                            </button>
                            <button type="button" class="tertiary" ng-if="isRenewal && utilityEnrollment.renewalType != 'anon'" ng-click="resetRenewal();">@Html.Sitecore().Field("Cancel Renewal Button")</button>
                            <button type="button" class="tertiary" ng-if="isRenewal && utilityEnrollment.renewalType == 'anon'" ng-click="resetAnonymousRenewal();">@Html.Sitecore().Field("Cancel Renewal Button")</button>
                        </div>
                    </form>
                </section>
                @*
                    <aside>
                        <div ng-include ng-if="true" src="'cart-template'"></div>
                    </aside>
                *@
                <aside>
                    <div class="enrollment__cart">
                        <article class="enrollment__box" ng-controller="EnrollmentCartCtrl">
                            <header>
                                <h1 ng-if="customerType!= 'commercial'">@Html.Sitecore().Field("Order Breakdown Header")</h1>
                                <h1 ng-if="customerType== 'commercial'">@Html.Sitecore().Field("Side Box Title")</h1>
                            </header>
                            <div class="content">
                                <div>
                                    <div class="billed-title" ng-if="customerType!= 'commercial'">@Html.Sitecore().Field("Billed Today Text")<i class="icon-billed-today"></i></div>
                                    <div class="billed-title" ng-if="customerType== 'commercial'">@Html.Sitecore().Field("Side Box Subhead")</div>
                                </div>
                                <div class="commercial-cart" ng-if="customerType == 'commercial'">
                                    <div ng-repeat="item in getCartItems()">
                                        <div class="clearfix" ng-repeat="offerInformation in item.offerInformationByType">
                                            <div ng-include src="'completeOrderCart/' + offerInformation.key"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="billed-today" ng-if="!isRenewal && getCartTotal() > 0 && customerType!= 'commercial'">
                                    <div class="billed-title">@Html.Sitecore().Field("Billed Today Text")<i class="icon-billed-today"></i></div>
                                    <div ng-repeat="(id, location) in getCartItems()">
                                        <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length" class="offer">
                                            <h3 ng-if="offerInformation.key == 'TexasElectricity' || offerInformation.key == 'GeorgiaGas'">@Html.Sitecore().Field("Energy Services Text")</h3>
                                            <h3 ng-if="offerInformation.key == 'Mobile' && id==0">@Html.Sitecore().Field("Mobile Services Text")</h3>
                                            <div ng-include src="'completeOrderCartToday/' + offerInformation.key"></div>
                                        </div>
                                    </div>
                                    <div class="amount-due">
                                        @Html.Sitecore().Field("Due Today Text") <span class="total">{{ getCartTotal() | currency }}</span>
                                    </div>
                                </div>
                                <hr ng-if="!isRenewal && !cartHasProtective() && customerType!= 'commercial' && getCartTotal() > 0">
                                <div class="billed-monthly" ng-if="!cartHasProtective() && customerType!= 'commercial'">
                                    <div class="billed-title">@Html.Sitecore().Field("Billed Monthly Text")<i class="icon-billed-monthly"></i></div>
                                    <div ng-repeat="(id, location) in getCartItems()">
                                        <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                                            <h3 ng-if="offerInformation.key != 'Mobile'">@Html.Sitecore().Field("Energy Services Text")</h3>
                                            <h3 ng-if="offerInformation.key == 'Mobile' && id==0">@Html.Sitecore().Field("Mobile Services Text")</h3>
                                            <div ng-include src="'completeOrderCartMonthly/' + offerInformation.key"></div>
                                        </div>
                                    </div>
                                    <div ng-include src="'completeOrderCartMonthlyExisting/Mobile'" ng-if="addLineSubAccounts != null && cartHasMobile()"></div>
                                </div>
                            </div>
                            <footer ng-if="customerType == 'commercial'">
                                <div class="buttons commercial">
                                    <a href="" class="add-address" ng-click="addAddress()">@Html.Sitecore().Field("Add Address Text")</a>
                                    <button type="submit" class="primary" ng-click="completeStep()" ng-disabled="!reviewOrderForm.$valid">@Html.Sitecore().Field("Continue Button")</button>
                                </div>
                            </footer>
                        </article>
                    </div>
                </aside>
            </div>
        </div>
    </div>
}

<script type="text/ng-template" id="completeOrderCartToday/TexasElectricity">
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dt>{{selectedOffer.offer.name}}</dt>
        <dd>{{selectedOffer.offer.rate | currency}} kWh</dd>
    </dl>
</script>
<script type="text/ng-template" id="completeOrderCartToday/GeorgiaGas">
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dt>{{selectedOffer.offer.name}}</dt>
        <dd>{{selectedOffer.offer.rate | currency}}</dd>
    </dl>
</script>
<script type="text/ng-template" id="completeOrderCartToday/Mobile">
    <div class="today-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections" ng-init="selectedOffer = offerInformation.value.offerSelections[0]; item = getDeviceDetails(selectedOffer.offerOption);">
        <div class="description">
            @Html.Sitecore().Field("Text - Phone number"){{id+1}} {{item.transferInfo.phoneNumber | phone}}
        </div>
        <div ng-if="selectedOffer.payments.requiredAmounts[0].activationFee > 0 && !completeOrder.autopay">
            <div class="description fee">
                @Html.Sitecore().Field("Initial Activation Fee Text")
            </div>
            <div class="rate">{{ selectedOffer.payments.requiredAmounts[0].activationFee | currency }}</div>
        </div>
        <div>
            <div class="description fee">Monthly Plan</div>
            <div class="rate">{{getOfferPrice(selectedOffer.offerId) | currency}}</div>
        </div>
        <div ng-if="selectedOffer.payments.requiredAmounts[0].taxTotal > 0">
            <div class="description fee">
                @Html.Sitecore().Field("Sales Tax Text")
            </div>
            <div class="rate">{{ selectedOffer.payments.requiredAmounts[0].taxTotal | currency }}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrderCartToday/Protective">
    <div class="protective" ng-repeat="offerSelection in offerInformation.value.offerSelections">
        <div class="service clearfix" ng-repeat="suboffer in offerSelection.offer.suboffers">
            <div class="icon" ng-style="{'background-image': 'URL(' + suboffer.iconURL + ')'}"></div>
            <div class="name">
                <span ng-if="suboffer.hasGroupOffer">@Html.Sitecore().Field("Individual Text") </span>
                <span ng-if="suboffer.isGroupOffer">@Html.Sitecore().Field("Family Text") </span>
                {{suboffer.name}}
            </div>
            <div class="price">
                <div class="full-price">
                    {{suboffer.price | currency}}@Html.Sitecore().Field("Per Month Text")
                    <div class="slash" ng-show="getProtectiveDiscount()">@Html.Sitecore().Field("Discount Slash")</div>
                </div>
                <div class="discount" ng-show="getProtectiveDiscount()">{{suboffer.price - suboffer.threeServiceDiscount | currency}}@Html.Sitecore().Field("Per Month Text")</div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrderCartMonthly/TexasElectricity">
    <div class="monthly-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <span class="plan">{{ selectedOffer.offer.name }}</span>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span class="energy-unit">@Html.Sitecore().Field("Per kWh")</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrderCartMonthly/GeorgiaGas">
    <div class="monthly-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <span class="plan">{{ selectedOffer.offer.name }}</span>
        </div>
        <div class="rate">
            ${{selectedOffer.offer.rate}}
            <span class="energy-unit">@Html.Sitecore().Field("Per Therm")</span>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrderCartMonthly/Mobile">
    <div class="monthly-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <span class="plan">@Html.Sitecore().Field("Monthly Plan Text")</span>
            <span class="international-plan" ng-if="selectedOffer.offer.includesInternational">
                @Html.Sitecore().Field("Plus Stream International Plus")
            </span>
        </div>
        <div class="rate">
            {{ getOfferPrice(selectedOffer.offerId) | currency }}@Html.Sitecore().Field("Per Month Text")
        </div>
    </div>
</script>

<script type="text/ng-template" id="completeOrderCartMonthlyExisting/Mobile">
    <div class="monthly-product clearfix" ng-repeat="subAccount in addLineSubAccounts">
        <div class="description">
            <span class="plan">@Html.Sitecore().Field("Monthly Plan Text Existing")</span>
        </div>
        <div class="rate">
            {{ subAccount.cost | currency }}@Html.Sitecore().Field("Per Month Text")
        </div>
    </div>
    <div class="tax clearfix">
        <p>@Html.Sitecore().Field("Monthly Sales Tax Text")</p>
    </div>
</script>
<script type="text/ng-template" id="completeOrderCartMonthly/Protective">
    <p>completeOrderCartMonthly/Protective</p>
</script>

<script type="text/ng-template" id="completeOrderCart/TexasElectricityCommercialQuote">
    <div class="address clearfix">
        <p class="address-label">@Html.Sitecore().Field("Service Address Label")</p>
        {{ item.location.address | address}}<br />
        <a href="" ng-click="editUtilityAddress(item)" ng-if="!isRenewal">@Html.Sitecore().Field("Edit Address Text")</a> | <a href="" ng-click="deleteUtilityAddress(item)">@Html.Sitecore().Field("Remove Address")</a>
    </div>
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections" ng-if="selectedOffer.offerId != 'TexasElectricityCommercialQuote'">
        <dt>{{selectedOffer.offer.name}}</dt>
        <dd>{{selectedOffer.offer.rate | currency}} kWh</dd>
    </dl>
</script>
<script type="text/ng-template" id="completeOrderCart/GeorgiaGasCommercialQuote">
    <div class="address clearfix">
        <p class="address-label">@Html.Sitecore().Field("Service Address Label")</p>
        {{ item.location.address | address}}
    </div>
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections" ng-if="selectedOffer.offerId != 'GeorgiaGasCommercialQuote'">
        <dt>{{selectedOffer.offer.name}}</dt>
        <dd>{{selectedOffer.offer.rate | currency}} kWh</dd>
    </dl>
</script>
<script type="text/ng-template" id="paymentsCart/Deposit">
    <dt>@Html.Sitecore().Field("Deposit Due")</dt>
    <dd>{{ payment.dollarAmount | currency }}</dd>
</script>
<script type="text/ng-template" id="completeOrder/TexasElectricity">
    <div class="services-header">
        <div class="service-title">
            @Html.Sitecore().Field("Energy Services Text")
        </div>
        <div class="service-description">
            @Html.Sitecore().Field("Service Address Label") {{ location.location.address | address}}
        </div>
    </div>
    <div class="energy-services">
        <div ng-repeat="selectedOffer in offerInformation.value.offerSelections">
            <div class="plan-summary">
                <div class="plan-summary-image">
                    <i class="icon-electricity-blue"></i>
                </div>
                <div class="line-item clearfix">
                    <div class="description">
                        <h2>{{selectedOffer.offer.name}}</h2>
                        <p ng-bind-html="selectedOffer.offer.description | unsafe"></p>
                        <p><a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Edit Plan Link Text")</a></p>
                    </div>
                    <div class="rate">{{selectedOffer.offer.rate}}&cent; @Html.Sitecore().Field("Per kWh")</div>
                    <table ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'paymentsDue/' + payment.offerPaymentAmountType"></table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrder/GeorgiaGas">
    <div class="services-header">
        <div class="service-title">
            @Html.Sitecore().Field("Energy Services Text")
        </div>
        <div class="service-description">
            @Html.Sitecore().Field("Service Address Label") {{ location.location.address | address}}
        </div>
    </div>
    <div class="energy-services">
        <div ng-repeat="selectedOffer in offerInformation.value.offerSelections">
            <div class="plan-summary">
                <div class="plan-summary-image">
                    <i class="icon-gas-blue"></i>
                </div>
                <div class="line-item clearfix">
                    <div class="description">
                        <h2>{{selectedOffer.offer.name}}</h2>
                        <p ng-bind-html="selectedOffer.offer.description | unsafe"></p>
                        <p><a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Edit Plan Link Text")</a></p>
                    </div>
                    <div class="rate">${{selectedOffer.offer.rate}} @Html.Sitecore().Field("Per Therm")</div>
                    <table ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'paymentsDueGA/' + payment.offerPaymentAmountType"></table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrder/commercialQuote">
    <h3>@Html.Sitecore().Field("Personal Information Label")</h3>
    <table class="verify-order-table">
        <tbody>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("First Last Name Label")</td>
                <td class="description">{{accountInformation.contactInfo.name.first}} {{accountInformation.contactInfo.name.last}}</td>
            </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("Title Label")</td>
                <td class="description">{{accountInformation.contactTitle}}</td>
            </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("Phone Number Label")</td>
                <td class="description">{{accountInformation.contactInfo.phone[0].number | phone}}</td>
            </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("Email Address Label")</td>
                <td class="description">{{accountInformation.contactInfo.email.address}}</td>
            </tr>
        </tbody>
    </table>
    <hr class="content-divider">
    <h3>@Html.Sitecore().Field("Company Information Label")</h3>
    <table class="verify-order-table">
        <tbody>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("Company Name Label")</td>
                <td class="description">{{accountInformation.companyName}}</td>
            </tr>
            <tr class="line-item" ng-if="accountInformation.preferredSalesExecutive">
                <td class="label">@Html.Sitecore().Field("Preferred Sales Exec Label")</td>
                <td class="description">{{accountInformation.preferredSalesExecutive}}</td>
            </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("ESI ID Label")</td>
                <td class="description"><span ng-repeat="(id, location) in getCartItems()">{{ location.location.capabilities[0].esiId }}{{ $last ? '' : ', ' }}</span></td>
            </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("SSN Label")</td>
                <td class="description">{{accountInformation.socialSecurityNumber}}</td>
                </tr>
            <tr class="line-item">
                <td class="label">@Html.Sitecore().Field("Under Contract Label")</td>
                <td class="description">{{accountInformation.underContract}}</td>
            </tr>
        </tbody>
    </table>
    <p><a href="" ng-click="editAccountInfo()">@Html.Sitecore().Field("Edit Information Link")</a></p>
</script>
<script type="text/ng-template" id="completeOrder/GeorgiaGasCommercialQuote">
    @*<h3>Electricity</h3>*@
    <table class="verify-order-table">
        <tbody>
            <tr class="line-item" ng-repeat-start="selectedOffer in offerInformation.value.offerSelections">
                <td class="description">
                    paymentsDue/Deposit
                    <h4>{{selectedOffer.offer.name}}</h4>
                    @*<p>{{selectedOffer.offer.description}}</p>*@
                </td>
                <td class="rate">
                    {{selectedOffer.offer.rate | currency}} kWh
                </td>
            </tr>
            <tr ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'paymentsDue/' + payment.offerPaymentAmountType"></tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="completeOrder/Mobile">
    <div class="services-header" ng-show="id == 0">
        <div class="service-title">
            @Html.Sitecore().Field("Mobile Services Header Text")
        </div>
        <div class="service-description">
            {{ getDevicesCount() }} @Html.Sitecore().Field("Individual Plan Text")
        </div>
    </div>
    <div class="mobile-services">
        <div class="phone-summary" ng-init="selectedOffer = offerInformation.value.offerSelections[0]; item = getDeviceDetails(selectedOffer.offerOption)">
            <div class="line-item clearfix subheading">
                <div class="phone-summary-image">
                    <i class="icon-byod"></i>
                </div>
                <div class="description">
                    <h2>@Html.Sitecore().Field("Text - Line number"){{id+1}} {{item.transferInfo.phoneNumber | phone}}</h2>
                    <div class="details"><strong>@Html.Sitecore().Field("IMEI Label")</strong> {{item.imeiNumber}}</div>
                </div>
            </div>
            <div class="line-item clearfix" ng-if="selectedOffer.payments.requiredAmounts[0].activationFee > 0">
                <div class="description">
                    <h3>@Html.Sitecore().Field("Initial Activation Fee Text")</h3>
                    <p class="note">@Html.Sitecore().Field("Activation Fee Description")</p>
                </div>
                <div class="rate">{{ selectedOffer.payments.requiredAmounts[0].activationFee | currency }}</div>
            </div>
            <div class="line-item clearfix" ng-if="selectedOffer.payments.requiredAmounts[0].taxTotal > 0">
                <div class="description">
                    <h3>@Html.Sitecore().Field("Sales Tax Text")</h3>
                    <p class="note">@Html.Sitecore().Field("Sales Tax Description")</p>
                </div>
                <div class="rate">{{ selectedOffer.payments.requiredAmounts[0].taxTotal | currency }}</div>
            </div>
            <div class="line-item clearfix" ng-if="(item.iccidNumber == null)">
                <div class="description">
                    <h3>@Html.Sitecore().Field("ICCID Card Text")</h3>
                    <p class="note">@Html.Sitecore().Field("ICCID Card Description")</p>
                </div>
            </div>
            <div class="line-item clearfix subheading">
                <div class="description">
                    <h2>@Html.Sitecore().Field("Text - Plan Description")</h2>
                    <div class="details">@Html.Sitecore().Field("Text - Plan Details")</div>
                </div>
                <div class="rate device-price" ng-if="selectedOffer.payments.requiredAmounts[0].phoneCharge > 0">{{ getOfferPrice(selectedOffer.offerId) | currency }}</div>
            </div>
            <div class="line-item autopay subheading" ng-show="completeOrder.autopay && cartHasMobile()">
                <div class="description">
                    <i class="autopay-small"></i>
                    <h2>@Html.Sitecore().Field("AutoPay Refund Text")</h2>
                </div>
                <div class="rate">-{{autopayDiscount | currency}}</div>
            </div>
        </div>
    </div>
    <div class="mobile-services" ng-show="getCartTotal() > 0 && $parent.$parent.$last">
        <hr class="content-divider">
        <div class="phone-summary">
            <div class="line-item total">
                @Html.Sitecore().Field("Total Due Now") <strong>{{ getCartTotal() | currency }}</strong>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="completeOrder/Protective">
    <div class="protective-services">
        <div class="heading clearfix">
            <h4>@Html.Sitecore().Field("Protective Services Text")</h4>
            <div class="service-count">{{getCartCount()}} @Html.Sitecore().Field("Monthly Services Text")</div>
        </div>
        <div ng-repeat="offerSelection in offerInformation.value.offerSelections">
            <div class="service clearfix" ng-repeat="suboffer in offerSelection.offer.suboffers">
                <div class="col-1" ng-style="{'background-image': 'URL(' + suboffer.iconURL + ')'}"></div>
                <div class="col-2">
                    <p class="name">{{suboffer.name}}</p>
                    <p class="description">{{suboffer.description}}</p>
                    <p class="start-date">@Html.Sitecore().Field("Service Start Date Text") {{ currentDate | date:'MMM. d, yyyy'}}</p>
                    <p class="video-required" ng-show="isVideoConferenceState(suboffer)">@Html.Sitecore().Field("Video Conference Text")</p>
                </div>
                <div class="col-3">
                    <div class="full-price">
                        {{suboffer.price | currency}}@Html.Sitecore().Field("Per Month Text")
                        <div class="slash" ng-show="getProtectiveDiscount()">@Html.Sitecore().Field("Discount Slash")</div>
                    </div>
                    <div class="discount" ng-show="getProtectiveDiscount()">{{suboffer.price - suboffer.threeServiceDiscount | currency}}@Html.Sitecore().Field("Per Month Text")</div>
                </div>
            </div>
        </div>
        <div class="total-today">
            <p>@Html.Sitecore().Field("Total Due Today") <span>{{getProtectiveTotal() - getProtectiveDiscount() | currency}}</span></p>
        </div>
    </div>
</script>
<script type="text/ng-template" id="paymentsDue/Deposit">
    <tr ng-if="payment.depositAlternativeEligible">
        <td class="sub-charge">
            <input type="radio" name="deposit-waiver-{{id}}" ng-model="payment.depositOption" value="depositAlternative" checked />
            <label>@Html.Sitecore().Field("EZ Pay")</label>
            @Html.Sitecore().Field("EZ Pay Explanation")
        </td>
        <td class="rate"><strong>{{ payment.depositAlternativeAmount | currency }}</strong></td>
    </tr>
    <tr ng-if="payment.depositAlternativeEligible">
        <td colspan="2"><div class="seperator">@Html.Sitecore().Field("Or Text")</div></td>
    </tr>
    <tr>
        <td class="sub-charge">
            <input type="radio" name="deposit-waiver-{{id}}" ng-model="payment.depositOption" value="deposit" />
            <label for="deposit-waiver-{{id}}">@Html.Sitecore().Field("Deposit Due")</label>
            <p>
                <span class="explanation">@Html.Sitecore().Field("Deposit Explanation")</span>
            </p>
        </td>
        <td class="rate"><strong>{{ payment.dollarAmount | currency }}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><div class="seperator">@Html.Sitecore().Field("Or Text")</div></td>
    </tr>
    <tr>
        <td class="sub-charge" colspan="2">
            <input type="radio" name="deposit-waiver-{{id}}" ng-model="payment.depositOption" value="waived" />
            <label for="deposit-waiver-{{id}}">@Html.Sitecore().Field("Deposit Waiver")</label>
            <p class="explanation">@Html.Raw(Html.Sitecore().CurrentItem["Deposit Waiver Expanation"].Format(new { LinkAttributes = "ng-click=\"showDepositWaiver(location.location.address.stateAbbreviation)\"" }))</p>
        </td>
    </tr>
</script>
<script type="text/ng-template" id="paymentsDueGA/Deposit">
    <tr>
        <td class="sub-charge">
            <input type="radio" name="deposit-waiver-{{id}}" ng-model="payment.depositOption" value="deposit" checked />
            <label for="deposit-waiver-{{id}}">@Html.Sitecore().Field("Deposit Due")</label>
            <p>
                {{selectedOffer.offer.name}}<br />
                <span class="explanation">@Html.Sitecore().Field("Deposit Explanation GA")</span>
            </p>
        </td>
        <td class="rate"><strong>{{ payment.dollarAmount | currency }}</strong></td>
    </tr>
    <tr>
        <td colspan="2"><div class="seperator">@Html.Sitecore().Field("Or Text")</div></td>
    </tr>
    <tr>
        <td class="sub-charge" colspan="2">
            <input type="radio" name="deposit-waiver-{{id}}" ng-model="payment.depositOption" value="waived" />
            <label for="deposit-waiver-{{id}}">@Html.Sitecore().Field("Deposit Waiver")</label>
            <p class="explanation">@Html.Raw(Html.Sitecore().CurrentItem["Deposit Waiver Expanation"].Format(new { LinkAttributes = "ng-click=\"showDepositWaiver(location.location.address.stateAbbreviation)\"" }))</p>
        </td>
    </tr>
</script>
<script type="text/ng-template" id="Terms/Standard">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Terms and Conditions Header Text")</h2>
    </div>
    <div class="modal-body scrollable">
        @Html.Sitecore().Field("Terms and Conditions Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Close Terms and Conditions Button Text")</button>
    </div>
</script>
<script type="text/ng-template" id="Terms/Tcpa">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("TCPA Terms and Conditions Header Text")</h2>
    </div>
    <div class="modal-body scrollable">
        @Html.Sitecore().Field("TCPA Terms and Conditions Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Close TCPA Terms and Conditions Button Text")</button>
    </div>
</script>
<script type="text/ng-template" id="DepositWaiver/TX">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Deposit Waiver Header Text")</h2>
    </div>
    <div class="modal-body scrollable">
        @Html.Sitecore().Field("Texas Deposit Waiver Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Deposit Waiver Button Text")</button>
    </div>
</script>
<script type="text/ng-template" id="DepositWaiver/GA">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Deposit Waiver Header Text")</h2>
    </div>
    <div class="modal-body scrollable">
        @Html.Sitecore().Field("Georgia Deposit Waiver Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Deposit Waiver Button Text")</button>
    </div>
</script>
<script type="text/ng-template" id="CreditCardExample">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Credit Card Example Header Text")</h2>
    </div>
    <div class="modal-body scrollable">
        @Html.Sitecore().Field("Credit Card Example Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Credit Card Example Button Text")</button>
    </div>
</script>
<script type="text/ng-template" id="signature">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Add Signature")</h2>
        </div>
        <div class="modal-body">
            <div class="inline-tabs">
                <ul>
                    <li ng-class="{selected:selectedTab == 'type'}">
                        <a href="" ng-click="selectTab('type')">@Html.Sitecore().Field("Tab - Type Signature")</a>
                    </li>
                    <li ng-class="{selected:selectedTab == 'draw'}">
                        <a href="" ng-click="selectTab('draw')">@Html.Sitecore().Field("Tab - Draw Signature")</a>
                    </li>
                </ul>
                <form data-val-bind-messages="validations" ng-submit="submit()">
                    <div class="tab-content" ng-show="selectedTab == 'type'">
                        <div class="item" @Html.Validation().ErrorClass(m => m.W9BusinessData.CustomerSignature)>
                            <label for="@Html.IdFor(m => m.W9BusinessData.CustomerSignature)">@Html.Sitecore().Field("Label - Enter Name")</label>
                            @Html.TextBoxFor(m => m.W9BusinessData.CustomerSignature, new { ng_model = "formData.name", data_val = "true", data_val_required = "" })
                            @Html.ValidationMessageFor(model => model.W9BusinessData.CustomerSignature)
                        </div>
                        <div class="item">
                            <label>@Html.Sitecore().Field("Label - Preview")</label>
                            <div class="signature-preview">
                                {{ formData.name }}
                            </div>
                        </div>
                        <button type="submit" data-val-submit>@Html.Sitecore().Field("Button - Accept Signature")</button>
                    </div>
                    <div class="tab-content" ng-show="selectedTab == 'draw'">
                        <div class="item" @Html.Validation().ErrorClass(m => m.W9BusinessData.CustomerSignature)>
                            <label for="@Html.IdFor(m => m.W9BusinessData.CustomerSignature)">@Html.Sitecore().Field("Label - Enter Name")</label>
                            @Html.TextBoxFor(m => m.W9BusinessData.CustomerSignature, new { ng_model = "formData.name" })
                            @Html.ValidationMessageFor(model => model.W9BusinessData.CustomerSignature)
                        </div>
                        <div class="item">
                            <label>@Html.Sitecore().Field("Label - Draw Your Signature")</label>
                            <div class="signature-preview" id="draw-signature"></div>
                        </div>
                        <button type="submit" data-val-submit>@Html.Sitecore().Field("Button - Accept Signature")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            @Html.Sitecore().Field("Footer - Add Signature")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/w9">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - W9 Instructions")</h2>
        </div>
        <div class="modal-body scrollable">
            @Html.Sitecore().Field("Content - W9 Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/otherClassification">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Other Classification Instructions")</h2>
        </div>
        <div class="modal-body scrollable">
            @Html.Sitecore().Field("Content - Other Classification Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/tin">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - TIN Instructions")</h2>
        </div>
        <div class="modal-body scrollable">
            @Html.Sitecore().Field("Content - TIN Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="instructions/getTin">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Get TIN Instructions")</h2>
        </div>
        <div class="modal-body scrollable">
            @Html.Sitecore().Field("Content - Get TIN Instructions")
        </div>
    </div>
</script>
<script type="text/ng-template" id="autopay-warning">
    <div class="autopay-modal">
        <div class="modal-header">
            <h2>@Html.Sitecore().Field("AutoPay - Heading")</h2>
        </div>
        <div class="modal-body">
            <p>@Html.Sitecore().Field("AutoPay - Subheading")</p>
            <hr />
            <div class="line" ng-repeat="item in getCartItems()" ng-init="offer = item.offerInformationByType[0].value.offerSelections[0].offer" ng-show="offer.nonAutoPayID != ''">
                <h3>@Html.Sitecore().Field("AutoPay - Line Number")</h3>
                <h3>@Html.Sitecore().Field("AutoPay - Line Name")</h3>
                <p>@Html.Sitecore().Field("AutoPay - Line Details")</p>
                <table>
                    <tr>
                        <td>@Html.Sitecore().Field("AutoPay - With Discount")</td>
                        <td class="price">{{offer.rates[0].rateAmount | currency}}@Html.Sitecore().Field("AutoPay - Per Month")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("AutoPay - Without Discount")</td>
                        <td class="price">{{offer.rates[0].nonAutoPayPrice | currency}}@Html.Sitecore().Field("AutoPay - Per Month")</td>
                    </tr>
                </table>
            </div>
            <p class="note">@Html.Sitecore().Field("AutoPay - Note")</p>
        </div>
        <div class="modal-footer">
            <a class="button secondary" href="" ng-click="turnOffAutoPay()">@Html.Sitecore().Field("AutoPay - Button - Turn Off")</a>
            <a class="button primary" href="" ng-click="keepAutoPay()">@Html.Sitecore().Field("AutoPay - Button - Leave On")</a>
        </div>
    </div>
</script>
