
<div class="currents__calendar" ng-controller="CurrentsCalendarCtrl" ng-init="eventTypes = @(Html.Action("EventCategories", "Data").ToHtmlString()); getEvents();">
    <h1>@Html.Sitecore().Field("Calendar Title")</h1>
    <div class="calendar-links">
        @Html.Sitecore().Field("Nav Links")
    </div>
    <div class="calendar-filters clearfix">
        <select class="type-filter" ng-model="typeFilter" ng-options="eventType.name as eventType.display for eventType in eventTypes" ng-change="searchCalendar()">
            <option value="">@Html.Sitecore().Field("Type Filter Text")</option>
        </select>
        <select class="state-filter" ng-model="stateFilter" ng-options="state as state for state in eventStates | orderBy: state" ng-change="searchCalendar()">
            <option value="">@Html.Sitecore().Field("State Filter Text")</option>
        </select>
        <div class="search">
            <form ng-submit="searchCalendar()">
                <input type="search" class="typeahead" placeholder="@Html.Sitecore().Field("Search Text")" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 && searchCalendar()" />
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <div class="calendar-header clearfix" ng-cloak>
        <div class="calendar-nav prev-month" ng-click="cal.gotoPreviousMonth(); searchCalendar()"><i class="icon-previous-month"></i><span class="month-name">{{ previousMonth() }}</span></div>
        <div class="current-month">{{ cal.getMonthName() }} {{ cal.getYear() }}</div>
        <div class="calendar-nav next-month" ng-click="cal.gotoNextMonth(); searchCalendar()"><span class="month-name">{{ nextMonth() }}</span><i class="icon-next-month"></i></div>
    </div>
    <div id="calendar" class="fc-calendar-container" ng-model="calContainer" dynamic="events"></div>
</div>
