
<div class="currents__calendar" ng-controller="CurrentsSearchCalendarCtrl" ng-init="eventTypes = @(Html.Action("EventCategories", "Data").ToHtmlString()); searchTerm = '@(Request.QueryString["term"])'; searchCalendarKeyword();">
    <h1>@Html.Sitecore().Field("Calendar Title")</h1>
    <h1>This is the calendar search page.</h1>
    <div class="calendar-links">
        @Html.Sitecore().Field("Nav Links")
    </div>
    <div class="calendar-filters clearfix">
        <select class="type-filter" ng-model="typeFilter" ng-options="eventType.name as eventType.display for eventType in eventTypes" ng-change="searchCalendar()">
            <option value="">@Html.Sitecore().Field("Type Filter Text")</option>
        </select>
        <select class="state-filter" ng-model="stateFilter" ng-options="state as state for state in eventStates | orderBy: state" ng-change="searchCalendar()">
            <option value="">@Html.Sitecore().Field("State Filter Text")</option>
        </select>
        <div class="search">
            <form ng-submit="searchCalendarKeyword()">
                <input type="search" class="typeahead" placeholder="@Html.Sitecore().Field("Search Text")" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 && searchCalendarKeyword()" />
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <div class="calendar-results">
        <div class="calendar-result" ng-repeat="event in events">
            <h3>{{event.title}}</h3>
            <img ng-src="{{event.imageURL}}" ng-click="setImage(img)">
            <br />
            startDate: {{event.startDate}}
            <br />
            endDate: {{event.endDate}}
            <br />
            location: {{event.location}}
            <br />
            summary: {{event.summary}}
            <br />
            maplocation: {{event.maplocation}}
            <br />
            category: {{event.category}}
            <br />
            registrationURL: {{event.registrationURL}}
            <br />
            registrationText: {{event.registrationText}}
            <br />
            infoLinkURL: {{event.infoLinkURL}}
            <br />
            infoLinkText: {{event.infoLinkText}}
            <br />
            state: {{event.state}}
            <br />
            <div ng-if="event.maplocation != ''">
                <a href='https://www.google.com/maps/dir//{{event.maplocation}}' target='_blank'>
                <img src='http://maps.googleapis.com/maps/api/staticmap?center={{event.maplocation}}&zoom=15&scale=false&size=250x250&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C{{event.maplocation}}'>
                </a>
            </div>
        </div>
    </div>


</div>
