<style>
    .leaderboard-header {
        padding-left: 140px;
        padding-right: 240px;
        padding-bottom: 60px;
    }
    .leaderboard-header h1 {
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .leaderboard-header h4 {
        margin-bottom: 0px;
        font-weight: 600;
    }
        .leaderboard-header h1, h4 {
            color: #06a7e2;
        }

        .leaderboard-header p {
            font-size: 18px;
        }

        .leaderboard .director {
            border: solid 1px black;
            padding: 25px;
        }
</style>
<div class="leaderboard">
    <div class="leaderboard-header">
        @Html.Sitecore().Field("Header Text")
    </div>

    <div class="grid four">
        <div class="col regional">
            <div class="director">
                <h3>@Html.Sitecore().Field("Open Line")</h3>
                <h2>@Html.Sitecore().Field("Regional Director")</h2>
                <p>@Html.Sitecore().Field("Regional Director Description")</p>
            </div>
            <div class="director-list">
                <ol>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                </ol>

            </div>
        </div>
        <div class="col managing">
            <div class="director">
                <h3>@Html.Sitecore().Field("Open Line")</h3>
                <h2>@Html.Sitecore().Field("Managing Director")</h2>
                <p>@Html.Sitecore().Field("Managing Director Description")</p>
            </div>
            <div class="director-list">
                <ol>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                </ol>

            </div>
        </div>
        <div class="col senior">
            <div class="director">
                <h3>@Html.Sitecore().Field("Open Line")</h3>
                <h2>@Html.Sitecore().Field("Senior Director")</h2>
                <p>@Html.Sitecore().Field("Senior Director Description")</p>
            </div>
            <div class="director-list">
                <ol>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                </ol>

            </div>
        </div>
        <div class="col executive">
            <div class="director">
                <h3>@Html.Sitecore().Field("Open Line")</h3>
                <h2>@Html.Sitecore().Field("Executive Director")</h2>
                <p>@Html.Sitecore().Field("Executive Director Description")</p>
            </div>
            <div class="director-list">
                <ol>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                    <li> Firstname Lastname REGIONAL DIRECTOR, TEXAS</li>
                </ol>

            </div>
        </div>
    </div>
</div>
