@using StreamEnergy.MyStream.Controllers.ApiControllers;
@using StreamEnergy.MyStream.Models.Currents;
@{
    string liClass = "";
    string spanClass = "";
    string filterValue = "";
    string month = DateTime.Now.ToString("MMMM");
    string year = DateTime.Now.Year.ToString();
    filterValue = month + " " + year;

    if (!String.IsNullOrEmpty(Request.QueryString["month"]))
    {
        filterValue = Request.QueryString["month"];
    }

    Sitecore.Data.Items.Item dataSourceItem = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Currents/Leaderboard Lists");

    LeaderList leaderList = CurrentsController.GetLeaderList(dataSourceItem, filterValue);
    List<string> previousMonths = CurrentsController.GetPreviousLeaderListMonths(dataSourceItem, leaderList);
}

<article class="currents currents__box leaderboard">
    <div class="wrapper">
        <div class="leaderboard-header">
            <h4>@leaderList.ListDateText</h4>
            @Html.Sitecore().Field("Header Text")
        </div>
        @if (previousMonths.Count > 0)
            {
            <div class="pastWinners" slide-toggle>
                <h1>@Html.Sitecore().Field("Past Winners")</h1>
                <div class="opener winners" ng-if="!isOpen" ng-click="toggleSlide(); isOpen = true">+</div>
                <div class="opener winners" ng-if="isOpen" ng-click="toggleSlide()">-</div>

                <div class="month-chooser slide-toggle">
                    @foreach (string monthLink in previousMonths)
                    {
                        <div class="month">
                            <a href="leaderboard?month=@monthLink">@monthLink</a>
                        </div>
                    }
                </div>

            </div>
            }
    </div>
</article>
<div class="grid four">
    <div class="col regional">
        <div class="director" slide-toggle>
            <div class="ribbon-wrapper">
                <div class="ribbon">
                    @Html.Sitecore().Field("Top 25")
                </div>
            </div>
            <h3>@Html.Sitecore().Field("Open Line")</h3>
            <h2>@Html.Sitecore().Field("Regional Director")</h2>
            <div class="opener regional" ng-if="!isOpen" ng-click="toggleSlide(); isOpen = true">+</div>
            <div class="opener regional" ng-if="isOpen" ng-click="toggleSlide()">-</div>
            <p class="slide-toggle">@Html.Sitecore().Field("Regional Director Description")</p>
        </div>
        <div class="director-list">
            <ul>
                @{
                for (int i = 0; i < leaderList.RegionalDirectors.Keys.Count; i++)
                {
                    liClass = "";
                    spanClass = "";
                    string index = leaderList.RegionalDirectors.Keys[i];
                    string value = Server.UrlDecode(leaderList.RegionalDirectors.GetValues(i).First());
                    string[] nameState = value.Split(',');
                    if (i > 9)
                    {
                        liClass = "top25";
                    }
                    if (nameState[0].Length > 20)
                    {
                        spanClass = "smallText";
                    }
                    if (nameState[0].Length > 30)
                    {
                        spanClass = "smallerText";
                    }
                    <li class="@liClass"><div class="index">@index</div><div><span class="directorName @spanClass">@nameState[0]</span><span class="directorState">@Html.Sitecore().Field("Regional Director"), @nameState[1]</span></div></li>
                   
                }
                }
            </ul>
        </div>
    </div>
    <div class="col managing">
        <div class="director" slide-toggle>
            <div class="ribbon-wrapper">
                <div class="ribbon">
                    @Html.Sitecore().Field("Top 25")
                </div>
            </div>
            <h3>@Html.Sitecore().Field("Open Line")</h3>
            <h2>@Html.Sitecore().Field("Managing Director")</h2>
            <div class="opener managing" ng-if="!isOpen" ng-click="toggleSlide(); isOpen = true">+</div>
            <div class="opener managing" ng-if="isOpen" ng-click="toggleSlide()">-</div>
            <p class="slide-toggle">@Html.Sitecore().Field("Managing Director Description")</p>
        </div>
        <div class="director-list">
            <ul>
                @{
                for (int i = 0; i < leaderList.ManagingDirectors.Keys.Count; i++)
                {
                    liClass = "";
                    spanClass = "";
                    string index = leaderList.ManagingDirectors.Keys[i];
                    string value = Server.UrlDecode(leaderList.ManagingDirectors.GetValues(i).First());
                    string[] nameState = value.Split(',');
                    if (i > 9)
                    {
                        liClass = "top25";
                    }
                    if (nameState[0].Length > 20)
                    {
                        spanClass = "smallText";
                    }
                    if (nameState[0].Length > 30)
                    {
                        spanClass = "smallerText";
                    }
                    <li class="@liClass"><div class="index">@index</div><div><span class="directorName @spanClass">@nameState[0]</span><span class="directorState">@Html.Sitecore().Field("Managing Director"), @nameState[1]</span></div></li>

                }
                }
            </ul>
        </div>
    </div>
    <div class="col senior">
        <div class="director" slide-toggle>
            <div class="ribbon-wrapper">
                <div class="ribbon">
                    @Html.Sitecore().Field("Top 25")
                </div>
            </div>
            <h3>@Html.Sitecore().Field("Open Line")</h3>
            <h2>@Html.Sitecore().Field("Senior Director")</h2>
            <div class="opener senior" ng-if="!isOpen" ng-click="toggleSlide(); isOpen = true">+</div>
            <div class="opener senior" ng-if="isOpen" ng-click="toggleSlide()">-</div>
            <p class="slide-toggle">@Html.Sitecore().Field("Senior Director Description")</p>
        </div>
        <div class="director-list">
            <ul>
                @{
                for (int i = 0; i < leaderList.SeniorDirectors.Keys.Count; i++)
                {
                    liClass = "";
                    string index = leaderList.SeniorDirectors.Keys[i];
                    string value = Server.UrlDecode(leaderList.SeniorDirectors.GetValues(i).First());
                    string[] nameState = value.Split(',');
                    if (i > 9)
                    {
                        liClass = "top25";
                    }
                    if (nameState[0].Length > 20)
                    {
                        spanClass = "smallText";
                    }
                    if (nameState[0].Length > 30)
                    {
                        spanClass = "smallerText";
                    }
                    <li class="@liClass"><div class="index">@index</div><div><span class="directorName @spanClass">@nameState[0]</span><span class="directorState">@Html.Sitecore().Field("Senior Director"), @nameState[1]</span></div></li>

                }
                }
            </ul>
        </div>
    </div>
    <div class="col executive" slide-toggle>
        <div class="director">
            <div class="ribbon-wrapper">
                <div class="ribbon">
                    @Html.Sitecore().Field("Top 25")
                </div>
            </div>
            <h3>@Html.Sitecore().Field("Open Line")</h3>
            <h2>@Html.Sitecore().Field("Executive Director")</h2>
            <div class="opener executive" ng-if="!isOpen" ng-click="toggleSlide(); isOpen = true">+</div>
            <div class="opener executive" ng-if="isOpen" ng-click="toggleSlide()">-</div>
            <p class="slide-toggle">@Html.Sitecore().Field("Executive Director Description")</p>
        </div>
        <div class="director-list">
            <ul>
                @{
                for (int i = 0; i < leaderList.ExecutiveDirectors.Keys.Count; i++)
                {
                    liClass = "";
                    string index = leaderList.ExecutiveDirectors.Keys[i];
                    string value = Server.UrlDecode(leaderList.ExecutiveDirectors.GetValues(i).First());
                    string[] nameState = value.Split(',');
                    if (i > 9)
                    {
                        liClass = "top25";
                    }
                    if (nameState[0].Length > 20)
                    {
                        spanClass = "smallText";
                    }
                    if (nameState[0].Length > 30)
                    {
                        spanClass = "smallerText";
                    }
                    <li class="@liClass"><div class="index">@index</div><div><span class="directorName @spanClass">@nameState[0]</span><span class="directorState">@Html.Sitecore().Field("Executive Director"), @nameState[1]</span></div></li>

                }
                }
            </ul>
        </div>
    </div>
</div>
