<div class="enrollment mobile-enrollment" ng-controller="MobileEnrollmentCtrl" ng-init="mobileEnrollmentService.setPhoneData(@(Html.Action("MobileEnrollmentPhones", "MobileEnrollment").ToHtmlString())); usStates = @(Html.Action("States", "Data").ToHtmlString()); phoneTypes = @(Html.Action("PhoneCategories", "Data").ToHtmlString());">
    @Html.Sitecore().Placeholder("mobile enrollment sections")
</div>

@Html.Sitecore().Placeholder("mobile enrollment sidebar")

<script type="text/ng-template" id="networkUnlocking/att">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Unlocking an AT&T Device</h2>
        </div>
        <div class="modal-body">
            <p><strong>To unlock your AT&T device, follow the instructions below.</strong></p>
            <ol>
                <li>Visit att.com/deviceunlock from a tablet or PC to submit your Customer Device Unlock Request.</li>
                <li>Review the eligibility requirements to unlock your device.</li>
                <li>At the bottom of the page, select the checkbox and then select Agree to agree to the requirements to unlock your device.</li>
                <li>Complete the Request a Device Unlock form and select Submit:
                    <ul>
                        <li>AT&T will process your unlock request within 2-5 business days.</li>
                        <li>To check the status of your request, visit att.com/deviceunlockstatus from a tablet or PC.</li>
                        <li>If your request is approved, we&rsquo;ll send the unlock code and/or instructions to unlock your device to the email address entered in your unlock request. You can also refer to the AT&T Device Unlock Code Instructions.</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="modal-footer">
            If you&rsquo;re a business customer, call <strong>800.331.0500</strong> to request an unlock code for your business device.
        </div>
    </div>
</script>


<script type="text/ng-template" id="networkUnlocking/sprint">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Unlocking a Sprint Device</h2>
        </div>
        <div class="modal-body">
            <p>To unlock your Sprint device, follow the instructions below.</p>
            <ol>
                <li>Visit <a href="http://att.com/deviceunlock">att.com/deviceunlock</a> from a tablet or PC to submit your Customer Device Unlock Request.</li>
                <li>Review the eligibility requirements to unlock your device.</li>
                <li>At the bottom of the page, select the checkbox and then select Agree to agree to the requirements to unlock your device.</li>
                <li>Complete the Request a Device Unlock form and select Submit:
                    <ol>
                        <li>Sprint will process your unlock request within 2-5 business days.</li>
                        <li>To check the status of your request, visit att.com/deviceunlockstatus from a tablet or PC.</li>
                        <li>If your request is approved, we&rsquo;ll send the unlock code and/or instructions to unlock your device to the email address entered in your unlock request. You can also refer to the Sprint Device Unlock Code Instructions.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="modal-footer">
            If you&rsquo;re a business customer, call <strong>800.331.0500</strong> to request an unlock code for your business device.
        </div>
    </div>
</script>

<script type="text/ng-template" id="enrollment-order-summary">
    <div class="enrollment__cart">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <h1>Order Summary</h1>
            </header>
            <div class="content">
                <div class="cart-item">
                    <h2>To Be Billed Today</h2>
    
                    <div class="cart-product clearfix">
                        <div class="description">
                            <span class="model">{{ ctrl.mobileService.getCart().phone.name }}</span> <br />
                            <span class="options">{{ ctrl.mobileService.getCart().model.size }}, {{ ctrl.mobileService.getCart().color.value }}</span> <br />
                        </div>
                        <div class="rate">{{ ctrl.mobileService.getCart().model.price | currency }}</div>

                        <div>

                            <div class="description">Initial Activation Fee</div>
                            <div class="rate">$29.00</div>
                        </div>

                        <div>
                            <div class="description">Shipping</div>
                            <div class="rate">$4.99</div>
                        </div>
                        <hr>
                        <div class="rate">Due Today: $439.97</div>
                    </div>

                    <div class="cart-product clearfix" ng-if="ctrl.mobileService.getCart().plan">
                        <h2>To Be Billed Monthly</h2>
                        <div>
                            <div class="description">Monthly Plan Cost</div>
                            <div class="rate">$69/mo</div>
                        </div>
                        <div>
                            <div class="description">Coverage Warranty</div>
                            <div class="rate">$9.95/mo</div>
                        </div>
                        <div>
                            <div class="description">Estimated Tax and Fees*</div>
                            <div class="rate">$7.98</div>
                        </div>
                        <hr>
                        <div class="rate">Monthly Bill: $71.97</div>
                    </div>                           
                </div>
            </div>
        </article>
        <article class="enrollment__box">
            <header>
                <h1>Early Termination Fee</h1>
            </header>
            <p>Lorem ipsum dolor sit amet, consetetur </p>
        </article>
        <article class="enrollment__box">
            <header>
                <h1>Questions? 800.156.4629</h1>
            </header>
        </article>
    </div>
</script>