<div class="enrollment mobile-enrollment" ng-controller="MobileEnrollmentCtrl as ctrl" ng-init="ctrl.mobileService.setPhoneData(@(Html.Action("MobileEnrollmentPhones", "MobileEnrollment").ToHtmlString())); usStates = @(Html.Action("States", "Data").ToHtmlString()); phoneTypes = @(Html.Action("PhoneCategories", "Data").ToHtmlString());">
    @Html.Sitecore().Placeholder("mobile enrollment sections")
</div>

<script type="text/ng-template" id="networkUnlocking/att">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Unlocking an AT&T Device</h2>
        </div>
        <div class="modal-body">
            <p><strong>To unlock your AT&T device, follow the instructions below.</strong></p>
            <ol>
                <li>Visit att.com/deviceunlock from a tablet or PC to submit your Customer Device Unlock Request.</li>
                <li>Review the eligibility requirements to unlock your device.</li>
                <li>At the bottom of the page, select the checkbox and then select Agree to agree to the requirements to unlock your device.</li>
                <li>Complete the Request a Device Unlock form and select Submit:
                    <ol>
                        <li>AT&T will process your unlock request within 2-5 business days.</li>
                        <li>To check the status of your request, visit att.com/deviceunlockstatus from a tablet or PC.</li>
                        <li>If your request is approved, we&rsquo;ll send the unlock code and/or instructions to unlock your device to the email address entered in your unlock request. You can also refer to the AT&T Device Unlock Code Instructions.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="modal-footer">
            If you&rsquo;re a business customer, call <strong>800.331.0500</strong> to request an unlock code for your business device.
        </div>
    </div>
</script>


<script type="text/ng-template" id="networkUnlocking/sprint">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Unlocking a Sprint Device</h2>
        </div>
        <div class="modal-body">
            <p>To unlock your Sprint device, follow the instructions below.</p>
            <ol>
                <li>Visit <a href="http://att.com/deviceunlock">att.com/deviceunlock</a> from a tablet or PC to submit your Customer Device Unlock Request.</li>
                <li>Review the eligibility requirements to unlock your device.</li>
                <li>At the bottom of the page, select the checkbox and then select Agree to agree to the requirements to unlock your device.</li>
                <li>Complete the Request a Device Unlock form and select Submit:
                    <ol>
                        <li>Sprint will process your unlock request within 2-5 business days.</li>
                        <li>To check the status of your request, visit att.com/deviceunlockstatus from a tablet or PC.</li>
                        <li>If your request is approved, we&rsquo;ll send the unlock code and/or instructions to unlock your device to the email address entered in your unlock request. You can also refer to the Sprint Device Unlock Code Instructions.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="modal-footer">
            If you&rsquo;re a business customer, call <strong>800.331.0500</strong> to request an unlock code for your business device.
        </div>
    </div>
</script>

<script type="text/ng-template" id="mobile-enrollment-cart">
    <div class="enrollment__cart" ng-controller="EnrollmentCartCtrl">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <div class="cart-items" ng-if="!isCartOpen()">
                    <i class="icon-cart"></i>
                    <div class="item-num" ng-show="getCartCount()">{{ getCartCount() }}</div>
                </div>
                <i class="icon-close" ng-click="toggleCart();" ng-if="isCartOpen()"></i>
                <h1>@Html.Sitecore().Field("6 - Cart Header")</h1>
            </header>
            <div class="content">
                @*<p class="alt" ng-if="!getCartCount() && !getCartItems().length">@Html.Sitecore().Field("Empty Cart Text")</p>*@
                <div class="cart-item">
                    <h2>@Html.Sitecore().Field("6 - Mobile Services Header")</h2>

                    <div class="mobile-plan">
                        Lorem Ipsum AT&amp;T Network plan <br />
                        <a href="">Edit Network</a> | <a href="">@Html.Sitecore().Field("6 - Edit Plan Link Text")</a> | <a href="">@Html.Sitecore().Field("6 - Plan Details Link Text")</a>
                    </div>

                    <div class="cart-product clearfix" ng-if="ctrl.mobileService.getCart().phone">
                        <div class="description">
                            <span class="condition">{{ ctrl.mobileService.getCart().model.condition }}</span> <br />
                            <span class="model">{{ ctrl.mobileService.getCart().phone.name }}</span> <br />
                            <span class="options">{{ ctrl.mobileService.getCart().model.size }}, {{ ctrl.mobileService.getCart().color.value }}</span> <br />
                            <a href="">@Html.Sitecore().Field("6 - Edit Phone Link Text")</a>
                        </div>
                        <div class="rate">{{ ctrl.mobileService.getCart().model.price | currency }}</div>

                        <div ng-if="ctrl.mobileService.getCart().warranty != ''">
                            <div class="description">@Html.Sitecore().Field("6 - Phone Warranty Text")</div>
                            <div class="rate">$9.95/mo</div>
                        </div>
                    </div>              

                    <div class="cart-product clearfix" ng-if="ctrl.mobileService.getCart().plan">
                        <h2>@Html.Sitecore().Field("6 - Monthly Plan Text")</h2>
                        <div class="description">
                            7.5 GB Included Data <br />
                            <a href="">@Html.Sitecore().Field("6 - Edit Plan Text")</a>
                        </div>
                        <div class="rate">$39/mo</div>
                    </div>                           
                </div>
                <div class="time">
                    <p><i class="icon-clock"></i>
                    @Html.Sitecore().Field("6 - Time Remaining Text").Format(new { time = "{{time()}}" })</p>
                </div>
            </div>
        </article>
        <article class="enrollment__box">
            <header>
                <p>@Html.Sitecore().Field("6 - Youll Need Header")</p>
            </header>
            <ul class="info">
                <li><i class="icon-credit-card"></i> @Html.Sitecore().Field("6 - Credit Card Text")</li>
                <li><i class="icon-billing-address"></i>  @Html.Sitecore().Field("6 - Billing Address Text")</a></li>
                <li><i class="icon-imei"></i> @Html.Sitecore().Field("6 - IMEI Number Text") <br /> @Html.Sitecore().Field("6 - Bring Your Own Phone Text")</li>
            </ul>
        </article>
    </div>
</script>

<script type="text/ng-template" id="enrollment-order-summary">
    <div class="enrollment__cart">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <h1>Order Summary</h1>
            </header>
            <div class="content">
                <div class="cart-item">
                    <h2>To Be Billed Today</h2>
    
                    <div class="cart-product clearfix">
                        <div class="description">
                            <span class="model">{{ ctrl.mobileService.getCart().phone.name }}</span> <br />
                            <span class="options">{{ ctrl.mobileService.getCart().model.size }}, {{ ctrl.mobileService.getCart().color.value }}</span> <br />
                        </div>
                        <div class="rate">{{ ctrl.mobileService.getCart().model.price | currency }}</div>

                        <div>

                            <div class="description">Initial Activation Fee</div>
                            <div class="rate">$29.00</div>
                        </div>

                        <div>
                            <div class="description">Shipping</div>
                            <div class="rate">$4.99</div>
                        </div>
                        <hr>
                        <div class="rate">Due Today: $439.97</div>
                    </div>

                    <div class="cart-product clearfix" ng-if="ctrl.mobileService.getCart().plan">
                        <h2>To Be Billed Monthly</h2>
                        <div>
                            <div class="description">Monthly Plan Cost</div>
                            <div class="rate">$69/mo</div>
                        </div>
                        <div>
                            <div class="description">Coverage Warranty</div>
                            <div class="rate">$9.95/mo</div>
                        </div>
                        <div>
                            <div class="description">Estimated Tax and Fees*</div>
                            <div class="rate">$7.98</div>
                        </div>
                        <hr>
                        <div class="rate">Monthly Bill: $71.97</div>
                    </div>                           
                </div>
            </div>
        </article>
        <article class="enrollment__box">
            <header>
                <h1>Early Termination Fee</h1>
            </header>
            <p>Lorem ipsum dolor sit amet, consetetur </p>
        </article>
        <article class="enrollment__box">
            <header>
                <h1>Questions? 800.156.4629</h1>
            </header>
        </article>
    </div>
</script>