@{
    var link = ((Sitecore.Data.Fields.LinkField)Html.Sitecore().CurrentItem.Fields["Modal Link"]);

        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Modal Title")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Modal Content")
        </div>
        <div class="modal-footer">
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button Text")</button>
            <a class="button" href="@link.GetFriendlyUrl()"> @link.Text</a>
        </div>
}
