@using Sitecore.Data.Fields
@model  Sitecore.Data.Items.Item
@{ 
    var sc = Html.Sitecore();
    var iconstyle = "display:inline; border:none; outline:none; text-decoration:none;";

    var mediaOptions = new Sitecore.Resources.Media.MediaUrlOptions { AlwaysIncludeServerUrl = true };
    var title = sc.CurrentItem.Fields["Title"];
    var summary = sc.CurrentItem.Fields["Summary"];
    var publishDateField = (DateField) sc.CurrentItem.Fields["Publish Date"];
    var publishDateString = "";
    if(publishDateField != null) {
        publishDateString = publishDateField.DateTime.ToString("MMMM dd, yyyy");
    }
    Sitecore.Data.Fields.ImageField calendarIconField = sc.CurrentItem.Fields["Calendar Icon"];
    var calendarIconPath = "";
    if(calendarIconField != null && calendarIconField.MediaItem != null) {
        calendarIconPath = Sitecore.Resources.Media.MediaManager.GetMediaUrl(calendarIconField.MediaItem, mediaOptions);
    }

    Sitecore.Data.Fields.ImageField buttonIconField = sc.CurrentItem.Fields["Button Icon"];
    var buttonIconPath = "";
    if(buttonIconField != null && buttonIconField.MediaItem != null) {
        buttonIconPath = Sitecore.Resources.Media.MediaManager.GetMediaUrl(buttonIconField.MediaItem, mediaOptions);
    }
}

<table width="300" align="@this.ViewData["align"]" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
    <tbody>
        <tr>
            <td>

                <table width="270" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                    <tbody>

                    	<tr>
                    		<td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #9c9c9c; text-align:left; line-height: 24px;">
                                <img src="@calendarIconPath" alt="" border="0" style="@iconstyle">
                        		<span>@publishDateString</span>
                        	</td>
                    	</tr>

                        <!-- title -->
                        <tr>
                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #282828; text-align:left; line-height: 24px;">
                                <a href="@Html.Raw(Sitecore.Links.LinkManager.GetItemUrl( sc.CurrentItem))">@Html.Raw(title)</a>
                            </td>
                        </tr>
                        <!-- end of title -->
                        <!-- spacing -->
                        <tr>
                            <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- /spacing -->
                        <!-- content -->
                        <tr>
                            <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:left; line-height: 24px;">
                                @summary
                            </td>
                        </tr>
                        <!-- end of content -->
                        <!-- spacing -->
                        <tr>
                            <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- /spacing -->
                        <!-- button -->
                        <tr>
                            <td>
                                <table width="132" height="32" bgcolor="#0971ce" align="left" valign="middle" border="0" cellpadding="0" cellspacing="0" style="border-radius:3px;" st-button="learnmore">
                                    <tbody>
                                        <tr>
                                            <td height="9" align="center" style="font-size:1px; line-height:1px; min-width:120px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="14" align="center" valign="middle" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight:bold;color: #ffffff; text-align:center; line-height: 14px; ; -webkit-text-size-adjust:none;" st-title="fulltext-btn">
                                                <a href="@Html.Raw(Sitecore.Links.LinkManager.GetItemUrl(sc.CurrentItem))" style="text-decoration: none;color: #ffffff; text-align:center;">
                                                    <span>READ STORY</span>
                                                    <img src="buttonIconPath" alt="" border="0" style="@iconstyle">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="9" align="center" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- end of button -->
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>