@{
    var sc = Html.Sitecore();
    var espanolstyle = "display:block; border:none; outline:none; text-decoration:none;";
    var mediaOptions = new Sitecore.Resources.Media.MediaUrlOptions { AlwaysIncludeServerUrl = true };
    Sitecore.Data.Fields.ImageField espanol = sc.CurrentItem.Fields["Espanol"];
    Sitecore.Data.Fields.ImageField headerBgField = sc.CurrentItem.Fields["Header Background"];
    var headerBgPath = "";
    if(headerBgField.MediaItem != null) {
        headerBgPath = Sitecore.Resources.Media.MediaManager.GetMediaUrl(headerBgField.MediaItem, mediaOptions);
    }
}
<table width="600" height="139" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
    <tbody>
        <tr>
            <td>
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td width="600">
                                <table width="600" height="139" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td width="600" valign="top" align="left" background="@headerBgPath" style="padding-top: 32px;">
                                                    <!-- spacing -->
                                                    <table width="445" height="18" align="left" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of spacing -->
                                                    <!-- espanol -->
                                                    <table width="67" height="18" align="left" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="67" height="18" align="center">
                                                                    @if (espanol.MediaItem != null)
                                                                    {
                                                                        <div class="imgpop">
                                                                            <a target="_blank" href="http://mystream.com/es/currents">
                                                                                <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(espanol.MediaItem, mediaOptions)" alt="" border="0" width="@espanol.Width" height="@espanol.Height" style="@espanolstyle">
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- end of espanol -->
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>