@{
    var sc = Html.Sitecore();
    var iconstyle = "display:block; border:none; outline:none; text-decoration:none;";
    var mediaOptions = new Sitecore.Resources.Media.MediaUrlOptions { AlwaysIncludeServerUrl = true };
    Sitecore.Data.Fields.ImageField footerBgField = sc.CurrentItem.Fields["Footer Background"];
    Sitecore.Data.Fields.ImageField streamLogoField = sc.CurrentItem.Fields["Stream Logo"];
    Sitecore.Data.Fields.ImageField facebookIconField = sc.CurrentItem.Fields["Facebook Icon"];
    Sitecore.Data.Fields.ImageField twitterIconField = sc.CurrentItem.Fields["Twitter Icon"];
    Sitecore.Data.Fields.ImageField youtubeIconField = sc.CurrentItem.Fields["Youtube Icon"];
    Sitecore.Data.Fields.ImageField pinterestIconField = sc.CurrentItem.Fields["Pinterest Icon"];

    var footerBgPath = "";
    if(footerBgField.MediaItem != null) {
        footerBgPath = Sitecore.Resources.Media.MediaManager.GetMediaUrl(footerBgField.MediaItem, mediaOptions);
    }
}
<table width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="footer">
    <tbody>
        <tr>
            <td>
                <table width="600" bgcolor="#333333" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%" valign="top" align="left" >
                                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                    <tbody>
                                        <!-- spacing -->
                                        <tr>
                                            <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- spacing -->
                                        <tr>
                                            <td>
                                                <!-- social icons -->
                                                <table align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right" style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; text-align:center; line-height: 14px; text-transform:uppercase; ">
                                                                <div class="imgpop">
                                                                    <a target="_blank" href="/">
                                                                        <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(streamLogoField.MediaItem, mediaOptions)" alt="" border="0" width="@streamLogoField.Width" height="@streamLogoField.Height" style="@iconstyle">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            <td width="25" height="25" align="center">
                                                                <div class="imgpop">
                                                                    <a target="_blank" href="@Html.Sitecore().Field("Facebook URL")">
                                                                        <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(facebookIconField.MediaItem, mediaOptions)" alt="" border="0" width="@facebookIconField.Width" height="@facebookIconField.Height" style="@iconstyle">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            <td width="25" height="25" align="center">
                                                                <div class="imgpop">
                                                                    <a target="_blank" href="@Html.Sitecore().Field("Twitter URL")">
                                                                        <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(twitterIconField.MediaItem, mediaOptions)" alt="" border="0" width="@twitterIconField.Width" height="@twitterIconField.Height" style="@iconstyle">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            <td width="25" height="25" align="center">
                                                                <div class="imgpop">
                                                                    <a target="_blank" href="@Html.Sitecore().Field("YouTube URL")">
                                                                        <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(youtubeIconField.MediaItem, mediaOptions)" alt="" border="0" width="@youtubeIconField.Width" height="@youtubeIconField.Height" style="@iconstyle">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                            <td width="25" height="25" align="center">
                                                                <div class="imgpop">
                                                                    <a target="_blank" href="@Html.Sitecore().Field("Pinterest URL")">
                                                                        <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(pinterestIconField.MediaItem, mediaOptions)" alt="" border="0" width="@pinterestIconField.Width" height="@pinterestIconField.Height" style="@iconstyle">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td align="right" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @Html.Sitecore().Field("Social Links")
                                                <!-- end of social icons -->
                                            </td>
                                        </tr>
                                        <!-- spacing -->
                                        <tr>
                                            <td height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- start of postfooter -->
<table width="600" bgcolor="#00a3e0" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="postfooter">
    <tbody>
        <tr>
            <td bgcolor="#ffffff">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%" valign="top" align="left" bgcolor="#00a3e0" style="background-image:url(@footerBgPath); background-repeat: no-repeat;">
                                <!--[if gte mso 9]>
                                    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
                                    <v:fill type="tile" src="@footerBgPath" color="#0071b9"/>
                                    </v:background>
                                <![endif]-->
                                <table width="600" height="40">
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                                <table width="600" bgcolor="#00a3e0" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                    <tbody>
                                        <tr>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                            <td bgcolor="#00a3e0" style="text-align: center; font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #ffffff; padding-bottom: 20px">
                                                @Html.Sitecore().Field("Footer Text 1")
                                            </td>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                        </tr>
                                        <tr>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                            <td bgcolor="#00a3e0" style="text-align: center; font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #ffffff; padding-bottom: 20px">
                                                @Html.Sitecore().Field("Footer Text 2")
                                            </td>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                        </tr>
                                        <tr>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                            <td bgcolor="#00a3e0" style="text-align: center; padding-bottom: 20px; font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #ffffff;">
                                                @Html.Sitecore().Field("Footer Text 3")
                                            </td>
                                            <td width="25" bgcolor="#00a3e0"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- End of postfooter -->
