@{
    System.Web.HtmlString pageHeader = null;
    IEnumerable<Sitecore.Data.Items.Item> itemsToShow = Html.Sitecore().CurrentItem.Children.OrderByDescending(i => ((Sitecore.Data.Fields.DateField)i.Fields["Date"]).DateTime).ToArray();
    IEnumerable<KeyValuePair<Sitecore.Data.Items.Item, List<Sitecore.Data.Items.Item>>> categories = null;
    var cats = new List<KeyValuePair<Sitecore.Data.Items.Item, List<Sitecore.Data.Items.Item>>>();
    foreach (Sitecore.Data.Items.Item item in itemsToShow)
    {
        var categoriesField = (Sitecore.Data.Fields.MultilistField)item.Fields["Categories"];

        foreach (var cat in categoriesField.GetItems())
        {
            if (!cats.Any(c => c.Key.ID == cat.ID))
            {
                cats.Add(new KeyValuePair<Sitecore.Data.Items.Item, List<Sitecore.Data.Items.Item>>(cat, new List<Sitecore.Data.Items.Item>()));
            }
            cats.First(c => c.Key.ID == cat.ID).Value.Add(item);
        }
    }
    categories = cats.OrderBy(c => c.Key.Name);

    var archives = from item in itemsToShow
                   group item by Html.Sitecore().Field("Date", item, new { format = "yyyyMM" }).ToString();

    if (categories.Any(c => c.Key.Name == Request.Params["category"]))
    {
        var cat = categories.FirstOrDefault(c => c.Key.Name == Request.Params["category"]);
        itemsToShow = cat.Value;
        pageHeader = Html.Sitecore().Field("Category Title", cat.Key);
    }

    if (archives.Any(c => Html.Sitecore().Field("Date", c.First(), new { format = "yyyyMM" }).ToString() == Request.Params["archive"]))
    {
        itemsToShow = archives.FirstOrDefault(c => Html.Sitecore().Field("Date", c.First(), new { format = "yyyyMM" }).ToString() == Request.Params["archive"]);
        pageHeader = pageHeader = Html.Sitecore().Field("Date", itemsToShow.First(), new { format = "MMMM yyyy" });
    }
    var paginationHelper = Html.GetPaginationHelper<Sitecore.Data.Items.Item>(itemsToShow);
}
<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="module marketing blog">
            @if (pageHeader != null)
            {
                <h3>@pageHeader</h3>
            }
            @{
                foreach (Sitecore.Data.Items.Item item in paginationHelper.CurrentItems)
                {
                    <article class="post">
                        <header>
                            <h4><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">@Html.Sitecore().Field("Title", item)</a></h4>
                            <p class="date">@Html.Sitecore().Field("Posted On Text", item): @Html.Sitecore().Field("Date", item, new { format = "MMMM d, yyyy" }) | @Html.Sitecore().Field("By Text", item): @Html.Sitecore().Field("Author", item)</p>
                        </header>
                        @(!string.IsNullOrEmpty(@Html.Sitecore().Field("Excerpt", item).ToHtmlString()) ? Html.Sitecore().Field("Excerpt", item) : Html.Raw(Html.Sitecore().Field("Content", item).ToHtmlString().Substring(0, 200) + "&hellip;"))
                        <footer>
                            <p><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)" class="button">@Html.Sitecore().Field("Read Full Post Text", item)</a></p>
                        </footer>
                    </article>
                    <hr />
                }
            }
            @paginationHelper.GetPaginationHtml()
        </article>
    </section>
    <aside>
        <article class="marketing blog-list">
            <button>@Html.Sitecore().Field("Categories Text")</button>
            <ul>
                @foreach (var category in categories)
                {
                    <li><a href="?category=@category.Key.Name">@Html.Sitecore().Field("Category Title", category.Key) (@category.Value.Count)</a></li>
                }
            </ul>
            <button>@Html.Sitecore().Field("Archives Text")</button>
            <ul>
                @foreach (var i in archives)
                {
                    <li><a href="?archive=@Html.Sitecore().Field("Date", i.First(), new { format= "yyyyMM" })">@Html.Sitecore().Field("Date", i.First(), new { format = "MMMM yyyy" })</a></li>
                }
            </ul>
        </article>
    </aside>
</section>