@using Sitecore.Data.Fields
@{
    var postDate = ((DateField)Html.Sitecore().CurrentItem.Fields["Date"]).DateTime;
}
<article class="module marketing wrapper blog-post">
    <header>
        <h3>@Html.Sitecore().Field("Title")</h3>
        <p class="date">@Html.Sitecore().Field("Posted On Text"): <time datetime="@postDate.ToString("yyyy-MM-dd")">@Html.Sitecore().Field("Date", new { format = "MMMM d, yyyy" })</time></p>
    </header>
    @Html.Sitecore().Field("Content")
</article>