<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="grey-box account-holder-information" ng-controller="AccountBalances">
            <form>
                <div class="content">
                    <div class="item account-holder">
                        <label class="account-holder-title">@Html.Sitecore().Field("Account Holder Name Text")</label>
                        Mr. John A. Doe
                    </div>
                    <div class="group">
                        <div class="item group-col" float-label>
                            <label for="primary-phone">@Html.Sitecore().Field("Primary Phone Number Text")</label>
                            <input type="tel" name="primary-phone" id="primary-phone" placeholder="">
                        </div>
                        <div class="item group-col">
                            @Html.Sitecore().Field("Phone Type Content")
                        </div>
                    </div>
                    <div class="additional-fields" additional-fields>
                        <div class="additional-field-action">
                            <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="">@Html.Sitecore().Field("Additional Phone Text")</a>
                        </div>
                        <div class="group additional-field-group additional-fields">
                            <div class="group">
                                @Html.Sitecore().Field("Additional Phone Content")
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <h3 class="billing-address-title">@Html.Sitecore().Field("Billing Address Text")</h3>
                    <div class="item">
                        <ul class="checkbox-list">
                            <li>
                                <input type="checkbox" name="billing-address" id="billing-address">
                                <label for="billing-address">@Html.Sitecore().Field("Same Address Text")</label>
                            </li>
                        </ul>
                        <div class="billing-address">
                            123 Main St.<br>
                            Dallas, TX 75001
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="buttons">
                        <button type="submit">@Html.Sitecore().Field("Save Button Text")</button>
                    </div>
                </footer>
            </form>
        </article>
    </section>
</section>
