@model StreamEnergy.MyStream.Models.Account.UpdateAccountInformationRequest

<div ng-controller="AcctAccountInformationCtrl">
    <article class="grey-box account-holder-information">
        <form ng-submit="updateAccountInformation()" data-val-bind-messages="validations">
            <div class="content">
                <div class="item account-holder">
                    <label class="account-holder-title">@Html.Sitecore().Field("Account Holder Name Text")</label>
                    {{ formData.CustomerName.first }} {{ formData.CustomerName.last }}
                </div>
                <div class="group">
                    <div class="item group-col" @*float-label*@>
                        <label for="@Html.For(m => m.PrimaryPhone.Number)">@Html.Sitecore().Field("Primary Phone Number Text")</label>
                        <input type="tel" @Html.ValidationAttributes(m => m.PrimaryPhone.Number) ng-model="formData.primaryPhone.number" />
                        @Html.ValidationMessageFor(model => model.PrimaryPhone.Number)
                    </div>
                    <div class="item group-col">
                        <label for="primary-phone-type">@Html.Sitecore().Field("Phone Type Text")</label>
                        <select name="primary-phone-type" id="primary-phone-type">
                            <option value="mobile">Mobile</option>
                        </select>
                    </div>
                </div>
                <div ng-switch="formDataOriginal.secondaryPhone.number || false">
                    <div class="additional-fields" ng-switch-when="false" additional-fields>
                        <div class="additional-field-action" ng-hide="formData.secondaryPhone.number">
                            <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="">@Html.Sitecore().Field("Additional Phone Text")</a>
                        </div>
                        <div class="group additional-field-group additional-fields">
                            <div class="group">
                                <div class="item group-col" @*float-label*@>
                                    <label for="@Html.For(m => m.SecondaryPhone.Number)">@Html.Sitecore().Field("Secondary Phone Number Text")</label>
                                    <input type="tel" @Html.ValidationAttributes(m => m.SecondaryPhone.Number) ng-model="formData.secondaryPhone.number" />
                                    @Html.ValidationMessageFor(model => model.SecondaryPhone.Number)
                                </div>
                                <div class="item group-col">
                                    <label for="secondary-phone-type">@Html.Sitecore().Field("Phone Type Text")</label>
                                    <select name="secondary-phone-type" id="secondary-phone-type">
                                        <option value="mobile">Mobile</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group" ng-switch-default>
                        <div class="item group-col" @*float-label*@>
                            <label for="@Html.For(m => m.SecondaryPhone.Number)">@Html.Sitecore().Field("Secondary Phone Number Text")</label>
                            <input type="tel" @Html.ValidationAttributes(m => m.SecondaryPhone.Number) ng-model="formData.secondaryPhone.number" />
                            @Html.ValidationMessageFor(model => model.SecondaryPhone.Number)
                        </div>
                        <div class="item group-col">
                            <label for="secondary-phone-type">@Html.Sitecore().Field("Phone Type Text")</label>
                            <select name="secondary-phone-type" id="secondary-phone-type">
                                <option value="mobile">Mobile</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr class="content-divider" />
                <h3 class="billing-address-title">@Html.Sitecore().Field("Billing Address Text")</h3>
                <div class="item">
                    <ul class="checkbox-list">
                        <li>
                            <input type="checkbox" name="billing-address" id="billing-address" ng-model="formData.sameAsService">
                            <label for="billing-address">@Html.Sitecore().Field("Same Address Text")</label>
                        </li>
                    </ul>
                    <div class="billing-address-container" ng-switch="formData.sameAsService">
                        <div class="billing-address" ng-switch-when="true">
                            {{ formData.serviceAddress.line1 }}<br>
                            {{ formData.serviceAddress.city }}, {{ formData.serviceAddress.stateAbbreviation }} {{ formData.serviceAddress.postalCode5 }}
                        </div>
                        <div ng-switch-when="false">
                            <div class="group">
                                <div class="item group-col">
                                    <label for="@Html.For(m => m.BillingAddress.Line1)">@Html.Sitecore().Field("Address 1 Text")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.BillingAddress.Line1) ng-model="formData.billingAddress.line1" />
                                    @Html.ValidationMessageFor(model => model.BillingAddress.Line1)
                                </div>
                                <div class="item group-col">
                                    <label for="@Html.For(m => m.BillingAddress.Line2)">@Html.Sitecore().Field("Address 2 Text")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.BillingAddress.Line2) ng-model="formData.billingAddress.line2" />
                                    @Html.ValidationMessageFor(model => model.BillingAddress.Line2)
                                </div>
                            </div>
                            <div class="group">
                                <div class="item group-col">
                                    <label for="@Html.For(m => m.BillingAddress.City)">@Html.Sitecore().Field("City Text")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.BillingAddress.City) ng-model="formData.billingAddress.city" />
                                    @Html.ValidationMessageFor(model => model.BillingAddress.City)
                                </div>
                                <div class="item state">
                                    <label for="@Html.For(m => m.BillingAddress.StateAbbreviation)">@Html.Sitecore().Field("State Text")</label>
                                    @Html.StateSelect("formData.billingAddress.stateAbbreviation")
                                    @Html.ValidationMessageFor(model => model.BillingAddress.StateAbbreviation)
                                </div>
                                <div class="item zip">
                                    <label for="@Html.For(m => m.BillingAddress.PostalCode5)">@Html.Sitecore().Field("Zip Code Text")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.BillingAddress.PostalCode5) ng-model="formData.billingAddress.postalCode5" />
                                    @Html.ValidationMessageFor(model => model.BillingAddress.PostalCode5)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Save Button Text")</button>
                </div>
            </footer>
            </formng-submit>
</article>
</div>
