@model StreamEnergy.MyStream.Models.Account.AddNewAccountRequest

<article class="grey-box account" ng-controller="AcctAddNewAccountCtrl">
    <header>
        <h2>@Html.Sitecore().Field("Add New Account Text")</h2>
    </header>
    <form ng-submit="addNewAccount(); addNewAccountForm.$setPristine()" data-val-bind-messages="validations">
        <div class="content" loading-indicator>
            <div ng-show="successMessage">
                <div class="notice success">
                    @Html.Sitecore().Field("Success Message Text")
                </div>
                <hr class="content-divider" />
            </div>
            <p>@Html.Sitecore().Field("New Account Instructions Text")</p>
            <div class="group">
                <div class="item group-col" @Html.Validation().ErrorClass(model => model.AccountNumber) float-label>
                    <label for="@Html.IdFor(m => m.AccountNumber)">@Html.Sitecore().Field("Account Number Text")</label>
                    @Html.TextBoxFor(m => m.AccountNumber, new { ng_model = "formData.accountNumber", data_val_if="formData.accountNumber" })
                    @Html.ValidationMessageFor(model => model.AccountNumber)
                </div>
                <div class="item group-col" @Html.Validation().ErrorClass(model => model.SsnLastFour) float-label>
                    <label for="@Html.IdFor(m => m.SsnLastFour)">@Html.Sitecore().Field("Last 4 Text")</label>
                    @Html.TextBoxFor(m => m.SsnLastFour, new { ng_model = "formData.ssnLastFour", data_val_if="formData.ssnLastFour" })
                    @Html.ValidationMessageFor(model => model.SsnLastFour)
                </div>
            </div>
        </div>
        <footer>
            <div class="buttons">
                <button type="submit" data-val-submit>@Html.Sitecore().Field("Save Button Text")</button>
            </div>
        </footer>
    </form>
</article>

