<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="enrolled-accounts">
            <header>
                <h2>@Html.Sitecore().Field("Enrolled Accounts Text")</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>@Html.Sitecore().Field("Account to Pay Text")</th>
                        <th>@Html.Sitecore().Field("Date Added Text")</th>
                        <th>@Html.Sitecore().Field("Action Text")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Account to Pay"><a href="#">1234567890</a></td>
                        <td data-title="Date Added">12/28/2013 - 17:33:15 PM</td>
                        <td><button class="secondary">@Html.Sitecore().Field("Remove Button Text")</button><button class="secondary">@Html.Sitecore().Field("Send Letter Button Text")</button></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</section>

