<article class="enrolled-accounts" ng-controller="AcctEnrolledAccountsCtrl">
    <header>
        <h2>@Html.Sitecore().Field("Enrolled Accounts Text")</h2>
    </header>
    <table loading-indicator>
        <thead>
            <tr>
                <th>@Html.Sitecore().Field("Account to Pay Text")</th>
                <th>@Html.Sitecore().Field("Date Added Text")</th>
                <th>@Html.Sitecore().Field("Action Text")</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in formData.enrolledAccounts">
                <td data-title="Account"><a href="~/account/payments#{{ account.accountNumber }}">{{ account.accountNumber }}</a></td>
                <td data-title="Date Added">{{ account.dateAdded | date:'MM/dd/yyyy - h:mm:ss a'}}</td>
                <td>
                    <button class="secondary" ng-click="open(account.accountNumber)">@Html.Sitecore().Field("Remove Button Text")</button>
                    <button class="secondary" ng-show="account.sendLetter" ng-click="sendLetter(account.accountNumber)">@Html.Sitecore().Field("Send Letter Button Text")</button>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("~/Views/Components/Account/Profile/Remove Account Modal.cshtml")
</article>
