<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="grey-box">
            <header>
                <h2>@Html.Sitecore().Field("My Online Account Information Text")</h2>
            </header>
            <form>
                <div class="content">
                    <div class="group">
                        <div class="item group-col" float-label>
                            <label for="username">@Html.Sitecore().Field("Username Text")</label>
                            <input type="text" name="username" id="username">
                        </div>
                        <div class="item group-col" float-label>
                            <label for="email">@Html.Sitecore().Field("Email Text")</label>
                            <input type="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="additional-fields" additional-fields>
                        <div class="additional-field-action">
                            <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="">@Html.Sitecore().Field("Change Password Text")</a>
                        </div>
                        <div class="group additional-field-group additional-fields">
                            <div class="group">
                                <div class="item group-col" float-label>
                                    <label for="current-password">@Html.Sitecore().Field("Current Password Text")</label>
                                    <input type="text" name="current-password" id="current-password">
                                </div>
                                <div class="item group-col"></div>
                            </div>
                            <div class="group">
                                <div class="item group-col" float-label>
                                    <label for="new-password">@Html.Sitecore().Field("New Password Text")</label>
                                    <input type="text" name="new-password" id="new-password">
                                    <span class="help-text">@Html.Sitecore().Field("Password Requirements Text")</span>
                                </div>
                                <div class="item group-col" float-label>
                                    <label for="new-password-repeat">@Html.Sitecore().Field("New Password Text")</label>
                                    <input type="email" name="new-password-repeat" id="new-password-repeat">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <div class="group">
                        @Html.Sitecore().Field("Security Question 1 Content")
                    </div>
                    <div class="group">
                        @Html.Sitecore().Field("Security Question 2 Content")
                    </div>
                    <hr class="content-divider" />
                    <div class="item">
                        @Html.Sitecore().Field("Language Preference Content")
                    </div>
                </div>
                <footer>
                    <div class="buttons">
                        <button type="submit">@Html.Sitecore().Field("Save Button Text")</button>
                    </div>
                </footer>
            </form>
        </article>
    </section>
</section>
