@model StreamEnergy.MyStream.Models.Account.UpdateOnlineAccountRequest

<div ng-controller="AcctOnlineAccountCtrl">
    <section class="layout cols-2 wrapper">
        <section class="layout cols-1">
            <article class="grey-box account">
                <header>
                    <h2>@Html.Sitecore().Field("My Online Account Information Text")</h2>
                </header>
                <form ng-submit="updateOnlineAccount()" data-val-bind-messages="validations">
                    <div class="content">
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Username) @*float-label*@>
                                <label for="@Html.For(m => m.Username)">@Html.Sitecore().Field("Username Text")</label>
                                <input type="text" @Html.ValidationAttributes(m => m.Username) ng-model="formData.username" />
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Email.Address) @*float-label*@>
                                <label for="@Html.For(m => m.Email.Address)">@Html.Sitecore().Field("Email Text")</label>
                                <input type="email" @Html.ValidationAttributes(m => m.Email.Address) ng-model="formData.email.address" />
                                @Html.ValidationMessageFor(model => model.Email.Address)
                            </div>
                        </div>
                        <div class="additional-fields" additional-fields>
                            <div class="additional-field-action">
                                <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="">@Html.Sitecore().Field("Change Password Text")</a>
                            </div>
                            <div class="group additional-field-group additional-fields">
                                <div class="group">
                                    <div class="item group-col" @Html.ValidationErrorClass(model => model.CurrentPassword) @*float-label*@>
                                        <label for="@Html.For(m => m.CurrentPassword)">@Html.Sitecore().Field("Current Password Text")</label>
                                        <input type="password" ng-model="formData.currentPassword" />
                                    </div>
                                    <div class="item group-col"></div>
                                </div>
                                <div class="group">
                                    <div class="item group-col" @Html.ValidationErrorClass(model => model.Password) @*float-label*@>
                                        <label for="@Html.For(m => m.Password)">@Html.Sitecore().Field("New Password Text")</label>
                                        <input type="password" @Html.ValidationAttributes(m => m.Password) ng-model="formData.password" />
                                        @Html.ValidationMessageFor(model => model.Password)
                                        <span class="help-text">@Html.Sitecore().Field("Password Requirements Text")</span>
                                    </div>
                                    <div class="item group-col" @Html.ValidationErrorClass(model => model.ConfirmPassword) @*float-label*@>
                                        <label for="@Html.For(m => m.ConfirmPassword)">@Html.Sitecore().Field("New Password Text")</label>
                                        <input type="password" @Html.ValidationAttributes(m => m.ConfirmPassword) ng-model="formData.confirmPassword" />
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="content-divider" />
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                                <label for="question-1">@Html.Sitecore().Field("Question 1 Label")</label>
                                <select ng-model="formData.challenges[0].selectedQuestion" ng-options="question.text for question in formData.availableSecurityQuestions|filter:filter2 track by question.id"></select>
                                @Html.ValidationMessageFor(model => model.Challenges)
                            </div>
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                                <label for="answer-1">@Html.Sitecore().Field("Question 1 Answer Label")</label>
                                <input type="text" name="answer-1" id="answer-1" ng-model="formData.challenges[0].answer">
                                <span class="help-text">@Html.Sitecore().Field("Question 1 Help Text")</span>
                                @Html.ValidationMessageFor(model => model.Challenges)
                            </div>
                        </div>
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                                <label for="@Html.For(m => m.Challenges)">@Html.Sitecore().Field("Question 2 Label")</label>
                                <select ng-model="formData.challenges[1].selectedQuestion" ng-options="question.text for question in formData.availableSecurityQuestions|filter:filter1 track by question.id"></select>
                                @Html.ValidationMessageFor(model => model.Challenges)
                            </div>
                            <div class="item group-col" @Html.ValidationErrorClass(model => model.Challenges)>
                                <label for="answer-2">@Html.Sitecore().Field("Question 2 Answer Label")</label>
                                <input type="text" name="answer-2" id="answer-2" ng-model="formData.challenges[1].answer">
                                <span class="help-text">@Html.Sitecore().Field("Question 2 Help Text")</span>
                                @Html.ValidationMessageFor(model => model.Challenges)
                            </div>
                        </div>
                        <hr class="content-divider" />
                        <div class="item">
                            <label for="language-preference">@Html.Sitecore().Field("Language Preference Label")</label>
                            <ul class="checkbox-list">
                                <li data-ng-repeat="language in formData.availableLanguages">
                                    <input type="radio" ng-model="languagePreference" value="{{ language.text }}" name="language-preference" />
                                    <label for="{{language.text}}">{{ language.text }}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <footer>
                        <div class="buttons">
                            <button type="submit" data-val-submit>@Html.Sitecore().Field("Save Button Text")</button>
                        </div>
                    </footer>
                </form>
            </article>
        </section>
    </section>
</div>
