<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="grey-box notification-settings">
            <form>
                <header>
                    <h2>@Html.Sitecore().Field("Notification Settings Text")</h2>
                </header>
                <div class="content">
                    <div class="edit-preferences">
                        <div class="additional-fields" additional-fields>
                            <div class="preference">
                                <span class="preference-type">
                                    @Html.Sitecore().Field("New Document Arrives Text") <span class="label"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</span> <span class="label"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</span>
                                </span>
                                <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="" class="additional-field-action">@Html.Sitecore().Field("Edit Link Text")</a>
                            </div>
                            <div class="additional-field-group additional-fields">
                                <p>@Html.Sitecore().Field("Delivery Methods Text")</p>
                                <div class="item">
                                    <ul class="checkbox-list notification-list">
                                        <li>
                                            <input type="checkbox" value="web" id="notifications-document-web" checked>
                                            <label for="notifications-document-web"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="email" id="notifications-document-email" checked>
                                            <label for="notifications-document-email"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="sms" id="notifications-document-sms">
                                            <label for="notifications-document-sms"><i class="icon-notification-sms"></i> @Html.Sitecore().Field("SMS Text")</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <div class="buttons">
                                        <button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
                                        <button>@Html.Sitecore().Field("Save Preference Button Text")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <div class="edit-preferences">
                        <div class="additional-fields" additional-fields>
                            <div class="preference">
                                <span class="preference-type">
                                    @Html.Sitecore().Field("Online Payments Text") <span class="label"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</span> <span class="label"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</span>
                                </span>
                                <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="" class="additional-field-action">@Html.Sitecore().Field("Edit Link Text")</a>
                            </div>
                            <div class="additional-field-group additional-fields">
                                <p>@Html.Sitecore().Field("Delivery Methods Text")</p>
                                <div class="item">
                                    <ul class="checkbox-list notification-list">
                                        <li>
                                            <input type="checkbox" value="web" id="notifications-document-web" checked>
                                            <label for="notifications-document-web"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="email" id="notifications-document-email" checked>
                                            <label for="notifications-document-email"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="sms" id="notifications-document-sms">
                                            <label for="notifications-document-sms"><i class="icon-notification-sms"></i> @Html.Sitecore().Field("SMS Text")</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <div class="buttons">
                                        <button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
                                        <button>@Html.Sitecore().Field("Save Preference Button Text")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <div class="edit-preferences">
                        <div class="additional-fields" additional-fields>
                            <div class="preference">
                                <span class="preference-type">
                                    @Html.Sitecore().Field("Recurring Payments Text") <span class="label"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</span> <span class="label"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</span>
                                </span>
                                <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="" class="additional-field-action">@Html.Sitecore().Field("Edit Link Text")</a>
                            </div>
                            <div class="additional-field-group additional-fields">
                                <p>@Html.Sitecore().Field("Delivery Methods Text")</p>
                                <div class="item">
                                    <ul class="checkbox-list notification-list">
                                        <li>
                                            <input type="checkbox" value="web" id="notifications-document-web" checked>
                                            <label for="notifications-document-web"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="email" id="notifications-document-email" checked>
                                            <label for="notifications-document-email"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="sms" id="notifications-document-sms">
                                            <label for="notifications-document-sms"><i class="icon-notification-sms"></i> @Html.Sitecore().Field("SMS Text")</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <div class="buttons">
                                        <button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
                                        <button>@Html.Sitecore().Field("Save Preference Button Text")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <div class="edit-preferences">
                        <div class="additional-fields" additional-fields>
                            <div class="preference">
                                <span class="preference-type">
                                    @Html.Sitecore().Field("Recurring Profile Text") <span class="label"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</span> <span class="label"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</span>
                                </span>
                                <a ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" href="" class="additional-field-action">@Html.Sitecore().Field("Edit Link Text")</a>
                            </div>
                            <div class="additional-field-group additional-fields">
                                <p>@Html.Sitecore().Field("Delivery Methods Text")</p>
                                <div class="item">
                                    <ul class="checkbox-list notification-list">
                                        <li>
                                            <input type="checkbox" value="web" id="notifications-document-web" checked>
                                            <label for="notifications-document-web"><i class="icon-notification-bell"></i> @Html.Sitecore().Field("Web Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="email" id="notifications-document-email" checked>
                                            <label for="notifications-document-email"><i class="icon-notification-email"></i> @Html.Sitecore().Field("Email Text")</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" value="sms" id="notifications-document-sms">
                                            <label for="notifications-document-sms"><i class="icon-notification-sms"></i> @Html.Sitecore().Field("SMS Text")</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <div class="buttons">
                                        <button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
                                        <button>@Html.Sitecore().Field("Save Preference Button Text")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="content-divider" />
                    <div class="edit-preferences">
                        <div class="item">
                            @Html.Sitecore().Field("Offers Content")
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="buttons">
                        <button type="submit" class="buttons">@Html.Sitecore().Field("Save Button Text")</button>
                    </div>
                </footer>
            </form>
        </article>
    </section>
</section>
