<article class="grey-box payments">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<form>
		<div class="content">
			
			<div class="item">
				<label for="account-nickname">@Html.Sitecore().Field("Account Nickname Label"):</label>
				<input type="text" id="account-nickname">
				<span class="help-text">@Html.Sitecore().Field("Account Nickname Help Text")</span>
			</div>

			<div class="item">
				<label for="credit-card-number">@Html.Sitecore().Field("Credit Card Number Label"):</label>
				<input id="credit-card-number" type="text">
			</div>
			<div class="group">
				<div class="item">
					<label for="expiration-date">@Html.Sitecore().Field("Expiration Date LAbel"):</label>
					<select class="small" id="cc-month">
						<option value="">MM</option>
					</select>
					<select class="small" id="cc-year">
						<option value="">YYYY</option>
					</select>
				</div>
				<div class="item">
					<label for="billing-zip">@Html.Sitecore().Field("Zip Code Label"):</label>
					<input class="small" type="text" id="billing-zip">
				</div>
				<div class="item">
					<label for="security-code">@Html.Sitecore().Field("Security Code Label"):</label>
					<input class="small" type="text" id="security-code">
				</div>
				<div class="item">
					<a href="" class="single-link">@Html.Sitecore().Field("See Example Text")</a>
				</div>
			</div>

		</div>
		<footer>
			<div class="buttons">
				<button type="submit">@Html.Sitecore().Field("Submit Button Text")</button>
				<button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
			</div>
		</footer>
	</form>
</article>