<article class="grey-box payments">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<form>
		<div class="content">

			<div class="item">
				<label for="account-nickname">@Html.Sitecore().Field("Account Nickname Label"):</label>
				<input type="text" id="account-nickname">
                <span class="help-text">@Html.Sitecore().Field("Account Nickname Help Text")</span>
			</div>			
            							
            <div bank-account-payment="bankPaymentInfo" data-val-if="true"></div>

            <div class="item">
                <label for="description">@Html.Sitecore().Field("Description Label")</label>
                <textarea name="description" id="description"></textarea>
            </div>

		</div>
		<footer>
			<div class="buttons">
				<button type="submit" data-val-submit>@Html.Sitecore().Field("Submit Button Text")</button>
				<button class="secondary">@Html.Sitecore().Field("Cancel Button Text")</button>
			</div>
		</footer>
	</form>
</article>
