<article class="grey-box payments" ng-controller="AutoPayCtrl">
    <header>
        <h2>@Html.Sitecore().Field("Header Text")</h2>
    </header>
    <form>
		<div class="content">
            <div class="account-selector">
                <div class="group">
                    <div class="item">
                        <label>@Html.Sitecore().Field("Account Number Label")</label>
                        <select @*ng-model="selectedAccount.account" ng-options="item.accountNumber for item in accounts"*@>
                            <option value="Please choose">1197015532</option>
                            <option value="account1">Account 2</option>
                        </select>
                    </div>
                    <div class="item auto-pay-address">
                        <p>@Html.Sitecore().Field("Services Address Label")</p>
                        <p>123 Main Street, Dallas, TX 75001</p>
                    </div>
                </div>
            </div>
            <div class="notice message">
                @Html.Sitecore().Field("Notice Text")
            </div>	
			<div class="payment-selection additional-fields">
				<input type="radio" id="autopay-on" name="payment-type" ng-model="autoPay.status" ng-value="autoPayOn">
				<label for="autopay-on">@Html.Sitecore().Field("AutoPay On Label")</label>

                    <div class="additional-field-group" ng-show="autoPay.status == 'autoPayOn'">
                        <div class="group">@Html.Sitecore().Field("Account Number") <strong>1197015532</strong></div>
                        <div class="group">
                            <div class="item account-number">
                                <label for="">@Html.Sitecore().Field("Payment Account Label")</label>
                                <select>
                                    <option value="Please choose">@Html.Sitecore().Field("Select Account Label")</option>
                                    <option value="payment1">Payment Method 1</option>
                                    <option value="payment2">Payment Method 2</option>
                                </select>
                            </div>
                            <div class="item">
                                <a class="single-link" href="">@Html.Sitecore().Field("Add Payment Account")</a>
                            </div>
                        </div>
                        <div>
                            <p class="arrow-toggle" ng-class="{'collapsed': !autoPay.isOpen}" ng-click="autoPay.isOpen = !autoPay.isOpen" tabindex="0">
                                <span></span>@Html.Sitecore().Field("Advanced Settings Text")
                            </p>
                            <div class="advanced-settings slide-toggle" slide-down-show="autoPay.isOpen">
                                <p class="datepicker">
                                    @Html.Sitecore().Field("Recurring Pay Text 1")
                                    <input type="text" class="small" ng-model="autoPay.dt" datepicker-popup is-open="datePickerOpened" ng-click="openDatePicker($event)" min-date="minDate" date-disabled="disableWeekends(date, mode)" datepicker-close-on-resize>
                                    @Html.Sitecore().Field("Recurring Pay Text 2")
                                    <select>
                                        <option>until further notice</option>
                                    </select>
                                </p>
                                <p>
                                    @Html.Sitecore().Field("Schedule Pay Text 1")
                                <select>
                                    <option>automatic</option>
                                </select>
                                @Html.Sitecore().Field("Schedule Pay Text 2")
                                <select>
                                    <option>until my bill arrives</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
			</div>
            <hr class="content-divider" />
			<div class="payment-selection">
				<input type="radio" id="autopay-off" name="payment-type" ng-model="autoPay.status" ng-value="autoPayOff">
				<label for="autopay-off">@Html.Sitecore().Field("AutoPay Off Label")</label>
			</div>
		</div>
		<footer>
			<div class="buttons">
				<button type="submit" ng-click="save()">@Html.Sitecore().Field("Save Button Text")</button>
			</div>
		</footer>
	</form>
</article>