@model StreamEnergy.DomainModels.Payments.TokenizedCard
<div>
    <div class="item" data-val-error="PaymentAccount.CreditCardNumber">
        <label for="credit-card-number">@Html.Sitecore().Field("Credit Card Number Label"):</label>
        <input id="credit-card-number" name="PaymentAccount.CreditCardNumber" data-val="true" data-val-if="ccCtrl.validate" data-val-creditcard="@Html.Sitecore().Field("Credit Card Number Invalid")" data-val-required="@Html.Sitecore().Field("Credit Card Number Required")" tokenize-card="{'tokenizerDomain':'https://fts.prinpay.com:6443'}" ng-model="ccCtrl.cardToken" type="text">
    </div>
    <div class="group">
        <div class="item" @Html.Validation().ErrorClass(m => m.ExpirationDate)>
            <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Label"):</label>
            <select class="small" id="cc-month" name="@Html.IdFor(m => m.ExpirationDate)" data-val="true" data-val-if="ccCtrl.validate" data-val-required="" ng-model="ccCtrl.expirationMonth" ng-options="month for month in ccCtrl.expirationMonths">
                <option value="">@Html.Sitecore().Field("Select Month")</option>
            </select>
            <select class="small" id="cc-year" name="@Html.IdFor(m => m.ExpirationDate)" data-val="true" data-val-if="ccCtrl.validate" data-val-required="" ng-model="ccCtrl.expirationYear" ng-options="year for year in ccCtrl.expirationYears">
                <option value="">@Html.Sitecore().Field("Select Year")</option>
            </select>
        </div>
        <div class="item" @Html.Validation().ErrorClass(m => m.BillingZipCode)>
            <label for="@Html.IdFor(m => m.BillingZipCode)">@Html.Sitecore().Field("Zip Code Label"):</label>
            @Html.TextBoxFor(m => m.BillingZipCode, new { data_val_if="ccCtrl.validate", ng_model="ccCtrl.billingZip" })
        </div>
        <div class="item" @Html.Validation().ErrorClass(m => m.SecurityCode)>
            <label for="@Html.IdFor(m => m.SecurityCode)">@Html.Sitecore().Field("Security Code Label"):</label>
            @Html.TextBoxFor(m => m.SecurityCode, new { ng_model = "ccCtrl.securityCode", data_val_if="ccCtrl.validate" })
        </div>
        <div class="item">
            <a href="" class="single-link">@Html.Sitecore().Field("See Example Link Label")</a>
        </div>
    </div>
</div>
