<article class="grey-box payments">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<form ng-show="activeState == 'step1'">
		<div class="content">
			@Html.Sitecore().Field("Body Text")

			<div class="item">
				<label for="account-number">@Html.Sitecore().Field("Account Number Label"):</label>
				<input id="account-number" type="text">
			</div>
			@Html.Sitecore().Field("Terms and Conditions Text")
		</div>
		<footer>
			<div class="buttons">
				<button type="submit" ng-click="continue()">@Html.Sitecore().Field("Continue Button Text")</button>
			</div>
		</footer>
	</form>
	<form ng-show="activeState == 'step2'">
		<div class="content">
			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Account Number Label"):</dt>
				<dd>1234567890</dd>
				<dt>@Html.Sitecore().Field("Balance Text"):</dt>
				<dd>$123.45</dd>
			</dl>

			<div class="item">
				<label for="customer-name">@Html.Sitecore().Field("Customer Name Label"):</label>
				<input id="customer-name" type="text">
			</div>

			<div class="item">
				<label for="email">@Html.Sitecore().Field("Email Address Label"):</label>
				<input id="email" type="email">
			</div>

			<div class="item">
				<label for="payment-amount">@Html.Sitecore().Field("Payment Amount Label"):</label>
				$ <input id="payment-amount" class="small" type="text">
			</div>

			<fieldset>
				<legend>@Html.Sitecore().Field("Payment Type Label"):</legend>

				<div class="payment-type-selection">
					<div class="payment-selection">
						<input type="radio" id="credit-card" name="payment-type" ng-model="paymentSelection.paymentOption" ng-value="creditCard">
						<label for="credit-card">@Html.Sitecore().Field("Credit Card Label")</label>
					</div>
					<div class="payment-options"  ng-show="paymentSelection.paymentOption == 'credit-card'">
						<div class="item">
							<label for="credit-card-number">@Html.Sitecore().Field("Credit Card Number Label"):</label>
							<input id="credit-card-number" type="text">
						</div>
						<div class="group">
							<div class="item">
								<label for="expiration-date">@Html.Sitecore().Field("Expiration Date Label"):</label>
								<select class="small" id="cc-month">
									<option value="">MM</option>
								</select>
								<select class="small" id="cc-year">
									<option value="">YYYY</option>
								</select>
							</div>
							<div class="item">
								<label for="billing-zip">@Html.Sitecore().Field("Zip Code Label"):</label>
								<input class="small" type="text" id="billing-zip">
							</div>
							<div class="item">
								<label for="security-code">@Html.Sitecore().Field("Security Code Label"):</label>
								<input class="small" type="text" id="security-code">
							</div>
							<div class="item">
								<a href="" class="single-link">@Html.Sitecore().Field("See Example Text")</a>
							</div>
						</div>
					</div>
					<div class="payment-selection">
						<input type="radio" id="bank-account" name="payment-type" ng-model="paymentSelection.paymentOption" ng-value="bankAccount">
						<label for="bank-account">@Html.Sitecore().Field("Bank Account Label")</label>
					</div>
					<div class="payment-options" ng-show="paymentSelection.paymentOption == 'bank-account'">
						<div class="item">
							<label for="payment-method">@Html.Sitecore().Field("Account Type Label"):</label>
							<select id="payment-method">
								<option value="">Please Choose</option>
							</select>
						</div>

						<div class="group">
							<div class="item group-col">
								<label for="security-code">@Html.Sitecore().Field("Routing Number Label"):</label>
								<input type="text" id="security-code">
							</div>
							<div class="item group-col">
								<label for="security-code">@Html.Sitecore().Field("Bank Account Number Label"):</label>
								<input type="text" id="security-code">
							</div>									
						</div>
						@Html.Sitecore().Field("Bank Account Image")
					</div>										
				</div>
			</fieldset>

		</div>
		<footer>
			<div class="buttons">
				<button type="submit">@Html.Sitecore().Field("Payment Continue Button Text")</button>
				<button class="secondary">@Html.Sitecore().Field("Back Button Text")</button>
			</div>
		</footer>
	</form>
</article>