
<article class="grey-box payments">
	<header>
		<h2>Make a Payment</h2>
	</header>
	<form>
		<div class="content">
			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Account Number Text"):</dt>
				<dd>1234657890</dd>
			</dl>

			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
				<dd>Credit Card</dd>
				<dt>@Html.Sitecore().Field("Card Number Text"):</dt>
				<dd>**** **** **** 1234</dd>
				<dt>@Html.Sitecore().Field("Bank Account Number Text"):</dt>
				<dd>****1234</dd>
			</dl>

			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Payment Date Text"):</dt>
				<dd>MM/DD/YYYY</dd>
				<dt>@Html.Sitecore().Field("Payment Amount Text"):</dt>
				<dd>$123.45</dd>
				<dt>@Html.Sitecore().Field("Service Fee Text"):</dt>
				<dd>$2.95</dd>
			</dl>

			<dl class="clearfix module-list payment-total">
				<dt>@Html.Sitecore().Field("Payment Total Text"):</dt>
				<dd>$126.40</dd>
			</dl>

		</div>
		<footer>
			<div class="buttons">
				<button type="submit">@Html.Sitecore().Field("Submit Payment Button Text")</button>
				<button class="secondary">@Html.Sitecore().Field("Back Button Text")</button>
			</div>
		</footer>
	</form>
</article>
@Html.Sitecore().Field("Footnote Text")

<article class="grey-box payments">
	<header>
		<h2>Make a Payment</h2>
	</header>
	<form>
		<div class="content">
			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Confirmation Number Text"):</dt>
				<dd>1234657890132456</dd>
				<dt>@Html.Sitecore().Field("Account Number Text"):</dt>
				<dd>1234657890</dd>
			</dl>

			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
				<dd>Credit Card</dd>
				<dt>@Html.Sitecore().Field("Card Number Text"):</dt>
				<dd>**** **** **** 1234</dd>
				<dt>@Html.Sitecore().Field("Bank Account Number Text"):</dt>
				<dd>****1234</dd>
			</dl>

			<dl class="clearfix module-list">
				<dt>@Html.Sitecore().Field("Payment Date Text"):</dt>
				<dd>MM/DD/YYYY</dd>
				<dt>@Html.Sitecore().Field("Payment Amount Text"):</dt>
				<dd>$123.45</dd>
				<dt>@Html.Sitecore().Field("Service Fee Text"):</dt>
				<dd>$2.95</dd>
			</dl>

			<dl class="clearfix module-list payment-total">
				<dt>@Html.Sitecore().Field("Payment Total Text"):</dt>
				<dd>$126.40</dd>
			</dl>

		</div>
		<footer>
			<div class="buttons">
				<a href="#" class="button">@Html.Sitecore().Field("Make Another Payment Button Text")</a>
				<a href="#" class="button secondary">@Html.Sitecore().Field("Home Button Text")</a>
			</div>
		</footer>
	</form>
</article>