@model StreamEnergy.MyStream.Models.Account.MakeOneTimePaymentRequest
<div ng-controller="OneTimePaymentCtrl as ctrl">
	<article class="grey-box payments form" loading-indicator>
		<header>
			<h2>@Html.Sitecore().Field("Header Text")</h2>
		</header>
		<form data-val-bind-messages="validations"  ng-if="ctrl.activeStep == 1" ng-submit="ctrl.lookupAccount()">
			<div class="content">
                <div ng-show="ctrl.errorMessage">
                    <div class="notice error">
                        @Html.Sitecore().Field("Error Message Text")
                    </div>
                    <hr class="content-divider" />
                </div>
				@Html.Sitecore().Field("Body Text")

				<div class="item" @Html.Validation().ErrorClass(m => m.AccountNumber)>
                    <label for="@Html.IdFor(m => m.AccountNumber)">@Html.Sitecore().Field("Account Number Label"):</label>
					@Html.TextBoxFor(m => m.AccountNumber, new { ng_model = "ctrl.accountNumber" })
				</div>
				@Html.Sitecore().Field("Terms and Conditions Text")
			</div>
			<footer>
				<div class="buttons">
					<button type="submit" data-val-submit>@Html.Sitecore().Field("Continue Button Text")</button>
				</div>
			</footer>
		</form>

		<form data-val-bind-messages="validations" ng-if="ctrl.activeStep == 2" ng-submit="ctrl.validatePaymentInfo()">
			<div class="content">
				<dl class="clearfix module-list">
					<dt>@Html.Sitecore().Field("Account Number Label"):</dt>
					<dd>{{ ctrl.account.accountNumber }}</dd>
					<dt>@Html.Sitecore().Field("Balance Text"):</dt>
					<dd>{{ ctrl.account.amountDue | currency }}</dd>
				</dl>

                <div class="item" @Html.Validation().ErrorClass(m => m.CustomerName)>
                    <label for="@Html.IdFor(m => m.CustomerName)">@Html.Sitecore().Field("Customer Name Label"):</label>
                    @Html.TextBoxFor(m => m.CustomerName, new { ng_model = "ctrl.name" })
                </div>

                <div class="item" @Html.Validation().ErrorClass(m => m.CustomerEmail.Address)>
                    <label for="@Html.IdFor(m => m.CustomerEmail.Address)">@Html.Sitecore().Field("Email Address Label"):</label>
                    @Html.TextBoxFor(m => m.CustomerEmail.Address, new { ng_model = "ctrl.email" })
                </div>

				<div class="item" @Html.Validation().ErrorClass(m => m.TotalPaymentAmount)>
                    <label for="@Html.IdFor(m => m.TotalPaymentAmount)">@Html.Sitecore().Field("Payment Amount Label"):</label>
                    $ @Html.TextBoxFor(m => m.TotalPaymentAmount, new { ng_model = "ctrl.paymentAmount", @class = "small", data_currency_input = "" })
				</div>

				

                <fieldset>
                    <legend>@Html.Sitecore().Field("Payment Type Label")</legend>
                    <div class="payment-type-selection" ng-init="ctrl.newPaymentMethod = {}">
                        <div class="payment-selection">
                           <input type="radio" id="credit-card" name="payment-type" ng-model="ctrl.newPaymentMethodType" value="TokenizedCard" ng-required="true"><label for="credit-card">@Html.Sitecore().Field("Credit Card Label")</label>
                        </div>
                        <div ng-show="ctrl.newPaymentMethodType == 'TokenizedCard'" class="payment-options" credit-card-payment="ctrl.newPaymentMethod['TokenizedCard']" data-val-if="ctrl.newPaymentMethodType == 'TokenizedCard'"></div>
                        <div class="payment-selection">
                            <input type="radio" id="bank-account" name="payment-type" ng-model="ctrl.newPaymentMethodType" value="TokenizedBank" ng-required="true"><label for="bank-account">@Html.Sitecore().Field("Bank Account Label")</label>
                        </div>
                        <div ng-show="ctrl.newPaymentMethodType == 'TokenizedBank'" class="payment-options" bank-account-payment="ctrl.newPaymentMethod['TokenizedBank']" data-val-if="ctrl.newPaymentMethodType == 'BankPaymentMethod'"></div>
                    </div>
                </fieldset>
			</div>
			<footer>
				<div class="buttons">
					<button type="submit" data-val-submit>@Html.Sitecore().Field("Payment Continue Button Text")</button>
					<button type="button" class="secondary" ng-click="ctrl.back()">@Html.Sitecore().Field("Back Button Text")</button>
				</div>
			</footer>
		</form>

		<div ng-if="ctrl.activeStep == 3">
			<div class="content">
				<dl class="clearfix module-list">
					<dt>@Html.Sitecore().Field("Account Number Text"):</dt>
					<dd>{{ ctrl.account.accountNumber }}</dd>
				</dl>

                <div ng-switch="ctrl.evaluatedPaymentMethod.underlyingPaymentType || ctrl.evaluatedPaymentMethod.paymentType">
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedCard">
                        <dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
                        <dd>@Html.Sitecore().Field("Credit Card Text")</dd>
                        <dt>@Html.Sitecore().Field("Card Number Text"):</dt>
                        <dd>{{ctrl.evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedBank">
                        <dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
                        <dd>@Html.Sitecore().Field("Bank Account Text")</dd>
                        <dt>@Html.Sitecore().Field("Bank Account Number Text"):</dt>
                        <dd>{{ctrl.evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                </div>

				<dl class="clearfix module-list">
					<dt>@Html.Sitecore().Field("Payment Date Text"):</dt>
					<dd>{{ ctrl.selectedDate | date:'MM/dd/yyyy' }}</dd>
					<dt>@Html.Sitecore().Field("Payment Amount Text"):</dt>
					<dd>{{ctrl.paymentAmount | currency}}</dd>
					<dt>@Html.Sitecore().Field("Service Fee Text"):</dt>
					<dd>$2.95</dd>
				</dl>
				<dl class="clearfix module-list payment-total">
					<dt>@Html.Sitecore().Field("Payment Total Text"):</dt>
					<dd>{{ctrl.totalCharge | currency}}</dd>
				</dl>
			</div>
			<footer>
				<div class="buttons">
					<button type="submit" ng-click="ctrl.submitPaymentInfo()">@Html.Sitecore().Field("Submit Payment Button Text")</button>
					<button type="button" class="secondary" ng-click="ctrl.back()">@Html.Sitecore().Field("Back Button Text")</button>
				</div>
			</footer>
		</div>
		<div ng-if="ctrl.activeStep == 4">
			<div class="content">
				<dl class="clearfix module-list">
					<dt>@Html.Sitecore().Field("Confirmation Number Text"):</dt>
					<dd>{{ctrl.confirmationNumber}}</dd>
					<dt>@Html.Sitecore().Field("Account Number Text"):</dt>
					<dd>{{ ctrl.account.accountNumber }}</dd>
				</dl>

                <div ng-switch="ctrl.evaluatedPaymentMethod.underlyingPaymentType || ctrl.evaluatedPaymentMethod.paymentType">
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedCard">
                        <dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
                        <dd>@Html.Sitecore().Field("Credit Card Text")</dd>
                        <dt>@Html.Sitecore().Field("Card Number Text"):</dt>
                        <dd>{{ctrl.evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedBank">
                        <dt>@Html.Sitecore().Field("Payment Method Text"):</dt>
                        <dd>@Html.Sitecore().Field("Bank Account Text")</dd>
                        <dt>@Html.Sitecore().Field("Bank Account Number Text"):</dt>
                        <dd>{{ctrl.evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                </div>

				<dl class="clearfix module-list">
					<dt>@Html.Sitecore().Field("Payment Date Text"):</dt>
					<dd>{{ ctrl.selectedDate | date:'MM/dd/yyyy' }}</dd>
					<dt>@Html.Sitecore().Field("Payment Amount Text"):</dt>
                    <dd>{{ctrl.paymentAmount | currency}}</dd>
					<dt>@Html.Sitecore().Field("Service Fee Text"):</dt>
					<dd>$2.95</dd>
				</dl>
				<dl class="clearfix module-list payment-total">
					<dt>@Html.Sitecore().Field("Payment Total Text"):</dt>
                    <dd>{{ctrl.totalCharge | currency}}</dd>
				</dl>
			</div>
			<footer>
				<div class="buttons">
					<button ng-click="ctrl.makeAnotherPayment()">@Html.Sitecore().Field("Make Another Payment Button Text")</button>
					<a href="/" class="button secondary">@Html.Sitecore().Field("Home Button Text")</a>
				</div>
			</footer>
		</div>
	</article>
	<div ng-if="ctrl.activeStep == 3">
		@Html.Sitecore().Field("Footnote Text")
	</div>
</div>