<article class="marketing state-tabs states-enroll" state-tabs="texas">
    <ul class="tabs-nav">
        <li ng-click="selectPane('texas')" ng-class="{ active: pane == 'texas' }">
            <a href="">
                <span><i class="icon-state-texas"></i></span>
                @Html.Sitecore().Field("Texas State Text")
            </a>
        </li>
        <li ng-click="selectPane('pennsylvania')" ng-class="{ active: pane == 'pennsylvania' }">
            <a href="">
                <span><i class="icon-state-pennsylvania"></i></span>
                @Html.Sitecore().Field("Pennsylvania State Text")
            </a>
        </li>
        <li ng-click="selectPane('maryland')" ng-class="{ active: pane == 'maryland' }">
            <a href="">
                <span><i class="icon-state-maryland"></i></span>
                @Html.Sitecore().Field("Maryland State Text")
            </a>
        </li>
        <li ng-click="selectPane('newjersey')" ng-class="{ active: pane == 'newjersey' }">
            <a href="">
                <span><i class="icon-state-newjersey"></i></span>
                @Html.Sitecore().Field("New Jersey State Text")
            </a>
        </li>
        <li ng-click="selectPane('newyork')" ng-class="{ active: pane == 'newyork' }">
            <a href="">
                <span><i class="icon-state-newyork"></i></span>
                @Html.Sitecore().Field("New York State Text")
            </a>
        </li>
        <li ng-click="selectPane('washingtondc')" ng-class="{ active: pane == 'washingtondc' }">
            <a href="">
                <span><i class="icon-state-washingtondc"></i></span>
                @Html.Sitecore().Field("Washington DC State Text")
            </a>
        </li>
    </ul>
    <div class="tab" ng-class="{ hidden : pane != 'texas' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("Texas Links")
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'pennsylvania' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("Pennsylvania Links")
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'maryland' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("Maryland Links")
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newjersey' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("New Jersey Links")
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newyork' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("New York Links")
                </p>
            </div>
        </div>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'washingtondc' }">
        <div class="tab-header">
            <div class="wrapper">
                <p>
                    @Html.Sitecore().Field("Washington DC Links")
                </p>
            </div>
        </div>
    </div>
</article>
