<article class="marketing photoLockup commercial-quote">
    <div class="photo">
        @Html.Sitecore().Field("Form Image")
    </div>
    <div class="text">
        <div class="inner">
            <h2>@Html.Sitecore().Field("Form Title")</h2>
            @Html.Sitecore().Field("Form Intro Text")
            <form action="/services/enroll/commercial" method="post">
                <div class="item">
                    <input type="text" id="firstName" name="firstName" required placeholder="@Html.Sitecore().Field("First Name Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="lastName" name="lastName" required placeholder="@Html.Sitecore().Field("Last Name Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="companyName" name="companyName" required placeholder="@Html.Sitecore().Field("Company Name Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="phone" name="phone" required placeholder="@Html.Sitecore().Field("Phone Number Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="email" name="email" required placeholder="@Html.Sitecore().Field("Email Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="address" name="address" required placeholder="@Html.Sitecore().Field("Service Address Placeholder Text")">
                </div>
                <div class="item">
                    <input type="text" id="city" name="city" required placeholder="@Html.Sitecore().Field("City Placeholder Text")">
                </div>
                <div class="item">
                    <select id="state" name="state" required>
                        @Html.Sitecore().Field("State Options")
                    </select>
                </div>
                <div class="item">
                    <input type="text" id="zipCode" name="zipCode" required placeholder="@Html.Sitecore().Field("Zip Code Placeholder Text")">
                </div>
                <div class="item">
                    <button type="submit">@Html.Sitecore().Field("Send Button Text")</button>
                </div>
            </form>
        </div>
    </div>
</article>
@if (Model != null && Model.ShowSuccessMessage)
{
    <article class="marketing commercial-quote">
        <div class="success-message" id="success-message">
            <div class="wrapper">
                <h2>@Html.Sitecore().Field("Thank You Text")</h2>
                <h4>@Html.Sitecore().Field("Success Message Text")</h4>
            </div>
        </div>
    </article>
}
