@{ 
    var visitor = Sitecore.Analytics.Tracker.Current;

    var selectedTab = "";

    switch (visitor.Interaction.GeoData.Region)
    {
        case "TX":
            selectedTab = "texas";
            break;
        case "GA":
            selectedTab = "georgia";
            break;
        case "PA":
            selectedTab = "pennsylvania";
            break;
        case "MD":
            selectedTab = "maryland";
            break;
        case "NJ":
            selectedTab = "newjersey";
            break;
        case "NY":
            selectedTab = "newyork";
            break;
        case "DC":
            selectedTab = "washingtondc";
            break;
        default:
            selectedTab = "notDetected";
            break;
    }
}
<article class="marketing state-tabs states-enroll" state-tabs="" ng-init="pane = '@selectedTab'">
    <div class="tab-content" ng-class="{ hidden : selectedState.value != 'TX' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("Texas State Text")</h1>
                @Html.Sitecore().Field("Texas Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'GA' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("Georgia State Text")</h1>
                @Html.Sitecore().Field("Georgia Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'PA' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("Pennsylvania State Text")</h1>
                @Html.Sitecore().Field("Pennsylvania Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'MD' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("Maryland State Text")</h1>
                @Html.Sitecore().Field("Maryland Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'NJ' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("New Jersey State Text")</h1>
                @Html.Sitecore().Field("New Jersey Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'NY' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("New York State Text")</h1>
                @Html.Sitecore().Field("New York Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
    <div class="tab" ng-class="{ hidden : selectedState.value != 'DC' }">
        <article class="marketing wrapper enroll">
            <div class="text">
                <h1>@Html.Sitecore().Field("Washington DC State Text")</h1>
                @Html.Sitecore().Field("Washington DC Content")
            </div>
        </article>
        <div class="tab-footer"></div>
    </div>
</article>
