@model StreamEnergy.MyStream.Models.Marketing.CommercialQuote
@using System.Linq.Expressions;
@using StreamEnergy.Extensions;

<article class="marketing photoLockup commercial-quote">
    <div class="photo">
    </div>
    <div class="text">
        <div class="inner">
            <h2>@Html.Sitecore().Field("Form Title")</h2>
            @Html.Sitecore().Field("Form Intro Text")
            <form action="@Request.Url.AbsolutePath" method="post">
                @Html.ValidationSummary()

                <div class="item" @Html.Validation().ErrorClass(model => model.ContactName.First)>
                    @Html.TextBoxFor(m => m.ContactName.First, new { ng_model = "firstName", placeholder = Html.Sitecore().Field("First Name Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactName.Last)>
                    @Html.TextBoxFor(m => m.ContactName.Last, new { ng_model = "lastName", placeholder = Html.Sitecore().Field("Last Name Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.CompanyName)>
                    @Html.TextBoxFor(m => m.CompanyName, new { ng_model = "company", placeholder = Html.Sitecore().Field("Company Name Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactPhone.Number)>
                    @Html.TextBoxFor(m => m.ContactPhone.Number, new { ng_model = "phone", placeholder = Html.Sitecore().Field("Phone Number Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactEmail.Address)>
                    @Html.TextBoxFor(m => m.ContactEmail.Address, new { ng_model = "email", placeholder = Html.Sitecore().Field("Email Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactAddress.Line1)>
                    @Html.TextBoxFor(m => m.ContactAddress.Line1, new { ng_model = "address", placeholder = Html.Sitecore().Field("Service Address Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactAddress.City)>
                    @Html.TextBoxFor(m => m.ContactAddress.City, new { ng_model = "city", placeholder = Html.Sitecore().Field("City Placeholder Text") })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactAddress.StateAbbreviation)>
                    @Html.DropDownListFor(m => m.ContactAddress.StateAbbreviation, new [] { new SelectListItem { Text = Html.Sitecore().Field("State Options").ToString() } }, new { ng_model = "state", ng_options = "state.abbreviation as state.display for state in usStates" })
                </div>
                <div class="item" @Html.Validation().ErrorClass(model => model.ContactAddress.PostalCode5)>
                    @Html.TextBoxFor(m => m.ContactAddress.PostalCode5, new { ng_model = "zipCode", placeholder = Html.Sitecore().Field("Zip Code Placeholder Text") })
                </div>
                <div class="item">
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Send Button Text")</button>
                </div>
            </form>
        </div>
    </div>
</article>
@if (Model != null && Model.ShowSuccessMessage)
{
    <article class="marketing commercial-quote">
        <div class="success-message" id="success-message">
            <div class="wrapper">
                <h2>@Html.Sitecore().Field("Thank You Text")</h2>
                <h4>@Html.Sitecore().Field("Success Message Text")</h4>
            </div>
        </div>
    </article>
}
