@model StreamEnergy.MyStream.Models.Marketing.HomeLifeServices
@using Sitecore.Data.Items
@{ 
    Item dataSourceItem = Sitecore.Context.Item;
}

<div class="protective-services" ng-controller="HomeLifeServicesCtrl" ng-init="init(@(Model.HasFreeMonth ? "true" : "false"), '@Html.TranslateDomain("https://streamvalues.com")')">
    <form id="formHomeLifeServices" method="post" action="@Html.TranslateDomain("https://streamvalues.com")/buy">
        <input type="hidden" name="clientId" value="@Model.ClientId" />
        <input type="hidden" name="productCode" id="productCode" value="" />
        <input type="hidden" name="campaignName" id="campaignName" value="@Model.CampaignName" />
        <input type="hidden" name="customerNumber" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.CisAccountNumber : "")" />
        <input type="hidden" name="firstName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.First : "")" />
        <input type="hidden" name="lastName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.Last : "")" />
        <input type="hidden" name="address1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line1 : "")" />
        <input type="hidden" name="address2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line2 : "")" />
        <input type="hidden" name="city" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.City : "")" />
        <input type="hidden" name="state" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.StateAbbreviation : "")" />
        <input type="hidden" name="zipCode" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.PostalCode5 : "")" />
        <input type="hidden" name="email" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Email != null ? Model.CustomerAccount.Email.Address : "")" />
        <input type="hidden" name="phone1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Primary != null ? Model.CustomerAccount.Primary.Number : "")" />
        <input type="hidden" name="phone2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Work != null ? Model.CustomerAccount.Work.Number : "")" />
        <input type="hidden" name="phone3" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Cell != null ? Model.CustomerAccount.Cell.Number : "")" />
        <input type="hidden" name="repId" value="@Model.RepId" />
        <input type="hidden" name="repFirstName" value="@(Model.RepName != null ? Model.RepName.First : "")" />
        <input type="hidden" name="repLastName" value="@(Model.RepName != null ? Model.RepName.Last : "")" />
        <input type="hidden" name="repEmail" value="@(Model.RepEmail != null ? Model.RepEmail.Address : "")" />
        <input type="hidden" name="salesource" value="@Model.SaleSource">
    </form>
    <article class="marketing marketingIntro wrapper protective-intro">
        <div class="wrapper">
            @Html.Sitecore().Field("Intro Content")
        </div>
    </article>
    <article class="marketing service-bundles">
        <div class="wrapper">

            <div class="">
                <div class="bundle platinum clearfix" ng-class="{'selected':  numProductsChecked() == 3 }">
                    <div class="circle-discount">
                        <div class="circle">
                            @Html.Sitecore().Field("Package Callout")
                            <div class="price">
                                @Html.Sitecore().Field("Package Price")
                            </div>
                        </div>
                    </div>

                    <div class="bundle-info">
                        <div class="headline">@Html.Sitecore().Field("Intro Header")</div>
                        <div class="details">
                            @Html.Sitecore().Field("Package Savings")
                        </div>
                    </div>
                </div>
            </div>

            <div class="build-package">
                <div class="build-package-text">
                    @Html.Sitecore().Field("Build Package Text")
                </div>
            </div>
            <article class="marketing services-summary">
                <div class="wrapper">
                    <div class="services">
                        <div class="service virtual-md">
                            <div class="grid">
                                <div class="col col-1">
                                    @Html.Sitecore().Field("Virtual MD Header")
                                </div>
                                <div class="col col-2">
                                    <a ng-click="virtualMDIsOpen = !virtualMDIsOpen">
                                        <span ng-class="{'icon-green-arrow-up': virtualMDIsOpen, 'icon-green-arrow-down': !virtualMDIsOpen}"></span>
                                        {{ !virtualMDIsOpen && '@Html.Sitecore().Field("View Details")' || '@Html.Sitecore().Field("Hide Details")' }}
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <input type="checkbox" id="virtualmd" ng-model="virtualmd" ng-disabled="!virtualmd && numProductsChecked() >= 3" />
                                </div>
                            </div>
                            <div class="details" ng-show="virtualMDIsOpen">
                                @Html.Sitecore().Field("Virtual MD Content")
                            </div>
                        </div>
                        <div class="service roadside-assistance">
                            <div class="grid">
                                <div class="col col-1">
                                    @Html.Sitecore().Field("Roadside Assistance Header")
                                </div>
                                <div class="col col-2">
                                    <a ng-click="roadsideIsOpen = !roadsideIsOpen">
                                        <span ng-class="{'icon-green-arrow-up': roadsideIsOpen, 'icon-green-arrow-down': !roadsideIsOpen}"></span>
                                        {{ !roadsideIsOpen && '@Html.Sitecore().Field("View Details")' || '@Html.Sitecore().Field("Hide Details")' }}
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <input type="checkbox" id="roadside" ng-model="roadside" ng-disabled="!roadside && numProductsChecked() >= 3" />
                                </div>
                            </div>
                            <div class="details" ng-show="roadsideIsOpen">
                                @Html.Sitecore().Field("Roadside Assistance Content")
                            </div>
                        </div>
                        <div class="service identityTheft">
                            <div class="grid">
                                <div class="col col-1">
                                    @Html.Sitecore().Field("Identity Protection Header")
                                </div>
                                <div class="col col-2">
                                    <a ng-click="identityIsOpen = !identityIsOpen">
                                        <span ng-class="{'icon-green-arrow-up': identityIsOpen, 'icon-green-arrow-down': !identityIsOpen}"></span>
                                        {{ !identityIsOpen && '@Html.Sitecore().Field("View Details")' || '@Html.Sitecore().Field("Hide Details")' }}
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <input type="checkbox" id="identity" ng-model="identity" ng-disabled="!identity && numProductsChecked() >= 3" />
                                </div>
                            </div>
                            <div class="details" ng-show="identityIsOpen">
                                @Html.Sitecore().Field("Identity Protection Content")
                            </div>
                        </div>
                        <div class="service creditMonitoring">
                            <div class="grid">
                                <div class="col col-1">
                                    @Html.Sitecore().Field("Credit Monitoring Header")
                                </div>
                                <div class="col col-2">
                                    <a ng-click="creditMonitoringIsOpen = !creditMonitoringIsOpen">
                                        <span ng-class="{'icon-green-arrow-up': creditMonitoringIsOpen, 'icon-green-arrow-down': !creditMonitoringIsOpen}"></span>
                                        {{ !creditMonitoringIsOpen && '@Html.Sitecore().Field("View Details")' || '@Html.Sitecore().Field("Hide Details")' }}
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <input type="checkbox" id="monitoring" ng-model="monitoring" ng-disabled="!monitoring && numProductsChecked() >= 3" />
                                </div>
                            </div>
                            <div class="details" ng-show="creditMonitoringIsOpen">
                                @Html.Sitecore().Field("Credit Monitoring Content")
                            </div>
                        </div>
                        <div class="service onlineBackupAndProtection">
                            <div class="grid">
                                <div class="col col-1">
                                    @Html.Sitecore().Field("Tech Support Header")
                                </div>
                                <div class="col col-2">
                                    <a ng-click="techSupportIsOpen = !techSupportIsOpen">
                                        <span ng-class="{'icon-green-arrow-up': techSupportIsOpen, 'icon-green-arrow-down': !techSupportIsOpen}"></span>
                                        {{ !techSupportIsOpen && '@Html.Sitecore().Field("View Details")' || '@Html.Sitecore().Field("Hide Details")' }}
                                    </a>
                                </div>
                                <div class="col col-3">
                                    <input type="checkbox" id="support" ng-model="support" ng-disabled="!support && numProductsChecked() >= 3" />
                                </div>
                            </div>
                            <div class="details" ng-show="techSupportIsOpen">
                                @Html.Sitecore().Field("Tech Support Content")
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="package-submit-section">
                <a href="javascript:void(0);" ng-class="{button: true, disabled: numProductsChecked() < 3}" ng-click="enroll()">@Html.Sitecore().Field("Select Package")</a>
            </div>
            <div class="family-member">@Html.Sitecore().Field("Add a Member")</div>
        </div>
    </article>

    <div class="protection-hero" style="@Html.AsBackgroundStyle("Protection Image", dataSourceItem)">
        <div class="message">
            <span class="icon-check-sheild shield"></span>
            @Html.Sitecore().Field("Protectction Message")
        </div>
    </div>
    <article class="marketing protective-footnotes">
        <div class="wrapper">
            @Html.Sitecore().Field("Protective Footnotes")
        </div>
    </article>

</div>