@model StreamEnergy.MyStream.Models.Marketing.HomeLifeServices

<div class="module marketing protective-services" ng-controller="HomeLifeServicesCtrl" ng-init="init(@(Model.HasFreeMonth ? "true" : "false"))">
    <form id="formHomeLifeServices" method="post" action="@Html.TranslateDomain("https://streamvalues.com")/buy">
        <input type="hidden" name="clientId" value="@Model.ClientId" />
        <input type="hidden" name="productCode" id="productCode" value="" />
        <input type="hidden" name="campaignName" id="campaignName" value="@Model.CampaignName" />
        <input type="hidden" name="customerNumber" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.CisAccountNumber : "")" />
        <input type="hidden" name="firstName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.First : "")" />
        <input type="hidden" name="lastName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.Last : "")" />
        <input type="hidden" name="address1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line1 : "")" />
        <input type="hidden" name="address2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line2 : "")" />
        <input type="hidden" name="city" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.City : "")" />
        <input type="hidden" name="state" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.StateAbbreviation : "")" />
        <input type="hidden" name="zipCode" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.PostalCode5 : "")" />
        <input type="hidden" name="email" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Email != null ? Model.CustomerAccount.Email.Address : "")" />
        <input type="hidden" name="phone1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Primary != null ? Model.CustomerAccount.Primary.Number : "")" />
        <input type="hidden" name="phone2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Work != null ? Model.CustomerAccount.Work.Number : "")" />
        <input type="hidden" name="phone3" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Cell != null ? Model.CustomerAccount.Cell.Number : "")" />
        <input type="hidden" name="repId" value="@Model.RepId" />
        <input type="hidden" name="repFirstName" value="@(Model.RepName != null ? Model.RepName.First : "")" />
        <input type="hidden" name="repLastName" value="@(Model.RepName != null ? Model.RepName.Last : "")" />
        <input type="hidden" name="repEmail" value="@(Model.RepEmail != null ? Model.RepEmail.Address : "")" />
        <input type="hidden" name="salesource" value="@Model.SaleSource">
    </form>

    <article class="marketing marketingIntro wrapper  protect">
        <div class="wrapper">
            <h1>@Html.Sitecore().Field("Intro Header")</h1>
            @Html.Sitecore().Field("Intro Content")
        </div>
    </article>
    <article class="marketing" data-additional-fields>
        <div class="wrapper protective-summary">
            <div class="grid border three">
                <div class="col identityTheft">
                    <h3>@Html.Sitecore().Field("Identity Protection Header")</h3>
                    <p class="service-description">@Html.Sitecore().Field("Identity Protection Summary")</p>
                    <p>
                        <a href="" class="details" ng-click="isOpen.credit = false; isOpen.tech = false; isOpen.identity = !isOpen.identity" ng-class="{'active': isOpen.identity}">
                            <span ng-if="!isOpen.identity">@Html.Sitecore().Field("Show Details")</span>
                            <span ng-if="isOpen.identity">@Html.Sitecore().Field("Hide Details")</span>
                        </a>
                    </p>
                </div>
                <div class="col creditMonitoring">
                    <h3>@Html.Sitecore().Field("Credit Monitoring Header")</h3>
                    <p class="service-description">@Html.Sitecore().Field("Credit Monitoring Summary")</p>
                    <p>
                        <a href="" class="details" ng-click="isOpen.identity = false; isOpen.tech = false; isOpen.credit = !isOpen.credit" ng-class="{'active': isOpen.credit}">
                            <span ng-if="!isOpen.credit">@Html.Sitecore().Field("Show Details")</span>
                            <span ng-if="isOpen.credit">@Html.Sitecore().Field("Hide Details")</span>
                        </a>
                    </p>
                </div>
                <div class="col onlineBackupAndProtection">
                    <h3>@Html.Sitecore().Field("Tech Support Header")</h3>
                    <p class="service-description">@Html.Sitecore().Field("Tech Support Summary")</p>
                    <p>
                        <a href="" class="details" ng-click="isOpen.identity = false; isOpen.credit = false; isOpen.tech = !isOpen.tech" ng-class="{'active': isOpen.tech}">
                            <span ng-if="!isOpen.tech">@Html.Sitecore().Field("Show Details")</span>
                            <span ng-if="isOpen.tech">@Html.Sitecore().Field("Hide Details")</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="service-details ng-cloak">
            <div class="wrapper" slide-down-show="isOpen.identity">
                <div class="grid">
                    <div class="col">
                        <h2>@Html.Sitecore().Field("Identity Protection Header")</h2>
                        @Html.Sitecore().Field("Identity Protection Content")
                        <a href="" class="button" ng-click="enroll('seid')">@Html.Sitecore().Field("Select Service")</a>
                        <div class="price">@Html.Sitecore().Field("Service Price")@Html.Sitecore().Field("Per Month")</div>
                    </div>
                    <div class="col service-image">
                        @Html.Sitecore().Field("Identity Protection Image", new { width = "460" })
                    </div>
                </div>
            </div>
        </div>
        <div class="service-details ng-cloak">
            <div class="wrapper" slide-down-show="isOpen.credit">
                <div class="grid">
                    <div class="col">
                        <h2>@Html.Sitecore().Field("Credit Monitoring Header")</h2>
                        @Html.Sitecore().Field("Credit Monitoring Content")
                        <a href="" class="button" ng-click="enroll('secr')">@Html.Sitecore().Field("Select Service")</a>
                        <div class="price">@Html.Sitecore().Field("Service Price")@Html.Sitecore().Field("Per Month")</div>
                    </div>
                    <div class="col service-image">
                        @Html.Sitecore().Field("Credit Monitoring Image", new { width = "460" })
                    </div>
                </div>
            </div>
        </div>
        <div class="service-details ng-cloak">
            <div class="wrapper" slide-down-show="isOpen.tech">
                <div class="grid">
                    <div class="col">
                        <h2>@Html.Sitecore().Field("Tech Support Header")</h2>
                        @Html.Sitecore().Field("Tech Support Content")
                        <a href="" class="button" ng-click="enroll('seit')">@Html.Sitecore().Field("Select Service")</a>
                        <div class="price">@Html.Sitecore().Field("Service Price")@Html.Sitecore().Field("Per Month")</div>
                    </div>
                    <div class="col service-image">
                        @Html.Sitecore().Field("Tech Support Image", new { width = "460" })
                    </div>
                </div>
            </div>
        </div>

    </article>
    <article class="marketing service-bundles">
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <td><h3>@Html.Sitecore().Field("Bundle and Save")</h3></td>
                        <td><i class="icon-hls-identity-theft"></i>@Html.Sitecore().Field("Identity Protection Header")</td>
                        <td><i class="icon-hls-credit-monitoring"></i>@Html.Sitecore().Field("Credit Monitoring Header")</td>
                        <td><i class="icon-hls-online-protection"></i>@Html.Sitecore().Field("Tech Support Header")</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4>@Html.Sitecore().Field("Gold Title")</h4>
                            @Html.Sitecore().Field("Gold Savings")
                            <a href="" ng-class="{button: true, disabled: numProductsChecked() < 2}" ng-click="goldenroll()">@Html.Sitecore().Field("Select Package")</a>
                            <div class="price">@Html.Sitecore().Field("Gold Price")@Html.Sitecore().Field("Per Month")</div>
                        </td>
                        <td><input type="checkbox" id="identity" ng-model="identity" /></td>
                        <td><input type="checkbox" id="monitoring" ng-model="monitoring" /></td>
                        <td><input type="checkbox" id="support" ng-model="support" /></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>@Html.Sitecore().Field("Platinum Title")</h4>
                            @Html.Sitecore().Field("Platinum Savings")
                            <a href="" class="button" ng-click="enroll('seidcrit')">@Html.Sitecore().Field("Select Package")</a>
                            <div class="price">@Html.Sitecore().Field("Platinum Price")@Html.Sitecore().Field("Per Month")</div>
                        </td>
                        <td><i class="icon-dotted-circle-check"></i></td>
                        <td><i class="icon-dotted-circle-check"></i></td>
                        <td><i class="icon-dotted-circle-check"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</div>