@model StreamEnergy.MyStream.Models.Marketing.HomeLifeServices

<article class="marketing homelife-services" ng-controller="HomeLifeServicesCtrl" ng-init="init(@(Model.HasFreeMonth ? "true" : "false"))">
    <form id="formHomeLifeServices" method="post" action="@Html.TranslateDomain("https://streamvalues.com")/buy">
        <input type="hidden" name="clientId" value="@Model.ClientId" />
        <input type="hidden" name="productCode" value="" ng-value="productCode" />
        <input type="hidden" name="campaignName" value="@Model.CampaignName" ng-value="campaignName" />
        <input type="hidden" name="customerNumber" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.CisAccountNumber : "")" />
        <input type="hidden" name="firstName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.First : "")" />
        <input type="hidden" name="lastName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.Last : "")" />
        <input type="hidden" name="address1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line1 : "")" />
        <input type="hidden" name="address2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line2 : "")" />
        <input type="hidden" name="city" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.City : "")" />
        <input type="hidden" name="state" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.StateAbbreviation : "")" />
        <input type="hidden" name="zipCode" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.PostalCode5 : "")" />
        <input type="hidden" name="phone1" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Primary.Number : "")" />
        <input type="hidden" name="phone2" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Work.Number : "")" />
        <input type="hidden" name="phone3" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Cell.Number : "")" />
        <input type="hidden" name="repId" value="@Model.RepId" />
        <input type="hidden" name="repFirstName" value="@(Model.RepName != null ? Model.RepName.First : "")" />
        <input type="hidden" name="repLastName" value="@(Model.RepName != null ? Model.RepName.Last : "")" />
        <input type="hidden" name="repEmail" value="@(Model.RepEmail != null ? Model.RepEmail.Address : "")" />
        <input type="hidden" value="salesource" name="@Model.SaleSource">
    </form>
    <div class="intro">
        <div class="wrapper">
            <h1>@Html.Sitecore().Field("Intro Header")</h1>
            @Html.Sitecore().Field("Intro Content")
        </div>
    </div>
    <div class="homelife-promo">
        <div class="wrapper">
            <h3>@Html.Sitecore().Field("Promo Header")</h3>
            @Html.Sitecore().Field("Promo Content")
        </div>
    </div>
    <div class="bundle-promo">
        @Html.Sitecore().Field("Bundle Promo")
    </div>
    <div class="package platinum" id="platinum-package">
        <div class="wrapper">
            <div class="box clearfix">
                <h3>@Html.Sitecore().Field("Platinum Title")</h3>
                <ul class="services">
                    <li class="identity">
                        <h4>@Html.Sitecore().Field("Identity Protection Header")</h4>
                        @Html.Sitecore().Field("Identity Protection Image", new { height = "69" })
                        <p><a class="button" href="##identity-protection-details" scroll-to>@Html.Sitecore().Field("Learn More Text")</a></p>
                    </li>
                    <li class="support">
                        <h4>@Html.Sitecore().Field("Tech Support Header")</h4>
                        @Html.Sitecore().Field("Tech Support Image", new { height = "69" })
                        <p><a class="button" href="##tech-support-details" scroll-to>@Html.Sitecore().Field("Learn More Text")</a></p>
                    </li>
                    <li class="monitoring">
                        <h4>@Html.Sitecore().Field("Credit Monitoring Header")</h4>
                        @Html.Sitecore().Field("Credit Monitoring Image", new { height = "69" })
                        <p><a class="button" href="##credit-monitoring-details" scroll-to>@Html.Sitecore().Field("Learn More Text")</a></p>
                    </li>
                </ul>
                <div class="savings">
                    <p><span class="line-top"></span>@Html.Sitecore().Field("Platinum Savings")<span class="line-bottom"></span></p>
                </div>
                <div class="pricing">
                    <p class="price">@Html.Sitecore().Field("Platinum Price")</p>
                    <p>@Html.Sitecore().Field("Per Month Text")</p>
                    <p class="month-free" ng-hide="!freeMonth">@Html.Sitecore().Field("First Month Free Text")</p>
                    <div><a class="button" href="javascript:void(0);" ng-click="enroll('seidcrit')">@Html.Sitecore().Field("Enroll Now Text")</a></div>
                </div>
                <span class="sash"><span>@Html.Sitecore().Field("Best Text")</span></span>
            </div>
        </div>
    </div>
    <div class="package gold">
        <div class="wrapper">
            <div class="box clearfix">
                <h3 ng-hide="numProductsChecked() <= 2">@Html.Sitecore().Field("Platinum Title")</h3>
                <h3 ng-hide="numProductsChecked() > 2">@Html.Sitecore().Field("Gold Title")</h3>
                <ul class="services">
                    <li class="identity">
                        <h4>@Html.Sitecore().Field("Identity Protection Header")</h4>
                        @Html.Sitecore().Field("Identity Protection Image", new { height = "69" })
                        <div>
                            <input type="checkbox" id="identity" ng-model="identity" />
                            <label for="identity"></label>
                        </div>
                    </li>
                    <li class="support">
                        <h4>@Html.Sitecore().Field("Tech Support Header")</h4>
                        @Html.Sitecore().Field("Tech Support Image", new { height = "69" })
                        <div>
                            <input type="checkbox" id="support" ng-model="support" />
                            <label for="support"></label>
                        </div>
                    </li>
                    <li class="monitoring">
                        <h4>@Html.Sitecore().Field("Credit Monitoring Header")</h4>
                        @Html.Sitecore().Field("Credit Monitoring Image", new { height = "69" })
                        <div>
                            <input type="checkbox" id="monitoring" ng-model="monitoring" />
                            <label for="monitoring"></label>
                        </div>
                    </li>
                </ul>
                <div class="savings">
                    <p ng-hide="numProductsChecked() <= 2"><span class="line-top"></span>@Html.Sitecore().Field("Platinum Savings")<span class="line-bottom"></span></p>
                    <p ng-hide="numProductsChecked() > 2"><span class="line-top"></span>@Html.Sitecore().Field("Gold Savings")<span class="line-bottom"></span></p>
                </div>
                <div class="pricing">
                    <p class="price" ng-hide="numProductsChecked() <= 2">@Html.Sitecore().Field("Platinum Price")</p>
                    <p class="price" ng-hide="numProductsChecked() > 2">@Html.Sitecore().Field("Gold Price")</p>
                    <p>@Html.Sitecore().Field("Per Month Text")</p>
                    <p class="month-free" ng-hide="!freeMonth">@Html.Sitecore().Field("First Month Free Text")</p>
                    <div><a ng-class="{button: true, disabled: numProductsChecked() < 2}" href="javascript:void(0);" ng-click="goldenroll()">@Html.Sitecore().Field("Enroll Now Text")</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="package silver">
        <div class="wrapper">
            <div class="box clearfix">
                <h3>@Html.Sitecore().Field("Silver Title")</h3>
                <ul class="services">
                    <li class="identity">
                        <h4>@Html.Sitecore().Field("Identity Protection Header")</h4>
                        <div>@Html.Sitecore().Field("Identity Protection Image", new { height = "69" })</div>
                        <div class="pricing">
                            <p class="price">@Html.Sitecore().Field("Silver Price")</p>
                            <p>@Html.Sitecore().Field("Per Month Text")</p>
                            <p class="month-free" ng-hide="!freeMonth">@Html.Sitecore().Field("First Month Free Text")</p>
                            <div><a class="button" href="javascript:void(0);" ng-click="enroll('seid')">@Html.Sitecore().Field("Enroll Now Text")</a></div>
                        </div>
                    </li>
                    <li class="support">
                        <h4>@Html.Raw(Html.Sitecore().Field("Tech Support Header"))</h4>
                        <div>@Html.Sitecore().Field("Tech Support Image", new { height = "69" })</div>
                        <div class="pricing">
                            <p class="price">@Html.Sitecore().Field("Silver Price")</p>
                            <p>@Html.Sitecore().Field("Per Month Text")</p>
                            <p class="month-free" ng-hide="!freeMonth">@Html.Sitecore().Field("First Month Free Text")</p>
                            <div><a class="button" href="javascript:void(0);" ng-click="enroll('seit')">@Html.Sitecore().Field("Enroll Now Text")</a></div>
                        </div>
                    </li>
                    <li class="monitoring">
                        <h4>@Html.Sitecore().Field("Credit Monitoring Header")</h4>
                        <div>@Html.Sitecore().Field("Credit Monitoring Image", new { height = "69" })</div>
                        <div class="pricing">
                            <p class="price">@Html.Sitecore().Field("Silver Price")</p>
                            <p>@Html.Sitecore().Field("Per Month Text")</p>
                            <p class="month-free" ng-hide="!freeMonth">@Html.Sitecore().Field("First Month Free Text")</p>
                            <div><a class="button" href="javascript:void(0);" ng-click="enroll('secr')">@Html.Sitecore().Field("Enroll Now Text")</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="wrapper footnote">@Html.Sitecore().Field("Bundle Footnote")</p>
</article>