@model StreamEnergy.MyStream.Models.Marketing.HomeLifeServices

<div class="protective-services" ng-controller="HomeLifeServicesCtrl" ng-init="init(@(Model.HasFreeMonth ? "true" : "false"))">
    <form id="formHomeLifeServices" method="post" action="@Html.TranslateDomain("https://streamvalues.com")/buy">
        <input type="hidden" name="clientId" value="@Model.ClientId" />
        <input type="hidden" name="productCode" id="productCode" value="" />
        <input type="hidden" name="campaignName" id="campaignName" value="@Model.CampaignName" />
        <input type="hidden" name="customerNumber" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.CisAccountNumber : "")" />
        <input type="hidden" name="firstName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.First : "")" />
        <input type="hidden" name="lastName" value="@(Model.CustomerAccount != null ? Model.CustomerAccount.Name.Last : "")" />
        <input type="hidden" name="address1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line1 : "")" />
        <input type="hidden" name="address2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.Line2 : "")" />
        <input type="hidden" name="city" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.City : "")" />
        <input type="hidden" name="state" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.StateAbbreviation : "")" />
        <input type="hidden" name="zipCode" value="@(Model.CustomerAccount != null && Model.CustomerAccount.BillingAddress != null ? Model.CustomerAccount.BillingAddress.PostalCode5 : "")" />
        <input type="hidden" name="email" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Email != null ? Model.CustomerAccount.Email.Address : "")" />
        <input type="hidden" name="phone1" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Primary != null ? Model.CustomerAccount.Primary.Number : "")" />
        <input type="hidden" name="phone2" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Work != null ? Model.CustomerAccount.Work.Number : "")" />
        <input type="hidden" name="phone3" value="@(Model.CustomerAccount != null && Model.CustomerAccount.Cell != null ? Model.CustomerAccount.Cell.Number : "")" />
        <input type="hidden" name="repId" value="@Model.RepId" />
        <input type="hidden" name="repFirstName" value="@(Model.RepName != null ? Model.RepName.First : "")" />
        <input type="hidden" name="repLastName" value="@(Model.RepName != null ? Model.RepName.Last : "")" />
        <input type="hidden" name="repEmail" value="@(Model.RepEmail != null ? Model.RepEmail.Address : "")" />
        <input type="hidden" name="salesource" value="@Model.SaleSource">
    </form>

    <article class="marketing marketingIntro wrapper protective-intro">
        <div class="wrapper">
            @Html.Sitecore().Field("Intro Content")
        </div>
    </article>
    <article class="marketing service-bundles">
        <div class="wrapper">
            @Html.Sitecore().Field("Intro Header")
            <div class="grid border three">
                <div class="col bundle silver" ng-class="{'selected':  numProductsChecked() == 1 }">
                    <h4>@Html.Sitecore().Field("Silver Title")</h4>
                    @Html.Sitecore().Field("Silver Savings")
                    <div class="circle-discount">
                        @Html.Sitecore().Field("Silver Discount")
                    </div>
                    <div class="price">
                        @Html.Sitecore().Field("Silver Price")
                    </div>
                </div>
                <div class="col bundle gold" ng-class="{'selected':  numProductsChecked() == 2 }">
                    <h4>@Html.Sitecore().Field("Gold Title")</h4>
                    @Html.Sitecore().Field("Gold Savings")
                    <div class="circle-discount">
                        @Html.Sitecore().Field("Gold Discount")
                    </div>
                    <div class="price">
                        @Html.Sitecore().Field("Gold Price")
                    </div>
                </div>
                <div class="col bundle platinum" ng-class="{'selected':  numProductsChecked() == 3 }">
                    <div class="sash-wrapper">
                        <div class="sash">@Html.Sitecore().Field("Best Text")</div>
                    </div>
                    <h4>@Html.Sitecore().Field("Platinum Title")</h4>
                    @Html.Sitecore().Field("Platinum Savings")
                    <div class="circle-discount">
                        @Html.Sitecore().Field("Platinum Discount")
                    </div>
                    <div class="price">
                        @Html.Sitecore().Field("Platinum Price")
                    </div>
                </div>
            </div>
            <div class="grid border three package-indicators">
                <div class="col">
                    <span class="indicator" ng-class="{'active':  numProductsChecked() == 1 }">&nbsp;</span>
                </div>
                <div class="col">
                    <span class="indicator" ng-class="{'active':  numProductsChecked() == 2 }">&nbsp;</span>
                </div>
                <div class="col">
                    <span class="indicator" ng-class="{'active':  numProductsChecked() == 3 }">&nbsp;</span>
                </div>
            </div>
            <div class="build-package">
                <div class="build-package-text">
                    @Html.Sitecore().Field("Build Package Text")
                </div>
                <div class="build-package-options">
                    <span class="bundle-option"><input type="checkbox" id="identity" ng-model="identity" />@Html.Sitecore().Field("Identity Protection Header")</span>
                    <span class="bundle-option"><input type="checkbox" id="monitoring" ng-model="monitoring" />@Html.Sitecore().Field("Credit Monitoring Header")</span>
                    <span class="bundle-option"><input type="checkbox" id="support" ng-model="support" />@Html.Sitecore().Field("Tech Support Header")</span>
                    <a href="" ng-class="{button: true, disabled: numProductsChecked() < 1}" ng-click="bundleEnroll()">@Html.Sitecore().Field("Select Package")</a>
                </div>
            </div>
        </div>
    </article>
    <article class="marketing services-summary">
        <div class="wrapper">
            <div class="family-member">@Html.Sitecore().Field("Add a Member")</div>
            <hr />
            <div class="grid border three">
                <div class="col service identityTheft">
                    <h3>@Html.Sitecore().Field("Identity Protection Header")</h3>
                    @Html.Sitecore().Field("Identity Protection Content")
                </div>
                <div class="col service creditMonitoring">
                    <h3>@Html.Sitecore().Field("Credit Monitoring Header")</h3>
                   @Html.Sitecore().Field("Credit Monitoring Content")
                </div>
                <div class="col service onlineBackupAndProtection">
                    <h3>@Html.Sitecore().Field("Tech Support Header")</h3>
                    @Html.Sitecore().Field("Tech Support Content")
                </div>
            </div>
        </div>
    </article>
    <hr />
    <article class="marketing protective-footnotes">
        <div class="wrapper">
            @Html.Sitecore().Field("Footnotes")
        </div>
    </article>
    
</div>