
<article class="marketing state-tabs states-renew">
    <ul class="tabs-nav">
        <li>
            <a href="@Html.Sitecore().Field("Texas Renew Link")" target="_blank">
                <span><i class="icon-state-texas"></i></span>
                @Html.Sitecore().Field("Texas State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("Georgia Renew Link")" target="_blank">
                <span><i class="icon-state-georgia"></i></span>
                @Html.Sitecore().Field("Georgia State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("Pennsylvania Renew Link")" target="_blank">
                <span><i class="icon-state-pennsylvania"></i></span>
                @Html.Sitecore().Field("Pennsylvania State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("Maryland Renew Link")" target="_blank">
                <span><i class="icon-state-maryland"></i></span>
                @Html.Sitecore().Field("Maryland State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("New Jersey Renew Link")" target="_blank">
                <span><i class="icon-state-newjersey"></i></span>
                @Html.Sitecore().Field("New Jersey State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("New York Renew Link")" target="_blank">
                <span><i class="icon-state-newyork"></i></span>
                @Html.Sitecore().Field("New York State Text")
            </a>
        </li>
        <li>
            <a href="@Html.Sitecore().Field("Washington DC Renew Link")" target="_blank">
                <span><i class="icon-state-washingtondc"></i></span>
                @Html.Sitecore().Field("Washington DC State Text")
            </a>
        </li>
    </ul>
</article>

