@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Sitecore.Data.Fields
@{
    var item = Html.Sitecore().CurrentRendering.Item;
    var stateEnrollData = new JArray();

    var states = new Dictionary<string, string>()
    {
        {"TX", "Texas"},
        {"GA", "Georgia"},
        {"PA", "Pennsylvania"},
        {"MD", "Maryland"},
        {"NJ", "New Jersey"},
        {"NY", "New York"},
        {"DC", "Washington DC"},
    };
    
    foreach (var state in states)
    {
        var stateClass = state.Value.ToLower().Replace(",", "").Replace(".", "").Replace(" ", "-");
        stateEnrollData.Add(new JObject {
            { "name", state.Value },
            { "value", state.Key.ToString() },
            { "class", "icon " + stateClass },
            { "enrollmentURL", item.Fields[state.Value.ToString() + " Renew Link"].ToString() }
        });
    }

    var visitor = Sitecore.Analytics.Tracker.Current;
    
    var selectedState = string.IsNullOrEmpty(visitor.Interaction.GeoData.Region) ? "TX" : visitor.Interaction.GeoData.Region;

    if (!new string[] { "TX", "GA", "PA", "MD", "NJ", "NY", "DC" }.Contains(selectedState))
    {
        selectedState = "TX";
    }
}

<article class="marketing state-tabs states-enroll" state-selector="@selectedState" ng-init='stateEnrollData = @Html.Raw(stateEnrollData.ToString(Formatting.None)); selectedStateKey = "@selectedState";'>
    <div class="wrapper grid">
        <div class="col"><h3>@Html.Sitecore().Field("Header")</h3></div>
        <div class="col">
            @Html.Sitecore().Field("Location")
            <div class="input-group-btn" id="state-select" dropdown-select dropdown-items="stateEnrollData" value="selectedStateKey" data-alignment="right"></div>
            <a class="button" target="_blank" ng-href="{{ selectedState.enrollmentURL }}">@Html.Sitecore().Field("Get Started")</a>
        </div>
    </div>
</article>