<article class="marketing validate-esn" ng-controller="MobileValidateEsnCtrl" ng-init="esnValidationMessages = @(Html.Action("EsnValidationMessages", "MobileEnrollment").ToHtmlString()); mobileEnrollmentSettings = @(Html.Action("MobileEnrollmentSettings", "Data").ToHtmlString())">
    @Html.Sitecore().Field("Intro Text")
    <form ng-submit="validateESN()">
        <div class="wrapper">
            <div loading-indicator>
                <div class="item">
                    <h3>@Html.Sitecore().Field("See If Phone Works")</h3>
                    <div class="input-group">
                        <div class="input-group-control" data-val-error="imeiNumber">
                            <label>
                                @Html.Sitecore().Field("Enter Number")
                                <a href="" ng-click="showModal('instructions/imei');">@Html.Sitecore().Field("What Is This")</a>
                            </label>
                            <input class="full" name="imeiNumber" type="text" ng-model="form.esn" data-val="true" data-val-required placeholder="@Html.Sitecore().Field("Enter Number")" />
                        </div>
                        <div class="input-group-btn">
                            <button type="submit">@Html.Sitecore().Field("Check Text")</button>
                        </div>
                    </div><!-- /input-group -->
                    <div class="input-group" ng-if="showCaptcha">
                        <div re-captcha ng-model="form.captcha" key="mobileEnrollmentSettings.reCaptchaPublicKey"></div>
                    </div><!-- /input-group -->
                    <div>
                        <a href="" ng-click="showLightbox('compatible-devices')">@Html.Sitecore().Field("Check Compatible Devices Message")</a>
                    </div>
                </div>
                <div class="side-content">
                    @Html.Sitecore().Field("Non ATT GSM Message")
                </div>
            </div>
        </div>
            <div ng-show="esnError || (phoneManufacturer == 'Apple Inc' && networkType == 'GSM')" class="device-error" ng-cloak>
                <div class="wrapper">
                    <div compile="esnMessage"></div>
                    <div ng-if="phoneManufacturer == 'Apple Inc' && networkType == 'GSM'">
                        @Html.Sitecore().Field("Apple GSM Message")
                    </div>
                </div>
            </div>
            <div ng-show="esnValid && (phoneManufacturer != 'Apple Inc' || networkType != 'GSM')" class="device-success" ng-cloak>
                <div class="wrapper">
                    @Html.Sitecore().Field("ESN Valid Message")
                </div>
            </div>
    </form>
</article>

<script type="text/ng-template" id="instructions/imei">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - IMEI ESN Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - IMEI ESN Instructions")
        </div>
    </div>
</script>

<script type="text/ng-template" id="instructions/whyUnlocked">
    <div class="mobile-enrollment-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Header - Why Unlocked Instructions")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Content - Why Unlocked Instructions")
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/shopPhones">
    <div class="mobile-enrollment-modal shopPhones">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            @Html.Sitecore().Field("Header - Shop Phones Modal")
        </div>
        <div class="modal-body">
            <div class="shop-phones-overlay clearfix">
                <div class="section">
                    <div class="inner clearfix">
                        @Html.Sitecore().Field("Stream Store Content GSM")
                    </div>
                </div>
                <div class="section">
                    <div class="inner clearfix">
                        @Html.Sitecore().Field("Stream Store Content CDMA")
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
