<article class="marketing marketingIntro mobile cdma-pricing-plans">
    <div class="wrapper">
        @Html.Sitecore().Field("Header")
        <div class="grid border four">
            <div class="col">
                <div class="plan-details">
                    <p class="data">@Html.Sitecore().Field("Plan 1 GB")</p>
                    <p class="lte">@Html.Sitecore().Field("LTE Data")</p>
                    <h2>@Html.Sitecore().Field("Plan 1 Service")</h2>
                    <p class="international">@Html.Sitecore().Field("Add International Service")</p>
                    <p class="price no-international">@Html.Sitecore().Field("Plan 1 Price")</p>
                    <p>@Html.Sitecore().Field("Plan 1 Button")</p>
                </div>
            </div>
            <div class="col">
                <div class="plan-details">
                    <p class="data">@Html.Sitecore().Field("Plan 2 GB")</p>
                    <p class="lte">@Html.Sitecore().Field("LTE Data")</p>
                    <h2>@Html.Sitecore().Field("Plan 2 Service")</h2>
                    <p class="international">@Html.Sitecore().Field("Add International Service")</p>
                    <p class="price no-international">@Html.Sitecore().Field("Plan 2 Price")</p>
                    <p>@Html.Sitecore().Field("Plan 2 Button")</p>
                </div>
            </div>
            <div class="col">
                <div class="plan-details">
                    <span class="best-deal">
                        @Html.Sitecore().Field("Best Deal")
                    </span>
                    <p class="data">@Html.Sitecore().Field("Plan 3 GB")</p>
                    <p class="lte">@Html.Sitecore().Field("LTE Data")</p>
                    <h2>@Html.Sitecore().Field("Plan 3 Service")</h2>
                    <div class="international">
                        <p>@Html.Sitecore().Field("Stream International")</p>
                    </div>
                    <p class="price">@Html.Sitecore().Field("Plan 3 Price")</p>
                    <p>@Html.Sitecore().Field("Plan 3 Button")</p>
                </div>
            </div>
            <div class="col">
                <div class="plan-details">
                    <p class="data">@Html.Sitecore().Field("Plan 4 GB")</p>
                    <p class="lte">@Html.Sitecore().Field("LTE Data")</p>
                    <h2>@Html.Sitecore().Field("Plan 4 Service")</h2>
                    <div class="international">
                        <p>@Html.Sitecore().Field("Stream International")</p>
                    </div>
                    <p class="price">@Html.Sitecore().Field("Plan 4 Price")</p>
                    <p>@Html.Sitecore().Field("Plan 4 Button")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="check">
        @Html.Sitecore().Field("Check Coverage")
        @Html.Sitecore().Field("Check Device")
    </div>
    <div class="wrapper mobile-plans">
        <div class="plan-features">
            <h3>@Html.Sitecore().Field("Features Header")</h3>
            <div class="grid two">
                <div class="col">
                    @Html.Sitecore().Field("Column 1")
                </div>
                <div class="col">
                    @Html.Sitecore().Field("Column 2")
                </div>
                </div>
            </div>
        <div class="footnote">
            @Html.Sitecore().Field("Footnotes")
        </div>
    </div>
    
    <div class="international-plus">
        <div class="wrapper">
            <div class="info">
                <h3>@Html.Sitecore().Field("Stream International Plus Header")</h3>
                @Html.Sitecore().Field("Stream International Plus Info")
            </div>
            <div class="add-price">
                @Html.Sitecore().Field("Add")
                <div class="cost">@Html.Sitecore().Field("Add Price")</div>
            </div>
            <div class="footnote">
                @Html.Sitecore().Field("International Footnotes")
        </div>
    </div>
    </div>
</article>