<article class="marketing marketingIntro mobile mobile-pricing-plans" ng-controller="MobilePlansDetailsCtrl">
    <div class="wrapper">
        <div class="plan-chooser" ng-init="isIndSelected = true">
            <a class="button-plans left selected" id="button-left" ng-click="isIndSelected = true; isGroupSelected = false" ng-class="{'selected': isIndSelected}" href="#">
                @Html.Sitecore().Field("Individual Plans")
            </a>
            <a class="button-plans right" id="button-right" ng-click="isIndSelected = false; isGroupSelected = true" ng-class="{'selected': isGroupSelected}" href="#">
                @Html.Sitecore().Field("Group Plans")
            </a>
        </div>
        <div class="grid" ng-cloak>
            @if (Html.Sitecore().HasValue("Show ATT Individual Plans") || Html.Sitecore().HasValue("Show ATT Group Plans"))
            {
                <div class="col plan-left">
                    <div>
                        <div class="plan-description">
                            <div class="mobile-network">
                                <i class="icon-gsm_plans"></i>
                            </div>
                            <div class="mobile-network-description">
                                <strong>@Html.Sitecore().Field("ATT Plan Description")</strong>
                            </div>
                        </div>
                        <div class="plan-container" ng-show="isIndSelected">
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="gsm-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 1 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 1 Cost ATT")') | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost ATT")') | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3> WI-FI</h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("WIFI Speed")
                                    <span class="footnote">@Html.Sitecore().Field("WIFI Footnote")</span>
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 1 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="gsm-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 2 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 2 Cost ATT")') | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost ATT")') | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Individual Plans - Plan 2 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 2 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="gsm-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 3 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 3 Cost ATT")') | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")') | unsafe">
                                    $@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost ATT")') }}
                                </h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Individual Plans - Plan 3 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 3 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="gsm-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 4 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 4 Cost ATT")') | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost ATT")') | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Individual Plans - Plan 4 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 4 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="plan-container" ng-show="isGroupSelected">
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 1 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 1 Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Group Plans - Plan 1 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 1 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 2 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 2 Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Group Plans - Plan 2 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 2 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 3 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 3 Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Group Plans - Plan 3 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 3 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                            <div class="plan-box">
                                <div class="special-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT")' != ''">
                                    @Html.Sitecore().Field("Special Promo")
                                    <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT")' != ''">
                                        <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 4 Cost ATT")</span>
                                    </span>
                                </div>
                                <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT")' == ''">
                                </div>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 4 Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <h2 ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost ATT"), @Html.Sitecore().Field("Group Plans - Extra Line Cost ATT")) | unsafe"></h2>
                                <p class="perMonth"> @Html.Sitecore().Field("Per Month")</p>
                                <h3>
                                    @Html.Sitecore().Field("Group Plans - Plan 4 Data ATT")
                                </h3>
                                <p class="speed">
                                    @Html.Sitecore().Field("4G Speed")
                                </p>
                                <p>
                                    <a class="button" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 4 ID ATT")">
                                        @Html.Sitecore().Field("Select")
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="phone-plan-details">
                            <div ng-show="isOpen" class="open collapsed">
                                <div class="box">
                                    <h3>
                                        @Html.Sitecore().Field("Data Plans")
                                    </h3>
                                    <ul>
                                        @Html.Sitecore().Field("Individual Plans - Data Plans Details ATT")
                                    </ul>
                                </div>
                                <div class="seperator" ng-show="isGroupSelected"></div>
                                <div class="box" ng-show="isGroupSelected">
                                    <h3> @Html.Sitecore().Field("Unlimited Plans")</h3>
                                    <ul>
                                        @Html.Sitecore().Field("Individual Plans - Unlimited Plans Details ATT")
                                    </ul>
                                </div>
                                <div class="footnotes">
                                    @Html.Sitecore().Field("Individual Plans - Footnotes ATT")
                                </div>
                            </div>
                            <div class="opener">
                                <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                                    <span ng-if="!isOpen"> + @Html.Sitecore().Field("Show Plan Details")</span> <span ng-if="isOpen"> @Html.Sitecore().Field("Hide Plan Details")</span>
                                </a>
                            </div>
                        </div>
                        <div class="device-criteria">
                            <a href="@Html.Sitecore().Field("Check Coverage Link ATT")">@Html.Sitecore().Field("Check Coverage")</a> | <a ng-click="showLightbox('compatible-devices')" href="" data-di-id="di-id-5fc7eb4d-63d76a3d">@Html.Sitecore().Field("Check Eligibility")</a>
                        </div>
                    </div>
                </div>
            }
            @if (Html.Sitecore().HasValue("Show Sprint Individual Plans") || Html.Sitecore().HasValue("Show Sprint Group Plans"))
            {
                <div class="col plan-right">
                    <div class="plan-description">
                        <div class="mobile-network">
                            <i class="icon-cdma_plans"></i>
                        </div>
                        <div class="mobile-network-description">
                            <strong>@Html.Sitecore().Field("Sprint Plan Description")</strong>
                        </div>
                    </div>
                    <div class="plan-container" ng-show="isIndSelected">
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 1 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 1 Cost Sprint")') | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 1 Promo Cost Sprint")') | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Individual Plans - Plan 1 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 1 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 2 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 2 Cost Sprint")') | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 2 Promo Cost Sprint")') | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Individual Plans - Plan 2 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 2 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 3 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 3 Cost Sprint")') | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 3 Promo Cost Sprint")') | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Individual Plans - Plan 3 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 3 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Individual Plans - Plan 4 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")' == ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 4 Cost Sprint")') | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")' != ''" ng-bind-html="superCents('@Html.Sitecore().Field("Individual Plans - Plan 4 Promo Cost Sprint")') | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Individual Plans - Plan 4 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Individual Plans - Plan 4 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="plan-container" ng-show="isGroupSelected">
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 1 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 1 Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 1 Promo Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Group Plans - Plan 1 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 1 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 2 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 2 Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 2 Promo Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Group Plans - Plan 2 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 2 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 3 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 3 Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 3 Promo Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Group Plans - Plan 3 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 3 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                        <div class="plan-box cdma">
                            <div class="special-promo cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint")' != ''">
                                @Html.Sitecore().Field("Special Promo")
                                <span class="cdma-line" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint")' != ''">
                                    <span class="regular">@Html.Sitecore().Field("Regular Price") $@Html.Sitecore().Field("Group Plans - Plan 4 Cost Sprint")</span>
                                </span>
                            </div>
                            <div class="no-promo" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint")' == ''">
                            </div>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint")' == ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 4 Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <h2 class="cdma" ng-if="'@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint")' != ''" ng-bind-html="groupPlanCost(@Html.Sitecore().Field("Group Plans - Plan 4 Promo Cost Sprint"), @Html.Sitecore().Field("Group Plans - Extra Line Cost Sprint")) | unsafe"></h2>
                            <p class="perMonth cdma"> @Html.Sitecore().Field("Per Month")</p>
                            <h3>
                                @Html.Sitecore().Field("Group Plans - Plan 4 Data Sprint")
                            </h3>
                            <p class="speed">
                                @Html.Sitecore().Field("4G Speed")
                            </p>
                            <p>
                                <a class="button cdma" href="{{ enrollmentLink }}@Html.Sitecore().Field("Group Plans - Plan 4 ID Sprint")">
                                    @Html.Sitecore().Field("Select")
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="phone-plan-details">
                        <div ng-show="isOpenCDMA" class="open collapsed">
                            <div class="box">
                                <h3>
                                    @Html.Sitecore().Field("Data Plans")
                                </h3>
                                <ul>
                                    @Html.Sitecore().Field("Individual Plans - Data Plans Details Sprint")
                                </ul>
                            </div>
                            <div class="seperator" ng-show="isGroupSelected"></div>
                            <div class="box" ng-show="isGroupSelected">
                                <h3> @Html.Sitecore().Field("Unlimited Plans")</h3>
                                <ul>
                                    @Html.Sitecore().Field("Individual Plans - Unlimited Plans Details Sprint")
                                </ul>
                            </div>
                            <div class="footnotes">
                                @Html.Sitecore().Field("Individual Plans - Footnotes Sprint")
                            </div>
                        </div>
                        <div class="opener">
                            <a class="view-details" href="" ng-click="isOpenCDMA = !isOpenCDMA" ng-class="{'collapsed': !isOpenCDMA}">
                                <span ng-if="!isOpenCDMA"> + @Html.Sitecore().Field("Show Plan Details")</span> <span ng-if="isOpenCDMA"> @Html.Sitecore().Field("Hide Plan Details")</span>
                            </a>
                        </div>
                    </div>
                    <div class="device-criteria">
                        <a href="@Html.Sitecore().Field("Check Coverage Link Sprint")">@Html.Sitecore().Field("Check Coverage")</a> | <a ng-click="showLightbox('compatible-devices')" href="" data-di-id="di-id-5fc7eb4d-63d76a3d">@Html.Sitecore().Field("Check Eligibility")</a>
                    </div>
                </div>
            }
        </div>
        <div class="col unlimited">
            @Html.Sitecore().Field("Unlimited Calling")
        </div>
        <div class="activation-footnote">
            <p class="activation">
                @Html.Sitecore().Field("Activation Footnote")
            </p>
            <p class="muted">
                @Html.Sitecore().Field("Additional Lines Footnote")
            </p>
        </div>
    </div>
</article>
