@using Sitecore.Mvc.Extensions
<article class="marketing mobile tabs mobile-plans-usage-calculator" ng-controller="MobileUsageCalculatorCtrl">
    
    @{

        var planRecommendations = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Taxonomy/Modules/Mobile/Plan Recommendations/Plan Recommendations");
        var attRecommendedConsumerPlans      = planRecommendations.Fields["ATT Consumer Individual Plans"].Value;
        var sprintRecommendedConsumerPlans   = planRecommendations.Fields["Sprint Consumer Individual Plans"].Value;
        var sprintRecommendedGroupPlans      = planRecommendations.Fields["Sprint Consumer Group Plans"].Value;
        
        
        var item = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Taxonomy/Modules/Mobile/Mobile Data Plans");
        var dataPlans = item.Children.Select(child => new
        {
            Name = child.Name.ToLower(),
            Plans = child.Children.Select(plans => new
            {
                ID     = plans.ID.ToString(),
                PlanId = plans.Fields["Plan ID"].Value,
                data   = plans.Fields["Data"].Value,
                price  = plans.Fields["Price"].Value
                //fees   = new
                //{
                //    salesUseTax         = plans.Fields["Sales and Use Tax"].Value,
                //    federalAccessCharge = plans.Fields["Federal Access Charge"].Value,
                //    streamLineCharge    = plans.Fields["Stream Line Charge"].Value
                //},
                //DataDescription  = plans.Fields["Data Description"].Value,
                //Recommended      = plans.Fields["Recommended"].Value,
                //HoursMusic       = plans.Fields["Hours Music"].Value,
                //HoursMovies      = plans.Fields["Hours Movies"].Value,
                //HoursWebBrowsing = plans.Fields["Web Pages"].Value,
                //SpecialOffer     = plans.Fields["Special Offer"].Value,
                //SpecialOfferText = plans.Fields["Special Offer Text"].Value,
                //SpecialOfferOriginalPrice = plans.Fields["Special Offer Original Price"].Value
            })
        });    
    }    
    
    

    <script>
        var UsageCalculator = {
            tabs: [
                {
                    title: '@Html.Sitecore().Field("Connect Account Tab")',
                    url: 'connect.tpl.html'
                },
                {
                    title: '@Html.Sitecore().Field("Manually Enter Tab")',
                    url: 'manual.tpl.html'
                }
            ],
            sliderVals: [
                @Html.Sitecore().Field("None"),
                @Html.Sitecore().Field("Some"),
                @Html.Sitecore().Field("A Lot")
            ]
        };

        var DataPlans = {
            plans: [
                @foreach (var carrierPlans in dataPlans) 
                {
                    <text>{</text>
                        <text>carrier: '@carrierPlans.Name.ToLower()',</text>
                        <text>plans: [ </text>
                            foreach (var plan in @carrierPlans.Plans) 
                            {
                                <text>{</text>
                                <text>id:      '@plan.ID',</text>
                                <text>planId:  '@plan.PlanId',</text>
                                <text>data:    '@plan.data',</text>
                                <text>price:   @plan.price</text>
                        /*
                                <text>fees:</text>
                                    <text>{</text>
                                        <text>salesUseTax:         @plan.fees.salesUseTax,</text>
                                        <text>federalAccessCharge: @plan.fees.federalAccessCharge,</text>
                                        <text>streamLineCharge:    @plan.fees.streamLineCharge</text>
                                    <text>},</text>
                                <text>dataDescription:           @plan.DataDescription,</text>
                                <text>recommended:               @plan.Recommended,</text>
                                <text>hoursMusic:                @plan.HoursMusic,</text>
                                <text>hoursMovies:               @plan.HoursMusic,</text>
                                <text>hoursWebBrowsing:          @plan.HoursWebBrowsing,</text>
                                <text>specialOffer:              @plan.SpecialOffer,</text>
                                <text>specialOfferText:          @plan.SpecialOfferText,</text>
                                <text>specialOfferOriginalPrice: @plan.SpecialOfferOriginalPrice </text>
                        */
                                <text>},</text>
                            }
                            <text>{blank: ''}</text>
                        <text>]</text>
                    <text>},</text>
                }
                {blank: ''}
            ]
        };

        DataPlans.plans.pop();
        for (var i=0; i < DataPlans.length; i++) {
            DataPlans.plans[i].plans.pop();
        }

        DataPlans.attRecommendedConsumerPlans = '@attRecommendedConsumerPlans'.split('|');

    </script>
    <div class="wrapper">
        <h1>@Html.Sitecore().Field("Header")</h1>
        <div class="tab-wrapper">
            <ul class="tabbed-header">
                <li class="tab"
                    ng-repeat="tab in tabs"
                    ng-class="{active:isActiveTab(tab.url)}"
                    ng-click="onClickTab(tab)">{{tab.title}}</li>
            </ul>
            <div class="content">
                @*<h1>@Html.Sitecore().Field("Helping YOU find the BEST PLAN")</h1>*@
                <div ng-include="currentTab"></div>
            </div>
        </div>
        <script type="text/ng-template" id="connect.tpl.html">
            <div class="login" ng-show="!connected">
                @*<h1>@Html.Sitecore().Field("Connect with your Account")</h1>*@
                <div class="selectCarrier clearfix">
	                <div class="selectCarrierText col pull-left">
                        <h4>@Html.Sitecore().Field("Select Carrier")</h4>
		                <p>@Html.Sitecore().Field("Select Carrier Text")</p>
		            </div>
                    <div class="col pull-right">
    		            <ul class="network-toggle">
    		            	<li>
                                <a href="" ng-class="{active: connect.carrier == 'att'}" ng-click="selectCarrierConnect('att')">
                                    <i class="icon-att"></i>
                                </a>
    		            	</li>
                            <li>
                                <a href="" ng-class="{active: connect.carrier == 'sprint'}" ng-click="selectCarrierConnect('sprint')">
                                    <i class="icon-sprint"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" ng-class="{active: connect.carrier == 'verizon'}" ng-click="selectCarrierConnect('verizon')">
                                    <i class="icon-verizon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" ng-class="{active: connect.carrier == 'tmobile'}" ng-click="selectCarrierConnect('tmobile')">
                                    <i class="icon-tmobile"></i>
                                </a>
                            </li>
    		            </ul>
                    </div>
		        </div>
                <form name="form">
                    <div class="stretch loginFields">
                        @Html.Sitecore().Field("Log In Text")
                        <span ng-bind="connect.carrier"></span>
                        @Html.Sitecore().Field("Log In Text2")
                        <div class="group">
                            <div class="item">
                                <label>@Html.Sitecore().Field("Username")</label>
                                <input type="text" ng-model="connect.username" />
                                <span class="note">@Html.Sitecore().Field("Forgot Username Link", new { text = @Html.Sitecore().Field("Forgot Username") })</span>
                            </div>
                            <div class="item">
                                <label>@Html.Sitecore().Field("Password")</label>
                                <input type="text" ng-model="connect.password" />
                                <span class="note">@Html.Sitecore().Field("Forgot Password Link", new { text = @Html.Sitecore().Field("Forgot Password") })</span>
                            </div>
                            <div class="item">
                                <label>@Html.Sitecore().Field("Security Question")</label>
                                <input type="text" ng-model="connect.securityAnswer">
                                <span class="note">@Html.Sitecore().Field("Security Question Link", new { text = @Html.Sitecore().Field("Cant Remember Security Question") })</span>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="pull-left">
                            <input type="checkbox" class="acceptCheckbox" ng-model="connect.acceptTermsCheckbox" /> @Html.Sitecore().Field("Agree text")
                        </div>
                        <input type="submit" class="button" ng-click="callValidas()" value="@Html.Sitecore().Field("Calculate Savings")" />
                    </div>
                </form>
            </div>
            <div class="bill-scrape" ng-show="connected">

                <div class="grid message">
                    <div class="col">
                        @Html.Sitecore().Field("Success Message")
                    </div>
                    <div>
                        @Html.Sitecore().Field("Were Showing") <span ng-bind="connect.validas.phoneLines">
                    </div>
                </div>

            	<h2>@Html.Sitecore().Field("Here's your Savings Analysis")</h2>

                <div class="stretch">
                    <div class="plan-table">
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Network Provider")
                            </div>
                            <div class="table-cell current-plan">
                                {{ connect.validas.network }}
                            </div>
                            <div class="table-cell" ng-show="getSprintRecommendation()">
                                <div class="mobile-poweredBy">
                                    <img alt="Stream" src="/frontend/assets/i/marketing/redesign/stream_logo.png">
                                    <span>powered by: <strong>@Html.Sitecore().Field("Sprint") </strong></span>
                                </div>
                            </div>
                            <div class="table-cell" ng-show="getAttRecommendation()">
                                <div class="mobile-poweredBy">
                                    <img alt="Stream" src="/frontend/assets/i/marketing/redesign/stream_logo.png">
                                    <span>powered by: <strong>@Html.Sitecore().Field("ATT") </strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Phone Lines")
                            </div>
                            <div class="table-cell current-plan">
                                <span ng-bind="connect.validas.phoneLines"></span>
                            </div>
                            <div class="table-cell" ng-show="getSprintRecommendation()">
                                <span ng-bind="connect.validas.phoneLines"></span>
                            </div>
                            <div class="table-cell" ng-show="getAttRecommendation()">
                                <span ng-bind="connect.validas.phoneLines"></span>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Monthly Data")
                            </div>
                            <div class="table-cell current-plan">
                                <span ng-bind="(connect.validas.averageMonthlyData / 1024).toFixed(1)"></span> GB
                            </div>
                            <div class="table-cell" ng-show="getSprintRecommendation()">
                                <span ng-bind="getSprintPlanById(getSprintRecommendation().Id).data"></span> GB
                            </div>
                            <div class="table-cell" ng-show="getAttRecommendation()">
                                <span ng-bind="getAttPlanById(getAttRecommendation().Id).data"></span> GB
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Text And Talk")
                            </div>
                            <div class="table-cell current-plan">-</div>
                            <div class="table-cell" ng-show="getSprintRecommendation()">
                                @Html.Sitecore().Field("Unlimited")
                            </div>
                            <div class="table-cell" ng-show="getAttRecommendation()">
                                @Html.Sitecore().Field("Unlimited")
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Monthly Cost")
                            </div>
                            <div class="table-cell current-plan">
                                $<span ng-bind="connect.validas.averageMonthlyCost.toFixed(2)"></span>
                            </div>
                            <div class="table-cell" ng-show="getSprintRecommendation()">
                                $<span ng-bind="getSprintRecommendation().Cost.toFixed(2)"></span>
                            </div>
                            <div class="table-cell" ng-show="getAttRecommendation()">
                                $<span ng-bind="getAttRecommendation().Cost.toFixed(2)"></span>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Total Cost of ownership over ")
                                <select ng-option="" /><br />
                                <a class="hideBreakdown" ng-click="hideBreakdown">@Html.Sitecore().Field("hide breakdown")</a>
                            </div>
                            <div class="table-cell current-plan"></div>
                            <div class="table-cell" ng-show="getSprintRecommendation()"></div>
                            <div class="table-cell" ng-show="getAttRecommendation()"></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Early Termination Fee")
                            </div>
                            <div class="table-cell current-plan">-</div>
                            <div class="table-cell" ng-show="getSprintRecommendation()"></div>
                            <div class="table-cell" ng-show="getAttRecommendation()"></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Leased Device Payoff Fee")
                            </div>
                            <div class="table-cell current-plan">-</div>
                            <div class="table-cell" ng-show="getSprintRecommendation()"></div>
                            <div class="table-cell" ng-show="getAttRecommendation()"></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Activation Fee")
                            </div>
                            <div class="table-cell current-plan">-</div>
                            <div class="table-cell" ng-show="getSprintRecommendation()"></div>
                            <div class="table-cell" ng-show="getAttRecommendation()"></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell label">
                                @Html.Sitecore().Field("Plan Selection")
                            </div>
                            <div class="table-cell current-plan">
                                <span class="currentPlan">@Html.Sitecore().Field("Current Plan")</span>
                            </div>
                            <div class="table-cell">
                                <input type="button" class="button" value="@Html.Sitecore().Field("Select Sprint Plan")">
                            </div>
                            <div class="table-cell">
                                <input type="button" class="button" value="@Html.Sitecore().Field("Select ATT Plan")">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <span>@Html.Sitecore().Field("Phone Trade In Text").</span>
                    <span>@Html.Sitecore().Field("Phone Trade In Text2")</span>
                    <span>@Html.Sitecore().Field("Phone Trade In Text3")</span>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="manual.tpl.html">
            <div class="manual-calculator">
                <h4>@Html.Sitecore().Field("Use Calculator Text")</h4>
    			<div class="grid">
    				<div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-device"></i>
                        </div>
    					<div class="pull-left">
                            @Html.Sitecore().Field("Number of Phone Lines")
                        </div>
    				</div>
    				<div class="col right numLines">
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 1}" ng-click="setLines(1)">1</div>
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 2}" ng-click="setLines(2)">2</div>
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 3}" ng-click="setLines(3)">3</div>
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 4}" ng-click="setLines(4)">4</div>
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 5}" ng-click="setLines(5)">5</div>
    					<div class="button lineButton" ng-class="{active: manualCalculator.lines == 6}" ng-click="setLines(6)">6</div>
    				</div>
    			</div>    
    			<div class="grid">
                    <div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-email-small"></i>
                        </div>
                        <div class="pull-left">
                            @Html.Sitecore().Field("Emails Sent Received")<br />
                            @Html.Sitecore().Field("No Attachments Text")
                        </div>
                    </div>
    				<div class="col right">
       				    <div class="slider" ui-slider="sliderOptions" ng-model="manualCalculator.emails"></div>
                        <div class="sliderLabels">
                            <span class="none">@Html.Sitecore().Field("None Text")</span>
                            <span class="some">@Html.Sitecore().Field("Some Text")</span>
                            <span class="alot">@Html.Sitecore().Field("A Lot Text")</span>
                        </div>
    				</div>
    			</div>
    			<div class="grid">
                    <div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-picture"></i>
                        </div>
                        <div class="pull-left">
                            @Html.Sitecore().Field("Uploaded Pictures")<br />
                            @Html.Sitecore().Field("Posting Pictures Text")
                        </div>
                    </div>
    				<div class="col right">
                        <div class="slider" ui-slider="sliderOptions" ng-model="manualCalculator.pictures"></div>
                        <div class="sliderLabels">
                            <span class="none">@Html.Sitecore().Field("None Text")</span>
                            <span class="some">@Html.Sitecore().Field("Some Text")</span>
                            <span class="alot">@Html.Sitecore().Field("A Lot Text")</span>
                        </div>
    				</div>
    			</div>
    			<div class="grid">
                    <div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-music"></i>
                        </div>
                        <div class="pull-left">
                            @Html.Sitecore().Field("Streaming Music")<br />
                            @Html.Sitecore().Field("Music Services Text")
                        </div>
                    </div>
    				<div class="col right">
                        <div class="slider" ui-slider="sliderOptions" ng-model="manualCalculator.music"></div>
                        <div class="sliderLabels">
                            <span class="none">@Html.Sitecore().Field("None Text")</span>
                            <span class="some">@Html.Sitecore().Field("Some Text")</span>
                            <span class="alot">@Html.Sitecore().Field("A Lot Text")</span>
                        </div>
    				</div>
    			</div>
    			<div class="grid">
                    <div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-video"></i>
                        </div>
                        <div class="pull-left">
                            @Html.Sitecore().Field("Stream Video")<br />
                            @Html.Sitecore().Field("Stream Services Text")
                        </div>
                    </div>
    				<div class="col right">
                        <div class="slider" ui-slider="sliderOptions" ng-model="manualCalculator.video"></div>
                        <div class="sliderLabels">
                            <span class="none">@Html.Sitecore().Field("None Text")</span>
                            <span class="some">@Html.Sitecore().Field("Some Text")</span>
                            <span class="alot">@Html.Sitecore().Field("A Lot Text")</span>
                        </div>
    				</div>
    			</div>
    			<div class="grid">
                    <div class="col left clearfix">
                        <div class="icon pull-left">
                            <i class="icon-web"></i>
                        </div>
                        <div class="pull-left">
                            @Html.Sitecore().Field("Web Surfing")<br />
                            @Html.Sitecore().Field("Web Pages Text")
                        </div>
                    </div>
    				<div class="col right">
                        <div class="slider" ui-slider="sliderOptions" ng-model="manualCalculator.surfing"></div>
                        <div class="sliderLabels">
                            <span class="none">@Html.Sitecore().Field("None Text")</span>
                            <span class="some">@Html.Sitecore().Field("Some Text")</span>
                            <span class="alot">@Html.Sitecore().Field("A Lot Text")</span>
                        </div>
    				</div>
    			</div>  
    			<div class="suggestion row">
    				<span class="suggestionText">@Html.Sitecore().Field("Based on your estimated usage")</span>
    				<span ng-bind="calculatorTotal"></span>
                    <!-- usage graph -->
                    @*<div class="recommendedLabelContainer">
                        <div class="recommended" ng-style="{left: recommendedLabelLeft() + 'px'}">
                            <div class="recommendedLabel">
                                <span class="recommendedLabelTop">@Html.Sitecore().Field("Recommended Data")</span>
                                <img class="recommendedLabelCarat" src="http://placehold.it/160x10">
                            </div>
                        </div>
                    </div>*@
                    <div class="estimatedData">

                        <div class="frame">
                            <div class="recommended" ng-style="{width: calculatorRecommendationInPct() + '%'}">
                                <span class="label">@Html.Sitecore().Field("Recommended Data")</span>
                            </div>
                            <div class="estimate" ng-style="{width: calculatorTotalInPct() + '%'}"></div>
                            <div class="estimatedDataLabel" ng-style="{left: estimateLabelLeft() + 'px'}">
                                @Html.Sitecore().Field("Estimated Usage"): <span ng-bind="calculatorTotalInGB()"></span>GB
                            </div>
                        </div>
                        <div class="dataLabels">
                            <div class="dataLabel">
                                0GB
                            </div>
                            <div class="dataLabel">
                                2GB
                            </div>
                            <div class="dataLabel">
                                4GB
                            </div>
                            <div class="dataLabel">
                                6GB
                            </div>
                            <div class="dataLabel">
                                8GB
                                <span class="pull-right">
                                    @Html.Sitecore().Field("Unlimited")
                                </span>
                            </div>
                        </div>
                    </div>
    			</div>
                <div class="stretch">
    			    <div class="plan-table">
    				    <div class="table-row">
    					    <div class="table-cell label">
            				    @Html.Sitecore().Field("Network Provider")
    					    </div>
    					    <div class="table-cell">
                                <div class="mobile-poweredBy">
                                    <img alt="Stream" src="/frontend/assets/i/marketing/redesign/stream_logo.png">
                                    <span>powered by: <strong>@Html.Sitecore().Field("Sprint") </strong></span>
                                </div>
                            </div>
                            <div class="table-cell">
                                <div class="mobile-poweredBy">
                                    <img alt="Stream" src="/frontend/assets/i/marketing/redesign/stream_logo.png">
                                    <span>powered by: <strong>@Html.Sitecore().Field("ATT") </strong></span>
                                </div>
                            </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Coverage Map")
    					    </div>
    					    <div class="table-cell label">
    						    <div class="col">
    							    <img src="https://placehold.it/200x80">
    						    </div>
    						    <div>
    							    <span>@Html.Sitecore().Field("Nationwide CDMA Network")
    							    <a href="#">@Html.Sitecore().Field("Launch Coverage Map")</a>
    						    </div>
    					    </div>
    					    <div class="table-cell label">
    						    <div class="col">
    							    <img src="https://placehold.it/200x80">
    						    </div>
    						    <div>
    							    <span>@Html.Sitecore().Field("Nationwide GSM Network")
    							    <a href="#">@Html.Sitecore().Field("Launch Coverage Map")</a>
    						    </div>    					
    					    </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Phone Lines")
    					    </div>
    					    <div class="table-cell">
    					    </div>
    					    <div class="table-cell">
    					    </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Monthly Data")
    					    </div>
    					    <div class="table-cell">
    					    </div>
    					    <div class="table-cell">
    					    </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Text And Talk")
    					    </div>
    					    <div class="table-cell">
    					    </div>
    					    <div class="table-cell">
    					    </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Monthly Cost")
    					    </div>
    					    <div class="table-cell">
    					    </div>
    					    <div class="table-cell">
    					    </div>
    				    </div>
    				    <div class="table-row">
    					    <div class="table-cell label">
    						    @Html.Sitecore().Field("Plan Selection")
    					    </div>
    					    <div class="table-cell">
    						    <input type="button" class="button" ng-click="selectPlan('sprint')" value="@Html.Sitecore().Field("Select Sprint Plan")"/>
    					    </div>
    					    <div class="table-cell">
    						    <input type="button" class="button" ng-click="selectPlan('att')" value="@Html.Sitecore().Field("Select ATT Plan")"/>
    					    </div>
    				    </div>    				    				
    			    </div>			    			    			
                </div>
            </div>
        </script>
    </div>
</article>


