<section class="layout cols-2 wrapper">
    <section class="layout cols-1">
        <article class="grey-box">
            <header>
                <h2>@Html.Sitecore().Field("Add New Account Text")</h2>
            </header>
            <form>
                <div class="content">
                    <p>@Html.Sitecore().Field("New Account Instructions Text")</p>

                    <div class="group">
                        <div class="item group-col" float-label>
                            <label for="Amount">@Html.Sitecore().Field("Account Number Text")</label>
                            <input type="text" id="amount">
                        </div>
                        <div class="item group-col" float-label>
                            <label for="Amount">@Html.Sitecore().Field("Last 4 Text")</label>
                            <input type="text" id="amount">
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="buttons">
                        <button type="submit">@Html.Sitecore().Field("Save Button Text")</button>
                    </div>
                </footer>
            </form>
        </article>
    </section>
</section>

