@model StreamEnergy.DomainModels.Enrollments.UserContext
<div id="{{section.id}}" class="enrollment-section accent-darkgreen" ng-switch-when="accountInformation" ng-show="section.isVisible" ng-controller="EnrollmentAccountInformationCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="block">@Html.Sitecore().Field("Setup Your")</span>
                <span class="block">@Html.Sitecore().Field("Account")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>@Html.Sitecore().Field("Header Account Information")</h1>
            <p>@Html.Sitecore().Field("Fill in Information")</p>
            <form data-val-bind-messages="validations">
                <article class="form" ng-repeat="(id, item) in enrollment.serverData.locationServices" ng-init="init();">
                    <div class="content">
                        <div class="item" ng-show="item.location.address.line1">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{formatAddress(item.location.address)}}</strong>
                        </div>
                        <div class="item" ng-hide="item.location.address.line1">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <input type="text" id="service-address" class="typeahead" ng-model="enrollment.extraFields.accountInformation.serviceAddresses[id].serviceAddress" placeholder="123 Main Street, Dallas, TX 75001" typeahead="address as address.formattedAddress for address in getLocation(enrollment.extraFields.serviceState, $viewValue)" typeahead-loading="enrollment.extraFields.loadingAccountInformationServiceAddress" ng-class="{'loading' : enrollment.extraFields.loadingAccountInformationServiceAddress}" />
                        </div>
                        <div ng-repeat="(type, plan) in item.selectedOffers">
                            <h2><span ng-show="type == 'gas'">Gas</span><span ng-show="type == 'electricity'">Electricity</span></h2>
                            <div class="group">
                                <div class="item group-col">
                                    <label for="bill-account-number">@Html.Sitecore().Field("Bill Account Number Label")</label>
                                    <input type="text" id="bill-account-number" ng-model="enrollment.extraFields.accountInformation.serviceAddresses[id][type].accountNumber" placeholder="654-XXXX-XXX-XXXXXX" />
                                </div>
                                <div class="item group-col">
                                    <a href="" class="single-link">@Html.Sitecore().Field("See Example")</a>
                                </div>
                            </div>
                            <div class="group" ng-show="enrollment.extraFields.serviceState == 'GA'">
                                <div class="item group-col">
                                    <label for="service-start-date">@Html.Sitecore().Field("Service Start Date Label")</label>
                                    <input type="text" id="ultility-account-number" ng-model="enrollment.extraFields.accountInformation.serviceAddresses[id][type].serviceDate" placeholder="01/29/14" />
                                </div>
                                <div class="item">
                                    <label for="service-start-time">@Html.Sitecore().Field("Time Label")</label>
                                    <select id="service-start-time" ng-model="enrollment.extraFields.accountInformation.serviceAddresses[id][type].serviceTime">
                                        <option value="">@Html.Sitecore().Field("Select Option Please Choose")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item" ng-show="plan.offerOption.connectionFee && enrollment.extraFields.serviceState == 'TX'">
                                <label for="connection-fee">@Html.Sitecore().Field("Connection Fee Label")</label>
                                <strong>{{plan.offerOption.connectionFee}}</strong>
                            </div>
                            <div class="item" ng-show="plan.offerOption.meterSetFee && enrollment.extraFields.serviceState == 'GA'">
                                <label for="meter-set-fee">@Html.Sitecore().Field("Meter Set Fee Label")</label>
                                <strong>{{plan.offerOption.meterSetFee}}</strong>
                            </div>
                            <div class="item" ng-show="plan.offerOption.meterSetFee && enrollment.extraFields.serviceState == 'GA'">
                                <label for="utility-connect-fee">@Html.Sitecore().Field("Utility Connect Fee Label")</label>
                                <strong>{{plan.offerOption.utilityConnectFee}}</strong>
                            </div>
                            <div class="item" ng-show="plan.offerOption.meterSetFee && enrollment.extraFields.serviceState == 'GA'">
                                <label for="stream-connect-fee">@Html.Sitecore().Field("Stream Connect Fee Label")</label>
                                <strong>{{plan.offerOption.streamConnectFee}}</strong>
                            </div>
                        </div>
                    </div>
                </article>
                <h2>@Html.Sitecore().Field("Personal Information Header")</h2>
                <article class="form">
                    <div class="content">
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.ContactInfo.Name.First)>
                                <label for="@Html.For(m => m.ContactInfo.Name.First)">@Html.Sitecore().Field("First Name Label")</label>
                                <input type="text" @Html.ValidationAttributes(m => m.ContactInfo.Name.First) placeholder="Jordan" ng-model="enrollment.extraFields.accountInformation.personalInformation.firstname" />
                                @Html.ValidationMessageFor(model => model.ContactInfo.Name.First)
                            </div>
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.ContactInfo.Name.Last)>
                                <label for="@Html.For(m => m.ContactInfo.Name.Last)">@Html.Sitecore().Field("Last Name Label")</label>
                                <input type="text" @Html.ValidationAttributes(m => m.ContactInfo.Name.Last) placeholder="Campbell" ng-model="enrollment.extraFields.accountInformation.personalInformation.lastname" />
                                @Html.ValidationMessageFor(model => model.ContactInfo.Name.Last)
                            </div>
                        </div>
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.ContactInfo.PrimaryPhone.Number)>
                                <label for="@Html.For(m => m.ContactInfo.PrimaryPhone.Number)">@Html.Sitecore().Field("Primary Phone Number Label")</label>
                                <input type="text" @Html.ValidationAttributes(m => m.ContactInfo.PrimaryPhone.Number) ng-model="enrollment.extraFields.accountInformation.personalInformation.primaryPhoneNumber" />
                                @Html.ValidationMessageFor(model => model.ContactInfo.PrimaryPhone.Number)
                            </div>
                            <div class="item group-col">
                                @* TODO - this doesn't match the Model *@
                                <label for="phone-type">@Html.Sitecore().Field("Phone Type Label")</label>
                                <select id="phone-type" ng-model="enrollment.extraFields.accountInformation.personalInformation.primaryPhoneType">
                                    <option value="">@Html.Sitecore().Field("Select Option Please Choose")</option>
                                </select>
                            </div>
                        </div>
                        <div class="additional-field-action">
                            <a href="" ng-click="enrollment.extraFields.accountInformation.showSecondaryPhone = true">@Html.Sitecore().Field("Add additional phone number")</a>
                        </div>
                        <div class="additional-field-group" ng-show="enrollment.extraFields.accountInformation.showSecondaryPhone">
                            @* TODO - this doesn't match the Model *@
                            <div class="group">
                                <div class="item group-col">
                                    <label for="secondary-phone-number">@Html.Sitecore().Field("Secondary Phone Number Label")</label>
                                    <input type="text" id="secondary-phone-number" ng-model="enrollment.extraFields.accountInformation.personalInformation.secondaryPhoneNumber" />
                                </div>
                                <div class="item group-col">
                                    <label for="phone-type">@Html.Sitecore().Field("Phone Type Label")</label>
                                    <select id="phone-type" ng-model="enrollment.extraFields.accountInformation.personalInformation.secondaryPhoneType">
                                        <option value="">@Html.Sitecore().Field("Select Option Please Choose")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr class="content-divider">
                        <div class="item" @Html.ValidationErrorClass(m => m.ContactInfo.Email.Address)>
                            <label for="@Html.For(m => m.ContactInfo.Email.Address)">@Html.Sitecore().Field("Email Address Label")</label>
                            <input type="email" @Html.ValidationAttributes(m => m.ContactInfo.Email.Address) ng-model="enrollment.extraFields.accountInformation.personalInformation.emailAddress" />
                            @Html.ValidationMessageFor(model => model.ContactInfo.Email.Address)
                        </div>
                        @* Change this ng-hide option when commercial becomes available *@
                        <div class="item" ng-hide="true">
                            <label>@Html.Sitecore().Field("Social Security Number or Tax ID Number Label")</label>
                            <ul class="checkbox-list">
                                <li><input type="radio" id="ssn" ng-model="enrollment.extraFields.accountInformation.personalInformation.taxid"><label for="ssn">@Html.Sitecore().Field("Checkbox List Social Security Number" )</label></li>
                                <li><input type="radio" id="taxid" ng-model="enrollment.extraFields.accountInformation.personalInformation.taxid"><label for="taxid">@Html.Sitecore().Field("Checkbox List Tax ID")</label></li>
                            </ul>
                        </div>
                        <div class="item" @Html.ValidationErrorClass(m => m.SocialSecurityNumber)>
                            <label for="@Html.For(m => m.SocialSecurityNumber)">@Html.Sitecore().Field("Social Security Number Label")</label>
                            <input type="text" @Html.ValidationAttributes(m => m.SocialSecurityNumber) ng-model="enrollment.extraFields.accountInformation.personalInformation.ssn" />
                            @Html.ValidationMessageFor(m => m.SocialSecurityNumber)
                        </div>
                        @* Change this ng-hide option when commercial becomes available *@
                        <div class="item" ng-hide="true">
                            <label for="dba">@Html.Sitecore().Field("DBA Label")</label>
                            <input type="text" id="dba" ng-model="enrollment.extraFields.accountInformation.personalInformation.dba" />
                        </div>
                        <div class="group">
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.DriversLicense.Number)>
                                <label for="@Html.For(m => m.DriversLicense.Number)">@Html.Sitecore().Field("Drivers License Number Label")</label>
                                <input type="text" @Html.ValidationAttributes(m => m.DriversLicense.Number) ng-model="enrollment.extraFields.accountInformation.personalInformation.driversLicenseNumber" />
                                @Html.ValidationMessageFor(m => m.DriversLicense.Number)
                            </div>
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.DriversLicense.StateAbbreviation)>
                                <label for="@Html.For(m => m.DriversLicense.StateAbbreviation)">@Html.Sitecore().Field("Drivers License State Label")</label>
                                <select @Html.ValidationAttributes(m => m.DriversLicense.StateAbbreviation) ng-model="enrollment.extraFields.accountInformation.personalInformation.driversLicenseState">
                                    <option value="">@Html.Sitecore().Field("Select Option Please Choose")</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.DriversLicense.StateAbbreviation)
                            </div>
                        </div>
                        <div class="additional-field-item item" ng-show="enrollment.extraFields.serviceState == 'TX'">
                            <ul class="checkbox-list">
                                <li><input type="checkbox" name="secondary-contact" id="secondary-contact" ng-model="enrollment.extraFields.accountInformation.personalInformation.showSecondaryContact"><label for="secondary-contact">@Html.Sitecore().Field("Checkbox Add Secondary Contact")</label></li>
                            </ul>
                        </div>
                        <div class="additional-field-group" ng-show="enrollment.extraFields.accountInformation.personalInformation.showSecondaryContact">
                            <div class="group">
                                <div class="item group-col" @Html.ValidationErrorClass(m => m.SecondaryContactInfo.First)>
                                    <label for="@Html.For(m => m.SecondaryContactInfo.First)">@Html.Sitecore().Field("First Name Label")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.SecondaryContactInfo.First) data-val-if="enrollment.extraFields.accountInformation.personalInformation.showSecondaryContact" placeholder="Jordan" ng-model="enrollment.extraFields.accountInformation.personalInformation.secondaryFirstName" />
                                    @Html.ValidationMessageFor(m => m.SecondaryContactInfo.First)
                                </div>
                                <div class="item group-col" @Html.ValidationErrorClass(m => m.SecondaryContactInfo.Last)>
                                    <label for="@Html.For(m => m.SecondaryContactInfo.Last)">@Html.Sitecore().Field("Last Name Label")</label>
                                    <input type="text" @Html.ValidationAttributes(m => m.SecondaryContactInfo.Last) data-val-if="enrollment.extraFields.accountInformation.personalInformation.showSecondaryContact" placeholder="Campbell" ng-model="enrollment.extraFields.accountInformation.personalInformation.secondaryLastName" />
                                    @Html.ValidationMessageFor(m => m.SecondaryContactInfo.Last)
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="form">
                    <div class="content">
                        <div class="social-box">
                            <h2>@Html.Sitecore().Field("Social Box Header")</h2>
                            <p>@Html.Sitecore().Field("Social Box Intro")</p>
                            <p class="social-buttons">
                                <a class="button social facebook" href=""><span class="icon-holder"><i class="icon-facebook"></i></span> @Html.Sitecore().Field("Social Box Facebook")</a>
                                <a class="button social twitter" href=""><span class="icon-holder"><i class="icon-twitter"></i></span> @Html.Sitecore().Field("Social Box Twitter")</a>
                                <a class="button social linkedin" href=""><span class="icon-holder"><i class="icon-linkedin"></i></span> @Html.Sitecore().Field("Social Box LinkedIn")</a>
                            </p>
                            <div class="seperator">@Html.Sitecore().Field("Seperator")</div>
                        </div>
                        <h2>@Html.Sitecore().Field("Create Online Account Header")</h2>
                        <p>@Html.Sitecore().Field("Online Account Paragraph")</p>
                        <div class="item">
                            <label for="username">@Html.Sitecore().Field("Username Optional Label")</label>
                            <input type="text" id="username" ng-model="enrollment.extraFields.accountInformation.login.username" />
                        </div>
                        <div class="group">
                            <div class="item group-col">
                                <label for="password">@Html.Sitecore().Field("Password Optional Label")</label>
                                <input type="password" id="password" ng-model="enrollment.extraFields.accountInformation.login.password" />
                            </div>
                            <div class="item group-col">
                                <label for="verify-password">@Html.Sitecore().Field("Verify Password Label")</label>
                                <input type="password" id="verify-password" ng-model="enrollment.extraFields.accountInformation.billingAddress.verifyPassword" />
                            </div>
                        </div>
                    </div>
                </article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" data-val-submit>@Html.Sitecore().Field("Button Label")</button>
                </div>
            </form>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">@Html.Sitecore().Field("Estimated Time Remaining") <strong>@Html.Sitecore().Field("Remaining Minutes")</strong></p>
                <p><a href="">@Html.Sitecore().Field("Info needed")</a></p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>       
</div>