<div class="enrollment-section">
    <article class="cart">
        <header>
            <div class="cart-items">
                <i class="icon-cart"></i>
                <div class="item-num">2</div>
            </div>
            <i class="icon-close" ng-hide="true"></i>
            <h1>@Html.Sitecore().Field("Cart Header")</h1>
        </header>
        <div class="body">
            <div class="box">
                <div>
                    <div>
                        <h3>Energy Plan</h3>
                        <div class="cart-item">
                            <div class="delete">
                                <i class="icon-delete"></i>
                            </div>
                            <div class="description">
                                <h2>Flex Choice Intro Plan</h2>
                                <a href="">Change Plan</a>
                            </div>
                            <div class="rate">
                                9.18&cent;
                                <span>per kWh</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <address>
                    <h3>@Html.Sitecore().Field("Service Address Text")</h3>
                    123 Main Street, Dallas, TX 75001<br />
                    <a href="" ng-click="editAddress()">@Html.Sitecore().Field("Edit Address Text")</a>
                </address>
            </div>
            <div class="box empty-cart-phone">
                <p>Select A Phone</p>
            </div>
            <div class="box">
                <div>
                    <div>
                        <h3>Mobile Phone 1</h3>
                        <div class="cart-item">
                            <div class="delete">
                                <i class="icon-delete"></i>
                            </div>
                            <div class="description">
                                <h2>Bring Your Own Phone</h2>
                                <p>1x Sim Card</p>
                                <a href="">Change Phone</a>
                            </div>
                            <div class="rate">
                                $9.00
                            </div>
                        </div>
                        <hr/>
                        <div class="cart-item">
                            <div class="delete">
                                <i class="icon-delete"></i>
                            </div>
                            <div class="description">
                                <h2>500MB High Speeed Data Plan</h2>
                                <a href="">Change Plan</a>
                            </div>
                            <div class="rate">
                                $39.00<span>Per Month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div>
                    <div>
                        <h3>Mobile Phone 2</h3>
                        <div class="cart-item">
                            <div class="delete">
                                <i class="icon-delete"></i>
                            </div>
                            <div class="description">
                                <h2>Apple iPhone 5s</h2>
                                <p>1x Gold, 16GB</p>
                                <a href="">Change Phone</a>
                            </div>
                            <div class="rate">
                                $599.00
                            </div>
                        </div>
                        <hr />
                        <div class="cart-item">
                            <div class="delete">
                                <i class="icon-delete"></i>
                            </div>
                            <div class="description">
                                <h2>500MB High Speeed Data Plan</h2>
                                <a href="">Change Plan</a>
                            </div>
                            <div class="rate">
                                $39.00<span>Per Month</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <p>
                    <button>Add Service Plan</button>
                </p>
            </div>
            <div class="box">
                <p>
                    <button>Checkout</button>
                </p>
            </div>
            <div class="box time">
                <i class="icon-clock"></i>
                @Html.Sitecore().Field("Time Remaining")
            </div>
            @Html.Sitecore().Field("Documents Description")
            <ul class="info">
                <li><i class="icon-home"></i> @Html.Sitecore().Field("Documents Service Address")</li>
                <li><i class="icon-bill"></i> @Html.Sitecore().Field("Documents Billing Account Number")</li>
                <li><i class="icon-utility-provider"></i> @Html.Sitecore().Field("Documents Utility Provider")</li>
                <li><i class="icon-ssn"></i> @Html.Sitecore().Field("Documents Social Security Number")</li>
                <li><i class="icon-drivers-license"></i> @Html.Sitecore().Field("Documents Drivers License Number")</li>
            </ul>
        </div>
    </article>
</div>