<script type="text/ng-template" id="cart-template">
    <div class="enrollment__cart" ng-controller="EnrollmentCartCtrl">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <div class="cart-items" ng-if="!isCartOpen()">
                    <i class="icon-cart"></i>
                    <div class="item-num" ng-show="getCartCount()">{{ getCartCount() }}</div>
                </div>
                <i class="icon-close" ng-click="toggleCart();" ng-if="isCartOpen()"></i>
                <h1>@Html.Sitecore().Field("Cart Header")</h1>
            </header>
            <div class="content">
                <p class="alt" ng-if="!getCartCount() && !getCartItems().length">@Html.Sitecore().Field("Empty Cart Text")</p>
                <div class="cart-item" ng-repeat="(id, location) in getMobileAddresses()" ng-if="cartHasMobile()">
                    <div class="mobile-plan">
                        <h2 ng-if="$first">@Html.Sitecore().Field("Mobile Services")</h2>
                        <div class="plan-type" ng-show="getCartDataPlan().length == 0 || getDevicesCount() == 0">
                            {{ mobileEnrollmentService.selectedNetwork.name }} {{ mobileEnrollmentService.planType }} @Html.Sitecore().Field("Plan")
                        </div>
                        <div class="plan-type clearfix" ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                            <div ng-include src="'cart/' + offerInformation.key"></div>
                        </div>
                        <div ng-include src="'cart/MobileDevices'"></div>
                    </div>
                </div>
                <div class="cart-item" ng-repeat="(id, location) in getUtilityAddresses()" ng-if="cartHasUtility()">
                    <div class="utility-plan">
                        <h2 ng-if="$first">@Html.Sitecore().Field("Energy Plan")</h2>
                        <address>
                            <h3>@Html.Sitecore().Field("Service Address Text")</h3>
                            {{ location.location.address | address }}<br />
                            <a href="" ng-click="editUtilityAddress(location)" ng-if="!isRenewal">@Html.Sitecore().Field("Edit Address Text")</a>
                            <span ng-if="customerType == 'commercial' || !locationHasService(location) && !isRenewal"> | <a href="" ng-click="deleteUtilityAddress(location)">@Html.Sitecore().Field("Remove Address")</a></span>
                        </address>
                        <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                            <div ng-include src="'cart/' + offerInformation.key"></div>
                        </div>
                    </div>
                </div>
                @*<div class="buttons">
                        <a href="" class="button" ng-show="getCartCount()">Checkout Now</a>
                    </div>*@
            </div>
            <footer>
                <div class="time">
                    <i class="icon-clock"></i>
                    @Html.Sitecore().Field("Time Remaining").Format(new { time = "{{time()}}" })
                </div>
            </footer>
        </article>
        <article class="enrollment__box documents" ng-if="customerType != 'commercial' && !isRenewal && getCartLocationsCount() > 0">
            <header>
                @Html.Sitecore().Field("Documents Description")
            </header>
            <ul class="info">
                <li ng-if="cartHasMobile()"><i class="icon-credit-card"></i> @Html.Sitecore().Field("Documents Credit Card")</li>
                <li ng-if="cartHasMobile()"><i class="icon-billing-address"></i>  @Html.Sitecore().Field("Documents Billing Address")</li>
                <li ng-if="cartHasUtility()"><i class="icon-home"></i> @Html.Sitecore().Field("Documents Service Address")</li>
                <li><i class="icon-ssn"></i> @Html.Sitecore().Field("Documents Social Security Number")</li>
                <li ng-if="cartHasMobile() && mobileEnrollmentService.selectedNetwork.value == 'att'"><i class="icon-imei"></i> @Html.Sitecore().Field("Documents IMEI Number")</li>
                <li ng-if="cartHasMobile() && mobileEnrollmentService.selectedNetwork.value == 'sprint'"><i class="icon-imei"></i> @Html.Sitecore().Field("Documents ESN Number")</li>
                <li ng-if="cartHasMobile() && mobileEnrollmentService.hasLTEDevice"><i class="icon-imei"></i> @Html.Sitecore().Field("Documents ICCID Number")</li>

                <!--<li><i class="icon-bill"></i>  @Html.Sitecore().Field("Documents Billing Account Number")</a></li>
            <li><i class="icon-utility-provider"></i> @Html.Sitecore().Field("Documents Utility Provider")</li>-->
            </ul>
        </article>
        <article class="enrollment__box outage-information" ng-if="customerType != 'commercial' && !isRenewal && cartHasUtility() && cartHasTxLocation()">
            <header>
                <p><strong>@Html.Sitecore().Field("Outage Header")</strong></p>
            </header>
            <ul class="info">
                <li ng-if="cartHasTDU('AEP Central Texas')">@Html.Sitecore().Field("Aep Central Outage")</li>
                <li ng-if="cartHasTDU('AEP North Texas')">@Html.Sitecore().Field("Aep North Outage")</li>
                <li ng-if="cartHasTDU('TNMP')">@Html.Sitecore().Field("Tnmp Outage")</li>
                <li ng-if="cartHasTDU('ONCOR')">@Html.Sitecore().Field("Oncor Outage")</li>
                <li ng-if="cartHasTDU('Centerpoint')">@Html.Sitecore().Field("Centerpoint Outage")</li>
                <li ng-if="cartHasTDU('Sharyland McAllen')">@Html.Sitecore().Field("Sharyland Mcallen Outage")</li>
                <li ng-if="cartHasTDU('Sharyland')">@Html.Sitecore().Field("Sharyland Utilities Outage")</li>
            </ul>
        </article>
    </div>
</script>


<script type="text/ng-template" id="cart/TexasElectricity">
    <div class="utility-cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span><br />
                <a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Change Plan")</a>
                <span ng-if="!isRenewal"> | <a href="" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)">@Html.Sitecore().Field("Remove Plan")</a></span>
            </div>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span class="energy-unit">@Html.Sitecore().Field("Per kWh")</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee")
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/GeorgiaGas">
    <div class="utility-cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span><br />
                <a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Change Plan")</a>
                <span ng-if="!isRenewal"> | <a href="" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)">@Html.Sitecore().Field("Remove Plan")</a></span>
            </div>
        </div>
        <div class="rate">
            ${{selectedOffer.offer.rate}}
            <span class="energy-unit">@Html.Sitecore().Field("Per Therm")</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee")
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/Mobile">
    <div ng-repeat="selectedOffer in getCartDataPlan()">
        <div class="description" ng-if="getDevicesCount() == 1">
            @Html.Sitecore().Field("Individual Plan")
            <div class="options">
                {{ getDevicesCount() }} @Html.Sitecore().Field("Line Text") &amp; {{ selectedOffer.data }}<span ng-if="selectedOffer.data != 'Unlimited'">GB</span> @Html.Sitecore().Field("Data Text")
            </div>
            <div class="links" ng-if="getActiveServiceType() == 'Mobile'">
                <a href="" ng-click="changeMobilePlan(location)">@Html.Sitecore().Field("Edit Plan Link")</a> <span ng-if="mobileEnrollmentSettings.disableSharedPlans != true">| <a href="" ng-click="addMobileDevice(location)">@Html.Sitecore().Field("Add Device Link")</a></span>
            </div>
            <div class="links" ng-if="getActiveServiceType() != 'Mobile'">
                <a href="" ng-click="deleteMobilePlan(location)">@Html.Sitecore().Field("Remove Plan")</a>
            </div>
        </div>
        <div class="description" ng-if="getDevicesCount() > 1">
            @Html.Sitecore().Field("Group Plan")
            <div class="options">
                {{ getDevicesCount() }} @Html.Sitecore().Field("Lines Text") &amp; {{ selectedOffer.data }}<span ng-if="selectedOffer.data != 'Unlimited'">GB</span> @Html.Sitecore().Field("Data Text")
            </div>
            <div class="links" ng-if="getActiveServiceType() == 'Mobile'">
                <a href="" ng-click="changeMobilePlan(location)">@Html.Sitecore().Field("Edit Plan Link")</a> <span ng-if="mobileEnrollmentSettings.disableSharedPlans != true">| <a href="" ng-click="addMobileDevice(location)">@Html.Sitecore().Field("Add Device Link")</a></span>
            </div>
            <div class="links" ng-if="getActiveServiceType() != 'Mobile'">
                <a href="" ng-click="deleteMobilePlan(location)">@Html.Sitecore().Field("Remove Plan")</a>
            </div>
        </div>
        <div class="rate" ng-if="getDevicesCount() > 0">{{ totalPlanPrice(selectedOffer) | currency }}/@Html.Sitecore().Field("Month Abbreviation")</div>
    </div>
</script>

<script type="text/ng-template" id="cart/MobileDevices">
    <div class="cart-product clearfix" ng-repeat="item in getCartDevices()">
        <div>
            <div class="condition" ng-if="item.buyingOption == 'New' || item.buyingOption == 'Reconditioned'">{{ item.buyingOption }}</div>
            <div class="condition" ng-if="item.buyingOption != 'New' && item.buyingOption != 'Reconditioned' && item.buyingOption != 'BYOD'">{{ item.installmentMonths }}@Html.Sitecore().Field("Month Installment")</div>
            <div class="condition" ng-if="item.type == 'existing'">@Html.Sitecore().Field("Bring Your Own Device")</div>
            <div class="description">
                {{ item.make.make }} {{ item.model.modelName }}
                <div class="options" ng-if="item.type == 'new'"><span ng-if="item.size != ''">{{ item.size }}, </span>{{ item.color }}</div>
                <div class="options" ng-if="item.type == 'existing' && item.simNumber">@Html.Sitecore().Field("SIM") {{ item.simNumber }}</div>
                <div class="options" ng-if="mobileEnrollmentService.selectedNetwork.value == 'att' && item.type == 'existing' && !item.simNumber">@Html.Sitecore().Field("IMEI") {{ item.imeiNumber }}</div>
                <div class="options" ng-if="mobileEnrollmentService.selectedNetwork.value == 'sprint' && item.type == 'existing' && !item.simNumber">@Html.Sitecore().Field("ESN") {{ item.imeiNumber }}</div>
                <div ng-if="getActiveServiceType() == 'Mobile'">
                    <a href="" ng-click="editMobileDevice(item)">@Html.Sitecore().Field("Edit Phone Link")</a> | <a href="" ng-click="deleteMobileDevice(item)">@Html.Sitecore().Field("Remove Phone Link")</a>
                </div>
            </div>
        </div>
        <div class="rate device-price" ng-if="item.type == 'new'">{{ item.price | currency }}<span class="per-month" ng-if="item.buyingOption != 'New' && item.buyingOption != 'Reconditioned'">/@Html.Sitecore().Field("Month Abbreviation")</span></div>
        <div class="rate device-price" ng-if="item.type == 'existing'">$0.00</div>
        
        <div ng-if="item.warranty == 'accept'" class="warranty">
            <div class="description">@Html.Sitecore().Field("Phone Warranty")</div>
            <div class="rate">@Html.Sitecore().Field("Warranty Cost")/@Html.Sitecore().Field("Month Abbreviation")</div>
        </div>

    </div>
</script>

<script type="text/ng-template" id="cart/TexasElectricityCommercialQuote">
</script>

<script type="text/ng-template" id="cart/GeorgiaGasCommercialQuote">
</script>

<script type="text/ng-template" id="confirmAddressDeleteModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Confirm Address Deletion Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Confirm Address Deletion Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$close()">@Html.Sitecore().Field("Continue Button")</button>
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button")</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showBillAccountModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Bill Account Example Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Bill Account Example Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()">@Html.Sitecore().Field("Continue Button")</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showUtilityProviderModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Utility Provider Example Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Utility Provider Example Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()">@Html.Sitecore().Field("Continue Button")</button>
        </div>
    </div>
</script>