<script type="text/ng-template" id="cart-template">
<div class="enrollment__cart">
    <article class="enrollment__box" ng-controller="EnrollmentCartCtrl" scroll-anchor="scrollFix">
        <header>
            <div class="cart-items" ng-if="!isCartOpen()">
                <i class="icon-cart"></i>
                <div class="item-num" ng-show="getCartCount()">{{ getCartCount() }}</div>
            </div>
            <i class="icon-close" ng-click="toggleCart();" ng-if="isCartOpen()"></i>
            <h1>@Html.Sitecore().Field("Cart Header")</h1>
        </header>
        <div class="content">
            <p class="alt" ng-if="!getCartCount() && !getCartItems().length">@Html.Sitecore().Field("Empty Cart Text")</p>
            <div class="cart-item" ng-repeat="(id, location) in getCartItems()">
                <h2>Energy Plan</h2>
                <address>
                    <h3>@Html.Sitecore().Field("Service Address Text")</h3>
                    {{ location.location.address | address }}<br />
                    <a href="" ng-click="editUtilityAddress(location)">@Html.Sitecore().Field("Edit Address Text")</a>
                </address>
                <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                    <div ng-include src="'cart/' + offerInformation.key"></div>
                </div>
            </div>
            @*<div class="buttons">
                <a href="" class="button" ng-show="getCartCount()">Checkout Now</a>
            </div>*@
            <div class="time">
                <i class="icon-clock"></i>
                @Html.Sitecore().Field("Time Remaining")
            </div>
        </div>
    </article>
    <article class="enrollment__box">
        <header>
            @Html.Sitecore().Field("Documents Description")
        </header>
        <ul class="info">
            <li><i class="icon-home"></i> @Html.Sitecore().Field("Documents Service Address")</li>
            @*<li><i class="icon-bill"></i> @Html.Sitecore().Field("Documents Billing Account Number")</li>*@
            <li><i class="icon-ssn"></i> @Html.Sitecore().Field("Documents Social Security Number")</li>
            <li><i class="icon-drivers-license"></i> @Html.Sitecore().Field("Documents Drivers License Number")</li>
        </ul>
    </article>
</div>
</script>


<script type="text/ng-template" id="cart/TexasElectricity">
    <div class="cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="delete" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)">
            <i class="icon-delete"></i>
        </div>
        <div class="description">
            <span class="plan">{{ selectedOffer.offer.name }}</span>
            <a href="" ng-click="changeUtilityPlan(location)">Change Plan</a>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span>per kWh</span>
        </div>
    </div>
</script>