<script type="text/ng-template" id="cart-template">
    <div class="enrollment__cart" ng-controller="EnrollmentCartCtrl">
        <article class="enrollment__box" scroll-anchor="scrollFix">
            <header>
                <div class="cart-items" ng-if="!isCartOpen()">
                    <i class="icon-cart"></i>
                    <div class="item-num" ng-show="getCartCount()">{{ getCartCount() }}</div>
                </div>
                <i class="icon-close" ng-click="toggleCart();" ng-if="isCartOpen()"></i>
                <h1>@Html.Sitecore().Field("Cart Header")</h1>
            </header>
            <div class="content">
                <p class="alt" ng-if="!getCartCount() && !getCartItems().length">@Html.Sitecore().Field("Empty Cart Text")</p>
                <div class="cart-item" ng-repeat="(id, location) in getCartItems()">
                    <h2>@Html.Sitecore().Field("Energy Plan")</h2>
                    <div class="delete" ng-click="deleteUtilityAddress(location)" ng-if="customerType == 'commercial' || !locationHasService(location)">
                        <i class="icon-delete"></i>
                    </div>
                    <address>
                        <h3>@Html.Sitecore().Field("Service Address Text")</h3>
                        {{ location.location.address | address }}<br />
                        <a href="" ng-click="editUtilityAddress(location)" ng-if="!isRenewal">@Html.Sitecore().Field("Edit Address Text")</a>
                    </address>
                    <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                        <div ng-include src="'cart/' + offerInformation.key"></div>
                    </div>
                </div>
                @*<div class="buttons">
                        <a href="" class="button" ng-show="getCartCount()">Checkout Now</a>
                    </div>*@
                <div class="time">
                    <i class="icon-clock"></i>
                    @Html.Sitecore().Field("Time Remaining").Format(new { time = "{{time()}}" })
                </div>
            </div>
        </article>
        <article class="enrollment__box documents" ng-if="customerType != 'commercial'">
            <header>
                @Html.Sitecore().Field("Documents Description")
            </header>
            <ul class="info">
                <li><i class="icon-credit-card"></i> @Html.Sitecore().Field("Documents Credit Card")</li>
                <li><i class="icon-billing-address"></i>  @Html.Sitecore().Field("Documents Billing Address")</li>
                <li><i class="icon-home"></i> @Html.Sitecore().Field("Documents Service Address")</li>
                <li><i class="icon-ssn"></i> @Html.Sitecore().Field("Documents Social Security Number")</li>
                <li><i class="icon-imei"></i> @Html.Sitecore().Field("Documents MEID Number")</li>
             
                <!--<li><i class="icon-bill"></i>  @Html.Sitecore().Field("Documents Billing Account Number")</a></li>
                <li><i class="icon-utility-provider"></i> @Html.Sitecore().Field("Documents Utility Provider")</li>-->   
            </ul>
        </article>
        <article class="enrollment__box outage-information" ng-if="customerType != 'commercial' && cartHasTxLocation()">
            <header>
                <p><strong>@Html.Sitecore().Field("Outage Header")</strong></p>
            </header>
            <ul class="info">
                <li ng-if="cartHasTDU('AEP Central Texas')">@Html.Sitecore().Field("Aep Central Outage")</li>
                <li ng-if="cartHasTDU('AEP North Texas')">@Html.Sitecore().Field("Aep North Outage")</li>
                <li ng-if="cartHasTDU('TNMP')">@Html.Sitecore().Field("Tnmp Outage")</li>
                <li ng-if="cartHasTDU('ONCOR')">@Html.Sitecore().Field("Oncor Outage")</li>
                <li ng-if="cartHasTDU('Centerpoint')">@Html.Sitecore().Field("Centerpoint Outage")</li>
                <li ng-if="cartHasTDU('Sharyland McAllen')">@Html.Sitecore().Field("Sharyland Mcallen Outage")</li>
                <li ng-if="cartHasTDU('Sharyland')">@Html.Sitecore().Field("Sharyland Utilities Outage")</li>
            </ul>
        </article>
    </div>
</script>


<script type="text/ng-template" id="cart/TexasElectricity">
    <div class="cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="delete" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)" ng-if="!isRenewal">
            <i class="icon-delete"></i>
        </div>
        <div class="description">
            <i class="icon-electricity"></i> 
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span><br />
                <a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Change Plan")</a>
            </div>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span>@Html.Sitecore().Field("Per kWh")</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee")
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/GeorgiaGas">
    <div class="cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="delete" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)" ng-if="!isRenewal">
            <i class="icon-delete"></i>
        </div>
        <div class="description">
            <i class="icon-gas-icon"></i>
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span><br />
                <a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Change Plan")</a>
            </div>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span>@Html.Sitecore().Field("Per Therm")</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee")
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/Mobile">
    <div class="cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="delete" ng-click="scrollFix(); deleteUtilityPlan(location, selectedOffer)">
            <i class="icon-delete"></i>
        </div>
        <div class="description">
            <i class="icon-gas-icon"></i>
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span><br />
                <a href="" ng-click="changeUtilityPlan(location)">@Html.Sitecore().Field("Change Plan")</a>
            </div>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span>@Html.Sitecore().Field("Per Therm")</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee")
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart/TexasElectricityCommercialQuote">
</script>

<script type="text/ng-template" id="cart/GeorgiaGasCommercialQuote">
</script>

<script type="text/ng-template" id="confirmAddressDeleteModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Confirm Address Deletion Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Confirm Address Deletion Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$close()">@Html.Sitecore().Field("Continue Button")</button>
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button")</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showBillAccountModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Bill Account Example Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Bill Account Example Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()">@Html.Sitecore().Field("Continue Button")</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showUtilityProviderModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Utility Provider Example Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Utility Provider Example Body")
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()">@Html.Sitecore().Field("Continue Button")</button>
        </div>
    </div>
</script>