@model StreamEnergy.DomainModels.Enrollments.UserContext
<div id="reviewOrder" class="enrollment accent-darkgreen" ng-show="stepsService.isStepVisible('reviewOrder')" ng-controller="EnrollmentCompleteOrderCtrl">
    <div class="banner enrollment__banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper clearfix">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Add Payment")</span><br>
                <span class="block">@Html.Sitecore().Field("Information")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="enrollment__nav">
            <div ng-include ng-if="true" src="'enrollment-nav-template'" ng-init="name = 'reviewOrder'"></div>
        </aside>
        <section>
            <article class="form enrollment__box enrollment__review-order">
                <header>
                    <h1>@Html.Sitecore().Field("Add Payment Information")</h1>
                </header>
                <div class="content">
                    <p>@Html.Sitecore().Field("Payment Due")</p>
                    <div ng-repeat="(id, location) in getCartItems()">
                        <div class="item item--no-input">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ location.location.address | address }}</strong>
                        </div>
                        <hr />
                        <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                            <div ng-if="offerInformation.key == 'TexasElectricity'">
                                @*<h3>Electricity</h3>*@
                                <table class="verify-order-table">
                                    <tbody>
                                        <tr class="line-item" ng-repeat-start="selectedOffer in offerInformation.value.offerSelections">
                                            <td class="description">
                                                <h4>{{selectedOffer.offer.name}}</h4>
                                                @*<p>{{selectedOffer.offer.description}}</p>*@
                                            </td>
                                            <td class="rate">
                                                {{selectedOffer.offer.rate | currency}} kWh
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end>
                                            <td class="sub-charge">
                                                <strong>Deposit Due</strong><br>
                                                {{ selectedOffer.deposit.description }}
                                            </td>
                                            <td class="rate">{{ selectedOffer.deposit.requiredAmount | currency }}</td>
                                        </tr>
                                        @*<tr>
                            <td class="sub-charge">Installation</td>
                            <td></td>
                        </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="content-divider" ng-if="getCartItems().length > 1 && !$last">
                    </div>
                    <hr class="content-divider">
                    <div class="total">
                        @Html.Sitecore().Field("Total Due Now") <strong>{{ getCartTotal() | currency }}</strong>
                    </div>                    
                </div>
            </article>
            
            @*
                <p>@Html.Sitecore().Field("Set Up Card")</p>
                <h2>@Html.Sitecore().Field("Homelife Services")</h2>
                <table>
                    <tbody>
                        <tr class="line-item">
                            <td class="description">
                                <h1>@Html.Sitecore().Field("Stream Tech Support")</h1>
                                <p>@Html.Sitecore().Field("Appear On Bill")</p>
                            </td>
                            <td class="rate">
                                @Html.Sitecore().Field("Tech Support Rate")
                            </td>
                        </tr>
                        <tr>
                            <td class="total" colspan="2">
                                @Html.Sitecore().Field("Recurring Payments")
                            </td>
                        </tr>
                    </tbody>
                </table>
            *@
            <h2>@Html.Sitecore().Field("Card Details")</h2>
            <form data-val-bind-messages="validations">
                <article class="enrollment__box form">
                    <div class="content">
                        <div class="item">
                            <label for="payment-method">@Html.Sitecore().Field("Select Payment Method Label")</label>
                            <select id="payment-method" ng-model="completeOrder.creditCard.paymentMethod">
                                <option value="">@Html.Sitecore().Field("Select Option")</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="cc">@Html.Sitecore().Field("Credit Card Number Label")</label>
                            <input type="text" id="cc" ng-model="completeOrder.creditCard.cardNumber" />
                        </div>
                        <div class="group">
                            <div class="item">
                                <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Label")</label>
                                <select class="small" id="cc-month" ng-model="completeOrder.creditCard.expirationMonth">
                                    <option value="">@Html.Sitecore().Field("Select Month")</option>
                                </select>
                                <select class="small" id="cc-year">
                                    <option value="" ng-model="completeOrder.creditCard.expirationYear">@Html.Sitecore().Field("Select Year")</option>
                                </select>
                            </div>
                            <div class="item">
                                <label for="billing-zip">@Html.Sitecore().Field("Billing Zip Label")</label>
                                <input class="small" type="text" id="billing-zip" ng-model="completeOrder.creditCard.billingZip" />
                            </div>
                            <div class="item">
                                <label for="security-code">@Html.Sitecore().Field("Security Code Label")</label>
                                <input class="small" type="text" id="security-code" ng-model="completeOrder.creditCard.securityCode" />
                            </div>
                            <div class="item">
                                <a href="" class="single-link">@Html.Sitecore().Field("See Example")</a>
                            </div>
                        </div>
                        <p>By clicking "Place Order" below, you agree to the <a href="">terms and conditions</a>.</p>
                        <div class="item" @Html.ValidationErrorClass(m => m.AgreeToTerms)>
                            <ul class="checkbox-list">
                                <li><input type="checkbox" @Html.ValidationAttributes(c => c.AgreeToTerms) ng-model="completeOrder.agreeToTerms"> I agree to the TCPA <a href="">terms and conditions</a>.</li>    
                            </ul>                            
                        </div>
                    </div>
                </article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" data-val-submit>@Html.Sitecore().Field("Button")</button>
                </div>
            </form>
        </section>
        <aside>
            <div class="enrollment__cart">
                <article class="enrollment__box" ng-controller="EnrollmentCartCtrl">
                    <header>
                        <h1>Order Breakdown @Html.Sitecore().Field("Cart Header")</h1>
                    </header>
                    <div class="content">
                        <p><strong>To be billed today:</strong></p>
                        <div ng-repeat="(id, location) in getCartItems()">
                            <address>
                                <h3>@Html.Sitecore().Field("Service Address Text")</h3>
                                {{ location.location.address | address }}<br />
                                <a href="" ng-click="editUtilityAddress(location)">@Html.Sitecore().Field("Edit Address Text")</a>
                            </address>
                            <div ng-repeat="(type, plan) in getPlans(location)">
                                <hr />
                                <div ng-if="type == 'TexasElectricity'">
                                    <h3>Electricity</h3>
                                    <div class="cart-item">
                                        <div class="delete" ng-click="deleteUtilityItem(location)">
                                            <i class="icon-delete"></i>
                                        </div>
                                        <div class="description">
                                            <h2>{{ plan.name }}</h2>
                                            <a href="" ng-click="changeUtilityPlan(location)">Change Plan</a>
                                        </div>
                                        <div class="rate">
                                            {{plan.rate}}&cent;
                                            <span>per kWh</span>
                                        </div>
                                    </div>
                                    @*
                                    <div class="cart-item" ng-show="plan.deposit">
                                        <div class="description">
                                            <h2>{{ plan.deposit.description }}</h2>
                                        </div>
                                        <div class="rate">
                                            {{ plan.deposit.requiredAmount | currency }}
                                        </div>
                                    </div>
                                    *@
                                </div>
                            </div>
                        </div>
                        
                        <p><strong>To be billed monthly:</strong></p>
                        <hr />
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>