@model StreamEnergy.DomainModels.Enrollments.UserContext
<div id="reviewOrder" class="enrollment" ng-show="stepsService.isStepVisible('reviewOrder')" ng-controller="EnrollmentCompleteOrderCtrl">
    <div class="banner enrollment__banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper clearfix">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Banner Header Text")</span><br />
                <span class="block">@Html.Sitecore().Field("Banner Sub Header Text")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="enrollment__nav">
            <div ng-include ng-if="true" src="'enrollment-nav-template'" ng-init="name = 'reviewOrder'"></div>
        </aside>
        <section>
            <article class="form enrollment__box enrollment__review-order">
                <header>
                    <h1>@Html.Sitecore().Field("Add Payment Information")</h1>
                </header>
                <div class="content">
                    <p>@Html.Sitecore().Field("Payment Due")</p>
                    <div ng-repeat="(id, location) in getCartItems()">
                        <div class="item item--no-input">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ location.location.address | address }}</strong>
                        </div>
                        <hr />
                        <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                            <div ng-include src="'completeOrder/' + offerInformation.key"></div>                            
                        </div>
                        <hr class="content-divider" ng-if="getCartItems().length > 1 && !$last">
                    </div>
                    <hr class="content-divider">
                    <div class="total">
                        @Html.Sitecore().Field("Total Due Now") <strong>{{ getCartTotal() | currency }}</strong>
                    </div>
                </div>
            </article>

                @*
            <p>@Html.Sitecore().Field("Set Up Card")</p>
            <h2>@Html.Sitecore().Field("Homelife Services")</h2>
            <table>
                <tbody>
                    <tr class="line-item">
                        <td class="description">
                            <h1>@Html.Sitecore().Field("Stream Tech Support")</h1>
                            <p>@Html.Sitecore().Field("Appear On Bill")</p>
                        </td>
                        <td class="rate">
                            @Html.Sitecore().Field("Tech Support Rate")
                        </td>
                    </tr>
                    <tr>
                        <td class="total" colspan="2">
                            @Html.Sitecore().Field("Recurring Payments")
                        </td>
                    </tr>
                </tbody>
            </table>
                *@
            <form data-val-bind-messages="validations">
                <article class="enrollment__box" ng-if="getCartTotal() > 0">
                    <header>
                         <h1>@Html.Sitecore().Field("Card Details")</h1>
                    </header>
                    <div class="content">
                        @*<div class="item">
                            <label for="payment-method">@Html.Sitecore().Field("Select Payment Method Label")</label>
                            <select id="payment-method" ng-model="completeOrder.creditCard.paymentMethod">
                                <option value="">@Html.Sitecore().Field("Select Option")</option>
                            </select>
                        </div>*@
                        <div credit-card-payment="completeOrder.creditCard" data-val-if="true"></div>
                    </div>
                </article>
                <div class="form terms-agreement">
                    @Html.Sitecore().Field("Terms and Conditions Text").Format(new { LinkAttributes = "ng-click=\"showTerms('Standard')\"" })
                    <div class="item" @Html.ValidationErrorClass(m => m.AgreeToTerms)>
                        <ul class="checkbox-list">
                            <li><input id="tcpa-services-agreement" type="checkbox" @Html.ValidationAttributes(c => c.AgreeToTerms) ng-model="completeOrder.agreeToTerms"> <label for="tcpa-services-agreement">@Html.Sitecore().Field("TCPA - I Agree Text").Format(new { LinkAttributes = "ng-click=\"showTerms('Tcpa')\"" })</label></li>    
                        </ul>                            
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" data-val-submit>@Html.Sitecore().Field("Button")</button>
                </div>
            </form>
        </section>
        <aside>
            <div class="enrollment__cart">
                <article class="enrollment__box" ng-controller="EnrollmentCartCtrl">
                    <header>
                        <h1>@Html.Sitecore().Field("Order Breakdown Header")</h1>
                    </header>
                    <div class="content">
                        <div class="billed-today">
                            <p><strong>@Html.Sitecore().Field("Billed Today Text")</strong></p>
                            <div ng-repeat="(id, location) in getCartItems()">
                                <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                                    <div ng-include src="'completeOrderCartMonthly/' + offerInformation.key"></div>                            
                                </div>
                            </div>
                            @* Add Subtotal *@
                        </div>
                        <hr> 
                        <div class="billed-monthly">
                            <p><strong>@Html.Sitecore().Field("Billed Monthly Text")</strong></p>
                            <div ng-repeat="(id, location) in getCartItems()">
                                <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                                    <div ng-include src="'completeOrderCartToday/' + offerInformation.key"></div>                            
                                </div>
                            </div>
                            @* Add Subtotal *@
                        </div>
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>



<script type="text/ng-template" id="completeOrderCartToday/TexasElectricity">
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dt>{{selectedOffer.offer.name}}</dt>
        <dd>{{selectedOffer.offer.rate | currency}} kWh</dd>
    </dl>
</script>

<script type="text/ng-template" id="completeOrderCartMonthly/TexasElectricity">
    <div ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dl class="clearfix">
            <ng-include ng-repeat="payment in selectedOffer.payments.requiredAmounts" src="'paymentsCart/' + payment.offerPaymentAmountType" />
        </dl>
    </div>
</script>

<script type="text/ng-template" id="paymentsCart/Deposit">
    <dt>@Html.Sitecore().Field("Deposit Due")</dt>
    <dd>{{ payment.dollarAmount | currency }}</dd>
</script>



<script type="text/ng-template" id="completeOrder/TexasElectricity">
    @*<h3>Electricity</h3>*@
    <table class="verify-order-table">
        <tbody>
            <tr class="line-item" ng-repeat-start="selectedOffer in offerInformation.value.offerSelections">
                <td class="description">
                    <h4>{{selectedOffer.offer.name}}</h4>
                    @*<p>{{selectedOffer.offer.description}}</p>*@
                </td>
                <td class="rate">
                    {{selectedOffer.offer.rate | currency}} kWh
                </td>
            </tr>
            <tr ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'paymentsDue/' + payment.offerPaymentAmountType"></tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
</script>

<script type="text/ng-template" id="paymentsDue/Deposit">
    <td class="sub-charge">
        <strong>@Html.Sitecore().Field("Deposit Due")</strong><br>
    </td>
    <td class="rate">{{ payment.dollarAmount | currency }}</td>
</script>


<script type="text/ng-template" id="Terms/Standard">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Terms and Conditions Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("Terms and Conditions Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Close Terms and Conditions Button Text")</button>
    </div>
</script>

<script type="text/ng-template" id="Terms/Tcpa">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("TCPA Terms and Conditions Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("TCPA Terms and Conditions Body Text")
    </div>
    <div class="modal-footer">
        <button ng-click="$close()">@Html.Sitecore().Field("Close TCPA Terms and Conditions Button Text")</button>
    </div>
</script>
