@model StreamEnergy.DomainModels.Enrollments.UserContext
<div id="reviewOrder" class="enrollment-section accent-darkgreen" ng-show="stepsService.isStepVisible('reviewOrder')" ng-controller="EnrollmentCompleteOrderCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="medium block">@Html.Sitecore().Field("Add Payment")</span>
                <span class="block">@Html.Sitecore().Field("Information")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>@Html.Sitecore().Field("Add Payment Information")</h1>
            <p>@Html.Sitecore().Field("Payment Due")</p>

            <div ng-repeat="(id, location) in getCartItems()" class="verify-order">
                <article class="form">
                    <div class="content">
                        <div class="item">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ location.location.address | address }}</strong>
                        </div>
                        <hr />
                        <div ng-repeat="(type, plan) in getPlans(location)">
                            <div ng-if="type == 'TexasElectricity'">
                                <h3>Electricity</h3>
                                <table class="verify-order-table">
                                    <tbody>
                                        <tr class="line-item">
                                            <td class="description">
                                                <h4>{{plan.name}}</h4>
                                                @*<p>{{plan.description}}</p>*@
                                            </td>
                                            <td class="rate">
                                                {{plan.rate | currency}} kWh
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sub-charge">
                                                <strong>Deposit Due</strong><br>
                                                {{ plan.selectionDetails.deposit.description }}
                                            </td>
                                            <td class="rate">{{ plan.selectionDetails.deposit.requiredAmount | currency }}</td>
                                        </tr>
                                        @*<tr>
                                            <td class="sub-charge">Installation</td>
                                            <td></td>
                                        </tr>*@
                                        <tr>
                                            <td class="total" colspan="2">
                                                @Html.Sitecore().Field("Total Due Now") <strong>{{calculateTotal(plans) | currency}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            @*
                <p>@Html.Sitecore().Field("Set Up Card")</p>
                <h2>@Html.Sitecore().Field("Homelife Services")</h2>
                <table>
                    <tbody>
                        <tr class="line-item">
                            <td class="description">
                                <h1>@Html.Sitecore().Field("Stream Tech Support")</h1>
                                <p>@Html.Sitecore().Field("Appear On Bill")</p>
                            </td>
                            <td class="rate">
                                @Html.Sitecore().Field("Tech Support Rate")
                            </td>
                        </tr>
                        <tr>
                            <td class="total" colspan="2">
                                @Html.Sitecore().Field("Recurring Payments")
                            </td>
                        </tr>
                    </tbody>
                </table>
            *@
            <h2>@Html.Sitecore().Field("Card Details")</h2>
            <form data-val-bind-messages="validations">
                <article class="form">
                    <div class="content">
                        <div class="item">
                            <label for="payment-method">@Html.Sitecore().Field("Select Payment Method Label")</label>
                            <select id="payment-method" ng-model="verifyIdentity.creditCard.paymentMethod">
                                <option value="">@Html.Sitecore().Field("Select Option")</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="cc">@Html.Sitecore().Field("Credit Card Number Label")</label>
                            <input type="text" id="cc" ng-model="verifyIdentity.creditCard.cardNumber" />
                        </div>
                        <div class="group">
                            <div class="item">
                                <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Label")</label>
                                <select class="small" id="cc-month" ng-model="verifyIdentity.creditCard.expirationMonth">
                                    <option value="">@Html.Sitecore().Field("Select Month")</option>
                                </select>
                                <select class="small" id="cc-year">
                                    <option value="" ng-model="verifyIdentity.creditCard.expirationYear">@Html.Sitecore().Field("Select Year")</option>
                                </select>
                            </div>
                            <div class="item">
                                <label for="billing-zip">@Html.Sitecore().Field("Billing Zip Label")</label>
                                <input class="small" type="text" id="billing-zip" ng-model="verifyIdentity.creditCard.billingZip" />
                            </div>
                            <div class="item">
                                <label for="security-code">@Html.Sitecore().Field("Security Code Label")</label>
                                <input class="small" type="text" id="security-code" ng-model="verifyIdentity.creditCard.securityCode" />
                            </div>
                            <div class="item">
                                <a href="" class="single-link">@Html.Sitecore().Field("See Example")</a>
                            </div>
                        </div>
                        <div class="item">
                            <p>By clicking "Place Order" below, you agree to the <a href="">terms and conditions</a>.</p>
                            <p><input type="checkbox"> I agree to the TCPA <a href="">terms and conditions</a>.</p>
                        </div>
                    </div>
                </article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" data-val-submit>@Html.Sitecore().Field("Button")</button>
                </div>
            </form>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>