@model StreamEnergy.DomainModels.Enrollments.UserContext

<div id="{{section.id}}" class="enrollment-section accent-darkgreen" ng-switch-when="completeOrder" ng-show="section.isVisible" ng-controller="EnrollmentCompleteOrderCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="medium block">@Html.Sitecore().Field("Add Payment")</span>
                <span class="block">@Html.Sitecore().Field("Information")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>@Html.Sitecore().Field("Add Payment Information")</h1>
            <p>@Html.Sitecore().Field("Payment Due")</p>
            <div ng-repeat="(id, item) in enrollment.serverData.locationServices">
                <article class="form">
                    <div class="content">
                        <div class="item">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{formatAddress(item.location.address)}}</strong>
                        </div>
                    </div>
                </article>
                <div ng-repeat="(type, plans) in item.selectedOffers" ng-show="sizeOf(plans) > 0">
                    <h2><span ng-show="type == 'gas'">Gas</span><span ng-show="type == 'electricity'">Electricity</span></h2>
                    <table>
                        <tbody>
                            <tr class="line-item" ng-repeat="(planId, plan) in plans">
                                <td class="description">
                                    <h1>{{plan.paymentInformation.name}}</h1>
                                    <h2>{{plans.offer.name}}</h2>
                                    <p>{{plan.paymentInformation.description}}</p>
                                </td>
                                <td class="rate">
                                    {{plan.paymentInformation.amount | currency}}
                                </td>
                            </tr>
                            <tr>
                                <td class="total" colspan="2">
                                    @Html.Sitecore().Field("Total Due Now") <strong>{{calculateTotal(plans) | currency}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*
                <p>@Html.Sitecore().Field("Set Up Card")</p>
                <h2>@Html.Sitecore().Field("Homelife Services")</h2>
                <table>
                    <tbody>
                        <tr class="line-item">
                            <td class="description">
                                <h1>@Html.Sitecore().Field("Stream Tech Support")</h1>
                                <p>@Html.Sitecore().Field("Appear On Bill")</p>
                            </td>
                            <td class="rate">
                                @Html.Sitecore().Field("Tech Support Rate")
                            </td>
                        </tr>
                        <tr>
                            <td class="total" colspan="2">
                                @Html.Sitecore().Field("Recurring Payments")
                            </td>
                        </tr>
                    </tbody>
                </table>
            *@
            <h2>@Html.Sitecore().Field("Card Details")</h2>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="payment-method">@Html.Sitecore().Field("Select Payment Method Label")</label>
                        <select id="payment-method" ng-model="enrollment.extraFields.verifyIdentity.creditCard.paymentMethod">
                            <option value="">@Html.Sitecore().Field("Select Option")</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="cc">@Html.Sitecore().Field("Credit Card Number Label")</label>
                        <input type="text" id="cc" ng-model="enrollment.extraFields.verifyIdentity.creditCard.cardNumber" />
                    </div>
                    <div class="group">
                        <div class="item">
                            <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Label")</label>
                            <select class="small" id="cc-month" ng-model="enrollment.extraFields.verifyIdentity.creditCard.expirationMonth">
                                <option value="">@Html.Sitecore().Field("Select Month")</option>
                            </select>
                            <select class="small" id="cc-year">
                                <option value="" ng-model="enrollment.extraFields.verifyIdentity.creditCard.expirationYear">@Html.Sitecore().Field("Select Year")</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="billing-zip">@Html.Sitecore().Field("Billing Zip Label")</label>
                            <input class="small" type="text" id="billing-zip" ng-model="enrollment.extraFields.verifyIdentity.creditCard.billingZip" />
                        </div>
                        <div class="item">
                            <label for="security-code">@Html.Sitecore().Field("Security Code Label")</label>
                            <input class="small" type="text" id="security-code" ng-model="enrollment.extraFields.verifyIdentity.creditCard.securityCode" />
                        </div>
                        <div class="item">
                            <a href="" class="single-link">@Html.Sitecore().Field("See Example")</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">@Html.Sitecore().Field("Button")</button>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>