<div ng-controller="EnrollmentConfirmationCtrl" ng-init="setServerData(@((Request.QueryString["phantomjs"] != null ? Html.Raw("'deferred'") : Html.Action("ClientData", "Enrollment")).ToHtmlString()));">
    <div class="enrollment enrollment__order-confirmation">
        <section>
            <a class="print" href="" ng-click="onPrint()"><i class="icon-printer"></i>@Html.Sitecore().Field("Print")</a>
            <h1 ng-if="customerType != 'commercial' && confirmationSuccess">@Html.Sitecore().Field("Order Confirmation")</h1>
            <h1 ng-if="customerType != 'commercial' && !confirmationSuccess">@Html.Sitecore().Field("Order Submitted")</h1>
            <h1 ng-if="customerType == 'commercial'">@Html.Sitecore().Field("Request Received")</h1>

            <p ng-if="customerType != 'commercial' && confirmationSuccess">@Html.Sitecore().Field("Confirmation Paragraph")</p>
            <p ng-if="customerType != 'commercial' && !confirmationSuccess">@Html.Sitecore().Field("Submitted Paragraph")</p>
            <article ng-if="customerType == 'commercial'" class="commercial-next-steps enrollment__box">
                <div class="content">
                    @Html.Sitecore().Field("Commercial Next Steps")
                </div>
            </article>

            <article class="verify-order enrollment__box">
                <div class="form content">
                    <div ng-repeat="(id, service) in getCartItems()">
                        <div class="item item--no-input">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ service.location.address | address }}</strong>
                        </div>
                        <hr ng-if="customerType != 'commercial'" />
                        <div ng-repeat="offerInformation in service.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                            <div ng-include src="'serviceConfirmation/' + offerInformation.key"></div>
                        </div>
                        <hr class="content-divider" ng-if="getCartItems().length > 1 && !$last">
                    </div>
                    <hr class="content-divider" ng-if="getCartTotal() > 0">
                    <div class="total" ng-if="getCartTotal() > 0">
                        <strong>{{ getCartTotal() | currency }}</strong>
                    </div>                    
                </div>
            </article>

            <article class="enrollment__box confirm-personal-info" ng-if="!isRenewal">
                <header>
                    <h1>@Html.Sitecore().Field("Personal Information Header")</h1>                    
                </header>
                <div class="content">
                    <dl class="clearfix">
                        <dt>@Html.Sitecore().Field("First Name")</dt>
                        <dd>{{ accountInformation.contactInfo.name.first }}</dd>
                        <dt>@Html.Sitecore().Field("Last Name")</dt>
                        <dd>{{ accountInformation.contactInfo.name.last }}</dd>
                        <dt>@Html.Sitecore().Field("Phone Number")</dt>
                        <dd>{{ accountInformation.contactInfo.phone[0].number | phone }}</dd>
                        <dt>@Html.Sitecore().Field("Email")</dt>
                        <dd>{{ accountInformation.contactInfo.email.address }}</dd>
                        <dt>@Html.Sitecore().Field("Mailing Address")</dt>
                        <dd>{{ accountInformation.mailingAddress | address }}</dd>
                        <dt ng-if="accountInformation.secondaryContactInfo.first">@Html.Sitecore().Field("Secondary Contact")</dt>
                        <dd ng-if="accountInformation.secondaryContactInfo.first">{{ accountInformation.secondaryContactInfo.first }} {{ accountInformation.secondaryContactInfo.last }}</dd>
                    </dl>
                    <div ng-if="customerType == 'residential'">@Html.Sitecore().Field("Terms Notice")</div>
                </div>
            </article>
            @*
            <article class="enrollment__box confirm-next-steps">
                <header>
                    <h1>@Html.Sitecore().Field("Next Steps Header")</h1>
                </header>
                <div class="promo-box horizontal content clearfix">
                    <h3>@Html.Sitecore().Field("Account Tour")</h3>
                    <div class="avatar">
                        <i class="icon-house"></i>
                    </div>
                    <p>@Html.Sitecore().Field("Login Paragraph")</p>
                    <p><a class="button" href="">@Html.Sitecore().Field("Take Tour")</a></p>
                </div>
            </article>
            *@
        </section>
    </div>
</div>

<script type="text/ng-template" id="serviceConfirmation/TexasElectricity">
    <div ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div ng-if="!selectedOffer.confirmationSuccess" ng-cloak>
            <div class="notice alert">
                @Html.Sitecore().Field("Confirmation Error")
            </div>
        </div>
        <dl class="clearfix">
            <dt>@Html.Sitecore().Field("Account Number")</dt>
            <dd>{{ selectedOffer.confirmationNumber }}</dd>
        </dl>
        <table class="verify-order-table">
            <tbody>
                <tr class="line-item">
                    <td class="description"><h4>{{selectedOffer.offer.name}}</h4></td>
                    <td class="rate">{{selectedOffer.offer.rate}}&cent;/kWh</td>
                </tr>
                <tr ng-if="selectedOffer.offerOption.connectionFee > 0">
                    <td class="sub-charge">
                        <strong>@Html.Sitecore().Field("Installation Fee")  ({{selectedOffer.offerOption.connectDate | date:'M/d/yyyy'}})</strong><br>
                    </td>
                    <td class="rate">{{ selectedOffer.offerOption.connectionFee | currency }}</td>
                </tr>
                <tr ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'payments/' + payment.offerPaymentAmountType"></tr>
                <tr class="plan-documents">
                    <td class="sub-charge"><strong>@Html.Sitecore().Field("Plan Documents Header")</strong></td>
                    <td class="docs">
                        <ul>
                            <li><a ng-href="{{selectedOffer.offer.documents.electricityFactsLabel}}">@Html.Sitecore().Field("Electricity Facts Label Document")</a></li>
                            <li><a ng-href="{{selectedOffer.offer.documents.termsOfService}}">@Html.Sitecore().Field("Terms Of Service Document")</a></li>
                            <li><a ng-href="{{selectedOffer.offer.documents.yourRightsAsACustomer}}">@Html.Sitecore().Field("Your Rights As A Customer Document")</a></li>
                        </ul>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="serviceConfirmation/GeorgiaGas">
    <div ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div ng-if="!selectedOffer.confirmationSuccess" ng-cloak>
            <div class="notice alert">
                @Html.Sitecore().Field("Confirmation Error")
            </div>
        </div>
        <dl class="clearfix">
            <dt>@Html.Sitecore().Field("Account Number")</dt>
            <dd>{{ selectedOffer.confirmationNumber }}</dd>
        </dl>
        <table class="verify-order-table">
            <tbody>
                <tr class="line-item">
                    <td class="description"><h4>{{selectedOffer.offer.name}}</h4></td>
                    <td class="rate">{{selectedOffer.offer.rate}}&cent;/kWh</td>
                </tr>
                <tr ng-if="selectedOffer.offerOption.connectionFee > 0">
                    <td class="sub-charge">
                        <strong>@Html.Sitecore().Field("Installation Fee")  ({{selectedOffer.offerOption.connectDate | date:'M/d/yyyy'}})</strong><br>
                    </td>
                    <td class="rate">{{ selectedOffer.offerOption.connectionFee | currency }}</td>
                </tr>
                <tr ng-repeat="payment in selectedOffer.payments.requiredAmounts" ng-if="payment.dollarAmount > 0" ng-include src="'payments/' + payment.offerPaymentAmountType"></tr>
                <tr class="plan-documents">
                    <td class="sub-charge"><strong>@Html.Sitecore().Field("Plan Documents Header")</strong></td>
                    <td class="docs">
                        <ul>
                            <li><a ng-href="{{selectedOffer.offer.documents.electricityFactsLabel}}">@Html.Sitecore().Field("Electricity Facts Label Document")</a></li>
                            <li><a ng-href="{{selectedOffer.offer.documents.termsOfService}}">@Html.Sitecore().Field("Terms Of Service Document")</a></li>
                            <li><a ng-href="{{selectedOffer.offer.documents.yourRightsAsACustomer}}">@Html.Sitecore().Field("Your Rights As A Customer Document")</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="serviceConfirmation/TexasElectricityCommercialQuote">
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dt>@Html.Sitecore().Field("Confirmation Number")</dt>
        <dd>{{ selectedOffer.confirmationNumber }}</dd>
    </dl>
</script>

<script type="text/ng-template" id="serviceConfirmation/GeorgiaGasCommercialQuote">
    <dl class="clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <dt>@Html.Sitecore().Field("Confirmation Number")</dt>
        <dd>{{ selectedOffer.confirmationNumber }}</dd>
    </dl>
</script>

<script type="text/ng-template" id="payments/Deposit">
    <td class="sub-charge">
        <strong>@Html.Sitecore().Field("Deposit Header")</strong><br>
    </td>
    <td class="rate">{{ payment.dollarAmount | currency }}</td>
</script>
