<div ng-controller="EnrollmentMainCtrl" ng-init="setServerData(@(Html.Action("ClientData", "Enrollment").ToHtmlString())); assignStepNames(@(Html.Action("EnrollmentNav", "Enrollment").ToHtmlString())); assignSupportedUtilityStates(@(Html.Action("EnrollmentSupportedUtilityStates", "Enrollment").ToHtmlString())); mobileEnrollmentService.setNetworks(@(Html.Action("MobileNetworks", "MobileEnrollment").ToHtmlString())); mobileEnrollmentService.setPhoneData(@(Html.Action("MobileEnrollmentPhones", "MobileEnrollment").ToHtmlString())); usStates = @(Html.Action("States", "Data").ToHtmlString()); phoneTypes = @(Html.Action("PhoneCategories", "Data").ToHtmlString()); mobileEnrollmentSettings = @(Html.Action("MobileEnrollmentSettings", "Data").ToHtmlString());">
    <div ng-if="isLoading" class="enrollment__loadingMessage">
        <span><img src="/frontend/assets/i/loading_screen.gif" width="44" height="44" /><br />@Html.Sitecore().Field("Processing")</span>
    </div>
    <div>
        @Html.Sitecore().Placeholder("enrollment sections")
    </div>
</div>

<script type="text/ng-template" id="enrollment-nav-template">
    <nav>
        <ul>
            <li ng-class="{ 'active' : step.id == name,
                            'completed': stepsService.isStepVisible(step.name) }"
                ng-repeat="step in stepsService.getSteps() | objectAsArray | orderBy:'order'"
                ng-show="step.isActive">
                <a href="" ng-click="step.isVisible && enrollmentNavClick(step)">{{step.name}}</a>
            </li>
        </ul>
    </nav>
</script>

@Html.Sitecore().Placeholder("enrollment templates")