<!-- <div id="{{section.id}}" class="enrollment-section accent-orange" ng-switch-when="planSelection" ng-show="section.isVisible" ng-controller="EnrollmentPlanSelectionCtrl"> -->
<div id="{{section.id}}" class="enrollment-section accent-orange" ng-switch-when="planSelection" ng-controller="EnrollmentPlanSelectionCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Banner Header Text")</span></span>
                <span class="block">@Html.Sitecore().Field("Banner Sub Header Text")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>@Html.Sitecore().Field("Choose Header")</h1>
            <p>@Html.Sitecore().Field("Choose Paragraph")</p>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                        <strong>{{ enrollment.currentAddress.location.address | address }}</strong>
                    </div>
                </div>
            </article>
            <div ng-show="enrollment.uiModel.offers[enrollment.currentAddress.id]">
                <h2>@Html.Sitecore().Field("Electricity Header")</h2>
                <article class="plans">
                    <table>
                        <thead class="hide-small">
                            <tr>
                                <th colspan="2">@Html.Sitecore().Field("Electricity Plan Name")</th>
                                <th>@Html.Sitecore().Field("Electricity Rate")</th>
                                <th>@Html.Sitecore().Field("Electricity Term")</th>
                                <th>@Html.Sitecore().Field("Electricity Fees")</th>
                                <th>@Html.Sitecore().Field("Electricity Select Plan")</th>
                            </tr>
                            <tr class="spacer"></tr>
                        </thead>
                        <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.uiModel.offers[enrollment.currentAddress.id] | serviceTypeElectricity:plan">
                            <tr>
                                <th class="vertical">
                                    <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Electricity Fixed")</div>
                                    <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Electricity Variable")</div>
                                </th>
                                <td class="plan-name hide-small">
                                    {{plan.name}} 
                                    <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">@Html.Sitecore().Field("Electricity View Details") <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span>
                                    </a>
                                </td>
                                <td class="rate">
                                    {{plan.rate}}&cent; <span>@Html.Sitecore().Field("Electricity Per kWh")</span>
                                </td>
                                <td class="term">
                                    <span ng-show="plan.termMonths == '24'"><i class="icon-24months"></i></span>
                                    <span ng-show="plan.termMonths == '6'"><i class="icon-6months"></i></span>
                                    <span ng-show="plan.termMonths == '1'"><i class="icon-month-to-month"></i> @Html.Sitecore().Field("Electricity Month To Month")</span>
                                </td>
                                <td class="fees">
                                    ${{ plan.cancellationFee }}<span>@Html.Sitecore().Field("Electricity Early Cancellation Fee")</span>
                                </td>
                                <td>
                                    <a class="button" button-selector="'{{plan.id}}'" ng-model="selectedOffers.electricityPlan" href="">@Html.Sitecore().Field("Electricity Button")</a>
                                </td>
                            </tr>
                            <tr class="details additional-fields">
                                <td colspan="6">
                                    <p>{{plan.description}}</p>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <div ng-show="enrollment.uiModel.offers[enrollment.currentAddress.id]">
                <h2>@Html.Sitecore().Field("Gas Header")</h2>
                <article class="plans">
                    <table>
                        <thead class="hide-small">
                            <tr>
                                <th colspan="2">@Html.Sitecore().Field("Gas Plan Name")</th>
                                <th>@Html.Sitecore().Field("Gas Rate")</th>
                                <th>@Html.Sitecore().Field("Gas Term")</th>
                                <th>@Html.Sitecore().Field("Gas Fees")</th>
                                <th>@Html.Sitecore().Field("Gas Select Plan")</th>
                            </tr>
                            <tr class="spacer"></tr>
                        </thead>
                        <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.uiModel.offers[enrollment.currentAddress.id] | serviceTypeGas:plan">
                            <tr>
                                <th class="vertical">
                                    <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Gas Fixed")</div>
                                    <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Gas Variable")</div>
                                </th>
                                <td class="plan-name hide-small">
                                    {{plan.name}} <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">@Html.Sitecore().Field("Gas View Details") <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span> </a>
                                </td>
                                <td class="rate">{{ plan.rate }}&cent; <span>@Html.Sitecore().Field("Gas Per kWh")</span></td>
                                <td class="term">
                                    <span ng-show="plan.termMonths == '24'"><i class="icon-24months"></i></span>
                                    <span ng-show="plan.termMonths == '6'"><i class="icon-6months"></i></span>
                                    <span ng-show="plan.termMonths == '1'"><i class="icon-month-to-month"></i> @Html.Sitecore().Field("Gas Month To Month")</span>
                                </td>
                                <td class="fees">
                                    ${{ plan.cancellationFee }}<span>@Html.Sitecore().Field("Gas Early Cancellation Fee")</span>
                                </td>
                                <td>
                                    <a class="button" button-selector="'{{plan.id}}'" ng-model="selectedOffers.gasPlan" href="">@Html.Sitecore().Field("Gas Button")</a>
                                </td>
                            </tr>
                            <tr class="details additional-fields">
                                <td colspan="6">
                                    <p>{{ plan.description }}</p>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                    <div class="table-overlay" ng-hide="true">
                        <div class="content">
                            <p>@Html.Sitecore().Field("Utility Providers Found")</p>
                            <article class="form">
                                <div class="content">
                                    <div class="item">
                                        <ul class="checkbox-list">
                                            <li><input type="radio" name="provider" id="oncor-electric"><label for="oncor-electric">Oncor Electric Delivery Company</label></li>
                                            <li><input type="radio" name="provider" id="texas-new-mexico"><label for="texas-new-mexico">Texas-New Mexico Power Company</label></li>
                                        </ul>
                                    </div>
                                    <p><a class="button" href="">@Html.Sitecore().Field("Utility Providers Button")</a></p>
                                </div>
                            </article>
                        </div>
                    </div>
                </article>
            </div>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();" ng-disabled="!selectedOffers">@Html.Sitecore().Field("Continue Button")</button>
                <button type="submit" class="secondary" ng-click="scrollToServiceInformation();" ng-disabled="!selectedOffers">@Html.Sitecore().Field("Add Address Button")</button>
            </div>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">@Html.Sitecore().Field("Time Remaining")</p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>