@model StreamEnergy.DomainModels.Enrollments.UserContext

<div id="utilityFlowPlans" class="enrollment-section accent-orange" ng-show="stepsService.isStepVisible('utilityFlowPlans')" ng-controller="EnrollmentPlanSelectionCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Banner Header Text")</span></span>
                <span class="block">@Html.Sitecore().Field("Banner Sub Header Text")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include src="'enrollment-nav-template'" ng-init="name = 'utilityFlowPlans'"></div>
        </aside>
        <section>
            <h1>@Html.Sitecore().Field("Choose Header")</h1>
            <p>@Html.Sitecore().Field("Choose Paragraph")</p>
            <form data-val-bind-messages="validations">
                <article class="form">
                    <div class="content">
                        <div class="item">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ currentLocationInfo().location.address | address }}</strong>
                        </div>
                    </div>
                </article>

                <div data-ng-repeat="typedOffers in currentLocationInfo().offerInformationByType">
                    <div ng-include src="'planList/' + typedOffers.key"></div>
                </div>

                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" ng-disabled="!isFormValid()" data-val-submit>@Html.Sitecore().Field("Continue Button")</button>
                    <button type="submit" class="secondary" ng-click="completeStep(true);" ng-disabled="!isFormValid()" data-val-submit>@Html.Sitecore().Field("Add Address Button")</button>
                </div>
            </form>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">@Html.Sitecore().Field("Time Remaining")</p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>

<script type="text/ng-template" id="planList/TexasElectricity">
    <h2>@Html.Sitecore().Field("Electricity Header")</h2>
    <article class="plans">
        <div ng-include src="'multiple-tdu-modal'" ng-if="typedOffers.value.errors[0] == 'MultipleTdu'"></div>
        <table class="plan-selection-table" ng-if="typedOffers.value.availableOffers.length" scroll-anchor="scrollFix">
            <thead class="hide-small">
                <tr>
                    <th colspan="2">@Html.Sitecore().Field("Electricity Plan Name")</th>
                    <th>@Html.Sitecore().Field("Electricity Rate")</th>
                    <th>@Html.Sitecore().Field("Electricity Term")</th>
                    <th>@Html.Sitecore().Field("Electricity Fees")</th>
                    <th>@Html.Sitecore().Field("Electricity Select Plan")</th>
                </tr>
                <tr class="spacer"></tr>
            </thead>
            <tbody>
                <tr class="hide-medium-large" ng-repeat-start="plan in typedOffers.value.availableOffers" ng-class="{'open': isOpen}">
                    <td class="plan-name" colspan="5">
                        {{plan.name}}
                    </td>
                </tr>
                <tr>
                    <th class="vertical">
                        <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Electricity Fixed")</div>
                        <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Electricity Variable")</div>
                    </th>
                    <td class="plan-name hide-small">
                        {{plan.name}}
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Electricity View Details") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span>
                        </a>
                    </td>
                    <td class="rate">
                        {{plan.rate}}&cent; <span>@Html.Sitecore().Field("Electricity Per kWh")</span>
                    </td>
                    <td class="term">
                        <span ng-show="plan.termMonths == '24'"><i class="icon-24months"></i></span>
                        <span ng-show="plan.termMonths == '6'"><i class="icon-6months"></i></span>
                        <span ng-show="plan.termMonths == '1'"><i class="icon-month-to-month"></i> @Html.Sitecore().Field("Electricity Month To Month")</span>
                    </td>
                    <td class="fees">
                        ${{ plan.cancellationFee }}<span>@Html.Sitecore().Field("Electricity Early Cancellation Fee")</span>
                    </td>
                    <td class="hide-small">
                        <a class="button" button-selector="'{{plan.id}}'" ng-model="planSelection.selectedOffers[typedOffers.key]" ng-click="scrollFix()" href="">@Html.Sitecore().Field("Electricity Button")</a>
                    </td>
                </tr>
                <tr class="hide-medium-large">
                    <td class="plan-actions" colspan="5">
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Electricity View Details") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span>
                        </a>
                        <a class="button" button-selector="'{{plan.id}}'" ng-model="planSelection.selectedOffers[typedOffers.key]" ng-click="scrollFix()" href="">@Html.Sitecore().Field("Electricity Button")</a>
                    </td>
                </tr>
                <tr class="details ng-cloak">
                    <td colspan="6">
                        <div slide-down-show="isOpen">
                            <p>{{plan.description}}</p>
                        </div>
                    </td>
                </tr>
                <tr class="spacer" ng-repeat-end ng-if="!$last"></tr>
            </tbody>
        </table>
    </article>
</script>

<script type="text/ng-template" id="planList/UntestedGas">
    <div ng-show="enrollment.uiModel.offers[enrollment.currentAddress.id]">
        <h2>@Html.Sitecore().Field("Gas Header")</h2>
        <article class="plans">
            <table>
                <thead class="hide-small">
                    <tr>
                        <th colspan="2">@Html.Sitecore().Field("Gas Plan Name")</th>
                        <th>@Html.Sitecore().Field("Gas Rate")</th>
                        <th>@Html.Sitecore().Field("Gas Term")</th>
                        <th>@Html.Sitecore().Field("Gas Fees")</th>
                        <th>@Html.Sitecore().Field("Gas Select Plan")</th>
                    </tr>
                    <tr class="spacer"></tr>
                </thead>
                <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.uiModel.offers[enrollment.currentAddress.id] | serviceTypeGas:plan">
                    <tr>
                        <th class="vertical">
                            <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Gas Fixed")</div>
                            <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Gas Variable")</div>
                        </th>
                        <td class="plan-name hide-small">
                            {{plan.name}} <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">@Html.Sitecore().Field("Gas View Details") <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span> </a>
                        </td>
                        <td class="rate">{{ plan.rate }}&cent; <span>@Html.Sitecore().Field("Gas Per kWh")</span></td>
                        <td class="term">
                            <span ng-show="plan.termMonths == '24'"><i class="icon-24months"></i></span>
                            <span ng-show="plan.termMonths == '6'"><i class="icon-6months"></i></span>
                            <span ng-show="plan.termMonths == '1'"><i class="icon-month-to-month"></i> @Html.Sitecore().Field("Gas Month To Month")</span>
                        </td>
                        <td class="fees">
                            ${{ plan.cancellationFee }}<span>@Html.Sitecore().Field("Gas Early Cancellation Fee")</span>
                        </td>
                        <td>
                            <a class="button" button-selector="'{{plan.id}}'" ng-model="selectedOffers.gasPlan" href="">@Html.Sitecore().Field("Gas Button")</a>
                        </td>
                    </tr>
                    <tr class="details additional-fields">
                        <td colspan="6">
                            <p>{{ plan.description }}</p>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                </tbody>
            </table>
        </article>
    </div>
</script>


<script type="text/ng-template" id="multiple-tdu-modal">
    <table class="plan-selection-table">
        <thead class="hide-small">
            <tr>
                <th colspan="2">@Html.Sitecore().Field("Electricity Plan Name")</th>
                <th>@Html.Sitecore().Field("Electricity Rate")</th>
                <th>@Html.Sitecore().Field("Electricity Term")</th>
                <th>@Html.Sitecore().Field("Electricity Fees")</th>
                <th>@Html.Sitecore().Field("Electricity Select Plan")</th>
            </tr>
            <tr class="spacer"></tr>
        </thead>
        <tbody>
            <tr>
                <th class="vertical">
                    <div class="fixed">@Html.Sitecore().Field("Electricity Fixed")</div>
                </th>
                <td class="plan-name hide-small">
                    24 Month Fixed Rate
                </td>
                <td class="rate">
                    7.18&cent; <span>@Html.Sitecore().Field("Electricity Per kWh")</span>
                </td>
                <td class="term">
                    <span><i class="icon-24months"></i></span>
                </td>
                <td class="fees">
                    $0<span>@Html.Sitecore().Field("Electricity Early Cancellation Fee")</span>
                </td>
                <td>
                    <button>@Html.Sitecore().Field("Electricity Button")</button>
                </td>
            </tr>
            <tr class="spacer" ng-repeat-end></tr>
            <tr>
                <th class="vertical">
                    <div class="variable">@Html.Sitecore().Field("Electricity Variable")</div>
                </th>
                <td class="plan-name hide-small">
                    Month-to-Month Rate
                </td>
                <td class="rate">
                    7.98&cent; <span>@Html.Sitecore().Field("Electricity Per kWh")</span>
                </td>
                <td class="term">
                    <span><i class="icon-24months"></i></span>
                </td>
                <td class="fees">
                    $0<span>@Html.Sitecore().Field("Electricity Early Cancellation Fee")</span>
                </td>
                <td>
                    <button>@Html.Sitecore().Field("Electricity Button")</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-backdrop modal-backdrop-absolute"></div>
    <div tabindex="-1" role="dialog" class="modal modal-absolute" style="z-index: 1050; display: block;">
        <div class="modal-dialog">
            <div class="modal-content" ng-controller="EnrollmentMultipleTduCtrl as vm">
                <form>
                    <div class="modal-body form">
                        <div class="item">
                            <p>@Html.Sitecore().Field("Utility Providers Found") <strong>{{ currentLocationInfo().location.address.postalCode5 }}</strong>@Html.Sitecore().Field("Utility Providers Found 2")</p>
                            <ul class="checkbox-list">
                                <li ng-repeat="item in currentLocationInfo().location.capabilities | filter:'TexasElectricity'">                           
                                    <input type="radio" id="{{ item.tdu }}" data-val="true" data-val-required ng-model="vm.selectedTdu" ng-value="item.tdu">
                                    <label for="{{ item.tdu }}">{{ item.tdu }}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="button" ng-click="vm.updatePlans(currentLocationInfo().location.capabilities, 'TexasElectricity', 'tdu')" data-val-submit>@Html.Sitecore().Field("Utility Providers Button")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="enrollmentZipToAddressPicker">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$close()">Close</a>
            <h2>@Html.Sitecore().Field("Zip to Address Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Zip to Address Body")
            @using (var currentService = Html.AngularRepeat(m => m.Services, "0"))
            {
                <div class="item" @currentService.ErrorClass(s => s.Location)>
                    <label for="@currentService.For(s => s.Location)">Address</label>
                    <input type="text" @currentService.Attributes(s => s.Location)
                           class="typeahead"
                           ng-model="modal.selectedLocation"
                           placeholder="@Html.Sitecore().Field("Address Placeholder")"
                           typeahead="location as location.address|address for location in getLocation(modal.serviceState,  $viewValue)"
                           ng-disabled="modal.serviceState == ''"
                           typeahead-loading="modal.loadingServiceAddress"
                           ng-class="{'loading' : modal.loadingServiceAddress}" />
                    @currentService.MessageFor(s => s.Location)
                </div>
            }
        </div>
        <div class="modal-footer">
            <button ng-click="modal.save()" ng-disabled="!modal.selectedLocation.address.line1">@Html.Sitecore().Field("Continue Button")</button>
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button")</button>
        </div>
    </div>
</script>