@model StreamEnergy.DomainModels.Enrollments.UserContext
<div id="utilityFlowPlans" class="enrollment" ng-if="customerType == 'residential'" ng-show="stepsService.isStepVisible('utilityFlowPlans')" ng-controller="EnrollmentPlanSelectionCtrl" ng-init="setTimeRemaining('utilityFlowPlans', '@Html.Sitecore().Field("Remaining Minutes Number")');">
    <div class="banner enrollment__banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper clearfix">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Banner Header Text")</span><br />
                <span class="block">@Html.Sitecore().Field("Banner Sub Header Text")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="enrollment__nav">
            <div ng-include src="'enrollment-nav-template'" ng-init="name = 'utilityFlowPlans'"></div>
        </aside>
        <section>
            <form data-val-bind-messages="validations">
                <article class="form enrollment__box">
                    <header>
                        <h1>@Html.Sitecore().Field("Choose Header")</h1>
                    </header>
                    <div class="content">
                        <p>@Html.Sitecore().Field("Choose Paragraph")</p>
                        <div class="item item--no-input">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ currentLocationInfo().location.address | address }}</strong>
                        </div>
                    </div>
                </article>
                <article class="enrollment__box" data-ng-repeat="typedOffers in currentLocationInfo().offerInformationByType" ng-include src="'planList/' + typedOffers.key"></article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" ng-disabled="!isFormValid()" data-val-submit>@Html.Sitecore().Field("Continue Button")</button>
                    <button type="submit" class="secondary" ng-click="completeStep(true);" ng-disabled="!isFormValid() || isCartFull" ng-if="!isRenewal" data-val-submit>@Html.Sitecore().Field("Add Address Button")</button>
                    <button type="submit" class="tertiary" ng-click="resetEnrollment();" >@Html.Sitecore().Field("Cancel Enrollment Button")</button>
                </div>
                <div class="footnotes">
                    <div class="item warning" ng-if="isCartFull">
                        @Html.Sitecore().Field("Maximum Addresses Message Text")
                    </div>
                </div>
            </form>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">@Html.Sitecore().Field("Time Remaining")</p>
            </div>
            <div>
                <p ng-repeat="footnote in activeFootnotes"><sup>{{$index + 1}}</sup> {{footnote.value}}</p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>

<div id="utilityFlowPlans" class="enrollment" ng-if="customerType == 'commercial'" ng-show="stepsService.isStepVisible('utilityFlowPlans')" ng-controller="EnrollmentPlanSelectionCtrl" ng-init="setTimeRemaining('utilityFlowPlans', '@Html.Sitecore().Field("Remaining Minutes Number")');">
    <div class="banner enrollment__banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper clearfix">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Commercial Banner Header Text")</span><br />
                <span class="block">@Html.Sitecore().Field("Commercial Banner Sub Header Text")</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="enrollment__nav">
            <div ng-include src="'enrollment-nav-template'" ng-init="name = 'utilityFlowPlans'"></div>
        </aside>
        <section>
            <form data-val-bind-messages="validations">
                <article class="form enrollment__box">
                    <header>
                        <h1>@Html.Sitecore().Field("Quote Header")</h1>
                    </header>
                    <div class="content">
                        <p>@Html.Sitecore().Field("Quote Intro")</p>
                        <div class="item item--no-input">
                            <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                            <strong>{{ currentLocationInfo().location.address | address }}</strong>
                        </div>
                        <div>
                            @Html.Sitecore().Field("Quote Content")
                        </div>
                    </div>
                </article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-click="completeStep();" data-val-submit>@Html.Sitecore().Field("Continue Button")</button>
                    <button type="submit" class="secondary" ng-click="completeStep(true);" ng-if="!isRenewal" data-val-submit>@Html.Sitecore().Field("Add Address Button")</button>
                    <button type="submit" class="tertiary" ng-click="resetEnrollment();">@Html.Sitecore().Field("Cancel Quote Button")</button>
                </div>
            </form>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">@Html.Sitecore().Field("Time Remaining")</p>
            </div>
            <article ng-if="activeFootnotes">
                <div>
                    <p ng-repeat="footnote in activeFootnotes"><sup>{{$index}}</sup> {{footnote.value}}</p>
                </div>
            </article>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>    
        </aside>
    </div>
</div>

<script type="text/ng-template" id="planList/TexasElectricity">
    <header ng-init="footnotes['TexasElectricity'] = @Html.JsonStringifyFields(Html.Sitecore().CurrentItem, "Electricity Rate Footnote", "Electricity Term Footnote")">
        <h1>@Html.Sitecore().Field("Electricity Header")</h1>
    </header>
    <article class="enrollment__utility-plans">
        <div ng-include src="'multiple-tdu-modal'" ng-if="typedOffers.value.errors[0] == 'MultipleTdu'"></div>
        <table class="plan-selection-table" ng-if="typedOffers.value.availableOffers.length" scroll-anchor="scrollFix">
            <thead class="hide-small">
                <tr>
                    <th colspan="2" class="plan-header">@Html.Sitecore().Field("Electricity Plan Name")</th>
                    <th class="sortable" ng-click="typedOffers.sortBy = 'rate'; typedOffers.reverse=!typedOffers.reverse">@Html.Sitecore().Field("Electricity Rate")<sup>{{footnoteIndices['TexasElectricity']['Electricity Rate Footnote']}}</sup> <i ng-show="typedOffers.sortBy == 'rate'" ng-class="{'icon-gray-arrow-up': typedOffers.reverse, 'icon-gray-arrow-down': !typedOffers.reverse }"></i></th>
                    <th class="sortable" ng-click="typedOffers.sortBy = 'termMonths'; typedOffers.reverse=!typedOffers.reverse">@Html.Sitecore().Field("Electricity Term")<sup>{{footnoteIndices['TexasElectricity']['Electricity Term Footnote']}}</sup> <i ng-show="typedOffers.sortBy == 'termMonths'" ng-class="{'icon-gray-arrow-up': typedOffers.reverse, 'icon-gray-arrow-down': !typedOffers.reverse }"></i></th>
                    <th class="sortable" ng-click="typedOffers.sortBy = 'terminationFee'; typedOffers.reverse=!typedOffers.reverse">@Html.Sitecore().Field("Electricity Fees") <i ng-show="typedOffers.sortBy == 'terminationFee'" ng-class="{'icon-gray-arrow-up': typedOffers.reverse, 'icon-gray-arrow-down': !typedOffers.reverse }"></i></th>
                    <th>@Html.Sitecore().Field("Electricity Select Plan")</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hide-medium-large" ng-repeat-start="plan in typedOffers.value.availableOffers | orderBy:typedOffers.sortBy:typedOffers.reverse" ng-class="{'open': isOpen}" ng-init="plan.calculatedFootnotes = calculateFootnotes(plan.footnotes)">
                    <td class="plan-name" colspan="5">
                        <span ng-if="planSelection.selectedOffers[typedOffers.key] == plan.id" class="selected-icon">
                            <i class="icon-check"></i>
                        </span>
                        {{plan.name}}                        
                    </td>
                </tr>
                <tr>
                    <th class="vertical">
                        <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Electricity Fixed")</div>
                        <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Electricity Variable")</div>
                    </th>
                    <td class="plan-name hide-small">
                        {{plan.name}}                        
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Electricity View Details") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span>
                        </a>
                    </td>
                    <td class="rate">
                        {{ plan.rate | number:1 }}&cent;<sup>{{plan.calculatedFootnotes.indices['Rate Footnote']}}</sup> <span>@Html.Sitecore().Field("Electricity Per kWh")</span>
                    </td>
                    <td class="term" ng-if="plan.termMonths != '1'">
                        @Html.Sitecore().Field("Electricity Term Months").Format(new { Count = "{{plan.termMonths}}", Sup = "{{plan.calculatedFootnotes.indices['Term Footnote']}}" })
                    </td>
                    <td class="term" ng-if="plan.termMonths == '1'">
                        @Html.Sitecore().Field("Electricity Month To Month").Format(new { Sup = "{{plan.calculatedFootnotes.indices['Term Footnote']}}" })
                    </td>
                    <td class="fees">
                        ${{ plan.terminationFee }}<span>@Html.Sitecore().Field("Electricity Early Termination Fee")<sup>{{plan.calculatedFootnotes.indices['Early Termination Fee Footnote']}}</sup></span>
                    </td>
                    <td class="select-plan hide-small">
                        <span ng-if="planSelection.selectedOffers[typedOffers.key] == plan.id" class="selected-icon">
                            <i class="icon-check"></i>
                        </span>
                        <button class="enrollment-btn" data-btn-radio="'{{plan.id}}'" data-uncheckable ng-class="{ 'secondary': planSelection.selectedOffers[typedOffers.key] == plan.id }" ng-model="planSelection.selectedOffers[typedOffers.key]" ng-click="scrollFix()">
                            <span ng-if="planSelection.selectedOffers[typedOffers.key] == plan.id">Remove</span>
                            <span ng-if="planSelection.selectedOffers[typedOffers.key] != plan.id">@Html.Sitecore().Field("Electricity Button")</span>
                        </button>
                    </td>
                </tr>
                <tr class="hide-medium-large">
                    <td class="plan-actions" colspan="5">
                        <a class="view-details" href="" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}">
                            <span ng-if="!isOpen">@Html.Sitecore().Field("Electricity View Details") <i class="icon-blue-arrow-down"></i></span>
                            <span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span>
                        </a>
                        <button class="enrollment-btn" data-btn-radio="'{{plan.id}}'" data-uncheckable ng-model="planSelection.selectedOffers[typedOffers.key]" ng-click="scrollFix()" ng-class="{ 'secondary': planSelection.selectedOffers[typedOffers.key] == plan.id }">
                            <span ng-if="planSelection.selectedOffers[typedOffers.key] == plan.id">Remove</span>
                            <span ng-if="planSelection.selectedOffers[typedOffers.key] != plan.id">@Html.Sitecore().Field("Electricity Button")</span>
                        </button>
                    </td>
                </tr>
                <tr class="details-row additional-fields ng-cloak" ng-repeat-end>
                    <td colspan="6">
                        <div slide-down-show="isOpen">
                            <p>{{plan.description}}</p>
                            <ul class="plan-selection-list clearfix">
                                <li><a ng-href="{{plan.documents.electricityFactsLabel}}">@Html.Sitecore().Field("Electricity Facts Label Document")</a></li>
                                <li><a ng-href="{{plan.documents.termsOfService}}">@Html.Sitecore().Field("Terms Of Service Document")</a></li>
                                <li><a ng-href="{{plan.documents.yourRightsAsACustomer}}">@Html.Sitecore().Field("Your Rights As A Customer Document")</a></li>
                            </ul>

                            <dl class="plan-selection-fees">
                                <dt>@Html.Sitecore().Field("Stream Energy Charge Label")</dt>
                                <dd>{{ plan.streamEnergyCharge | number:1 }}&cent;</dd>
                                <dt>@Html.Sitecore().Field("TDU Charges Label")</dt>
                                <dd ng-if="plan.tduCharges != ''">{{ plan.tduCharges }}</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'AEP Central Texas'">@Html.Sitecore().Field("Aep Central TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'AEP North Texas'">@Html.Sitecore().Field("Aep North TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'TNMP'">@Html.Sitecore().Field("Tnmp TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'ONCOR'">@Html.Sitecore().Field("Oncor TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'Centerpoint'">@Html.Sitecore().Field("Centerpoint TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'Sharyland McAllen'">@Html.Sitecore().Field("Sharyland Mcallen TDU Charges")</dd>
                                <dd ng-if="plan.tduCharges == '' && provider == 'Sharyland'">@Html.Sitecore().Field("Sharyland Utilities TDU Charges")</dd>
                                <dt>@Html.Sitecore().Field("Minimum Usage Fee Label")</dt>
                                <dd ng-bind-html="plan.minimumUsageFee | unsafe"></dd>
                            </dl>

                            <p ng-repeat="footnote in plan.calculatedFootnotes.active"><sup>{{footnoteDisplay[$index]}}</sup> {{footnote.value}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</script>

<script type="text/ng-template" id="planList/GeorgiaGas">
    <header>
        <h1>@Html.Sitecore().Field("Gas Header")</h1>
    </header>
    <article class="enrollment__utility-plans">
        <table>
            <thead class="hide-small">
                <tr>
                    <th colspan="2">@Html.Sitecore().Field("Gas Plan Name")</th>
                    <th>@Html.Sitecore().Field("Gas Rate")</th>
                    <th>@Html.Sitecore().Field("Gas Term")</th>
                    <th>@Html.Sitecore().Field("Gas Fees")</th>
                    <th>@Html.Sitecore().Field("Gas Select Plan")</th>
                </tr>
            </thead>
            <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.uiModel.offers[enrollment.currentAddress.id] | serviceTypeGas:plan">
                <tr>
                    <th class="vertical">
                        <div ng-show="plan.rateType == 'fixed'" class="fixed">@Html.Sitecore().Field("Gas Fixed")</div>
                        <div class="variable" ng-show="plan.rateType == 'variable'">@Html.Sitecore().Field("Gas Variable")</div>
                    </th>
                    <td class="plan-name hide-small">
                        {{plan.name}} <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">@Html.Sitecore().Field("Gas View Details") <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span> </a>
                    </td>
                    <td class="rate">{{ plan.rate | number:1 }}&cent; <span>@Html.Sitecore().Field("Gas Per kWh")</span></td>
                    <td class="term">
                        <span ng-show="plan.termMonths == '24'"><i class="icon-24months"></i></span>
                        <span ng-show="plan.termMonths == '6'"><i class="icon-6months"></i></span>
                        <span ng-show="plan.termMonths == '1'"><i class="icon-month-to-month"></i> @Html.Sitecore().Field("Gas Month To Month")</span>
                    </td>
                    <td class="fees">
                        ${{ plan.cancellationFee }}<span>@Html.Sitecore().Field("Gas Early Cancellation Fee")</span>
                    </td>
                    <td>
                        <a class="button" data-btn-radio="'{{plan.id}}'" data-uncheckable ng-model="selectedOffers.gasPlan" href="">@Html.Sitecore().Field("Gas Button")</a>
                    </td>
                </tr>
                <tr class="details-row additional-fields">
                    <td colspan="6">
                        <p>{{ plan.description }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</script>


<script type="text/ng-template" id="multiple-tdu-modal">
    <table class="plan-selection-table">
        <thead class="hide-small">
            <tr>
                <th colspan="2">@Html.Sitecore().Field("Electricity Plan Name")</th>
                <th>@Html.Sitecore().Field("Electricity Rate")</th>
                <th>@Html.Sitecore().Field("Electricity Term")</th>
                <th>@Html.Sitecore().Field("Electricity Fees")</th>
                <th>@Html.Sitecore().Field("Electricity Select Plan")</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hide-medium-large">
                <td class="plan-name" colspan="5">
                    24 Month Fixed Rate
                </td>
            </tr>
            <tr>
                <th class="vertical">
                    <div class="fixed">Fixed</div>
                </th>
                <td class="plan-name hide-small">
                    24 Month Fixed Rate
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                </td>
                <td class="rate">
                    7.18¢ <span>per kWh</span>
                </td>
                <td class="term">
                    <span>24 Months</span>
                </td>
                <td class="fees">
                    $150<span>early cancellation fee</span>
                </td>
                <td class="select-plan hide-small">
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-actions" colspan="5">
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-name" colspan="5">
                    6 Month Fixed Rate
                </td>
            </tr>
            <tr>
                <th class="vertical">
                    <div class="fixed">Fixed</div>
                </th>
                <td class="plan-name hide-small">
                    6 Month Fixed Rate
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                </td>
                <td class="rate">
                    7.98¢ <span>per kWh</span>
                </td>
                <td class="term">
                    <span>6 Months</span>
                </td>
                <td class="fees">
                    $150<span>early cancellation fee</span>
                </td>
                <td class="select-plan hide-small">
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-actions" colspan="5">
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-name" colspan="5">
                    Month-To-Month Rate
                </td>
            </tr>
            <tr>
                <th class="vertical">
                    <div class="variable">Variable</div>
                </th>
                <td class="plan-name hide-small">
                    Month-To-Month Rate
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                </td>
                <td class="rate">
                    7.98¢ <span>per kWh</span>
                </td>
                <td class="term">
                    <span>month-to-month</span>
                </td>
                <td class="fees">
                    $0<span>early cancellation fee</span>
                </td>
                <td class="select-plan hide-small">
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-actions" colspan="5">
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-name" colspan="5">
                    Introductory Rate Plan
                </td>
            </tr>
            <tr>
                <th class="vertical">
                    <div class="variable">Variable</div>
                </th>
                <td class="plan-name hide-small">
                    Introductory Rate Plan
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                </td>
                <td class="rate">
                    8.08¢ <span>per kWh</span>
                </td>
                <td class="term">
                    <span>month-to-month</span>
                </td>
                <td class="fees">
                    $0<span>early cancellation fee</span>
                </td>
                <td class="select-plan hide-small">
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
            <tr class="hide-medium-large">
                <td class="plan-actions" colspan="5">
                    <a class="view-details collapsed" href="">
                        <span>View Details <i class="icon-blue-arrow-down"></i></span>
                    </a>
                    <button class="enrollment-btn">
                        <span>Select</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>















    <div class="modal-backdrop modal-backdrop-absolute"></div>
    <div tabindex="-1" role="dialog" class="modal modal-absolute">
        <div class="modal-dialog">
            <div class="modal-content" ng-controller="EnrollmentMultipleTduCtrl as vm">
                <form>
                    <div class="modal-body form">
                        <div class="item">
                            <p>@Html.Sitecore().Field("Utility Providers Found").Format(new { PostalCode = "{{ currentLocationInfo().location.address.postalCode5 }}" })</p>
                            <ul class="checkbox-list">
                                <li ng-repeat="item in currentLocationInfo().location.capabilities | filter:'TexasElectricity'">                           
                                    <input type="radio" id="{{ item.tdu }}" data-val="true" data-val-required ng-model="vm.selectedTdu" ng-value="item.tdu">
                                    <label for="{{ item.tdu }}">{{ item.tdu }}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="button" ng-click="vm.updatePlans(currentLocationInfo().location.capabilities, 'TexasElectricity', 'tdu')" data-val-submit>@Html.Sitecore().Field("Utility Providers Button")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="enrollmentZipToAddressPicker">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Zip to Address Header")</h2>
        </div>
        <div class="modal-body">
            <div ng-if="isDuplicateAddress(modal.selectedLocation.address)">
                <div class="notice error">
                    @Html.Sitecore().Field("Duplicate Address Message Text")
                </div>
                <hr class="content-divider" />
            </div>
            @Html.Sitecore().Field("Zip to Address Body")
            @using (var currentService = Html.ClientRepeater(m => m.Services, "0"))
            {
                <div class="item" @currentService.Validation().ErrorClass(s => s.Location)>
                    <label for="@currentService.Fix(h => h.IdFor(s => s.Location))">Address</label>
                    @currentService.TextBoxFor(s => s.Location, new 
                    { 
                        @class="typeahead",
                        ng_model="modal.selectedLocation",
                        placeholder=@Html.Sitecore().Field("Address Placeholder"),
                        typeahead = "location as location.address|address for location in getLocation(modal.serviceState,  $viewValue, true)",
                        ng_disabled="modal.serviceState == ''",
                        typeahead_loading="modal.loadingServiceAddress",
                        ng_class="{'loading' : modal.loadingServiceAddress}", 
                        autocomplete="on",
                        ng_init = "modal.selectedLocation = ''"
                    })
                    @currentService.ValidationMessageFor(s => s.Location)
                </div>
            }
        </div>
        <div class="modal-footer">
            <button ng-click="modal.save()" ng-disabled="(!modal.selectedLocation.address.line1 && !location.address.length == 1) || isDuplicateAddress(modal.selectedLocation.address)">@Html.Sitecore().Field("Continue Button")</button>
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button")</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="mustMoveInModal">
    <div>
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Must Move In Header")</h2>
        </div>
        <div class="modal-body">
            @Html.Sitecore().Field("Must Move In Body")
        </div>
        <div class="modal-footer">
            <button class="secondary" ng-click="deleteUtilityAddress(location); $dismiss()">@Html.Sitecore().Field("No Button")</button>
            <button ng-click="$close()">@Html.Sitecore().Field("Yes Button")</button>
        </div>
    </div>
</script>