@model StreamEnergy.DomainModels.Enrollments.UserContext
@using TypedPhone = StreamEnergy.DomainModels.TypedPhone
@using StreamEnergy.DomainModels.Enrollments
@using TexasElectricity = StreamEnergy.DomainModels.Enrollments.TexasElectricity
@using GeorgiaGas = StreamEnergy.DomainModels.Enrollments.GeorgiaGas

@using (new Sitecore.Data.Items.ContextItemSwitcher(Html.Sitecore().CurrentItem))
{
    Sitecore.Data.Items.Item planSelectionItem = Sitecore.Context.Database.GetItem("{D8AEA06C-0280-4AED-B7D0-3C2A9EBE4FD6}");
    Sitecore.Data.Items.Item completeOrderItem = Sitecore.Context.Database.GetItem("{00E3F38B-FFEB-4038-92AA-EEA8D8C3275D}");
    Sitecore.Data.Items.Item cartItem = Sitecore.Context.Database.GetItem("{E0880134-0098-4BED-AFB4-37FAE30B5C44}");
     
<header class="site-header"></header>
<div id="utilityFlowService" class="enrollment" ng-controller="EnrollmentServiceInformationCtrl"></div>
<div id="accountInformation" class="enrollment showCart" ng-controller="EnrollmentSinglePageCtrl" ng-init="usStates = @(Html.Action("States", "Data").ToHtmlString()); phoneTypes = @(Html.Action("PhoneCategories", "Data").ToHtmlString());">    
    <div ng-controller="MobileEnrollmentProgressBarCtrl" class="enrollment_progress-bar @Html.Sitecore().Field("Header Class")">
        <div class="inner clearfix">
            <div class="step-description">
                <div class="stepCount">@Html.Sitecore().Field("Header Text")</div>
                @Html.Sitecore().Field("Subheader Text")
            </div>
            <a href="" class="need-help" ng-click="showModal('instructions/needHelp')">@Html.Sitecore().Field("Need Help Text")</a>
        </div>
        <script type="text/ng-template" id="instructions/needHelp">
            <div class="mobile-enrollment-modal">
                <div class="modal-header">
                    <a href="" ng-click="$dismiss()">Close</a>
                    <h2>@Html.Sitecore().Field("Need Help Text")</h2>
                </div>
                <div class="modal-body">
                    @Html.Sitecore().Field("Need Help Modal Text")
                </div>
            </div>
        </script>
    </div>
    <div class="layout">
        <div class="wrapper cols-2 enrollment__account-information enrollment__single-page">
            <section>
                <form data-val-bind-messages="validations" name="accountInfo" ng-submit="completeStep()">
                    @Html.ValidationSummary()
                    @* Loop through utility addresses *@
                    <article class="enrollment__box form">
                        <header>
                            <h1>@Html.Sitecore().Field("Plan Information Header")</h1>
                        </header>
                        <div class="content">
                            @Html.Sitecore().Field("Change Text") {{ offer.name }}
                            <div class="rate">
                                {{ offer.rate}}&cent;
                                <span class="energy-unit">@Html.Sitecore().Field("Per kWh", cartItem)</span>
                            </div>
                            @* ESI ID *@
                            <div ng-if="item.location.capabilities[0].esiId" class="item item--no-input inline-label location">
                                <label for="location-id">@Html.Sitecore().Field("ESI ID Label")</label>
                                {{ item.location.capabilities[0].esiId }}
                            </div>
                            @* Service Address *@
                            <div class="item item--no-input" ng-show="!addressEditing">
                                <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                                {{ item.location.address | address }}
                            </div>
                            @* Address Input Dropdown *@
                            <div class="item" ng-show="addressEditing">
                                <label for="service-address">@Html.Sitecore().Field("Service Address Label")</label>
                                <input type="text"
                                       id="service-address"
                                       class="typeahead"
                                       ng-model="item.tempLocation"
                                       typeahead="location as location.address|address for location in getLocation(item.location.address.stateAbbreviation, $viewValue, true)"
                                       typeahead-loading="accountInformation.loadingAccountInformationServiceAddress"
                                       ng-class="{'loading' : accountInformation.loadingAccountInformation}" autocomplete="off" />
                            </div>
                            <a href="" class="button" ng-click="addressEditing = !addressEditing">@Html.Sitecore().Field("Edit Button Text")</a>
                            <hr class="content-divider">
                            <p ng-bind-html="offer.description | unsafe"></p>
                            <hr />
                            @Html.Sitecore().Field("Details Text")
                            <dl class="plan-selection-list clearfix">
                                <dt>@Html.Sitecore().Field("Additional Documentation Label")</dt>
                                <dd><a ng-href="{{offer.documents.electricityFactsLabel}}" target="_blank">@Html.Sitecore().Field("Electricity Facts Label Document")</a></dd>
                                <dd><a ng-href="{{offer.documents.termsOfService}}" target="_blank">@Html.Sitecore().Field("Terms Of Service Document")</a></dd>
                                <dd><a ng-href="{{offer.documents.yourRightsAsACustomer}}" target="_blank">@Html.Sitecore().Field("Your Rights As A Customer Document")</a></dd>
                            </dl>
                            <dl class="plan-selection-fees">
                                <dt>@Html.Sitecore().Field("Terms Label")</dt>
                                <dd ng-if="offer.termMonths != '1'">{{offer.termMonths}} @Html.Sitecore().Field("Electricity Term Months")</dd>
                                <dd ng-if="offer.termMonths == '1'">@Html.Sitecore().Field("Electricity Month To Month")</dd>
                                <dt>@Html.Sitecore().Field("Fees Label")</dt>
                                <dd ng-if="offer.terminationFee != ''">${{ plan.terminationFee }} @Html.Sitecore().Field("Electricity Early Termination Fee")</dd>
                                <dd ng-if="offer.terminationFee == ''">$0 @Html.Sitecore().Field("Electricity Early Termination Fee")</dd>
                                <dt>@Html.Sitecore().Field("Stream Charge Label")</dt>
                                <dd>{{ offer.streamEnergyCharge | number:1 }}&cent;</dd>
                                <dt>@Html.Sitecore().Field("TDU Charge Label")</dt>
                                <dd ng-if="offer.tduCharges != ''">{{ offer.tduCharges }}</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'AEP Central Texas'">@Html.Sitecore().Field("Aep Central TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'AEP North Texas'">@Html.Sitecore().Field("Aep North TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'TNMP'">@Html.Sitecore().Field("Tnmp TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'ONCOR'">@Html.Sitecore().Field("Oncor TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'Centerpoint'">@Html.Sitecore().Field("Centerpoint TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'Sharyland McAllen'">@Html.Sitecore().Field("Sharyland Mcallen TDU Charges", planSelectionItem)</dd>
                                <dd ng-if="offer.tduCharges == '' && offer.tdu == 'Sharyland'">@Html.Sitecore().Field("Sharyland Utilities TDU Charges", planSelectionItem)</dd>
                                <dt>@Html.Sitecore().Field("Minimum Usage Label")</dt>
                                <dd ng-bind-html="offer.minimumUsageFee | unsafe"></dd>
                            </dl>
                        </div>
                    </article>
                    <article class="enrollment__box form">
                        <header>
                            <h1>@Html.Sitecore().Field("Contact Information Header")</h1>
                            <a href="" ng-click="editContactInfo()">@Html.Sitecore().Field("Edit Button Text")</a>
                        </header>
                        <div class="content">
                            <div class="group" ng-show="!contactEditing">
                                <div class="item group-col">
                                    <dl>
                                        <dt>@Html.Sitecore().Field("Name Label")</dt>
                                        <dd>{{ accountInformation.contactInfo.name.first }} {{ accountInformation.contactInfo.name.last }}</dd>
                                    </dl>
                                </div>
                                <div class="item group-col">
                                    <dl>
                                        <dt>@Html.Sitecore().Field("Email Address Label"):</dt>
                                        <dd>{{ accountInformation.contactInfo.email.address }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="group" ng-show="contactEditing">
                                <div class="item group-col" @Html.Validation().ErrorClass(m => m.ContactInfo.Name.First)>
                                    <label for="@Html.IdFor(m => m.ContactInfo.Name.First)">@Html.Sitecore().Field("First Name Label")</label>
                                    @Html.TextBoxFor(m => m.ContactInfo.Name.First, new { ng_model = "accountInformation.contactInfo.name.first" })
                                    @Html.ValidationMessageFor(model => model.ContactInfo.Name.First)
                                </div>
                                <div class="item group-col" @Html.Validation().ErrorClass(m => m.ContactInfo.Name.Last)>
                                    <label for="@Html.IdFor(m => m.ContactInfo.Name.Last)">@Html.Sitecore().Field("Last Name Label")</label>
                                    @Html.TextBoxFor(m => m.ContactInfo.Name.Last, new { ng_model = "accountInformation.contactInfo.name.last" })
                                    @Html.ValidationMessageFor(model => model.ContactInfo.Name.Last)
                                </div>
                            </div>
                            <div class="group" ng-show="contactEditing">
                                <div class="item group-col" @Html.Validation().ErrorClass(m => m.ContactInfo.Email.Address)>
                                    <label for="@Html.IdFor(m => m.ContactInfo.Email.Address)">@Html.Sitecore().Field("Email Address Label")</label>
                                    @Html.TextBoxFor(m => m.ContactInfo.Email.Address, new { type = "email", ng_model = "accountInformation.contactInfo.email.address" })
                                    @Html.ValidationMessageFor(model => model.ContactInfo.Email.Address)
                                </div>
                            </div>

                            <div class="group" ng-show="!contactEditing">
                                <div class="item group-col">
                                    <dl>
                                        <dt>@Html.Sitecore().Field("Mailing Address Label")</dt>
                                        <dd>{{ accountInformation.mailingAddress | address }}</dd>
                                    </dl>
                                </div>
                                <div class="item group-col">
                                    <dl>
                                        <dt>@Html.Sitecore().Field("Primary Phone Number Label"):</dt>
                                        <dd>{{ accountInformation.contactInfo.phone[0].number }}</dd>
                                    </dl>
                                </div>
                            </div>

                            <hr class="content-divider" ng-show="contactEditing">

                            @using (var mailingAddress = Html.Shortcut(m => m.MailingAddress))
                            {
                                <div class="mailing-address" ng-show="contactEditing">
                                    <div class="group">
                                        <div class="item group-col" @(mailingAddress.Validation().ErrorClass(m => m.Line1))>
                                            <label for="@mailingAddress.Fix(h => h.IdFor(m => m.Line1))">@Html.Sitecore().Field("Address 1 Label")</label>
                                            @mailingAddress.Fix(h => h.TextBoxFor(m => m.Line1, new { data_val_if = "!accountInformation.mailingAddressSame", ng_model = "accountInformation.mailingAddress.line1" }))
                                            @mailingAddress.ValidationMessageFor(m => m.Line1)
                                        </div>
                                        <div class="item group-col" @mailingAddress.Validation().ErrorClass(m => m.Line2)>
                                            <label for="@mailingAddress.Fix(h => h.IdFor(m => m.Line2))">@Html.Sitecore().Field("Address 2 Label")</label>
                                            @mailingAddress.Fix(h => h.TextBoxFor(m => m.Line2, new { data_val_if = "!accountInformation.mailingAddressSame", ng_model = "accountInformation.mailingAddress.line2" }))
                                            @mailingAddress.ValidationMessageFor(m => m.Line2)
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="item group-col" @mailingAddress.Validation().ErrorClass(m => m.City)>
                                            <label for="@mailingAddress.Fix(h => h.IdFor(m => m.City))">@Html.Sitecore().Field("City Label")</label>
                                            @mailingAddress.Fix(h => h.TextBoxFor(m => m.City, new { data_val_if = "!accountInformation.mailingAddressSame", ng_model = "accountInformation.mailingAddress.city" }))
                                            @mailingAddress.ValidationMessageFor(m => m.City)
                                        </div>
                                        <div class="item" @mailingAddress.Validation().ErrorClass(m => m.StateAbbreviation)>
                                            <label for="@mailingAddress.Fix(h => h.IdFor(m => m.StateAbbreviation))">@Html.Sitecore().Field("State Label")</label>
                                            @mailingAddress.Fix(h => h.DropDownListFor(m => m.StateAbbreviation,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            data_val_if = "!accountInformation.mailingAddressSame",
                                                            ng_model = "accountInformation.mailingAddress.stateAbbreviation",
                                                            ng_options = "state.abbreviation as state.display for state in usStates"
                                                        }))
                                            @mailingAddress.ValidationMessageFor(m => m.StateAbbreviation)
                                        </div>
                                        <div class="item zip-code" @mailingAddress.Validation().ErrorClass(m => m.PostalCode5)>
                                            <label for="@mailingAddress.Fix(h => h.IdFor(m => m.PostalCode5))">@Html.Sitecore().Field("Zip Label")</label>
                                            @mailingAddress.Fix(h => h.TextBoxFor(m => m.PostalCode5, new { @class = "small", data_val_if = "!accountInformation.mailingAddressSame", ng_model = "accountInformation.mailingAddress.postalCode5" }))
                                            @mailingAddress.ValidationMessageFor(m => m.PostalCode5)
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="additional-field-item item group-col">
                                            <ul class="checkbox-list">
                                                <li><input type="checkbox" name="secondary-contact" ng-model="additionalInformation.showSecondaryContact" ng-change="showSecondaryContactChanged()"><label for="secondary-contact">@Html.Sitecore().Field("Checkbox Add Secondary Contact")</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                            <hr class="content-divider" ng-show="contactEditing">

                            <div class="group" ng-show="contactEditing">
                                @using (var firstPhone = Html.ClientRepeater(m => m.ContactInfo.Phone, "0").Shortcut(m => (TypedPhone)m))
                                {
                                    <div class="item group-col" @firstPhone.Validation().ErrorClass(m => m.Number)>
                                        <label for="@firstPhone.Fix(h => h.IdFor(m => m.Number))">@Html.Sitecore().Field("Primary Phone Number Label")</label>
                                        @firstPhone.Fix(h => h.TextBoxFor(m => m.Number, new { type = "tel", ng_model = "accountInformation.contactInfo.phone[0].number" }))
                                        @firstPhone.ValidationMessageFor(m => m.Number)
                                    </div>
                                    <div class="item group-col" @firstPhone.Validation().ErrorClass(m => m.Category)>
                                        <label for="@firstPhone.Fix(h => h.IdFor(m => m.Category))">@Html.Sitecore().Field("Phone Type Label")</label>
                                        @firstPhone.Fix(h => h.DropDownListFor(m => m.Category,
                                                        new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                        new
                                                        {
                                                            ng_model = "accountInformation.contactInfo.phone[0].category",
                                                            ng_options = "type.name as type.display for type in phoneTypes|filter:filter2|filter:filterCustomerType"
                                                        }))
                                        @firstPhone.ValidationMessageFor(m => ((TypedPhone)m).Category)
                                    </div>
                                }
                            </div>

                            <div class="group">
                                <div class="additional-field-item item group-col" ng-show="!contactEditing">
                                    <ul class="checkbox-list">
                                        <li><input type="checkbox" name="secondary-contact" ng-model="additionalInformation.showSecondaryContact" ng-change="showSecondaryContactChanged()"><label for="secondary-contact">@Html.Sitecore().Field("Checkbox Add Secondary Contact")</label></li>
                                    </ul>
                                </div>
                                <div class="additional-field-item item group-col">
                                    <ul class="checkbox-list">
                                        <li><input type="checkbox" name="additional-phone-number" ng-model="additionalInformation.showAdditionalPhoneNumber" ng-change="showAdditionalPhoneNumberChanged()"><label for="additional-phone-number">@Html.Sitecore().Field("Add additional phone number")</label></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="additional-field-group secondary-contact-group" ng-if="additionalInformation.showSecondaryContact">
                                <div class="group">
                                    <div class="item group-col" @Html.Validation().ErrorClass(m => m.SecondaryContactInfo.First)>
                                        <label for="@Html.IdFor(m => m.SecondaryContactInfo.First)">@Html.Sitecore().Field("First Name Label")</label>
                                        @Html.TextBoxFor(m => m.SecondaryContactInfo.First, new { data_val_if = "accountInformation.showSecondaryContact", ng_model = "accountInformation.secondaryContactInfo.first" })
                                        @Html.ValidationMessageFor(m => m.SecondaryContactInfo.First)
                                    </div>
                                    <div class="item group-col" @Html.Validation().ErrorClass(m => m.SecondaryContactInfo.Last)>
                                        <label for="@Html.IdFor(m => m.SecondaryContactInfo.Last)">@Html.Sitecore().Field("Last Name Label")</label>
                                        @Html.TextBoxFor(m => m.SecondaryContactInfo.Last, new { data_val_if = "accountInformation.showSecondaryContact", ng_model = "accountInformation.secondaryContactInfo.last" })
                                        @Html.ValidationMessageFor(m => m.SecondaryContactInfo.Last)
                                    </div>
                                </div>
                            </div>
                                
                            <div class="additional-field-group" ng-show="accountInformation.contactInfo.phone.length > 1">
                                <div class="group">
                                    @using (var secondPhone = Html.ClientRepeater(m => m.ContactInfo.Phone, "1").Shortcut(m => (TypedPhone)m))
                                    {
                                        <div class="item group-col" @secondPhone.Validation().ErrorClass(m => m.Number)>
                                            <label for="@secondPhone.Fix(h => h.IdFor(m => m.Number))">@Html.Sitecore().Field("Secondary Phone Number Label")</label>
                                            @secondPhone.Fix(h => h.TextBoxFor(m => m.Number, new { type = "tel", ng_model = "accountInformation.contactInfo.phone[1].number", data_val_if = "accountInformation.contactInfo.phone.length > 1" }))
                                            @secondPhone.ValidationMessageFor(m => m.Number)
                                        </div>
                                        <div class="item group-col" @secondPhone.Validation().ErrorClass(m => m.Category)>
                                            <label for="@secondPhone.Fix(h => h.IdFor(m => m.Category))">@Html.Sitecore().Field("Phone Type Label")</label>
                                            @secondPhone.Fix(h => h.DropDownListFor(m => m.Category,
                                                    new SelectListItem[] { new SelectListItem { Text = Html.Sitecore().Field("Select Option Please Choose").ToString(), Value = "" } },
                                                    new
                                                    {
                                                        ng_model = "accountInformation.contactInfo.phone[1].category",
                                                        ng_options = "type.name as type.display for type in phoneTypes|filter:filter1|filter:filterCustomerType",
                                                        data_val_if = "accountInformation.contactInfo.phone.length > 1"
                                                    }))
                                            @secondPhone.ValidationMessageFor(m => ((TypedPhone)m).Category)
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="item" @Html.Validation().ErrorClass(m => m.SocialSecurityNumber)>
                                <label for="@Html.IdFor(m => m.SocialSecurityNumber)">
                                    @Html.Sitecore().Field("Social Security Number Label")
                                <a ng-if="cartHasUtility() && !cartHasMobile()" href="#" tooltip="@Html.Sitecore().Field("Social Security Number Tooltip")"><i class="icon-tooltip"></i></a>
                            </label>
                            @Html.TextBoxFor(m => m.SocialSecurityNumber, new { ng_model = "accountInformation.socialSecurityNumber", @class = "maskField", data_val = "true", data_val_required = "" })
                            @Html.ValidationMessageFor(m => m.SocialSecurityNumber)
                        </div>
                        <div class="buttons" ng-show="contactEditing">
                            <a href="" class="button primary" ng-disabled="!isFormValid()" ng-click="saveContactInfo();">@Html.Sitecore().Field("Save Button Label")</a>
                            <a href="" class="button tertiary" ng-click="cancelContactInfo();">@Html.Sitecore().Field("Cancel Button Label")</a>
                        </div>
                    </div>
                    
                    </article>
                    <article class="enrollment__box">
                        <header>
                            <h1>@Html.Sitecore().Field("Terms Header", completeOrderItem)</h1>
                        </header>
                        <div class="content form terms-agreement">
                            <div class="item" @Html.Validation().ErrorClass(m => m.AgreeToTerms)>
                                <ul class="checkbox-list">
                                    <li>
                                        @Html.CheckBoxFor(m => m.AgreeToTerms, new { ng_model = "completeOrder.agreeToTerms", data_val = "true", data_val_required = "" })
                                        <label for="@Html.IdFor(m => m.AgreeToTerms)">
                                            @Html.Sitecore().Field("Terms and Conditions Text", completeOrderItem)
                                        </label>
                                        <div class="terms">
                                            @Html.Sitecore().Field("Terms and Conditions Body Text", completeOrderItem)
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item" @Html.Validation().ErrorClass(m => m.AdditionalAuthorizations[StreamEnergy.DomainModels.Enrollments.AdditionalAuthorization.Tcpa])>
                                <ul class="checkbox-list">
                                    <li>
                                        <input type="checkbox" ng-model="completeOrder.additionalAuthorizations.tcpa" />
                                        <label for="@Html.IdFor(m => m.AdditionalAuthorizations[StreamEnergy.DomainModels.Enrollments.AdditionalAuthorization.Tcpa])">
                                            @Html.Raw(completeOrderItem["TCPA - I Agree Text"].Format(new { LinkAttributes = "ng-click=\"showTerms('Tcpa')\"" }))
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <div class="buttons">
                        <button type="submit" class="primary" ng-disabled="!isFormValid()" data-val-submit>@Html.Sitecore().Field("Button Label")</button>
                    </div>
                </form>
            </section>
            <aside>
                <div class="enrollment__cart" ng-controller="EnrollmentCartCtrl">
                    <article class="enrollment__box enrollment_cart" scroll-anchor="scrollFix">
                        <header>
                            <div class="cart-items">
                                <i class="icon-cart"></i>
                                <div class="item-num" ng-show="getCartCount()">{{ getCartCount() }}</div>
                            </div>
                            <h1>@Html.Sitecore().Field("Cart Header", cartItem)</h1>
                        </header>
                        <div class="content">

                            <div class="cart-item" ng-repeat="(id, location) in getUtilityAddresses()">
                                <div class="utility-plan">
                                    <h2 ng-if="$first">@Html.Sitecore().Field("Energy Plan", cartItem)</h2>
                                    <div ng-repeat="offerInformation in location.offerInformationByType" ng-show="offerInformation.value.offerSelections.length">
                                        <div ng-include src="'cart/' + offerInformation.key"></div>
                                    </div>
                                    <hr />
                                    <address>
                                        <h3>@Html.Sitecore().Field("Service Address Text", cartItem)</h3>
                                        {{ location.location.address | address }}<br />
                                        <a href="" ng-click="editUtilityAddress(location)" ng-if="!isRenewal">@Html.Sitecore().Field("Edit Button Text")</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="enrollment__box outage-information">
                        <header>
                            <p><strong>@Html.Sitecore().Field("Outage Header", cartItem)</strong></p>
                        </header>
                        <ul class="info">
                            <li ng-if="cartHasTDU('AEP Central Texas')">@Html.Sitecore().Field("Aep Central Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('AEP North Texas')">@Html.Sitecore().Field("Aep North Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('TNMP')">@Html.Sitecore().Field("Tnmp Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('ONCOR')">@Html.Sitecore().Field("Oncor Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('Centerpoint')">@Html.Sitecore().Field("Centerpoint Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('Sharyland McAllen')">@Html.Sitecore().Field("Sharyland Mcallen Outage", cartItem)</li>
                            <li ng-if="cartHasTDU('Sharyland')">@Html.Sitecore().Field("Sharyland Utilities Outage", cartItem)</li>
                        </ul>
                    </article>
                </div>
            </aside>
        </div>
    </div>
</div>

<script type="text/ng-template" id="cart/TexasElectricity">
    <div class="utility-cart-product clearfix" ng-repeat="selectedOffer in offerInformation.value.offerSelections">
        <div class="description">
            <div class="plan-text">
                <span class="plan">{{ selectedOffer.offer.name }}</span>
            </div>
        </div>
        <div class="rate">
            {{selectedOffer.offer.rate}}&cent;
            <span class="energy-unit">@Html.Sitecore().Field("Per kWh", cartItem)</span>
        </div>
        <div class="fees" ng-if="selectedOffer.offerOption.connectionFee">
            @Html.Sitecore().Field("Connection Fee", cartItem)
        </div>
        <div class="rate" ng-if="selectedOffer.offerOption.connectionFee">
            {{selectedOffer.offerOption.connectionFee | currency}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="cleanseAddressesModal">
    <div class="cleanse-address">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>@Html.Sitecore().Field("Verify Address Header")</h2>
        </div>
        <div class="modal-body scrollable">
            @Html.Sitecore().Field("Verify Address Body")
            <div class="item address-group" ng-if="addressOptions.mailingAddress[0]">
                <label>@Html.Sitecore().Field("Mailing Address Text")</label>
                <div class="radio-item">
                    <input id="mailingAddress-suggested-{{$id}}" type="radio" ng-model="modal.mailingAddress" value="suggested">
                    <label for="mailingAddress-suggested-{{$id}}">@Html.Sitecore().Field("Suggested Address Text")</label>
                </div>
                <div class="address">
                    <label for="mailingAddress-suggested-{{$id}}">{{ addressOptions.mailingAddress[1] | address }}</label>
                </div>
                <div class="radio-item">
                    <input id="mailingAddress-original-{{$id}}" type="radio" ng-model="modal.mailingAddress" value="original">
                    <label for="mailingAddress-original-{{$id}}">@Html.Sitecore().Field("Original Address Text")</label>
                </div>
                <div class="address">
                    <label for="mailingAddress-original-{{$id}}">{{ addressOptions.mailingAddress[0] | address }}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button")</button>
            <button ng-click="$close()">@Html.Sitecore().Field("Continue Button")</button>
        </div>
    </div>
</script>

}

