@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;
<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="ngApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="/frontend/assets/i/favicon.ico" />
    <link href="/frontend/assets/css/global.css" rel="stylesheet" />

    <script src="/frontend/assets/js/libs/modernizr/modernizr.js"></script>
    <script src="/frontend/assets/js/libs/angular/angular.min.js"></script>
    <script src="/frontend/assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/frontend/assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>

    <script src="/frontend/assets/js/app.js"></script>

    <script src="/frontend/assets/js/directives/main-nav.js"></script>
    <script src="/frontend/assets/js/directives/state-tabs.js"></script>

    <script src="/frontend/assets/js/controllers/main.js"></script>
    <script src="/frontend/assets/js/controllers/marketing.js"></script>
    <script src="/frontend/assets/js/controllers/loginHorizontal.js"></script>

    <script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

</head>
<body ng-controller="MainCtrl">
    <div class="page-wrapper" ng-class="{open:sidebarOpen}">
        <nav>
            <ul>
                <li ng-repeat="item in navLinks">
                    <a href="{{item.href}}">{{item.name}}</a>
                </li>
            </ul>
        </nav>
        <div class="page-content">
            <header class="site-header" main-nav>
                @{
                    var target = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Navigation/Anonymous").Children.OfType<Sitecore.Data.Items.Item>().Select((item, index) => new { item, index });
                    <div class="wrapper">
                        <a href="/" class="logo">Logo</a>
                        <p class="utility"><a href="#">Manage My Account</a></p>
                        <a href="" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
                        <nav class="main-nav">
                            <ul class="wrapper">
                                @foreach (var item in from entry in target
                                                     let field = (Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]
                                                     select new
                                                     {
                                                         Item = entry.item,
                                                         URL = field.Url,
                                                         Text = field.Text,
                                                         CssClass = (field.TargetItem.ID == Sitecore.Context.Item.ID) ? "selected" : "",
                                                         SubNavNum = entry.index,
                                                         SubNavAttributes = entry.item.HasChildren ? string.Format(@"ng-mouseover=""showSubnav({0})"" ng-mouseout=""hideSubnav()"" ng-class=""{{ selected: subnav == {0} }}""", entry.index) : "",
                                                     })
                                {
                                    <li @Html.Raw(item.SubNavAttributes) class="@item.CssClass">@Html.Sitecore().Field("Navigation Link", item.Item)</li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <nav class="sub-nav">
                        @foreach (var entry in (from entry in target
                                               where entry.item.HasChildren
                                               select new
                                               {
                                                   SubNavNum = entry.index,
                                                   SubNavItems = from Sitecore.Data.Items.Item subitem in entry.item.Children
                                                                 select subitem
                                               }))
                        {
                            <ul class="wrapper" ng-class="{ hidden: subnav != @entry.SubNavNum }" ng-mouseover="showSubnav(@entry.SubNavNum)" ng-mouseout="hideSubnav()">
                                @foreach (var subItem in entry.SubNavItems)
                                {
                                    <li>@Html.Sitecore().Field("Navigation Link", subItem)</li>
                                }
                                @if (!entry.SubNavItems.Any())
                                {
                                    <li><a>&nbsp;</a></li>
                                }
                            </ul>
                        }
                    </nav>
                }
            </header>


            <div class="banner marketing" style="@Html.AsBackgroundStyle("Banner Image")">

            </div>


            <section class="layout cols-1">

                @Html.Sitecore().Placeholder("content")

            </section>

            @Html.Sitecore().Placeholder("footer")
        </div>
    </div>
</body>
</html>