@{
    var pageTitle = "";
    var pageTitleField = Html.Sitecore().CurrentItem.Fields["Page Title"];
    if (pageTitleField != null)
    {
        pageTitle = Html.Sitecore().CurrentItem.Fields["Page Title"].Value;

        if (!string.IsNullOrEmpty(pageTitle))
        {
            pageTitle += " | ";
        }
    }
    pageTitle += "Stream Energy";
}
<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="ngApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@pageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/ico" href="/frontend/assets/i/favicon.ico" />

    <!--[if lte IE 8]> @* from https://docs.angularjs.org/guide/ie *@
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');
        </script>
    <![endif]-->
    @Styles.Render("~/frontend/assets/css/bundle")
    @Styles.RenderFormat(@"<link rel=""stylesheet"" href=""{0}"" media=""print"">", "~/frontend/assets/css/printbundle")
    <link href="~/stylesheets/Site.css" rel="stylesheet">
    @if ((Request.Browser.Browser == "IE") && ((Request.Browser.MajorVersion <= 8)))
    {
        @Scripts.Render("~/frontend/assets/js/legacybundle");
    }
    else
    {
        @Scripts.Render("~/frontend/assets/js/bundle")
    }

    <script type="text/javascript" src="//use.typekit.net/obg4jvp.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body class="@Html.Sitecore().Field("Body CSS Classes")" ng-controller="MainCtrl">

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NMT3GS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-NMT3GS');</script>
    <!-- End Google Tag Manager -->
    <div ng-if="hasMobileNav" ng-include="'mobileNav'" mobile-nav="0"></div>
    @Html.Sitecore().Placeholder("header")
    <article>
        <header>
            <h2 style="@Html.AsBackgroundStyle("Banner Image")">
                <span>@Html.Sitecore().Field("Banner Text")</span>
            </h2>
            <div class="content">
                <ol>
                    <li><b>Overview</b></li>
                    @* @foreach (SiteMapNode node in rootNode.ChildNodes)
                {
                    <li>@NavigationHelper.Item(node)</li>
                } *@
                </ol>
            </div>
        </header>
        <main class="content">
            @Html.Sitecore().Placeholder("content")
        </main>
    </article>
    @Html.Sitecore().Placeholder("footer")
    @Html.Sitecore().Placeholder("extras")
    <script type="text/javascript" src="/frontend/utilities/foresee/foresee-trigger.js"></script>
</body>
</html>