<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="ngApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="/frontend/assets/i/favicon.ico" />
    @Styles.Render("~/bundles/Styles")
    @Scripts.Render("~/bundles/Scripts")

    <script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

</head>
<body ng-controller="MainCtrl">
    <div class="page-wrapper" ng-class="{open:sidebarOpen}">
        <div ng-include="'mobileNav'" mobile-nav="0"></div>
        <div class="page-content">
            @Html.Sitecore().Placeholder("header")

            @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Banner Image").ToString())) {
            <div class="banner marketing" style="@Html.AsBackgroundStyle("Banner Image")"></div>
            }
            <section class="layout cols-1">

                @Html.Sitecore().Placeholder("content")

            </section>

            @Html.Sitecore().Placeholder("footer")
        </div>
    </div>
</body>
</html>