@{
    var pageTitle = "";
    var pageTitleField = Html.Sitecore().CurrentItem.Fields["Page Title"];
    if (pageTitleField != null)
    { 
        pageTitle = Html.Sitecore().CurrentItem.Fields["Page Title"].Value;
        
        if (!string.IsNullOrEmpty(pageTitle))
        {
            pageTitle += " | ";
        }
    }
    pageTitle += "Stream Energy";
}
<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="ngApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>@pageTitle</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="shortcut icon" type="image/ico" href="/frontend/assets/i/favicon.ico" />
    @Styles.Render("~/bundles/Styles")
    @Scripts.Render("~/bundles/Scripts")

    <script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

</head>
<body ng-controller="MainCtrl">
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NMT3GS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NMT3GS');</script>
    <!-- End Google Tag Manager -->

    <div class="page-wrapper" ng-class="{open:sidebarOpen}">
        <div ng-include="'mobileNav'" mobile-nav="0"></div>
        <div class="page-content">
            @Html.Sitecore().Placeholder("header")

            @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Banner Image").ToString()))
            {
                var bannerCssClassField = Html.Sitecore().CurrentItem.Fields["Banner CSS Class"];
                <div class="banner @(bannerCssClassField != null ? bannerCssClassField.Value : "marketing")" style="@Html.AsBackgroundStyle("Banner Image")">
                    @if (!string.IsNullOrEmpty(Html.Sitecore().Field("Banner Text").ToString()))
                    {
                        <div class="inner">
                            <div class="wrapper">
                                @Html.Sitecore().Field("Banner Text")
                            </div>
                        </div>
                    }
                </div>
            }
            <section class="layout cols-1">

                @Html.Sitecore().Placeholder("content")

            </section>

            @Html.Sitecore().Placeholder("footer")
        </div>
    </div>

    <script type="text/javascript" src="/frontend/utilities/foresee/foresee-trigger.js"></script>

</body>
</html>