@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@using UserControl = Sitecore.Web.UI.Controls.Common.UserControls.UserControl
@using Bcl = EmailCampaign.Controls.Constants.Renderings.Bcl
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  UserControl rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Requires.Css("ecm", "ScoreCard.css");
  rendering.Requires.Script("ecm", "ScoreCard.js");
  string value = rendering.GetString("Value");
  string title = rendering.GetString("Title");
  string description = rendering.GetString("Description");
  string comparisonText = rendering.GetString("ComparisonText");
  string comparisonType = rendering.GetString("ComparisonType").ToLower();
  string textAlignment = rendering.GetString("TextAlignment").ToLower();
  rendering.SetAttribute("data-sc-value", value);
  rendering.SetAttribute("data-sc-comparisontype", comparisonType);
  rendering.Class = "sc-ScoreCard " + (textAlignment.Length > 0 ? "text-" + textAlignment : null);
}
<div @rendering.HtmlAttributes data-sc-hasnested="true" data-bind="css: comparisonType">
  <div>@(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "Title", "", new { Text = @title }))</div>
  <div>
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.HyperlinkButton, rendering.ControlId + "LinkValue", "", new { IsVisible = string.Format("{{Binding {0}.IsVisible, Converter=Not}}", rendering.ControlId + "TextValue") }))
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "TextValue", "", new { IsVisible = string.Format("{{Binding {0}.IsVisible, Converter=Not}}", rendering.ControlId + "LinkValue") }))
  </div>
  <div>@(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "Description", "", new { Text = @description }))</div>
  <div data-bind="visible: comparisonText">@(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "ComparisonText", "", new { Text = @comparisonText }))</div>
</div>