@using StreamEnergy.MyStream.Controllers
@model StreamEnergy.MyStream.Models.Marketing.Contact
@using Sitecore.Data.Fields

@{
    SupportCenterController controller = new SupportCenterController();
    var categories = StreamEnergy.Json.Stringify(controller.GetAllCategories());

    var categoryContent = Sitecore.Context.Database.GetItem("{E507A0DB-A122-406B-862E-6C163BCCA7E7}");
    ImageField modalIconField = categoryContent.Fields["Modal Icon"];
    var modalIconURL = Sitecore.Resources.Media.MediaManager.GetMediaUrl(modalIconField.MediaItem);
}
<div ng-controller="supportCenterCtrl" ng-init="contactInit(@categories)">
    <article class="marketing contact">
        <div class="wrapper">
            @Html.Sitecore().Field("Intro Text")
            <div class="category" ng-repeat="category in categories" ng-if="category.displayOnContactPage">
                <div ng-class="category.name" ng-style="{'background-image': 'URL(' + category.iconURL + ')'}">
                    <div ng-if="!category.states.length">
                        <h4><strong>{{category.name}}</strong></h4>
                        <p>@Html.Sitecore().Field("Click Below")</p>
                        <p><a href="" ng-click="selectPane(category)">@Html.Sitecore().Field("Get Contact Info")</a></p>
                    </div>
                    <div class="dropdown-toggle" dropdown-toggle ng-if="category.states.length">
                        <h4><strong>{{category.name}}</strong></h4>
                        <p>@Html.Sitecore().Field("Click Below States")</p>
                        <p class="link"><a href="">@Html.Sitecore().Field("Get Contact Info")</a></p>
                    </div>
                    <ul class="dropdown-menu" role="menu" ng-if="category.states.length">
                        <li disabled>@Html.Sitecore().Field("Select State")</li>
                        <li class="icon" ng-repeat="state in category.states" ng-click="selectPane(category, state)">
                            <div ng-style="{'background-image': 'URL(' + state.iconURL + ')'}">{{state.abbreviation}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <article class="marketing contact contact-info" ng-repeat="category in categories" id="categoryContact">
        <div class="wrapper" ng-show="pane == category.name">
            <div class="content">
                <div ng-bind-html="category.contactPageContent"></div>
                <hr />
            </div>
        </div>
        <div class="wrapper" ng-repeat="state in category.states" ng-show="pane == state.name">
            <div class="content">
                <div ng-bind-html="state.contactPageContent"></div>
                <p><a href="" ng-click="showModal('emergency-contact')">Emergency Contacts</a></p>
                <hr />
            </div>
        </div>
    </article>
    @if (Model == null || !Model.ShowSuccessMessage)
    {
        <article class="marketing contact">
            @Html.Sitecore().Field("Send Request Intro Text")
        </article>
    }
    <article class="marketing contact">
        @if (Model == null || !Model.ShowSuccessMessage)
        {
            <div class="request">
                <div class="wrapper">
                    <h2>@Html.Sitecore().Field("Request Form Text")</h2>
                    <p>@Html.Sitecore().Field("Required Text")</p>
                    <form action="@Request.Url.AbsolutePath" method="post" name="Contact">
                        @Html.ValidationSummary()
                        <div class="grid">
                            <div class="col">
                                <div class="item" @Html.Validation().ErrorClass(model => model.StreamService)>
                                    <label for="@Html.IdFor(m => m.Reason)">@Html.Sitecore().Field("Stream Service Text")</label>
                                    <select data-val-required="@Html.Sitecore().Field("Stream Service Required")" data-val-length="" data-val-length-min="1" data-val-length-max="50" data-val="true" name="@Html.NameFor(m => m.StreamService)" id="@Html.IdFor(m => m.StreamService)" ng-model="streamService">
                                        @Html.Sitecore().Field("Stream Service Options")
                                    </select>
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.ContactName.First)>
                                    <label for="@Html.IdFor(m => m.ContactName.First)">@Html.Sitecore().Field("First Name Text")</label>
                                    @Html.TextBoxFor(m => m.ContactName.First, new { ng_model = "firstName", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("First Name Placeholder").ToString()) })
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.ContactName.Last)>
                                    <label for="@Html.IdFor(m => m.ContactName.Last)">@Html.Sitecore().Field("Last Name Text")</label>
                                    @Html.TextBoxFor(m => m.ContactName.Last, new { ng_model = "lastname", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Last Name Placeholder").ToString()) })
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.AddressLine1)>
                                    <label for="@Html.IdFor(m => m.AddressLine1)">@Html.Sitecore().Field("Service Address Text")</label>
                                    @Html.TextBoxFor(m => m.AddressLine1, new { ng_model = "address", data_val_if = "address", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Service Address Placeholder").ToString()) })
                                </div>
                                <div class="group">
                                    <div class="item" @Html.Validation().ErrorClass(model => model.City)>
                                        <label for="@Html.IdFor(m => m.City)">@Html.Sitecore().Field("City Text")</label>
                                        @Html.TextBoxFor(m => m.City, new { ng_model = "city", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("City Placeholder").ToString()) })
                                        <span class="asterisk">&#42;</span>
                                    </div>
                                    <div class="item" @Html.Validation().ErrorClass(model => model.StateAbbreviation)>
                                        <label for="@Html.IdFor(m => m.StateAbbreviation)">@Html.Sitecore().Field("State Text")</label>
                                        <select data-val-required="@Html.Sitecore().Field("State Required")" data-val="true" name="@Html.NameFor(m => m.StateAbbreviation)" id="@Html.IdFor(m => m.StateAbbreviation)" ng-model="state">
                                            @Html.Sitecore().Field("State Options")
                                        </select>
                                        <span class="asterisk">&#42;</span>
                                    </div>
                                </div>
                                <div class="item half-width" @Html.Validation().ErrorClass(model => model.PostalCode5)>
                                    <label for="@Html.IdFor(m => m.PostalCode5)">@Html.Sitecore().Field("Zip Code Text")</label>
                                    @Html.TextBoxFor(m => m.PostalCode5, new { ng_model = "zipCode", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Zip Code Placeholder").ToString()) })
                                    <span class="asterisk">&#42;</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item" @Html.Validation().ErrorClass(model => model.ContactPhone.Number)>
                                    <label for="@Html.IdFor(m => m.ContactPhone.Number)">@Html.Sitecore().Field("Phone Text")</label>
                                    @Html.TextBoxFor(m => m.ContactPhone.Number, new { ng_model = "phone", data_val_if = "phone", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Phone Placeholder").ToString()) })
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.ContactEmail.Address)>
                                    <label for="@Html.IdFor(m => m.ContactEmail.Address)">@Html.Sitecore().Field("Email Text")</label>
                                    @Html.TextBoxFor(m => m.ContactEmail.Address, new { ng_model = "email", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Email Placeholder").ToString()), type = "email" })
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.Reason)>
                                    <label for="@Html.IdFor(m => m.Reason)">@Html.Sitecore().Field("Reason Text")</label>
                                    <select data-val-required="@Html.Sitecore().Field("Reason Required")" data-val-length="" data-val-length-min="1" data-val-length-max="50" data-val="true" name="@Html.NameFor(m => m.Reason)" id="@Html.IdFor(m => m.Reason)" ng-model="reason">
                                        @Html.Sitecore().Field("Reason Options")
                                    </select>
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="item" @Html.Validation().ErrorClass(model => model.Comment)>
                                    <label for="@Html.IdFor(m => m.Comment)">@Html.Sitecore().Field("Explain Text")</label>
                                    @Html.TextAreaFor(m => m.Comment, new { ng_model = "comment", placeholder = HttpUtility.HtmlDecode(Html.Sitecore().Field("Explain Placeholder").ToString()) })
                                    <span class="asterisk">&#42;</span>
                                </div>
                                <div class="submit">
                                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Send Button Text")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (Model != null && Model.ShowSuccessMessage)
        {
            <div class="success-message" id="success-message">
                <div class="wrapper">
                    <h2>@Html.Sitecore().Field("Success Message Text")</h2>
                    <p>@Html.Sitecore().Field("Success Another Request")</p>
                </div>
            </div>
        }
        <div class="associate-support">
            <div class="content">
                <h1>@Html.Sitecore().Field("Associate Support Text")</h1>
                @Html.Sitecore().Field("Associate Support Content")
            </div>
        </div>
    </article>
</div>
<script type="text/ng-template" id="emergency-contact">
    <div class="support-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Emergency Contacts - {{category.displayTitle}}<span ng-show="searchData.state"> - {{searchData.state.abbreviation}}</span></h2>
            <p ng-bind-html="category.emergencyContactSubheading"></p>
            <img class="life-preserver" src="@modalIconURL" />
            <div ng-show="category.states">
                <span>
                    Please select a state:
                    <select ng-model="selectedStateName"
                            ng-change="selectCategoryByName(category, selectedStateName)"
                            ng-options="state.name as state.name for state in category.states">
                        <option disabled value="">Select State</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="modal-body">
            <div class="content" ng-hide="category.states">
                <div ng-bind-html="category.emergencyContactContent"></div>
            </div>
            <div ng-show="category.states">
                <div ng-bind-html="searchData.state.emergencyContactContent"></div>
            </div>
        </div>
    </div>
</script>