<article class="white-box mobile">
    <header>
        <h2>@Html.Sitecore().Field("Header Text")</h2>
    </header>
    
    <form>
        <div class="overlay">
            <table>
                <thead>
                    <tr>
                        <th>@Html.Sitecore().Field("Country Header")</th>
                        <th>@Html.Sitecore().Field("Minutes Header")</th>
                        <th>@Html.Sitecore().Field("Minutes Pack Cost")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.Sitecore().Field("Brazil")</td>
                        <td>@Html.Sitecore().Field("Brazil Minutes")</td>
                        <td>@Html.Sitecore().Field("Brazil Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Colombia")</td>
                        <td>@Html.Sitecore().Field("Colombia Minutes")</td>
                        <td>@Html.Sitecore().Field("Colombia Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Cuba")</td>
                        <td>@Html.Sitecore().Field("Cuba Minutes")</td>
                        <td>@Html.Sitecore().Field("Cuba Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Dominican Republic")</td>
                        <td>@Html.Sitecore().Field("Dominican Republic Minutes")</td>
                        <td>@Html.Sitecore().Field("Dominican Republic Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Ecuador")</td>
                        <td>@Html.Sitecore().Field("Ecuador Minutes")</td>
                        <td>@Html.Sitecore().Field("Ecuador Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("El Salvador")</td>
                        <td>@Html.Sitecore().Field("El Salvador Minutes")</td>
                        <td>@Html.Sitecore().Field("El Salvador Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Guatemala")</td>
                        <td>@Html.Sitecore().Field("Guatemala Minutes")</td>
                        <td>@Html.Sitecore().Field("Guatemala Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Guyana")</td>
                        <td>@Html.Sitecore().Field("Guyana Minutes")</td>
                        <td>@Html.Sitecore().Field("Guyana Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Haiti")</td>
                        <td>@Html.Sitecore().Field("Haiti Minutes")</td>
                        <td>@Html.Sitecore().Field("Haiti Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Honduras")</td>
                        <td>@Html.Sitecore().Field("Honduras Minutes")</td>
                        <td>@Html.Sitecore().Field("Honduras Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("India")</td>
                        <td>@Html.Sitecore().Field("India Minutes")</td>
                        <td>@Html.Sitecore().Field("India Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Jamaica")</td>
                        <td>@Html.Sitecore().Field("Jamaica Minutes")</td>
                        <td>@Html.Sitecore().Field("Jamaica Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Jordan")</td>
                        <td>@Html.Sitecore().Field("Jordan Minutes")</td>
                        <td>@Html.Sitecore().Field("Jordan Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Malaysia")</td>
                        <td>@Html.Sitecore().Field("Malaysia Minutes")</td>
                        <td>@Html.Sitecore().Field("Malaysia Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Mexico")</td>
                        <td>@Html.Sitecore().Field("Mexico Minutes")</td>
                        <td>@Html.Sitecore().Field("Mexico Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Nicaragua")</td>
                        <td>@Html.Sitecore().Field("Nicaragua Minutes")</td>
                        <td>@Html.Sitecore().Field("Nicaragua Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Nigeria")</td>
                        <td>@Html.Sitecore().Field("Nigeria Minutes")</td>
                        <td>@Html.Sitecore().Field("Nigeria Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Pakistan")</td>
                        <td>@Html.Sitecore().Field("Pakistan Minutes")</td>
                        <td>@Html.Sitecore().Field("Pakistan Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Panama")</td>
                        <td>@Html.Sitecore().Field("Panama Minutes")</td>
                        <td>@Html.Sitecore().Field("Panama Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Philippines")</td>
                        <td>@Html.Sitecore().Field("Philippines Minutes")</td>
                        <td>@Html.Sitecore().Field("Philippines Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Trinidad Tobago")</td>
                        <td>@Html.Sitecore().Field("Trinidad Tobago Minutes")</td>
                        <td>@Html.Sitecore().Field("Trinidad Tobago Cost")</td>
                    </tr>
                    <tr>
                        <td>@Html.Sitecore().Field("Vietnam")</td>
                        <td>@Html.Sitecore().Field("Vietnam Minutes")</td>
                        <td>@Html.Sitecore().Field("Vietnam Cost")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content clearfix">        
            <p>
                @Html.Sitecore().Field("Cancel Button")
                <span class="right-button">@Html.Sitecore().Field("Shop Button")</span>
            </p>
        </div>

    </form>
</article>

