<article class="white-box mobile" ng-controller="MakePaymentCtrl">
    <header class="clearfix">
        <h2 class="header-left">@Html.Sitecore().Field("My Plan Header")</h2>
        <div class="header-right">
            <p><strong>@Html.Sitecore().Field("Header Right Text")</strong></p>
        </div>
    </header>
    
    <div class="content">
        <div>
            <form>
                <div class="group">
                    <div class="item paragraph">
                        <p>@Html.Sitecore().Field("Current Plan Text")</p>
                        <p>@Html.Sitecore().Field("Current Plan Usage")</p>
                    </div>
                    <div class="item price">
                        <p class="plan-price">@Html.Sitecore().Field("Current Plan Price")</p>
                    </div>
                </div>
                <ul class="links clearfix">
                    <li>@Html.Sitecore().Field("Terms Link")</li>
                    <li>@Html.Sitecore().Field("Details Link")</li>
                </ul>
                <hr class="content-divider" />
                <div class="group">
                    <div class="item paragraph">
                        <p>@Html.Sitecore().Field("Plan Upgrade Text")</p>
                        <p>@Html.Sitecore().Field("Plan Upgrade Usage")</p>
                    </div>
                    <div class="item price">
                        <p class="plan-price">@Html.Sitecore().Field("Plan Upgrade Price")</p>
                    </div>
                </div>
                <ul class="links clearfix">
                    <li>@Html.Sitecore().Field("Change Start Date Link")</li>
                    <li>@Html.Sitecore().Field("Terms and Conditions Link")</li>
                </ul>
            </form>
        </div>
    </div>
</article>

