<article class="grey-box mobile usage-details" ng-app ng-controller="AcctUsageSummaryCtrl">
    <header>
        <h2 class="header-left">@Html.Sitecore().Field("Header Text")</h2>
        <div class="filters">
            <form>
                <div class="group">
                    <div class="item">
                        <label>@Html.Sitecore().Field("Showing Text")</label>
                    </div>
                    <div class="item usage-period">
                        <select ng-change="getUsageStats()" ng-model="currentRangeId">
                            <option ng-repeat="range in dateRanges" value="{{ range.id }}">
                                @Html.Sitecore().Field("Bill Usage") {{ range.begin | date : format : longDate }} - {{ range.end | date : format : longDate }}
                            </option>
                        </select>
                </div>
            </div>
        </form>
    </div>
</header>
    <div>
        <table>
            <thead>
                <tr>
                    <th>@Html.Sitecore().Field("Member Header")</th>
                    <th>@Html.Sitecore().Field("Data Header")</th>
                    <th>@Html.Sitecore().Field("Text Header")</th>
                    <th>@Html.Sitecore().Field("Talk Header")</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in deviceUsageStats">
                    <td>
                        <div class="device-image"><img src="{{ device.imageURL }}" /></div>
                        <div class="device-details">
                            <strong>{{ device.name }}</strong>
                            <br />{{ device.number }}
                            <br />@Html.Sitecore().Field("Usage Details Link")
                        </div>
                    </td>
                    <td>
                        <span><strong>{{ device.usage.data / 1000000000 | number : 2 }} GB</strong></span>
                    </td>
                    <td>
                        <div class="top"><strong>{{ device.usage.messages | number }}</strong> @Html.Sitecore().Field("Of") <em>{{ device.messageMax }}</em></div>
                        <p>@Html.Sitecore().Field("Messages Used")</p>
                    </td>
                    <td>
                        <div class="top"><strong>{{ device.usage.minutes | number }}</strong> @Html.Sitecore().Field("Of") <em>{{ device.minuteMax }}</em></div>
                        <p>@Html.Sitecore().Field("Minutes Used")</p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-model="usageTotal">
                    <td><div class="add-device">@Html.Sitecore().Field("Add Device Link")</div></td>
                    <td>
                        <div>
                            @Html.Sitecore().Field("Data Total")<br />
                            <strong>{{ usageTotal.data / 1000000000 | number : 2 }} GB</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.Sitecore().Field("Message Total")<br />
                            <strong>{{ usageTotal.messages | number }}</strong>
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.Sitecore().Field("Minutes Total")<br />
                            <strong>{{ usageTotal.minutes | number }}</strong> 
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</article>

