<article class="grey-box mobile usage-details" ng-controller="MakePaymentCtrl">
    <header>
        <h2 class="header-left">@Html.Sitecore().Field("Header Text")</h2>
        <div class="filters">
            <form>
                <div class="group">
                    <div class="item">
                        <label>@Html.Sitecore().Field("Showing Text")</label>
                    </div>
                    <div class="item usage-period">
                        <select>
                            <option>@Html.Sitecore().Field("Bill Usage") Apr 29, 2013 - May 28, 2014
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>    
    </header>
    
    <div>
        <span>
            <table>
                <thead>
                    <tr>
                        <th>@Html.Sitecore().Field("Member Header")</th>
                        <th>@Html.Sitecore().Field("Data Header")</th>
                        <th>@Html.Sitecore().Field("Text Header")</th>
                        <th>@Html.Sitecore().Field("Talk Header")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="device-image">&nbsp;</div>
                            <div class="device-details">
                                <strong>Jordan Campbell</strong>
                                <br />123-456-7890
                                <br />@Html.Sitecore().Field("Usage Details Link")
                            </div>
                        </td>
                        <td>
                            <span><strong>1.93 GB</strong></span>
                        </td>
                        <td>
                            <div class="top"><strong>49</strong> @Html.Sitecore().Field("Of") unlimited</div>
                            <p>@Html.Sitecore().Field("Messages Used")</p>
                        </td>
                        <td>
                            <div class="top"><strong>926</strong> @Html.Sitecore().Field("Of") unlimited</div>
                            <p>@Html.Sitecore().Field("Minutes Used")</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="device-image">&nbsp;</div>
                            <div class="device-details">
                                <strong>Jennifer Campbell</strong>
                                <br />123-456-7890
                                <br />@Html.Sitecore().Field("Usage Details Link")
                            </div>
                        </td>            
                        <td>
                            <span><strong>2.5 GB</strong></span>
                        </td>
                        <td>
                            <div class="top"><strong>372</strong> @Html.Sitecore().Field("Of") unlimited</div>
                            <p>@Html.Sitecore().Field("Messages Used")</p>
                        </td>
                        <td>
                            <div class="top"><strong>1,873</strong> @Html.Sitecore().Field("Of") unlimited</div>
                            <p>@Html.Sitecore().Field("Minutes Used")</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>@Html.Sitecore().Field("Add Device Link")</td>
                        <td>
                            <div>
                                @Html.Sitecore().Field("Data Total")<br />
                                <strong>6.31</strong> @Html.Sitecore().Field("Of") <strong>6.5GB</strong>
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.Sitecore().Field("Message Total")<br />
                                <strong>1,043</strong>
                            </div>
                        </td>
                        <td>
                            <div>
                                @Html.Sitecore().Field("Minutes Total")<br />
                                <strong>2,342</strong>
                            </div>
                        </td>
                    </tr>
                </tfoot> 
            </table>
        </div>
    </div>
</article>

