@{
    Sitecore.Data.Items.Item cdmaPlansItem = Sitecore.Context.Database.GetItem("{2F9BF741-D951-4C8C-957F-07F1C846A169}");
}

<article class="grey-box mobile usage-details marketing cdma-pricing-plans portal-plans"  ng-app ng-controller="AcctUsageSummaryCtrl" ng-hide="hideComponent" loading-indicator ng-cloak>
    <header>
        <h2 class="header-left">@Html.Sitecore().Field("Header Text")</h2>
        <div class="filters">
            <form>
                <div class="group">
                    <div class="item usage-period" ng-show="!noUsage">
                        @Html.Sitecore().Field("Bill Usage") {{ data.lastBillingDate | date : format : longDate }} - {{ data.nextBillingDate | date : format : longDate }}
                        @*<select ng-change="getUsageStats()" ng-model="currentRangeId">
                            <option ng-repeat="range in dateRanges" value="{{ range.id }}">
                                @Html.Sitecore().Field("Bill Usage") {{ range.begin | date : format : longDate }} - {{ range.end | date : format : longDate }}
                            </option>
                        </select>*@
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div>
        <div stream-connect-errors="AcctUsageSummaryCtrl"></div>
        <div class="noUsage" ng-show="noUsage">
            @Html.Sitecore().Field("No Usage Text")
        </div>
        <table>
            <thead>
                <tr class="noUsageOverlay" ng-show="noUsage">
                    <td></td>
                    <td colspan="3"><div ng-style="getSampleDivStyles()"><span class="bg"></span><span class="sample">Sample Data</span></div></td>
                </tr>
                <tr>
                    <th><div>@Html.Sitecore().Field("Member Header")</div></th>
                    <th>@Html.Sitecore().Field("Data Header")</th>
                    <th>@Html.Sitecore().Field("Text Header")<br />
                    @Html.Sitecore().Field("Unlimited")</th>
                    <th>@Html.Sitecore().Field("Talk Header")<br />
                    @Html.Sitecore().Field("Unlimited")</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in data.deviceUsage">
                    <td>
                        <div class="device-full">
                            <div class="device-image"><img ng-src="{{ getDeviceImageURL(device.id) }}" /></div>
                            <div class="device-details">
                                @*<strong>{{ device.name }}</strong>
                                    <br />*@{{ device.number | phone }}
                                @*<br />@Html.Sitecore().Field("Usage Details Link")*@
                            </div>
                        </div>
                        <div class="device-short">
                            <div class="device-image"><img ng-src="{{ getDeviceImageURL(device.id) }}" /></div>
                        </div>
                    </td>
                    <td>
                        <div class="device-full">
                            <strong>{{ device.dataUsage | gigabyte }} GB of 3 GB<br /> used</strong>
                        </div>
                        <div class="device-short">
                            <strong>{{ device.dataUsage | gigabyte:1 }} GB</strong>
                        </div>
                    </td>
                    <td>
                        <div class="device-full">
                            <strong>{{ device.messagesUsage | number }} @Html.Sitecore().Field("Used")</strong>
                        </div>
                        <div class="device-short">
                            <strong>{{ device.messagesUsage | number }}</strong>
                        </div>
                    </td>
                    <td>
                        <div class="device-full">
                            <strong>{{ device.minutesUsage | number }} @Html.Sitecore().Field("Used")</strong>
                        </div>
                        <div class="device-short">
                            <strong>{{ device.minutesUsage | number }}</strong>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <footer>
            <div ng-click="addDevice=!addDevice" ng-show="!addDevice">
                <p><a class="button secondary" href="">@Html.Sitecore().Field("Add Device Button Text")</a></p>
            </div>
            <div ng-show="addDevice">
                <h3>@Html.Sitecore().Field("Select Rate Header")</h3>
                <div class="grid border four">
                    <div class="col">
                        <div class="plan-details">
                            <p class="data">@cdmaPlansItem["Plan 1 GB"]</p>
                            <p class="lte">@cdmaPlansItem["LTE Data"]</p>
                            <h2>@Html.Sitecore().Field("Plan 1 Service", cdmaPlansItem)</h2>
                            <p class="international">@Html.Sitecore().Field("Add International Service", cdmaPlansItem)</p>
                            <p class="price no-international">@Html.Sitecore().Field("Plan 1 Price", cdmaPlansItem)</p>
                            <p>@Html.Sitecore().Field("Portal Plan 1 Button", cdmaPlansItem)</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="plan-details">
                            <p class="data">@cdmaPlansItem["Plan 2 GB"]</p>
                            <p class="lte">@cdmaPlansItem["LTE Data"]</p>
                            <h2>@Html.Sitecore().Field("Plan 2 Service", cdmaPlansItem)</h2>
                            <p class="international">@Html.Sitecore().Field("Add International Service", cdmaPlansItem)</p>
                            <p class="price no-international">@Html.Sitecore().Field("Plan 2 Price", cdmaPlansItem)</p>
                            <p>@Html.Sitecore().Field("Portal Plan 2 Button", cdmaPlansItem)</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="plan-details">
                            <span class="best-deal">
                                @cdmaPlansItem["Best Deal"]
                            </span>
                            <p class="data">@cdmaPlansItem["Plan 3 GB"]</p>
                            <p class="lte">@cdmaPlansItem["LTE Data"]</p>
                            <h2>@Html.Sitecore().Field("Plan 3 Service", cdmaPlansItem)</h2>
                            <div class="international">
                                <p>@Html.Sitecore().Field("Stream International", cdmaPlansItem)</p>
                            </div>
                            <p class="price">@Html.Sitecore().Field("Plan 3 Price", cdmaPlansItem)</p>
                            <p>@Html.Sitecore().Field("Portal Plan 3 Button", cdmaPlansItem)</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="plan-details">
                            <p class="data">@Html.Sitecore().Field("Plan 4 GB", cdmaPlansItem)</p>
                            <p class="lte">@cdmaPlansItem["LTE Data"]</p>
                            <h2>@Html.Sitecore().Field("Plan 4 Service", cdmaPlansItem)</h2>
                            <div class="international">
                                <p>@Html.Sitecore().Field("Stream International", cdmaPlansItem)</p>
                            </div>
                            <p class="price">@Html.Sitecore().Field("Plan 4 Price", cdmaPlansItem)</p>
                            <p>@Html.Sitecore().Field("Portal Plan 4 Button", cdmaPlansItem)</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</article>