<article class="grey-box mobile" ng-controller="MakePaymentCtrl">
    <header class="clearfix">
        <p class="header-left welcome">@Html.Sitecore().Field("Header Text")</p>
        <p class="header-right account">@Html.Sitecore().Field("Account Label")</p>
    </header>

    <div>
        <form>
            <div class="content">
                <div class="grid">
                    <div class="col">
                        <p class="balance">@Html.Sitecore().Field("Balance")</p>
                        <p class="details">@Html.Sitecore().Field("Details")</p>
                    </div>
                    <div class="col due clearfix">
                        <p>@Html.Sitecore().Field("Due")</p>
                        <p class="pay">@Html.Sitecore().Field("Button Label")</p>
                    </div>
                </div>   
            </div>
            <footer>
                <p>@Html.Sitecore().Field("Next Auto Payment")<span class="link"><a href="#">@Html.Sitecore().Field("Manage Link")</a></span></p>
                <p>@Html.Sitecore().Field("Last Payment Received")<span class="link"><a href="#">@Html.Sitecore().Field("View Link")</a></span></p>
            </footer>
        </form>
    </div>

</article>

