@using Sitecore.EmailCampaign.Server.Services
@using Sitecore.EmailCampaign.Server.Utils
@using Sitecore.Modules.EmailCampaign
@using Sitecore.Modules.EmailCampaign.Core
@using Sitecore.Modules.EmailCampaign.Messages
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web
@using Sitecore.Web.UI.Controls.Common.UserControls

@model RenderingModel
@{
  var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  userControl.Requires.Script("client", "MessageOverview.js");
  userControl.Requires.Css("ecm", "MessageOverview.css");
  userControl.Class = "sc-MessageOverview";
  userControl.Attributes["data-bind"] = "visible: isVisible";

  var htmlAttributes = userControl.HtmlAttributes;

  var messageId = WebUtil.GetQueryString("id");

  var messageStatisticsService = new MessageStatisticsService();
  var messageStatistics = messageStatisticsService.GetMessageStatistics(new Guid(messageId), null);
  var messageStateInfo = Factory.Instance.GetMessageStateInfo(messageId);
}
@if (messageStatistics != null && messageStateInfo != null && messageStateInfo.MessageState != MessageState.Drafts)
{
  <div @htmlAttributes>
    <h3>
      @EcmTexts.Localize(EcmTexts.MessageOverview)
    </h3>

    <table class="sc-message-progress-table">
      <tbody>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.TotalRecipients)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.Sent)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.ActualRecipients)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.ActualRecipients)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.Opened)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.Opened)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.Clicked)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.Clicked)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.Browsed)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.Browsed)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.Productive)</td>
          <td class="sc-message-progress-value">@MathUtil.AbbreviateNumber(messageStatistics.Productive)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.ValuePerVisit)</td>
          <td class="sc-message-progress-value">@Math.Round(messageStatistics.ValuePerVisit, 1).ToString("N1", Sitecore.Context.Culture)</td>
        </tr>
        <tr>
          <td>@EcmTexts.Localize(EcmTexts.Value)</td>
          <td class="sc-message-progress-value">@messageStatistics.Value.ToString("N0", Sitecore.Context.Culture)</td>
        </tr>
      </tbody>
    </table>
  </div>
}