@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@using UserControl = Sitecore.Web.UI.Controls.Common.UserControls.UserControl
@using Bcl = EmailCampaign.Controls.Constants.Renderings.Bcl
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  UserControl rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Requires.Script("ecm", "LandingInfo.js");
  rendering.Requires.Css("ecm", "LandingInfo.css");
  string icon = rendering.GetString("Icon");
  string title = rendering.GetString("Title");
  string value = rendering.GetString("Value");
  string description = rendering.GetString("Description");
  rendering.SetAttribute("data-sc-icon", icon);
  rendering.SetAttribute("data-sc-value", value);
  rendering.Class = "sc-LandingInfo";
}
<div @rendering.HtmlAttributes data-sc-hasnested="true">
  <div class="sc-landinginfo-icon">
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Image, rendering.ControlId + "Icon", "", new { ImageUrl = @icon, IsVisible = @icon.Length > 0 ? true : false, Width = "32px", Height = "32px" }))
  </div>
  <div class="sc-landinginfo-title">
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "Title", "", new { Text = @title }))
  </div>
  <div class="sc-landinginfo-info">
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.HyperlinkButton, rendering.ControlId + "LinkValue", "", new { IsVisible = string.Format("{{Binding {0}.IsVisible, Converter=Not}}", rendering.ControlId + "TextValue") }))
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "TextValue", "", new { IsVisible = string.Format("{{Binding {0}.IsVisible, Converter=Not}}", rendering.ControlId + "LinkValue") }))
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Text, rendering.ControlId + "Description", "", new { Text = @description }))
  </div>
</div>