<article class="module marketing wrapper careers">
    @if (Html.Sitecore().CurrentItem.HasChildren)
    {
        <h3>@Html.Sitecore().Field("With Openings Title")</h3>
        foreach (Sitecore.Data.Items.Item item in Html.Sitecore().CurrentItem.Children)
        {
            var jobTitle = @Html.Sitecore().Field("Job Title", item);
            var resumeEmail = @Html.Sitecore().Field("Resume Email", item);

            <article class="panel" slide-toggle>
                <h4 class="job-title"><a class="job-button" ng-click="toggleSlide()" ng-class="{'collapsed': !isOpen}" href="">@jobTitle</a></h4>
                <div class="panel-content slide-toggle">
                    @Html.Sitecore().Field("Job Description", item)
                    <p>@Html.Sitecore().Field("Job Info Text", item)</p>
                    <p><a class="button blue" href="mailto:@resumeEmail?subject=@jobTitle">@resumeEmail</a></p>
                </div>
            </article>
            <hr>
        }
    }
    else
    {
        <h3>@Html.Sitecore().Field("No Openings Title")</h3>
        <hr />
        <p>@Html.Sitecore().Field("No Openings Text")</p>
    }
</article>