<article class="module marketing full-html   philanthropy">
    <div class="wrapper">
        @{
            int i = 1;
            foreach (Sitecore.Data.Items.Item item in Html.Sitecore().CurrentItem.Children)
            {
                Sitecore.Data.Fields.ImageField field = item.Fields["Charity Image"];
                <div class="donate @(i++ %2 == 0 ? "donate-alt":"")">
                    @if (field != null && field.MediaItem != null)
                    {
                        <div class="donate-image">
                            <img src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(field.MediaItem)" />
                        </div>
                    }
                    <div class="donate-promo">
                        <h4>@Html.Sitecore().Field("Charity Name", item)</h4>
                        <p>@Html.Sitecore().Field("Charity Description", item)</p>
                    </div>
                    <div class="donate-button">
                        <a href="@Html.Sitecore().Field("Donation Link", item)" class="button green">@Html.Sitecore().Field("Donation Button Text", item)</a>
                    </div>
                </div>
            }
        }
    </div>
</article>