@{
    var paginationHelper = Html.GetPaginationHelper<Sitecore.Data.Items.Item>(Html.Sitecore().CurrentItem.Children);
}
<article class="module marketing wrapper press">
    <div class="press-intro">
        @Html.Sitecore().Field("Intro Text")
    </div>
    <hr />
    @{
        foreach (Sitecore.Data.Items.Item item in paginationHelper.CurrentItems)
        {
            <article class="post">
                <header>
                    <h4><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)">@Html.Sitecore().Field("Title", item)</a></h4>
                    <p class="date">@Html.Sitecore().Field("Posted On Text", item): @Html.Sitecore().Field("Date", item, new {format="MMMM d, yyyy"})</p>
                </header>
                <p>
                    @{
            if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Excerpt", item).ToHtmlString()))
            {
                @Html.Sitecore().Field("Excerpt", item)
            }
            else
            {
                var str = Html.Sitecore().Field("Content", item).ToHtmlString();
                @Html.Raw(str.Substring(0, str.Length > 200 ? 200 : str.Length) + "&hellip;")
            }
                    }
                </p>
                <footer>
                    <p><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)" class="button">@Html.Sitecore().Field("Read Full Post Text")</a></p>
                </footer>
            </article>
        }
        @paginationHelper.GetPaginationHtml()
    }
</article>