<article class="marketing wrapper press">
    <div class="press-intro">
        @Html.Sitecore().Field("Intro Text")
    </div>
    <hr />
    @{
        foreach (Sitecore.Data.Items.Item item in Html.Sitecore().CurrentItem.Children)
        {
            <div class="post">
                <h2>@Html.Sitecore().Field("Title", item)</h2>
                <p class="date">@Html.Sitecore().Field("Posted On Text"): @Sitecore.Web.UI.WebControls.FieldRenderer.Render(item, "Date", "format=MMMM d, yyyy")</p>
                <p>
                 @{
                    if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Excerpt", item).ToHtmlString()))
                    {
                        @Html.Sitecore().Field("Excerpt", item)
                    }
                    else
                    {
                        @Html.Raw(Html.Sitecore().Field("Content", item).ToHtmlString().Substring(0, 200))
                    }
                 }</p>
                <p><a href="@Sitecore.Links.LinkManager.GetItemUrl(item)" class="button">@Html.Sitecore().Field("Read Full Post Text")&hellip;</a></p>
            </div>
        }
    }
</article>