<div id="protectiveFlowServices" class="enrollment showCart" ng-if="stepsService.isStepVisible('protectiveFlowServices')" ng-controller="protectiveServicesEnrollmentCtrl" ng-init="stateNames = @(Html.Action("StateNames", "Data").ToHtmlString()); services = @(Html.Action("GetProtectiveServices", "Data").ToHtmlString()); init();">    
    @Html.Partial("~/Views/Components/Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.Enrollment.ProgressBar { StepNumber = 1, StepTextField = "Step 1 Description Text", HideCart = true })
    <div class="layout">
        <div class="wrapper cols-2 enrollment__protective-services">
            <section>
                <article class="enrollment__box form">
                    <header>
                        <h1>@Html.Sitecore().Field("Heading")</h1>
                    </header>
                    <div class="content" ng-show="showChangeLocation">
                        <div class="select-services">
                            <h4>@Html.Sitecore().Field("Lookup Zip Code Text")</h4>
                            <form name="lookupZipForm" ng-submit="lookupZip()">
                                <label for="zipCode">@Html.Sitecore().Field("Zip Code Text")</label>
                                <input type="text" name="zipCode" class="zip-code" ng-model="postalCode5">
                                <a href="" ng-click="lookupZip()">@Html.Sitecore().Field("Lookup Text")</a>
                            </form>
                            <p class="notice alert" ng-if="zipCodeInvalid">@Html.Sitecore().Field("Zip Code Error Text")</p>
                        </div>
                    </div>
                    <div class="content" ng-hide="showChangeLocation">
                        <div class="select-services">
                            <h4>@Html.Sitecore().Field("Select Your Services Text")</h4>
                            <p>@Html.Sitecore().Field("Current State Text")<span class="location">{{currentState}}</span>. <a href="" class="select-state" ng-click="showChangeLocation = true">@Html.Sitecore().Field("Change State Text")</a></p>
                        </div>
                    </div>
                    <div class="services" ng-if="getActiveService().offerInformationByType.length">
                        <div class="service clearfix" ng-repeat="offer in services | filter:displayOffer" ng-init="showDetails = false; showGroupOfferOptions = false;">
                            <div class="col-1" ng-style="{'background-image': 'URL(' + offer.iconURL + ')'}"></div>
                            <div class="col-2">
                                <p class="name">{{offer.name}}</p>
                                <p class="description">{{offer.description}}</p>
                                <p class="video-required" ng-show="isVideoConferenceState(offer)">@Html.Sitecore().Field("Video Conference Text")</p>
                            </div>
                            <div ng-hide="isExcludedState(offer)">
                                <div class="col-3" ng-if="!offer.isGroupOffer && !offer.hasGroupOffer">
                                    <div class="button" ng-click="selectOffer(offer)" ng-hide="offerSelected(offer.id)">@Html.Sitecore().Field("Select")</div>
                                    <div class="button selected" ng-click="removeOffer(offer.id)" ng-show="offerSelected(offer.id)">
                                        @Html.Sitecore().Field("Button Check")@Html.Sitecore().Field("Selected")
                                    </div>
                                </div>
                                <div class="col-3" ng-class="{options: showGroupOfferOptions}" ng-if="offer.isGroupOffer || offer.hasGroupOffer">
                                    <div class="button selected long" ng-click="removeOffer(offer.id)" ng-show="offerSelected(offer.id) && offer.hasGroupOffer">
                                        @Html.Sitecore().Field("Button Check")@Html.Sitecore().Field("Individual Plan")
                                    </div>
                                    <div class="button selected long" ng-click="removeOffer(offer.id)" ng-show="offerSelected(offer.id) && offer.isGroupOffer">
                                        @Html.Sitecore().Field("Button Check")@Html.Sitecore().Field("Group Plan")
                                    </div>
                                    <div class="button select-plan" ng-click="showGroupOfferOptions = !showGroupOfferOptions" ng-hide="offerSelected(offer.id)">
                                        <p>@Html.Sitecore().Field("Select Plan")</p>
                                        <div class="triangle" ng-class="{rotate: showGroupOfferOptions}"></div>
                                    </div>
                                    <div class="groupOffer clearfix">
                                        <div class="options" ng-show="showGroupOfferOptions">
                                            <div class="option clearfix">
                                                <div class="label" ng-hide="offerSelected(offer.id) && offer.isGroupOffer">
                                                    <a class="name" href="" ng-click="selectOffer(offer); showGroupOfferOptions = false;">@Html.Sitecore().Field("Individual")</a>
                                                </div>
                                                <div class="amount">{{offer.price | currency}}@Html.Sitecore().Field("Per Month Text")</div>
                                                <p class="description">@Html.Sitecore().Field("Individual Details Text")</p>
                                            </div>
                                            <div class="option clearfix">
                                                <div class="label" ng-hide="offerSelected(offer.id) && offer.isGroupOffer">
                                                    <a class="name" href="" ng-click="selectAssociatedOffer(offer); showGroupOfferOptions = false;" >@Html.Sitecore().Field("Family")</a>
                                                </div>
                                                <div class="amount">{{getOfferPrice(offer.associatedOfferId) | currency}}@Html.Sitecore().Field("Per Month Text")</div>
                                                <p class="description">@Html.Sitecore().Field("Group Details Text")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="isExcludedState(offer)">
                                <div class="col-3">
                                    <p>@Html.Sitecore().Field("Service Not Available Text")</p>
                                </div>
                            </div>
                            <div class="show-details" ng-click="showDetails = !showDetails">
                                <a href="" ng-hide="showDetails">@Html.Sitecore().Field("View Details")</a>
                                <a href="" ng-show="showDetails">@Html.Sitecore().Field("Hide Details")</a>
                                <div class="triangle" ng-class="{rotate: showDetails}"></div>
                            </div>
                            <div class="details" ng-show="showDetails">
                                <p>{{offer.name}} @Html.Sitecore().Field("Includes")</p>
                                <div class="lists clearfix">
                                    <ul class="even">
                                        <li ng-repeat="detail in offer.details" class="clearfix" ng-if="$even"><div class="circle"></div><span>{{detail}}</span></li>
                                    </ul>
                                    <ul class="odd">
                                        <li ng-repeat="detail in offer.details" class="clearfix" ng-if="$odd"><div class="circle"></div><span>{{detail}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="buttons">
                    <button type="submit" class="primary" ng-disabled="!isFormValid()" ng-click="completeStep()">@Html.Sitecore().Field("Check Out Text")</button>
                    <button type="submit" class="tertiary" ng-click="resetEnrollment()">@Html.Sitecore().Field("Cancel")</button>
                </div>
            </section>
            <aside>
                <div ng-include src="'cart-template'"></div>
            </aside>
        </div>
    </div>
</div>