@using Sitecore.Form.Web.UI.Controls
@{
    var stateFaqs = new Dictionary<string, List<Sitecore.Data.Items.Item>>();
    foreach (Sitecore.Data.Items.Item item in Html.Sitecore().CurrentItem.Children)
    {
        var faqStatesField = (Sitecore.Data.Fields.MultilistField)item.Fields["FAQ States"];
        foreach (var state in faqStatesField.GetItems())
        {
            if (!stateFaqs.ContainsKey(state.Name))
            {
                stateFaqs.Add(state.Name, new List<Sitecore.Data.Items.Item>());
            }
            stateFaqs[state.Name].Add(item);
        }
    }

    var stateTitleFieldNames = new Dictionary<string, string>()
    {
        {"texas", "Texas Title"},
        {"georgia", "Georgia Title"},
        {"pennsylvania", "Pennsylvania Title"},
        {"maryland", "Maryland Title"},
        {"new-jersey", "New Jersey Title"},
        {"new-york", "New York Title"},
        {"washington-dc", "Washington DC Title"}
    };
}
<div ng-controller="FaqsCtrl">
    <article class="marketing">
        <div class="wrapper">
            <p>@Html.Sitecore().Field("Dropdown Text")</p>
            <select data-ng-model="pane">
                @foreach (var state in stateFaqs.Keys)
                {
                    <option value="@state" selected="@(state == "texas" ? "selected" : null)">@Html.Sitecore().Field(stateTitleFieldNames[state])</option>
                }
            </select>
        </div>
    </article>
    <article class="marketing faq">
        <div class="wrapper">
            @foreach (var state in stateFaqs.Keys)
            {
                <div data-ng-show="pane == @state.ToJson()">
                    <h1>@Html.Sitecore().Field(stateTitleFieldNames[state]) FAQ’s</h1>
                    <dl class="faq">
                        @foreach (var item in stateFaqs[state])
                        {
                            <dt data-collasped onclick="this.hasAttribute('data-collasped') ? this.removeAttribute('data-collasped') : this.setAttribute('data-collasped','data-collasped')">@Html.Sitecore().Field("FAQ Question", item)</dt>
                            <dd>@Html.Sitecore().Field("FAQ Answer", item)</dd>
                        }
                    </dl>
                </div>
            }
        </div>
        <div style="clear: both;"></div>
    </article>
</div>