<div>
    <article class="wrapper cols-2 faq">
        <aside></aside>
        <section class="faq">
            <p class="intro">@Html.Sitecore().Field("Two Column Intro Paragraph")</p>
            <div class="two-column-faq">
                <div class="grid">
                    <div class="col">
                        <h4>@Html.Sitecore().Field("Left Column Header")</h4>
                        <p>@Html.Sitecore().Field("Left Column Content")</p>
                    </div>
                    <div class="col">
                        <h4>@Html.Sitecore().Field("Right Column Header")</h4>
                        @Html.Sitecore().Field("Right Column Content")
                    </div>
                </div>
            </div>
            <div class="feedback clearfix">
                <p>
                @Html.Sitecore().Field("Feedback Question")
                <input id="option" type="radio" name="field" value="option">
                <label for="option">@Html.Sitecore().Field("Radio One Label")</label>
                <input id="option" type="radio" name="field" value="option">
                <label for="option">@Html.Sitecore().Field("Radio Two Label")</label>
                </p>
                <hr />
                <label for="Feedback">@Html.Sitecore().Field("Feedback Paragraph")</label>
                <textarea id="Feedback" name="Feedback" placeholder="Add comments here..." rows="2"></textarea>
                <p>@Html.Sitecore().Field("Button")</p>
            </div>
        </section>
    </article>
</div>

<div>
    <article class="wrapper cols-2 faq">
        <aside></aside>
        <section class="faq">
            <p class="intro">@Html.Sitecore().Field("Intro Paragraph")</p>
            <div class="one-column-faq">
                <h4>@Html.Sitecore().Field("One Column Header")</h4>
                <p>@Html.Sitecore().Field("One Column Content")</p>
            </div>
            <div class="feedback clearfix">
                <p>
                    @Html.Sitecore().Field("Feedback Question")
                    <input id="option" type="radio" name="field" value="option">
                    <label for="option">@Html.Sitecore().Field("Radio One Label")</label>
                    <input id="option" type="radio" name="field" value="option">
                    <label for="option">@Html.Sitecore().Field("Radio Two Label")</label>
                </p>
                <hr />
                <label for="Feedback">@Html.Sitecore().Field("Feedback Paragraph")</label>
                <textarea id="Feedback" name="Feedback" placeholder="Add comments here..." rows="2"></textarea>
                <p>@Html.Sitecore().Field("Button")</p>
            </div>
        </section>
    </article>
</div>