<article class="marketing leader">
    <div class="wrapper">
        <p class="img">@Html.Sitecore().Field("Image")</p>
        <h1>@Html.Sitecore().Field("First Name") @Html.Sitecore().Field("Last Name")</h1>
        <h2>@Html.Sitecore().Field("Location")</h2>
        @Html.Sitecore().Field("Description")
    </div>
</article>