@{
    var hideSuperFooterField = Html.Sitecore().CurrentItem.Fields["Hide Super Footer"] ?? Sitecore.Context.Item.Fields["Hide Super Footer"];
    var showSuperFooter = hideSuperFooterField == null || hideSuperFooterField.Value != "1";

    var supportEMail = Html.Sitecore().CurrentItem["Support E-Mail"];
}
<footer class="site-footer">
    <address>
        <div class="wrapper">
            <div class="support-text">@Html.Sitecore().Field("Support Message")</div>
            <p class="support-number"><a href="@Html.Sitecore().CurrentItem["Support Phone Number URI"]"><img src="~/frontend/assets/i/marketing/redesign/call-icon.png" alt="@Html.Sitecore().Translate("Call"):"> @Html.Sitecore().Field("Support Phone Number")</a></p>
            <p class="support-email"><a href="mailto:@supportEMail"><img src="~/frontend/assets/i/marketing/redesign/email-icon.png" alt="E-Mail:"> @Html.Sitecore().Field("Support E-Mail")</a></p>
            <div class="clear"></div>
        </div>
    </address>
    <div class="wrapper">
        @if (showSuperFooter)
        {
            <div class="grid five">
            @foreach (var linkGroupItem in Html.Sitecore().CurrentItem.Children.Where(item => item.TemplateName == "Link Group"))
            {
                <div class="col">
                    <h3>@Html.Sitecore().Field("Name", linkGroupItem)</h3>
                    <ul>
                        @foreach (var navigationItemItem in linkGroupItem.Children.Where(item => item.TemplateName == "Navigation Item"))
                        {
                            <li>@Html.Sitecore().Field("Navigation Link", navigationItemItem)</li>
                        }
                    </ul>
                </div>
            }
            </div>
            <ul>
                <li><a href="https://www.facebook.com/1streamenergy" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="http://twitter.com/1streamenergy" target="_blank"><i class="icon-twitter"></i></li>
                <li><a href="http://www.youtube.com/user/StreamEnergy1" target="_blank"><i class="icon-youtube"></i></a></li>
                <li><a href="http://www.pinterest.com/streamenergy/" target="_blank"><i class="icon-pinterest"></i></a></li>
            </ul>
        }
        <div class="site-footer-legal">
            <p>
                <small class="legal">
                    @Html.Sitecore().Field("Copyright Content")
                </small>
            </p>
            <!--<p class="site-footer-bba-dsa">
                <a href="http://www.bbb.org/dallas/business-reviews/electric-companies/stream-energy-in-dallas-tx-90018895"><abbr title="Better Business Bureau®"><img src="~/frontend/assets/i/marketing/redesign/bbb_logo.png" alt="BBB"></abbr></a> <a href="http://www.dsa.org/ethics/"><abbr title="Direct Selling Association"><img src="~/frontend/assets/i/marketing/redesign/dsa_logo.png" alt="DSA"></abbr></a>
            </p>-->
            <ul>
                <li><a href="http://www.bbb.org/dallas/business-reviews/electric-companies/stream-energy-in-dallas-tx-90018895" target="_blank"><i class="icon-bbb"></i></a></li>
                <li><a href="http://www.dsa.org/ethics/" target="_blank"><i class="icon-dsa"></i></a></li>
            </ul>
        </div>
    </div>
</footer>