@{
    var hideSuperFooterField = Html.Sitecore().CurrentItem.Fields["Hide Super Footer"] ?? Sitecore.Context.Item.Fields["Hide Super Footer"];
    var showSuperFooter = hideSuperFooterField == null || hideSuperFooterField.Value != "1";

    var supportEMail = Html.Sitecore().CurrentItem["Support E-Mail"];
}
<footer class="site-footer">
    <address>
        <div class="wrapper">
            <div class="support-text">@Html.Sitecore().Field("Support Message")</div>
            <p class="support-number"><a href="@Html.Sitecore().CurrentItem["Support Phone Number URI"]"><img src="~/frontend/assets/i/marketing/redesign/call-icon.png" alt="@Html.Sitecore().Translate("Call"):"> @Html.Sitecore().Field("Support Phone Number")</a></p>
            <p class="support-email"><a href="mailto:@supportEMail"><img src="~/frontend/assets/i/marketing/redesign/email-icon.png" alt="E-Mail:"> @Html.Sitecore().Field("Support E-Mail")</a></p>
            <div class="clear"></div>
        </div>
    </address>
    <div class="group">
        <div class="wrapper">
            @if (showSuperFooter)
            {
                <nav>
                    @foreach (var linkGroupItem in Html.Sitecore().CurrentItem.Children.Where(item => item.TemplateName == "Link Group"))
                    {
                        <div>
                            <h3>@Html.Sitecore().Field("Name", linkGroupItem)</h3>
                            <ul>
                                @foreach (var navigationItemItem in linkGroupItem.Children.Where(item => item.TemplateName == "Navigation Item"))
                                {
                                    <li>@Html.Sitecore().Field("Navigation Link", navigationItemItem)</li>
                                }
                            </ul>
                        </div>
                    }
                    <img class="social" src="~/frontend/assets/i/marketing/redesign/social.png" usemap="#SocialMap-Footer-Global">
                    <map id="SocialMap-Footer-Global" name="SocialMap-Footer-Global">
                        <area alt="Facebook" coords="0,0,33,33" href="https://www.facebook.com/1streamenergy">
                        <area alt="Twitter" coords="49,0,82,33" href="http://twitter.com/1streamenergy">
                        <area alt="YouTube" coords="103,0,136,33" href="http://www.youtube.com/user/StreamEnergy1">
                        <area alt="Pinterest" coords="156,0,189,33" href="http://www.pinterest.com/streamenergy/">
                    </map>
                    <div style="clear: both"></div>
                </nav>
            }
            <div class="site-footer-legal">
                <p>
                    <small class="legal">
                        @Html.Sitecore().Field("Copyright Content")
                    </small>
                </p>
                <p class="site-footer-bba-dsa">
                    <a href="http://www.bbb.org/dallas/business-reviews/electric-companies/stream-energy-in-dallas-tx-90018895"><abbr title="Better Business Bureau®"><img src="~/frontend/assets/i/marketing/redesign/bbb_logo.png" alt="BBB"></abbr></a> <a href="http://www.dsa.org/ethics/"><abbr title="Direct Selling Association"><img src="~/frontend/assets/i/marketing/redesign/dsa_logo.png" alt="DSA"></abbr></a>
                </p>
            </div>
        </div>
    </div>
</footer>