@{
    var hideSuperFooterField = Html.Sitecore().CurrentItem.Fields["Hide Super Footer"] ?? Sitecore.Context.Item.Fields["Hide Super Footer"];
    var showSuperFooter = hideSuperFooterField == null || hideSuperFooterField.Value != "1";

    var supportEMail = Html.Sitecore().CurrentItem["Support E-Mail"];
}
<footer class="site-footer">
    <div class="contact">
        <div class="wrapper">
            <div class="grid three">
                <div class="col support">@Html.Sitecore().Field("Support Message")</div>
                <div class="col"><a href="@Html.Sitecore().CurrentItem["Support Phone Number URI"]"><i class="icon-call"></i> @Html.Sitecore().Field("Support Phone Number")</a></div>
                <div class="col"><a href="mailto:@supportEMail"><i class="icon-email"></i> @Html.Sitecore().Field("Support E-Mail")</a></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        @if (showSuperFooter)
        {
            <div class="grid five links">
            @foreach (var linkGroupItem in Html.Sitecore().CurrentItem.Children.Where(item => item.TemplateName == "Link Group"))
            {
                <div class="col">
                    <h4>@Html.Sitecore().Field("Name", linkGroupItem)</h4>
                    <ul>
                        @foreach (var navigationItemItem in linkGroupItem.Children.Where(item => item.TemplateName == "Navigation Item"))
                        {
                            <li>@Html.Sitecore().Field("Navigation Link", navigationItemItem)</li>
                        }
                    </ul>
                </div>
            }
            </div>
            <div class="logos">
                <a href="/" class="logo">Stream</a>
                <ul>
                    <li><a href="https://www.facebook.com/1streamenergy" target="_blank"><i class="icon-facebook"></i></a></li>
                    <li><a href="http://twitter.com/1streamenergy" target="_blank"><i class="icon-twitter"></i></li>
                    <li><a href="http://www.youtube.com/user/StreamEnergy1" target="_blank"><i class="icon-youtube"></i></a></li>
                    <li><a href="http://www.pinterest.com/streamenergy/" target="_blank"><i class="icon-pinterest"></i></a></li>
                </ul>
            </div>
        }
        <div class="site-footer-legal">
            <ul>
                <li><a href="http://www.bbb.org/dallas/business-reviews/electric-companies/stream-energy-in-dallas-tx-90018895" target="_blank"><i class="icon-bbb"></i></a></li>
                <li><a href="http://www.dsa.org/ethics/" target="_blank"><i class="icon-dsa"></i></a></li>
            </ul>
            <p>
                @Html.Sitecore().Field("Copyright Content")
            </p>
        </div>
    </div>
    <div class="legal">
        <div class="wrapper">
            @Html.Sitecore().Field("Legal Links")
        </div>
    </div>
</footer>