<article class="marketing gridPromos">
    <div class="wrapper">
        @{
            var divClass = "two";
            if (!string.IsNullOrEmpty(Html.Sitecore().CurrentItem.Fields["Promo Four Header"].Value))
            {
                divClass = "four";
            }
            else if (!string.IsNullOrEmpty(Html.Sitecore().CurrentItem.Fields["Promo Three Header"].Value))
            {
                divClass = "three";
            }
            <div class="grid @divClass">
                @{
                    var colors = Sitecore.Context.Database.GetItem("/sitecore/content/Data/Taxonomy/Modules/Colors").Children;
                    foreach (var num in new string[] { "Promo One", "Promo Two", "Promo Three", "Promo Four" })
                    {
                        var accentColorField = Html.Sitecore().CurrentItem.Fields[num + " Accent"];

                        var classes = "";
                        if (colors.Any(c => c.Name == accentColorField.Value))
                        {
                            classes = "accent-" + colors.First(c => c.Name == accentColorField.Value).Fields["CSS Class"].Value;
                        }
                        <div class="col @classes">
                            @Html.Sitecore().Field(num + " Image")
                            <h4>@Html.Sitecore().Field(num + " Header")</h4>
                            <p>@Html.Sitecore().Field(num + " Content")</p>
                            <p>@Html.Sitecore().Field(num + " Button")</p>
                        </div>
                    }
                }
            </div>
        }
    </div>
</article>