@using System.Collections.Specialized
@using Sitecore.ContentSearch.ComputedFields
@using Sitecore.Links
@using StreamEnergy.MyStream.Utility
@{
    Func<string, bool> isLanguageSpanish = languageTag => languageTag.ToLowerInvariant() == "es" || languageTag.StartsWith("es-", StringComparison.InvariantCultureIgnoreCase);
    var languageLinkUrlLanguage = isLanguageSpanish(Sitecore.Context.Language.Name) ? "en" : "es";
    var languageLinkText = isLanguageSpanish(Sitecore.Context.Language.Name) ? "In English" : "En Español";
    var languageLinkUrl = LinkManager.GetItemUrl(Sitecore.Context.Item, new UrlOptions()
    {
        Language = Sitecore.Globalization.Language.Parse(languageLinkUrlLanguage),
    });

    var selectedNode = SiteMap.CurrentNode;
    int? selectedNodeLevel = null;
    if (selectedNode == null)
    {
        var provider = SiteMap.Provider as NavigationSiteMapProvider;
        if (provider != null)
        {
            selectedNode = Sitecore.Context.Item.GetAncestors().Select(provider.FindSiteMapNode).FirstOrDefault(node => node != null);
        }
    }

    ItemSiteMapNode thirdLevelRootNode = null;
    if (selectedNode != null)
    {
        selectedNodeLevel = selectedNode.Level();
        thirdLevelRootNode = selectedNodeLevel.Value < 2 ? null : (selectedNodeLevel.Value == 2 ? selectedNode : selectedNode.GetAncestor(selectedNodeLevel.Value - 3)) as ItemSiteMapNode;
    }

    var topLevelNavigation = SiteMap.RootNode.ChildNodes.Cast<ItemSiteMapNode>().Select((n, i) => new { Value = n, Number = i + 1 }).ToArray();
    var selectedNavItem = topLevelNavigation.Where(node => selectedNode != null && (node.Value.Key == selectedNode.Key || selectedNode.IsDescendantOf(node.Value))).Select(node => node.Number).FirstOrDefault();
    var accountDataSourceItem = Sitecore.Context.Database.GetItem("{E67AB785-3CBA-41DE-8060-DC389CA4F13A}");

    var settings = StreamEnergy.Unity.Container.Instance.Resolve<StreamEnergy.ISettings>();
    var enableLanguageLink = !string.IsNullOrEmpty(settings.GetSettingsField("Language Link", "Enable Language Link").Value);

}
<header class="site-header" main-nav="@selectedNavItem" data-fixed-fix>
    <script id="mobileNav" type="text/ng-template">
        <nav class="mobile-nav" mobile-nav="@selectedNavItem">
            <ul>
                @foreach (var node in topLevelNavigation)
                {
                    <li ng-class="{ opened: subnav == @node.Number }">
                        <span>
                            @if (node.Value.HasChildNodes)
                            {
                                <span class="arrow" ng-click="toggleSubnav(@node.Number)"><i ng-class="{'icon-nav-arrow-expanded': subnav == @node.Number, 'icon-nav-arrow-collapsed': subnav != @node.Number}"></i></span>
                            }
                            @Html.Sitecore().Field("Navigation Link", node.Value.Item)
                        </span>
                        @if (node.Value.HasChildNodes)
                        {
                            <ul ng-hide="subnav != @node.Number">
                                @foreach (ItemSiteMapNode childNode in node.Value.ChildNodes)
                                {
                                    <li>@Html.Sitecore().Field("Navigation Link", childNode.Item)</li>
                                }
                            </ul>
                        }
                    </li>
                }
                @if (!Sitecore.Context.IsLoggedIn)
                {
                    if (enableLanguageLink)
                    {
                        <li><a href="@languageLinkUrl" hreflang="@languageLinkUrlLanguage" lang="@languageLinkUrlLanguage" translate="no">@languageLinkText</a></li>
                    }
                    <li><a href="/pay/">@Html.Sitecore().Field("Pay Bill text", accountDataSourceItem)</a></li>
                    <li><a href="/auth/login">@Html.Sitecore().Field("Manage text", accountDataSourceItem)</a></li>
                }
                else
                {
                    <li><a href="/account">@Html.Sitecore().Field("Account text", accountDataSourceItem)</a></li>
                    <li><a href="/account/profile">@Html.Sitecore().Field("My Profile text", accountDataSourceItem)</a></li>
                    <li><a href="/api/authentication/logout">@Html.Sitecore().Field("Sign Out text", accountDataSourceItem)</a></li>
                }
            </ul>
        </nav>
    </script>
    <div class="wrapper">
        <a href="/" class="logo">Stream</a>
        <div class="utility">
            @if (Sitecore.Context.IsLoggedIn)
            {
                <text>Welcome,</text>
                @Sitecore.Context.User.LocalName
                <ul>
                    <li><a href="/account">@Html.Sitecore().Field("Account text", accountDataSourceItem)</a></li>
                    <li><a href="/account/profile">@Html.Sitecore().Field("My Profile text", accountDataSourceItem)</a></li>
                    <li><a href="/api/authentication/logout">@Html.Sitecore().Field("Sign Out text", accountDataSourceItem)</a></li>
                </ul>
            }
            else
            {
                <ul>
                    @if (enableLanguageLink)
                    {
                    <li><a href="@languageLinkUrl" hreflang="@languageLinkUrlLanguage" lang="@languageLinkUrlLanguage" translate="no">@languageLinkText</a></li>
                    }
                    <li><a href="/pay/">@Html.Sitecore().Field("Pay Bill text", accountDataSourceItem)</a></li>
                    <li class="dropdown" ng-class="{ active: dropdownMenu }">
                        <a href="" class="dropdown-toggle" ng-click="dropdownMenu = !dropdownMenu;" ng-class="{ activeblock: dropdownMenu }">
                            @Html.Sitecore().Field("Account text", accountDataSourceItem)
                        </a>
                        <div class="login dropdown-menu" ng-hide="!dropdownMenu" loading-indicator ng-cloak>
                            <h4>@Html.Sitecore().Field("Login Dropdown Header", accountDataSourceItem)</h4>
                            <form ng-submit="login()">
                                <div>
                                    <input data-val="true" id="Username" name="Username" ng-model="formData.username" type="text" value="" placeholder="@Html.Sitecore().Field("Login Dropdown Username Label", accountDataSourceItem)">
                                </div>
                                <div>
                                    <input data-val="true" id="Password" name="Password" ng-model="formData.password" type="password" placeholder="@Html.Sitecore().Field("Login Dropdown Password Label", accountDataSourceItem)">
                                </div>
                                <div class="button">
                                    <button type="submit" data-val-submit="">@Html.Sitecore().Field("Login Dropdown Button Text", accountDataSourceItem)</button>
                                </div>
                                <div class="forgot">
                                        @Html.Sitecore().Field("Login Dropdown Forgot Credentials", accountDataSourceItem)
                                        @Html.Sitecore().Field("Login Dropdown Forgot Username", accountDataSourceItem)
                                        @Html.Sitecore().Field("Login Dropdown Forgot Credentials Divider", accountDataSourceItem)
                                        @Html.Sitecore().Field("Login Dropdown Forgot Password", accountDataSourceItem)
                                </div>
                                <div class="create-account">
                                        @Html.Sitecore().Field("Login Dropdown Signup Content", accountDataSourceItem)
                                        @Html.Sitecore().Field("Login Dropdown Signup Link", accountDataSourceItem)
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            }
        </div>
        <a href="" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
        <nav class="main-nav">
            <ul class="wrapper">
                @foreach (var node in topLevelNavigation)
                {
                    <li class="nav-@node.Number nav-@node.Value.Item.Name.ToLowerInvariant()" ng-mouseover="showSubnav(@node.Number)" ng-mouseout="hideSubnav()" ng-class="{ selected: subnav==@node.Number }">@Html.Sitecore().Field("Navigation Link", @node.Value.Item)</li>
                }
            </ul>
        </nav>
    </div>
    <nav class="sub-nav">
        @foreach (var node in topLevelNavigation)
        {
            <div class="wrapper" sub-nav="@node.Number" ng-cloak ng-class="{ hidden: subnav != @node.Number }" ng-mouseover="showSubnav(@node.Number)" ng-mouseout="hideSubnav()">
                <ul ng-style="{'margin-left': marginLeft}">
                    @foreach (ItemSiteMapNode childNode in node.Value.ChildNodes)
                    {
                        var selected = selectedNode != null && (childNode.Url == selectedNode.Url || childNode.Key == selectedNode.Key || selectedNode.IsDescendantOf(childNode));
                        <li class="@(selected ? "selected" : null)">@Html.Sitecore().Field("Navigation Link", childNode.Item)</li>
                    }
                    @if (!node.Value.HasChildNodes)
                    {
                        <li><a>&nbsp;</a></li>
                    }
                </ul>
            </div>
        }
    </nav>
</header>
@{
    var bannerImage = Sitecore.Context.Item.Fields["Banner Image"];
    var bannerText = Sitecore.Context.Item.Fields["Banner Text"];
    var pageTitle = Sitecore.Context.Item.Fields["Page Title"];
    var bannerCssClassField = Sitecore.Context.Item.Fields["Banner CSS Classes"];
}
@if (bannerImage != null && !string.IsNullOrEmpty(bannerImage.ToString()))
{
    <div class="banner @(bannerCssClassField != null && !string.IsNullOrEmpty(bannerCssClassField.Value) ? bannerCssClassField.Value : "marketing")" style="@Html.AsBackgroundStyle("Banner Image", Sitecore.Context.Item)">
        <div class="inner">
            <div class="wrapper">
                @if (bannerText != null && !string.IsNullOrEmpty(bannerText.Value))
                {
                    <h1>@Html.Raw(bannerText.Value)</h1>
                }
                else if (pageTitle != null && !string.IsNullOrEmpty(pageTitle.Value))
                {
                    <h1>@pageTitle.Value</h1>
                }
            </div>
        </div>
    </div>
}

@{ 
    var tertiaryNavCssClassField = Sitecore.Context.Item.Fields["Tertiary Nav CSS Class"];
}
@if (selectedNodeLevel > 2 || selectedNodeLevel == 2 && selectedNode.HasChildNodes)
{
    <nav class="tertiary-nav @(tertiaryNavCssClassField != null && !string.IsNullOrEmpty(tertiaryNavCssClassField.Value) ? tertiaryNavCssClassField.Value : "")">
        @if (thirdLevelRootNode != null)
        {
            <div class="wrapper">
                <ul ng-style="{'margin-left': marginLeft}">
                    @foreach (ItemSiteMapNode childNode in thirdLevelRootNode.ChildNodes)
                    {
                        var selected = childNode.Url == selectedNode.Url || childNode.Key == selectedNode.Key || selectedNode.IsDescendantOf(childNode);
                        <li class="@(selected ? "selected" : null)">@Html.Sitecore().Field("Navigation Link", childNode.Item)</li>
                    }
                </ul>
            </div>
        }
    </nav>
}
@Html.Sitecore().Placeholder("header extra")