@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Links
@using StreamEnergy.MyStream.Utility
@{
    Func<string, bool> isLanguageSpanish = languageTag => languageTag.ToLowerInvariant() == "es" || languageTag.StartsWith("es-", StringComparison.InvariantCultureIgnoreCase);
    var languageLinkUrlLanguage = isLanguageSpanish(Sitecore.Context.Language.Name) ? "en" : Sitecore.Context.Language.Name;
    var languageLinkText = isLanguageSpanish(languageLinkUrlLanguage) ? "In English" : "En Español";
    var languageLinkUrl = LinkManager.GetItemUrl(Sitecore.Context.Item, new UrlOptions()
    {
        Language = Sitecore.Globalization.Language.Parse(languageLinkUrlLanguage),
    });

    const string openTag = "article";

    if (Context.Items["openTag"] == null)
    {
        Context.Items.Add("openTag", openTag);
    }

}
@helper NavigationAnchor(Item item)
{
    var navigationLinkField = (LinkField)item.Fields["Navigation Link"];
    if (navigationLinkField == null || (navigationLinkField.TargetID.IsNull && string.IsNullOrEmpty(navigationLinkField.Url)))
    {
        @item.Name
    }
    else
    {
        @Html.Sitecore().Field("Navigation Link", item)
    }
}

@helper NavigationListItem(Item item, bool selected)
{
    if (selected)
    {
        <b>@NavigationAnchor(item)</b>
    }
    else
    {
        @NavigationAnchor(item)
    }
}
<header>
    <div class="content">
        <h1><a href="/"><img src="/Images/Logo.png" alt="Stream - Connected Home"></a></h1>
        <aside id="UserActions-Header-Global">
            @if (Sitecore.Context.IsLoggedIn)
            {
                <text>Welcome,&nbsp;</text>@Sitecore.Context.User.LocalName<text>&nbsp;&nbsp;&nbsp;</text><a href="/account">My Account</a><text>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</text><a href="/account/profile">My Profile</a><text>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</text><a href="/api/authentication/logout">Logout</a>
            }
            else
            {
                <a href="@languageLinkUrl" hreflang="@languageLinkUrlLanguage" lang="@languageLinkUrlLanguage" translate="no">@languageLinkText.Replace(" ", "\u00A0")</a><text>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</text><span style="letter-spacing: 0.026em;"><a href="/manage/">My&nbsp;Account</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">Pay&nbsp;My&nbsp;Bill</a></span>
            }
        </aside>
        <ol>
            @{
                var selectedNode = SiteMap.CurrentNode;
                if (selectedNode == null)
                {
                    var provider = SiteMap.Provider as NavigationSiteMapProvider;
                    if (provider != null)
                    {
                        selectedNode = Sitecore.Context.Item.GetAncestors().Select(provider.FindSiteMapNode).FirstOrDefault(node => node != null);
                    }
                }

                string headingLevel2 = null;
                foreach (ItemSiteMapNode node in SiteMap.RootNode.ChildNodes)
                {
                    var selected = selectedNode != null && (selectedNode.Key == node.Key || selectedNode.IsDescendantOf(node));
                    <li id="@Html.Id(node.Item.Name)-NavigationItem-Navigation-Global">
                        @NavigationListItem(node.Item, selected)
                        @if (selected && node.HasChildNodes)
                        {
                            var navigationLinkField = (LinkField)node.Item.Fields["Navigation Link"];
                            headingLevel2 = navigationLinkField.Text;
                            <ol>
                                @foreach (ItemSiteMapNode childNode in node.ChildNodes)
                                {
                                    selected = selectedNode.Key == childNode.Key || selectedNode.IsDescendantOf(childNode);
                                    if (selected)
                                    {
                                        navigationLinkField = childNode.Item.Fields["Navigation Link"];
                                        headingLevel2 = navigationLinkField.Text;
                                    }
                                    <li>
                                        @NavigationListItem(childNode.Item, selected)
                                    </li>
                                }
                            </ol>
                        }
                    </li>
                }
            }
        </ol>
    </div>
</header>
@if (!string.IsNullOrEmpty(openTag))
{
    @Html.Raw(string.Format("<{0}>", openTag))
}
<header>
    <h2 style="@Html.AsBackgroundStyle("Banner Image", Sitecore.Context.Item)">
        <span><span>@headingLevel2</span></span>
    </h2>
    <div class="content">
        @{
            if (selectedNode != null)
            {
                var level = selectedNode.Level();
                if (level >= 2)
                {
                    var rootNode = (level == 2 ? selectedNode : selectedNode.GetAncestor(level - 2)) as ItemSiteMapNode;
                    var navigationLinkField = (LinkField)rootNode.Item.Fields["Navigation Link"];
                    <ol>
                        <li>
                            @if (navigationLinkField.TargetID == Sitecore.Context.Item.ID)
                            {
                                <b><a href="@(string.IsNullOrEmpty(rootNode.Url) ? null :rootNode.Url)" target="@(string.IsNullOrEmpty(navigationLinkField.Target) ? null : navigationLinkField.Target)" title="@(string.IsNullOrEmpty(navigationLinkField.Title) ? null : navigationLinkField.Title)">Overview</a></b>
                            }
                            else
                            {
                                <a href="@(string.IsNullOrEmpty(rootNode.Url) ? null :rootNode.Url)" target="@(string.IsNullOrEmpty(navigationLinkField.Target) ? null : navigationLinkField.Target)" title="@(string.IsNullOrEmpty(navigationLinkField.Title) ? null : navigationLinkField.Title)">Overview</a>
                            }
                        </li>
                        @foreach (ItemSiteMapNode childNode in rootNode.ChildNodes)
                        {
                            <li>
                                @NavigationListItem(childNode.Item, selectedNode.Key == childNode.Key || selectedNode.IsDescendantOf(childNode))
                            </li>
                        }
                    </ol>
                }
            }
        }
    </div>
    @Html.Sitecore().Placeholder("HeaderExtra")
</header>