@{
    var parentMenu = Html.Sitecore().CurrentItem;
    var currentID = Sitecore.Context.Item.ID;
    var parentID = Sitecore.Context.Item.ParentID;
    var targetObject = from entry in parentMenu.Children.OfType<Sitecore.Data.Items.Item>().Select((item, index) => new { item, index })
                       let field = (Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]
                       let targetItem = ((Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]).TargetItem
                       select new
                       {
                           Item = entry.item,
                           SubNavNum = entry.index + 1,
                           Selected = targetItem != null && targetItem.ID == currentID,
                           SubNavItems = from Sitecore.Data.Items.Item subitem in entry.item.Children
                                         let subTargetItem = ((Sitecore.Data.Fields.LinkField)subitem.Fields["Navigation Link"]).TargetItem
                                         select new
                                         {
                                             Item = subitem,
                                             Selected = subTargetItem != null && (subTargetItem.ID == currentID || subTargetItem.ID == parentID),
                                         }
                       };

    // Included ToArray to force Select to happen once, even though we have two foreach
    var target = targetObject.ToArray();
    int selectedNavItem = 0;
    var selectedParentItem = target.FirstOrDefault(i => i.Selected || i.SubNavItems.Any(si => si.Selected));
    if (selectedParentItem != null)
    {
        selectedNavItem = selectedParentItem.SubNavNum;
    }

    var languageLinkUrlLanguage = (Sitecore.Context.Language.Name == "es") ? "en" : "es";
    var languageLinkText = (Sitecore.Context.Language.Name == "es") ? "English" : "Español";
    
    var languageLinkUrl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item, new Sitecore.Links.UrlOptions()
    {
        Language = Sitecore.Globalization.Language.Parse(languageLinkUrlLanguage),
    });
    var languageLink = string.Format(@"<a href=""{0}"">{1}</a>", languageLinkUrl, languageLinkText);
    
    <header class="site-header" main-nav="@selectedNavItem" data-fixed-fix>
        <script id="mobileNav" type="text/ng-template">
            <nav class="mobile-nav" mobile-nav="@selectedNavItem">
                <ul>
                    @foreach (var item in target)
                    {
                        <li ng-class="{ opened: subnav == @item.SubNavNum }">
                            <span>
                                @if (item.SubNavItems.Any())
                                {
                                    <span class="arrow" ng-click="toggleSubnav(@item.SubNavNum)"><i ng-class="{'icon-nav-arrow-expanded': subnav == @item.SubNavNum, 'icon-nav-arrow-collapsed': subnav != @item.SubNavNum}"></i></span>
                                }
                                @Html.Sitecore().Field("Navigation Link", item.Item)
                            </span>
                            @if (item.SubNavItems.Any())
                            {
                                <ul ng-hide="subnav != @item.SubNavNum">
                                    @foreach (var subItem in item.SubNavItems)
                                    {
                                        <li>@Html.Sitecore().Field("Navigation Link", subItem.Item)</li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                    <li><a href="/pay/" class="button">Pay My Bill</a></li>
                    <li>@Html.Raw(languageLink)</li>
                    <li><a href="/manage/">Manage My Account</a></li>
                </ul>
            </nav>
        </script>
        <div class="wrapper">
            <a href="/" class="logo">Logo</a>
            <p class="utility"><!--@Html.Raw(languageLink) | --><a href="/manage/">Manage My Account</a></p>
            <a href="" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
            <nav class="main-nav">
                <ul class="wrapper">
                    @foreach (var item in target)
                    {
                        <li class="nav-@item.SubNavNum" ng-mouseover="showSubnav(@item.SubNavNum)" ng-mouseout="hideSubnav()" ng-class="{ selected: subnav==@item.SubNavNum }">@Html.Sitecore().Field("Navigation Link", item.Item)</li>
                    }
                    <li class="pay"><a href="/pay/" class="button">Pay My Bill</a></li>
                </ul>
            </nav>
        </div>
        <nav class="sub-nav">
            @foreach (var entry in target)
            {
                <div class="wrapper" sub-nav="@entry.SubNavNum" ng-cloak ng-class="{ hidden: subnav != @entry.SubNavNum }" ng-mouseover="showSubnav(@entry.SubNavNum)" ng-mouseout="hideSubnav()">
                    <ul ng-style="{'margin-left': marginLeft}">
                        @foreach (var subItem in entry.SubNavItems)
                        {
                            <li @if (subItem.Selected) { @Html.Raw("class=\"selected\""); }>@Html.Sitecore().Field("Navigation Link", subItem)</li>
                        }
                        @if (!entry.SubNavItems.Any())
                        {
                            <li><a>&nbsp;</a></li>
                        }
                    </ul>
                </div>
            }
        </nav>
    </header>
}