@{
    var parentMenu = Html.Sitecore().CurrentItem;
    var targetObject = from entry in parentMenu.Children.OfType<Sitecore.Data.Items.Item>().Select((item, index) => new { item, index })
                       let field = (Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]
                       select new
                       {
                           Item = entry.item,
                           SubNavNum = entry.index + 1,
                           SubNavItems = from Sitecore.Data.Items.Item subitem in entry.item.Children
                                         select subitem
                       };

    // Included ToArray to force Select to happen once, even though we have two foreach
    var target = targetObject.ToArray();
    var currentID = Sitecore.Context.Item.ID;
    int selectedItemParent = 0;

    foreach (var item in target)
    {
        if (((Sitecore.Data.Fields.LinkField)item.Item.Fields["Navigation Link"]).TargetItem.ID == currentID)
        {
            selectedItemParent = item.SubNavNum;
            break;
        }
        foreach (var subItem in item.SubNavItems)
        {
            var targetItem = ((Sitecore.Data.Fields.LinkField)subItem.Fields["Navigation Link"]).TargetItem;
            if (targetItem != null && targetItem.ID == currentID)
            {
                selectedItemParent = item.SubNavNum;
                break;
            }
        }
    }

    <header class="site-header" main-nav="@selectedItemParent">
        <script id="mobileNav" type="text/ng-template">
            <nav class="mobile-nav" mobile-nav="@selectedItemParent">
                <ul>
                    @foreach (var item in target)
                    {
                        <li ng-class="{ opened: subnav == @item.SubNavNum }">
                            <span>
                                @if (item.SubNavItems.Any())
                                {
                                    <span class="arrow" ng-click="toggleSubnav(@item.SubNavNum)"><i ng-class="{'icon-nav-arrow-expanded': subnav == @item.SubNavNum, 'icon-nav-arrow-collapsed': subnav != @item.SubNavNum}"></i></span>
                                }
                                @Html.Sitecore().Field("Navigation Link", item.Item)
                            </span>
                            @if (item.SubNavItems.Any())
                            {
                                <ul ng-hide="subnav != @item.SubNavNum">
                                    @foreach (var subItem in item.SubNavItems)
                                    {
                                        <li>@Html.Sitecore().Field("Navigation Link", subItem)</li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                    <li><a href="/manage/">Manage My Account</a></li>
                </ul>
            </nav>
        </script>
        <div class="wrapper">
            <a href="/" class="logo">Logo</a>
            <p class="utility"><a href="/manage/">Manage My Account</a></p>
            <a href="" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
            <nav class="main-nav">
                <ul class="wrapper">
                    @foreach (var item in target)
                    {
                        <li ng-mouseover="showSubnav(@item.SubNavNum)" ng-mouseout="hideSubnav()" ng-class="{ selected: subnav==@item.SubNavNum }">@Html.Sitecore().Field("Navigation Link", item.Item)</li>
                    }
                </ul>
            </nav>
        </div>
        <nav class="sub-nav">
            @foreach (var entry in target)
            {
                <ul class="wrapper" ng-class="{ hidden: subnav != @entry.SubNavNum }" ng-mouseover="showSubnav(@entry.SubNavNum)" ng-mouseout="hideSubnav()">
                    @foreach (var subItem in entry.SubNavItems)
                    {
                        <li>@Html.Sitecore().Field("Navigation Link", subItem)</li>
                    }
                    @if (!entry.SubNavItems.Any())
                    {
                        <li><a>&nbsp;</a></li>
                    }
                </ul>
            }
        </nav>
    </header>
}
