@{
    var parentMenu = Html.Sitecore().CurrentItem;
    var currentID = Sitecore.Context.Item.ID;
    var parentID = Sitecore.Context.Item.ParentID;
    var targetObject = from entry in parentMenu.Children.OfType<Sitecore.Data.Items.Item>().Select((item, index) => new { item, index })
                       let field = (Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]
                       let targetItem = ((Sitecore.Data.Fields.LinkField)entry.item.Fields["Navigation Link"]).TargetItem
                       select new
                       {
                           Item = entry.item,
                           SubNavNum = entry.index + 1,
                           Selected = targetItem != null && targetItem.ID == currentID,
                           SubNavItems = from Sitecore.Data.Items.Item subitem in entry.item.Children
                                         let subTargetItem = ((Sitecore.Data.Fields.LinkField)subitem.Fields["Navigation Link"]).TargetItem
                                         select new
                                         {
                                             Item = subitem,
                                             Selected = subTargetItem != null && (subTargetItem.ID == currentID || subTargetItem.ID == parentID),
                                         }
                       };

    // Included ToArray to force Select to happen once, even though we have two foreach
    var target = targetObject.ToArray();
    var selectedNavItem = 0;
    var selectedParentItem = target.FirstOrDefault(i => i.Selected || i.SubNavItems.Any(si => si.Selected));
    if (selectedParentItem != null)
    {
        selectedNavItem = selectedParentItem.SubNavNum;
    }

    var languageLinkUrlLanguage = (Sitecore.Context.Language.Name == "es") ? "en" : "es";
    var languageLinkText = (Sitecore.Context.Language.Name == "es") ? "In English" : "En Español";

    var languageLinkUrl = Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item, new Sitecore.Links.UrlOptions()
    {
        Language = Sitecore.Globalization.Language.Parse(languageLinkUrlLanguage),
    });

    var loggedIn = Sitecore.Context.IsLoggedIn;
    var username = Sitecore.Context.User.LocalName;

}
<header>
    <div class="content">
        <h1><a href="/"><img src="/Images/Logo.png" alt="Stream - Connected Home"></a></h1>
        <ol>
            @foreach (var item in target)
            {
                <li>
                    @if (item.Selected || item.SubNavItems.Any(subItem => subItem.Selected))
                    {
                        <b>@Html.Sitecore().Field("Navigation Link", item.Item)</b>
                    }
                    else
                    {
                        @Html.Sitecore().Field("Navigation Link", item.Item)
                    }
                    @if ((item.Selected || item.SubNavItems.Any(subItem => subItem.Selected)) && item.SubNavItems.Any())
                    {
                        <ol>
                            @foreach (var subItem in item.SubNavItems)
                            {
                                <li>
                                    @if (subItem.Selected)
                                    {
                                        <b>@Html.Sitecore().Field("Navigation Link", subItem.Item)</b>
                                    }
                                    else
                                    {
                                        @Html.Sitecore().Field("Navigation Link", subItem.Item)
                                    }
                                </li>
                            }
                        </ol>
                    }
                </li>
            }
        </ol>
        <aside id="UserActions-Header-Global">
            <a href="@languageLinkUrl" lang="@languageLinkUrlLanguage" translate="no">@languageLinkText.Replace(" ", "\u00A0")</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span style="letter-spacing: 0.026em;"><a href="/manage/">My&nbsp;Account</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">Pay&nbsp;My&nbsp;Bill</a></span>
        </aside>
    </div>
</header>