<article class="marketing loginHorizontal" ng-controller="LoginHorizontalCtrl" ng-init="init('https://secure3.i-doxs.net/StreamEnergy/Default.aspx', 'https://secure3.i-doxs.net/StreamEnergyGA/Default.aspx')">
    <div class="wrapper">
        <span class="text">@Html.Sitecore().Field("Header Text")</span>
        <div class="group">
            <div class="item">
                <ul class="radio-list">
                    <li><input type="radio" name="loginState" value="TX" id="loginState[texas]" ng-model="state" /> <label for="loginState[texas]">@Html.Sitecore().Field("Texas Label")</label></li>
                    <li><input type="radio" name="loginState" value="GA" id="loginState[georgia]" ng-model="state" /> <label for="loginState[georgia]">@Html.Sitecore().Field("Georgia Label")</label></li>
                </ul>
            </div>
            <div class="item">
                <input type="text" name="username" placeholder="@Html.Sitecore().CurrentItem.Fields["username placeholder"].Value" ng-model="username" />
            </div>
            <div class="item">
                <input type="password" name="password" placeholder="@Html.Sitecore().CurrentItem.Fields["password placeholder"].Value" ng-model="password" />
            </div>
            <div class="item">
                <button type="button" ng-click="loginClicked()">@Html.Sitecore().Field("Button Text")</button>
            </div>
        </div>
    </div>
</article>