<article class="grey-box make-payment" ng-controller="MakePaymentCtrl as ctrl" ng-init="ctrl.invoices = (@(Html.Action("GetCurrentInvoices", "Account").ToHtmlString())).accounts; ctrl.paymentMethods = @(Html.Action("GetSavedPaymentMethods", "Account").ToHtmlString());">  
    <header>
        <h2>@Html.Sitecore().Field("Make Payment Text")</h2>
    </header>
    <div ng-show="activeState == 'step1'">
        <form data-val-bind-messages="validations" ng-submit="continue()">
            <div class="content" loading-indicator>
                <div class="payment-account">
                    <table grid-table ng-model="ctrl.invoices">
                        <thead grid-table-header checkboxes="true"></thead>
                        <tbody ng-repeat="item in table.valuesToShow">
                            <tr>
                                <!--<td class="align-center" style="width:30px;"><input type="checkbox" ng-model="item.selected" /></td>-->
                                <td><input type="checkbox" /></td>
                                <td ng-show="hasHiddenColumns" ng-click="expandInnerTable($index)" ng-class="{'opened': expand[$index], 'closed': !expand[$index]}">
                                    <i ng-class="{'icon-arrow-expanded': expand[$index], 'icon-arrow-collapsed': !expand[$index]}"></i>
                                </td>
                                <td ng-show="showColumn('accountNumber')">{{ item.accountNumber }}</td>
                                <td ng-show="showColumn('invoiceAmount')">{{ item.invoiceAmount | currency }}</td>
                                <td ng-show="showColumn('dueDate')">{{ item.dueDate }}</td>
                                <td ng-show="showColumn('action')">
                                    <button class="secondary">@Html.Sitecore().Field("View PDF Text")</button>
                                    <div class="request-extension" ng-show="item.canRequestExtension"><a href="#">@Html.Sitecore().Field("Request Extension Text")</a></div>
                                </td>
                            </tr>
                            <tr class="details" ng-show="hasHiddenColumns && expand[$index] == true">
                                <td colspan="{{table.columnList.length+1}}">
                                    <p ng-repeat="column in table.columnList | filter:{isVisible: false}" ng-switch on="column.field">
                                        <span ng-switch-when="action">
                                            <button class="secondary">@Html.Sitecore().Field("View PDF Text")</button>
                                        </span>
                                        <span ng-switch-default>
                                            <strong>{{ column.displayName }}:</strong> {{ item[column.field] }}
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot grid-table-pagination></tfoot>
                    </table>

                    @Html.Sitecore().Field("Account Number Note")
                </div>
                <hr class="content-divider">
                <div class="payment-details">
                    <p>@Html.Sitecore().Field("Current Balance Text") <strong>$123.45</strong></p>

                    <div class="group date-amount">
                        <div class="item datepicker group-col">
                            <label for="Payment method">@Html.Sitecore().Field("Payment Date Text")</label>
                            <span class="calendar">
                                <input type="text" ng-model="form.dt" datepicker-popup is-open="datePickerOpened" ng-click="openDatePicker($event)" min-date="minDate" date-disabled="disableWeekends(date, mode)" data-val="true" data-val-required />
                                <span class="icon"><i class="icon-calendar"></i></span>
                            </span>
                        </div>
                        <div class="item dollars group-col">
                            <label for="Amount">@Html.Sitecore().Field("Payment Amount Text")</label>
                            <span class="payment-amount"><input type="text" id="amount"></span> 
                        </div>
                    </div>
                    <div additional-fields>
                        <div class="group account-select">
                            <div class="item group-col">
                                <label for="Payment method">@Html.Sitecore().Field("Payment Account Text")</label>
                                <select>
                                    <option value="Please choose">Select Payment Account</option>
                                    <option value="payment1">Payment Method 1</option>
                                    <option value="payment2">Payment Method 2</option>
                                </select>
                            </div>
                            <div class="item add-account group-col">
                                <a class="single-link" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}" class="details-link" href=""><span ng-if="!isOpen">@Html.Sitecore().Field("Add Account Text")</span><span ng-if="isOpen">@Html.Sitecore().Field("Cancel Account Text")</span></a>
                            </div>
                        </div>
                        <div class="additional-fields new-account">
                            <fieldset>
                                <legend>@Html.Sitecore().Field("Payment Type Text")</legend>

                                <div class="payment-type-selection">
                                    <div class="payment-selection">
                                        <input type="radio" id="credit-card" name="payment-type" ng-model="paymentOption" value="credit-card"><label for="credit-card">@Html.Sitecore().Field("Credit Card Text")</label>
                                    </div>
                                    <div class="payment-options" ng-show="paymentOption == 'credit-card'">
                                        <div class="item">
                                            <label for="credit-card-number">@Html.Sitecore().Field("Credit Card Number Text")</label>
                                            <input id="credit-card-number" type="text">
                                        </div>
                                        <div class="group">
                                            <div class="item">
                                                <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Text")</label>
                                                <select class="small" id="cc-month">
                                                    <option value="">MM</option>
                                                </select>
                                                <select class="small" id="cc-year">
                                                    <option value="">YYYY</option>
                                                </select>
                                            </div>
                                            <div class="item">
                                                <label for="billing-zip">@Html.Sitecore().Field("Billing Zip Text")</label>
                                                <input class="small" type="text" id="billing-zip">
                                            </div>
                                            <div class="item">
                                                <label for="security-code">@Html.Sitecore().Field("Security Code Text")</label>
                                                <input class="small" type="text" id="security-code">
                                            </div>
                                            <div class="item">
                                                <a href="" class="single-link">@Html.Sitecore().Field("See Example Link Text")</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-selection">
                                        <input type="radio" id="bank-account" name="payment-type" ng-model="paymentOption" value="bank-account"><label for="bank-account">@Html.Sitecore().Field("Bank Account Text")</label>
                                    </div>
                                    <div class="payment-options" ng-show="paymentOption == 'bank-account'">
                                        <div class="item">
                                            <label for="payment-method">@Html.Sitecore().Field("Account Type Text")</label>
                                            <select id="payment-method">
                                                <option value="">Please Choose</option>
                                            </select>
                                        </div>

                                        <div class="group">
                                            <div class="item group-col">
                                                <label for="security-code">@Html.Sitecore().Field("Routing Number Text")</label>
                                                <input type="text" id="security-code">
                                            </div>
                                            <div class="item group-col">
                                                <label for="security-code">@Html.Sitecore().Field("Account Number Text")</label>
                                                <input type="text" id="security-code">
                                            </div>
                                        </div>
                                        <img src="http://placehold.it/350x80" alt="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Continue Button Text")</button>
                    <button class="secondary" ng-show="activeState == 'step2'">@Html.Sitecore().Field("Back Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="activeState == 'step2'">
        <form>
            <div class="content">
                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Account Number Text")</dt>
                    <dd>1234657890</dd>
                </dl>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                    <dd>Credit Card</dd>
                    <dt>@Html.Sitecore().Field("Card Number Text")</dt>
                    <dd>**** **** **** 1234</dd>
                    <dt>@Html.Sitecore().Field("Bank Account Number Text")</dt>
                    <dd>****1234</dd>
                </dl>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>MM/DD/YYYY</dd>
                    <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                    <dd>$123.45</dd>
                </dl>

            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" ng-click="continue()">@Html.Sitecore().Field("Submit Payment Button Text")</button>
                    <button class="secondary" ng-click="back()">@Html.Sitecore().Field("Back Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="activeState == 'step3'">
        <form>
            <div class="content">
                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Confirmation Number Text")</dt>
                    <dd>1234657890132456</dd>
                    <dt>@Html.Sitecore().Field("Account Number Text")</dt>
                    <dd>1234657890</dd>
                </dl>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                    <dd>Credit Card</dd>
                    <dt>@Html.Sitecore().Field("Card Number Text")</dt>
                    <dd>**** **** **** 1234</dd>
                    <dt>@Html.Sitecore().Field("Bank Account Number Text")</dt>
                    <dd>****1234</dd>
                </dl>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>MM/DD/YYYY</dd>
                    <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                    <dd>$123.45</dd>
                </dl>

            </div>
            <footer>
                <div class="buttons">
                    @Html.Sitecore().Field("Payment History Link")
                    @Html.Sitecore().Field("Account Overview Link")
                </div>
            </footer>
        </form>
    </div>

</article>
