@model StreamEnergy.MyStream.Models.Account.MakePaymentRequest
<article class="grey-box make-payment" ng-controller="MakePaymentCtrl as ctrl" ng-init="ctrl.invoices = (@(Html.Action("GetCurrentInvoices", "Account").ToHtmlString())).accounts; ctrl.paymentMethods = @(Html.Action("GetSavedPaymentMethods", "Account").ToHtmlString());">  
    <header>
        <h2>@Html.Sitecore().Field("Make Payment Text")</h2>
    </header>
    <div ng-show="ctrl.activeState == 'step1'">
        <form data-val-bind-messages="validations" ng-submit="ctrl.activeState = 'step2'">
            <div class="content grid-table-content" loading-indicator>
                <div class="payment-account stretch">
                    <table grid-table ng-model="ctrl.invoices" class="grid-table">
                        <thead grid-table-header checkboxes="true"></thead>
                        <tbody ng-repeat="item in table.valuesToShow">
                            <tr>
                                <td class="align-center" style="width:30px;"><input type="checkbox" ng-show="item.canMakeOneTimePayment" ng-model="item.selected" /></td>
                                <td ng-show="hasHiddenColumns" ng-click="expandInnerTable($index)" ng-class="{'opened': expand[$index], 'closed': !expand[$index]}">
                                    <i ng-class="{'icon-arrow-expanded': expand[$index], 'icon-arrow-collapsed': !expand[$index]}"></i>
                                </td>
                                <td ng-show="showColumn('accountNumber')">{{ item.accountNumber }}</td>
                                <td ng-show="showColumn('invoiceAmount')">{{ item.invoiceAmount | currency }}</td>
                                <td ng-show="showColumn('dueDate')">{{ item.dueDate }}</td>
                                <td ng-show="showColumn('action')">
                                    <button class="secondary">@Html.Sitecore().Field("View PDF Text")</button>
                                    <div class="request-extension" ng-show="item.canRequestExtension"><a href="#">@Html.Sitecore().Field("Request Extension Text")</a></div>
                                </td>
                            </tr>
                            <tr class="details" ng-show="!item.canMakeOneTimePayment">
                                <td colspan="{{table.columnList.length+2}}">
                                    @Html.Sitecore().Field("One Time Payment Not Allowed Text").Format(new { AccountNumber = "{{ item.accountNumber }}" })
                                </td>
                            </tr>
                            <tr class="details" ng-show="hasHiddenColumns && expand[$index] == true">
                                <td colspan="{{table.columnList.length+2}}">
                                    <p ng-repeat="column in table.columnList | filter:{isVisible: false}" ng-switch on="column.field">
                                        <span ng-switch-when="action">
                                            <button class="secondary">@Html.Sitecore().Field("View PDF Text")</button>
                                        </span>
                                        <span ng-switch-default>
                                            <strong>{{ column.displayName }}:</strong> {{ item[column.field] }}
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot grid-table-pagination></tfoot>
                    </table>
                </div>
                <div class="payment-details">
                    <p ng-if="ctrl.selectedAccounts.length==1">@Html.Sitecore().Field("Total For 1 Account") <strong>{{ ctrl.total | currency }}</strong></p>
                    <p ng-if="ctrl.selectedAccounts.length!=1">@Html.Sitecore().Field("Total For Accounts").Format(new { Count = "{{ctrl.selectedAccounts.length}}" }) <strong>{{ ctrl.total | currency }}</strong></p>

                    <div class="group date-amount">
                        <div class="item dollars group-col" @Html.ValidationErrorClass(m => m.TotalPaymentAmount)>
                            <label for="@Html.For(m => m.TotalPaymentAmount)">@Html.Sitecore().Field("Payment Amount Text")</label>
                            <span class="payment-amount" ng-show="ctrl.selectedAccounts.length == 1"><input type="text" @Html.ValidationAttributes(m => m.TotalPaymentAmount) ng-model="ctrl.paymentAmount" currency-input></span>
                            <span ng-if="ctrl.selectedAccounts.length != 1">{{ctrl.paymentAmount|currency}}</span>
                        </div>
                        <div class="item datepicker group-col" @Html.ValidationErrorClass(m => m.PaymentDate)>
                            <label for="Payment method">@Html.Sitecore().Field("Payment Date Text")</label>
                            <span class="calendar">
                                <input type="text" ng-model="ctrl.selectedDate" datepicker-popup is-open="datePickerOpened" ng-click="openDatePicker($event)" min-date="minDate" date-disabled="disableWeekends(date, mode)" @Html.ValidationAttributes(m => m.PaymentDate) />
                                <span class="icon" ng-click="openDatePicker($event)"><i class="icon-calendar"></i></span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="group account-select">
                            <div class="item group-col" @Html.ValidationErrorClass(m => m.PaymentAccount)>
                                <label for="Payment method">@Html.Sitecore().Field("Payment Account Text")</label>
                                <select ng-options="option.displayName for option in ctrl.paymentMethods" ng-model="ctrl.selectedPaymentMethod" @Html.ValidationAttributes(m => m.PaymentAccount)>
                                    <option value="">@Html.Sitecore().Field("Select Payment Account Text")</option>
                                </select>
                            </div>
                            <div class="item add-account group-col">
                                <a class="single-link" ng-click="isOpen = !isOpen" ng-class="{'collapsed': !isOpen}" class="details-link" href="">
                                    <span ng-if="!isOpen">@Html.Sitecore().Field("Add Account Text")</span>
                                    <span ng-if="isOpen">@Html.Sitecore().Field("Cancel Account Text")</span>
                                </a>
                            </div>
                        </div>
                        <div class="additional-fields new-account" slide-down-show="isOpen">
                            <fieldset>
                                <legend>@Html.Sitecore().Field("Payment Type Text")</legend>
                                <div class="payment-type-selection">
                                    <div class="payment-selection">
                                        <input type="radio" id="credit-card" name="payment-type" ng-model="paymentOption" value="credit-card"><label for="credit-card">@Html.Sitecore().Field("Credit Card Text")</label>
                                    </div>
                                    <div class="payment-options" ng-show="paymentOption == 'credit-card'">
                                        <div class="item">
                                            <label for="credit-card-number">@Html.Sitecore().Field("Credit Card Number Text")</label>
                                            <input id="credit-card-number" type="text">
                                        </div>
                                        <div class="group">
                                            <div class="item">
                                                <label for="expiration-date">@Html.Sitecore().Field("Expiration Date Text")</label>
                                                <select class="small" id="cc-month">
                                                    <option value="">MM</option>
                                                </select>
                                                <select class="small" id="cc-year">
                                                    <option value="">YYYY</option>
                                                </select>
                                            </div>
                                            <div class="item">
                                                <label for="billing-zip">@Html.Sitecore().Field("Billing Zip Text")</label>
                                                <input class="small" type="text" id="billing-zip">
                                            </div>
                                            <div class="item">
                                                <label for="security-code">@Html.Sitecore().Field("Security Code Text")</label>
                                                <input class="small" type="text" id="security-code">
                                            </div>
                                            <div class="item">
                                                <a href="" class="single-link">@Html.Sitecore().Field("See Example Link Text")</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-selection">
                                        <input type="radio" id="bank-account" name="payment-type" ng-model="paymentOption" value="bank-account"><label for="bank-account">@Html.Sitecore().Field("Bank Account Text")</label>
                                    </div>
                                    <div class="payment-options" ng-show="paymentOption == 'bank-account'">
                                        <div class="item">
                                            <label for="payment-method">@Html.Sitecore().Field("Account Type Text")</label>
                                            <select id="payment-method">
                                                <option value="">Please Choose</option>
                                            </select>
                                        </div>
                                        <div class="group">
                                            <div class="item group-col">
                                                <label for="security-code">@Html.Sitecore().Field("Routing Number Text")</label>
                                                <input type="text" id="security-code">
                                            </div>
                                            <div class="item group-col">
                                                <label for="security-code">@Html.Sitecore().Field("Account Number Text")</label>
                                                <input type="text" id="security-code">
                                            </div>
                                        </div>
                                        <img src="http://placehold.it/350x80" alt="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Continue Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="ctrl.activeState == 'step2'">
        <form>
            <div class="content">
                <dl class="clearfix module-list" ng-repeat="account in ctrl.selectedAccounts">
                    <dt>@Html.Sitecore().Field("Account Number Text")</dt>
                    <dd>{{account.accountNumber}}</dd>
                    <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                    <dd>{{ (ctrl.selectedAccounts.length != 1 ? account.invoiceAmount : ctrl.paymentAmount) | currency }}</dd>
                </dl>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>{{ ctrl.selectedDate | date:'MM/dd/yyyy' }}</dd>
                    <dt>@Html.Sitecore().Field("Total Payment Text")</dt>
                    <dd>{{ ctrl.paymentAmount | currency }}</dd>
                </dl>

                <div ng-switch="ctrl.selectedPaymentMethod.underlyingPaymentType">
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedCard">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Credit Card Text")</dd>
                        <dt>@Html.Sitecore().Field("Card Number Text")</dt>
                        <dd>{{ctrl.selectedPaymentMethod.redactedData}}</dd>
                    </dl>
                    <dl class="clearfix module-list payment-module" ng-switch-when="BankPaymentMethod">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Bank Account Text")</dd>
                        <dt>@Html.Sitecore().Field("Bank Account Number Text")</dt>
                        <dd>{{ctrl.selectedPaymentMethod.redactedData}}</dd>
                    </dl>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" ng-click="ctrl.makePayment()">@Html.Sitecore().Field("Submit Payment Button Text")</button>
                    <button class="secondary" ng-click="ctrl.activeState = 'step1'">@Html.Sitecore().Field("Back Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="ctrl.activeState == 'step3'">
        <form>
            <div class="content">
                <div ng-repeat="account in ctrl.selectedAccounts">
                    <h3>{{account.accountNumber}}</h3>
                    <div ng-if="account.confirmationNumber" class="notice success">
                        <dl class="clearfix module-list">
                            <dt>@Html.Sitecore().Field("Confirmation Number Text")</dt>
                            <dd>{{account.confirmationNumber}}</dd>
                            <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                            <dd>{{ (ctrl.selectedAccounts.length != 1 ? account.invoiceAmount : ctrl.paymentAmount) | currency }}</dd>
                        </dl>
                    </div>
                    <div ng-if="!account.confirmationNumber" class="notice error">
                        <p>@Html.Sitecore().Field("Processing Payment Error Text").Format(new { Payment = "{{ (ctrl.selectedAccounts.length != 1 ? account.invoiceAmount : ctrl.paymentAmount) | currency }}" })</p>
                        @* TODO - Sitecore *@
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur, tellus semper porta ornare, nisl tortor adipiscing nibh, eu pretium ligula purus sed arcu.</p>
                    </div>
                    <hr class="content-divider">
                </div>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>{{ ctrl.selectedDate | date:'MM/dd/yyyy' }}</dd>
                    <dt>@Html.Sitecore().Field("Total Payment Text")</dt>
                    <dd>{{ ctrl.paymentAmount | currency }}</dd>
                </dl>

                <div ng-switch="ctrl.selectedPaymentMethod.underlyingPaymentType">
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedCard">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Credit Card Text")</dd>
                        <dt>@Html.Sitecore().Field("Card Number Text")</dt>
                        <dd>{{ctrl.selectedPaymentMethod.redactedData}}</dd>
                    </dl>
                    <dl class="clearfix module-list payment-module" ng-switch-when="BankPaymentMethod">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Bank Account Text")</dd>
                        <dt>@Html.Sitecore().Field("Bank Account Number Text")</dt>
                        <dd>{{ctrl.selectedPaymentMethod.redactedData}}</dd>
                    </dl>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    @Html.Sitecore().Field("Payment History Link")
                    @Html.Sitecore().Field("Account Overview Link")
                </div>
            </footer>
        </form>
    </div>

</article>

<script type="text/ng-template" id="PaymentBlockingAlert/Duplicate">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Duplicate Payment Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("Duplicate Payment Body Text")
    </div>
    <div class="modal-footer">
        <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Payment Button Text")</button>
        <button ng-click="$close()">@Html.Sitecore().Field("Continue Payment Button Text")</button>
    </div>
</script>

<script type="text/ng-template" id="PaymentBlockingAlert/Overpayment">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Overpayment Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("Overpayment Body Text").Format(new { Payment = "{{ctrl.paymentAmount|currency}}" })
    </div>
    <div class="modal-footer">
        <button class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Payment Button Text")</button>
        <button ng-click="$close()">@Html.Sitecore().Field("Continue Payment Button Text")</button>
    </div>
</script>
