@model StreamEnergy.MyStream.Models.Account.MakeMultiplePaymentsRequest
<article class="grey-box make-payment" ng-controller="MakePaymentCtrl">  
    <header>
        <h2>@Html.Sitecore().Field("Make Payment Text")</h2>
    </header>
    <div ng-show="activeState == 'step1'">
        <form data-val-bind-messages="validations" ng-submit="resolvePayments()">
            <div class="content grid-table-content" loading-indicator>
                <div class="payment-account stretch">
                    <table grid-table ng-model="accountsTable" class="grid-table">
                        <thead grid-table-header checkboxes="true"></thead>
                        <tbody ng-repeat="item in table.valuesToShow">
                            <tr>
                                <td class="align-center" style="width:30px;"><input type="checkbox" ng-show="item.canMakeOneTimePayment" ng-model="item.selected" /></td>
                                <td ng-show="hasHiddenColumns" ng-click="expandInnerTable($index)" ng-class="{'opened': expand[$index], 'closed': !expand[$index]}">
                                    <i ng-class="{'icon-arrow-expanded': expand[$index], 'icon-arrow-collapsed': !expand[$index]}"></i>
                                </td>
                                <td ng-show="showColumn('accountNumber')">{{ item.accountNumber }}</td>
                                <td ng-show="showColumn('amountDue')">{{ item.amountDue | currency }}</td>
                                <td ng-show="showColumn('dueDate')">{{ item.dueDate | date:'MM/dd/yyyy' }}</td>
                                <td ng-show="showColumn('action')">
                                    <a class="button secondary" ng-if="item.actions.viewPdf" ng-href="{{item.actions.viewPdf}}">@Html.Sitecore().Field("View PDF Text")</a>
                                    <div class="request-extension" ng-show="item.canRequestExtension"><a href="#">@Html.Sitecore().Field("Request Extension Text")</a></div>
                                </td>
                            </tr>
                            <tr class="details" ng-show="!item.canMakeOneTimePayment">
                                <td colspan="{{table.columnList.length+2}}">
                                    @Html.Sitecore().Field("One Time Payment Not Allowed Text").Format(new { AccountNumber = "{{ item.accountNumber }}" })
                                </td>
                            </tr>
                            <tr class="details" ng-show="item.selected">
                                <td colspan="{{table.columnList.length+2}}">
                                    @using (var account = Html.ClientRepeater(m => m.Accounts, "{{$index}}"))
                                    {
                                        <div class="group item-payment">
                                            <div class="item" @(account.Validation().ErrorClass(m => m.PaymentAmount))>
                                                <label for="@account.Fix(h => h.IdFor(e => e.PaymentAmount)))">@Html.Sitecore().Field("Payment Amount Text")</label>
                                                @account.Fix(h => h.TextBoxFor(m => m.PaymentAmount, new { ng_model = "item.paymentAmount", currency_input = "", ng_init = "item.paymentAmount = item.amountDue", data_val_if = "item.selected" }))
                                                @account.ValidationMessageFor(m => m.PaymentAmount)
                                            </div>
                                            <div class="item" @(account.Validation().ErrorClass(m => m.PaymentAccount))>
                                                <label for="@account.Fix(h => h.IdFor(e => e.PaymentAccount)))">@Html.Sitecore().Field("Payment Account Text")</label>                 
                                                <select id="@account.Fix(h => h.IdFor(e => e.PaymentAccount))" name="@account.Fix(h => h.NameFor(e => e.PaymentAccount))"
                                                        data-val="true" data-val-required data-val-if="item.selected" data-val-regex="" data-val-regex-pattern="^[A-Fa-f0-9]{32}$|({|\()?[A-Fa-f0-9]{8}-([A-Fa-f0-9]{4}-){3}[A-Fa-f0-9]{12}(}|\))?$|^({)?[0xA-Fa-f0-9]{3,10}(, {0,1}[0xA-Fa-f0-9]{3,6}){2}, {0,1}({)([0xA-Fa-f0-9]{3,4}, {0,1}){7}[0xA-Fa-f0-9]{3,4}(}})$"
                                                        ng-model="item.selectedPaymentMethod" ng-change="addAccount(item)">
                                                    <option value="" ng-selected="selected">@Html.Sitecore().Field("Select Payment Account Text")</option>
                                                    <option ng-repeat="option in paymentAccounts" value="{{ option.id }}">{{ option.displayName }}</option>
                                                    <option value="addAccount">@Html.Sitecore().Field("Add Account Text")</option>
                                                </select>
                                                @account.ValidationMessageFor(m => m.PaymentAccount)
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                            <tr class="details" ng-show="hasHiddenColumns && expand[$index] == true">
                                <td colspan="{{table.columnList.length+2}}">
                                    <p ng-repeat="column in table.columnList | filter:{isVisible: false}" ng-switch on="column.field">
                                        <span ng-switch-when="actions">
                                            <a class="button secondary" ng-if="item.actions.viewPdf" ng-href="{{item.actions.viewPdf}}">@Html.Sitecore().Field("View PDF Text")</a>
                                        </span>
                                        <span ng-switch-default>
                                            <strong>{{ column.displayName }}:</strong> {{ item[column.field] }}
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="payment-details">
                    <p ng-if="selectedAccounts.length==1">@Html.Sitecore().Field("Total For 1 Account") <strong>{{ total | currency }}</strong></p>
                    <p ng-if="selectedAccounts.length!=1">@Html.Sitecore().Field("Total For Accounts").Format(new { Count = "{{selectedAccounts.length}}" }) <strong>{{total | currency }}</strong></p>

                    <div class="group date-amount">
                        <div class="item datepicker" @Html.Validation().ErrorClass(m => m.PaymentDate)>
                            <label for="PaymentDate">@Html.Sitecore().Field("Payment Date Text")</label>
                            <span class="calendar">
                                @Html.TextBoxFor(m => m.PaymentDate, new { ng_model="selectedDate", datepicker_popup="", is_open="datePickerOpened", ng_click="openDatePicker($event)", min_date="minDate", date_disabled="disableWeekends(date, mode)", disabled="true" })
                                <span class="icon"><i class="icon-calendar"></i></span>
                                @*<span class="icon" ng-click="openDatePicker($event)"><i class="icon-calendar"></i></span>*@
                            </span>
                        </div>
                    </div>
                  
                </div>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" data-val-submit>@Html.Sitecore().Field("Continue Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="activeState == 'step2'">
        <form>
            <div class="content" loading-indicator>
                <dl class="clearfix module-list" ng-repeat="account in selectedAccounts">
                    <dt>@Html.Sitecore().Field("Account Number Text")</dt>
                    <dd>{{ account.accountNumber }}</dd>
                    <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                    <dd>{{ account.paymentAmount | currency }}</dd>
                    <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                    <dd>{{ getPaymentMethod(account.selectedPaymentMethod) }}</dd>
                </dl>
                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Convenience Fee Text")</dt>
                    <dd>@Html.Sitecore().Field("GA Convenience Fee Amount")</dd>
                    <dt>@Html.Sitecore().Field("Total Payment Text")</dt>
                    <dd>{{ paymentAmount | currency }}</dd>
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>{{ selectedDate | date:'MM/dd/yyyy' }}</dd>
                </dl>
            </div>
            <footer>
                <div class="buttons">
                    <button type="submit" ng-click="makePayment()">@Html.Sitecore().Field("Submit Payment Button Text")</button>
                    <button class="secondary" type="button" ng-click="activeState = 'step1'">@Html.Sitecore().Field("Back Button Text")</button>
                </div>
            </footer>
        </form>
    </div>

    <div ng-show="activeState == 'step3'">
        <form>
            <div class="content">
                <div ng-repeat="account in selectedAccounts">
                    <h3>@Html.Sitecore().Field("Account Number Label")</h3>
                    <h3>{{account.accountNumber}}</h3>
                    <div ng-if="account.confirmationNumber" class="notice success">
                        <dl class="clearfix module-list">
                            <dt>@Html.Sitecore().Field("Confirmation Number Text")</dt>
                            <dd>{{ account.confirmationNumber }}</dd>
                            <dt>@Html.Sitecore().Field("Payment Amount Text")</dt>
                            <dd>{{ account.paymentAmount | currency }}</dd>
                            <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                            <dd>{{ account.paymentAccount.displayName }}</dd>
                            <dt ng-if="account.paymentAccount.underlyingPaymentType == 'TokenizedCard'">@Html.Sitecore().Field("Card Number Text")</dt>
                            <dd ng-if="account.paymentAccount.underlyingPaymentType == 'TokenizedCard'">{{ account.paymentAccount.redactedData }}</dd>
                            <dt ng-if="account.paymentAccount.underlyingPaymentType == 'TokenizedBank'">@Html.Sitecore().Field("Bank Account Number Text")</dt>
                            <dd ng-if="account.paymentAccount.underlyingPaymentType == 'TokenizedBank'">{{ account.paymentAccount.redactedData }}</dd>
                            <dt>@Html.Sitecore().Field("Convenience Fee Text")</dt>
                            <dd>{{ account.convenienceFee | currency }}</dd>
                        </dl>
                    </div>
                    <div ng-if="!account.confirmationNumber" class="notice error">
                        <p>@Html.Sitecore().Field("Processing Payment Error Text").Format(new { Payment = "{{ paymentAmount | currency }}" })</p>
                    </div>
                    <hr class="content-divider">
                </div>

                <dl class="clearfix module-list">
                    <dt>@Html.Sitecore().Field("Total Payment Text")</dt>
                    <dd>{{ paymentAmount | currency }}</dd>
                    <dt>@Html.Sitecore().Field("Payment Date Text")</dt>
                    <dd>{{ selectedDate | date:'MM/dd/yyyy' }}</dd>
                </dl>

                <div ng-switch="evaluatedPaymentMethod.underlyingPaymentType || evaluatedPaymentMethod.paymentType">
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedCard">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Credit Card Text")</dd>
                        <dt>@Html.Sitecore().Field("Card Number Text")</dt>
                        <dd>{{evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                    <dl class="clearfix module-list payment-module" ng-switch-when="TokenizedBank">
                        <dt>@Html.Sitecore().Field("Payment Method Text")</dt>
                        <dd>@Html.Sitecore().Field("Bank Account Text")</dd>
                        <dt>@Html.Sitecore().Field("Bank Account Number Text")</dt>
                        <dd>{{evaluatedPaymentMethod.redactedData}}</dd>
                    </dl>
                </div>
            </div>
            <footer>
                <div class="buttons">
                    @Html.Sitecore().Field("Payment History Link")
                    @Html.Sitecore().Field("Account Overview Link")
                </div>
            </footer>
        </form>
    </div>

</article>

<script type="text/ng-template" id="PaymentBlockingAlert/Duplicate">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Duplicate Payment Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("Duplicate Payment Body Text")
    </div>
    <div class="modal-footer">
        <button class="secondary" type="button" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Payment Button Text")</button>
        <button type="button" ng-click="$close()">@Html.Sitecore().Field("Continue Payment Button Text")</button>
    </div>
</script>

<script type="text/ng-template" id="PaymentBlockingAlert/Overpayment">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Overpayment Header Text")</h2>
    </div>
    <div class="modal-body">
        @Html.Sitecore().Field("Overpayment Body Text").Format(new { Payment = "{{paymentAmount|currency}}" })
    </div>
    <div class="modal-footer">
        <button class="secondary" type="button" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Payment Button Text")</button>
        <button type="button" ng-click="$close()">@Html.Sitecore().Field("Continue Payment Button Text")</button>
    </div>
</script>

<script type="text/ng-template" id="AddPaymentAccount">
    <div class="modal-header">
        <a href="" ng-click="$dismiss()"></a>
        <h2>@Html.Sitecore().Field("Add Account Header Text")</h2>
    </div>
    <form data-val-bind-messages="validations" ng-submit="modalAddPaymentAccount(newPaymentMethodType)">
        <div class="modal-body new-account-modal" loading-indicator>
            <fieldset>
                <legend>@Html.Sitecore().Field("Payment Type Text")</legend>
                <div class="payment-type-selection">
                    <div class="payment-selection">
                        <input type="radio" id="credit-card" name="payment-type" ng-model="newPaymentMethodType" value="TokenizedCard"><label for="credit-card">@Html.Sitecore().Field("Credit Card Text")</label>
                    </div>
                    <div class="payment-selection">
                        <input type="radio" id="bank-account" name="payment-type" ng-model="newPaymentMethodType" value="TokenizedBank"><label for="bank-account">@Html.Sitecore().Field("Bank Account Text")</label>
                    </div>
                    <div ng-show="newPaymentMethodType == 'TokenizedCard'" class="payment-options">
                        <div class="content">
                            <div class="item nickname" data-val-error="cc-nickname">
                                <label for="cc-nickname">@Html.Sitecore().Field("Account Nickname Label")</label>
                                <input id="cc-nickname" name="cc-nickname" type="text" data-val="true" data-val-required data-val-if="newPaymentMethodType == 'TokenizedCard'" ng-model="formData.nickname" />
                                <span class="help-text">@Html.Sitecore().Field("Account Nickname Help Text")</span>
                            </div>
                            <div credit-card-payment="formData.card" data-val-if="true"></div>
                        </div>
                    </div>

                    <div ng-show="newPaymentMethodType == 'TokenizedBank'" class="payment-options" data-val-if="newPaymentMethodType == 'TokenizedBank'">
                        <div class="content">
                            <div class="item nickname" data-val-error="bank-nickname">
                                <label for="bank-nickname">@Html.Sitecore().Field("Account Nickname Label")</label>
                                <input id="bank-nickname" name="bank-nickname" type="text" data-val="true" data-val-required data-val-if="newPaymentMethodType == 'TokenizedBank'" ng-model="formData.nickname" />
                                <span class="help-text">@Html.Sitecore().Field("Account Nickname Help Text")</span>
                            </div>
                            <div bank-account-payment="formData.bank" data-val-if="newPaymentMethodType == 'TokenizedBank'"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer" ng-show="newPaymentMethodType">
            <button type="button" class="secondary" ng-click="$dismiss()">@Html.Sitecore().Field("Cancel Button Text")</button>
            <button type="submit" data-val-submit>@Html.Sitecore().Field("Submit Button Text")</button>
        </div>
    </form>
</script>
