<article class="energy-usage" ng-controller="AcctMyEnergyUsageCtrl">
    <header>
        <h2>@Html.Sitecore().Field("My Energy Usage Text")</h2>
    </header>
    <div class="account-selector">
        <form>
            <div class="group">
                <div class="item">
                    <label>@Html.Sitecore().Field("Account Number Label")</label>
                    <select ng-model="currentAccount" ng-options="account.accountNumber for account in accounts track by account.accountNumber" ng-change="currentSubAccount = currentAccount.subAccounts[0]; updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                </div>
                <div class="item">
                    <label>{{ currentAccount.subAccountLabel }}</label>
                    <select ng-model="currentSubAccount" ng-options="subAccount.id for subAccount in currentAccount.subAccounts" ng-change="updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="content" loading-indicator>
        <div class="graph-header grid three">
            <div class="col" ng-switch="utilityType">
                <p ng-switch-when="Electric"><strong>@Html.Sitecore().Field("kWh Text")</strong></p>
                <p ng-switch-when="Gas"><strong>@Html.Sitecore().Field("Gas Text")</strong></p>
            </div>
            <div class="col"><p>{{ startMonth }} - {{ endMonth }} {{ endYear }}</p></div>
            <div class="col last"></div>
        </div>
        <div class="usage-graph">
            <div class="chart-wrapper">
                <linechart data="energyUsage" options="options" mode=""></linechart>
            </div>
            
        </div>
        <div class="graph-footer" ng-switch="utilityType">
            <div class="graph-key" ng-switch-when="Electric"><img src="~/frontend/assets/i/electric-key.png" /> @Html.Sitecore().Field("kWh Text")</div>
            <div class="graph-key" ng-switch-when="Gas"><img src="~/frontend/assets/i/electric-key.png" /> @Html.Sitecore().Field("Gas Text")</div>
        </div>
        @*<img src="/sitecore/shell/~/media/Images/Pages/Account/energy_usage_graph.png" />*@
    </div>
    @*
    <footer class="compare">
        <p>@Html.Sitecore().Field("Compare Usage Text")</p>
        <select>
            <option value="Please choose">None</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
        </select>
    </footer>
        *@
</article>
