<article class="energy-usage" ng-controller="AcctMyEnergyUsageCtrl">
    <header>
        <h2>@Html.Sitecore().Field("My Energy Usage Text")</h2>
    </header>
    <div class="account-selector">
        <form>
            <div class="group">
                <div class="item">
                    <label>@Html.Sitecore().Field("Account Number Label")</label>
                    <select ng-model="currentAccount" ng-options="account.accountNumber for account in accounts track by account.accountNumber" ng-change="currentSubAccount = currentAccount.subAccounts[0]; updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                </div>
                <div class="item">
                    <label>{{ currentAccount.subAccountLabel }}</label>
                    <select ng-model="currentSubAccount" ng-options="subAccount.id for subAccount in currentAccount.subAccounts" ng-change="updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="content" loading-indicator>
        <div class="graph-header grid three">
            <div class="col"><p><strong>@Html.Sitecore().Field("kWh Text")</strong></p></div>
            <div class="col"><p>January - December 2013</p></div>
            <div class="col last"><p><strong>@Html.Sitecore().Field("Gas Text")</strong></p></div>
        </div>
        <div class="usage-graph">
            <div class="chart-wrapper">
                <linechart data="energyUsage" options="options" mode=""></linechart>
            </div>
            @*<img src="/sitecore/shell/~/media/Images/Pages/Account/energy_usage_graph.png" />*@
        </div>
        <div class="graph-footer">
            <div class="graph-key"><img src="~/frontend/assets/i/electric-key.png" /> @Html.Sitecore().Field("kWh Text")</div>
            <div class="graph-key"><img src="~/frontend/assets/i/gas-key.png" /> @Html.Sitecore().Field("Gas Text")</div>
        </div>
    </div>
    @*
    <footer class="compare">
        <p>@Html.Sitecore().Field("Compare Usage Text")</p>
        <select>
            <option value="Please choose">None</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
        </select>
    </footer>
    *@
</article>
