<section class="wrapper">
    <article class="grey-box payment-history" ng-controller="AcctMyPaymentsCtrl">
        <header class="clearfix">
            <h2>@Html.Sitecore().Field("My Payments Text")</h2>
            <ul>
                <li>@Html.Sitecore().Field("Autopay Settings Link")</li>
                <li>@Html.Sitecore().Field("Payment Accounts Link")</li>
                @*<li>@Html.Sitecore().Field("Status Source Help Link")</li>*@
            </ul>
        </header>
        <div class="content clearfix" loading-indicator>
            <div class="filters">
                <form>
                    <div class="group">
                        <div class="item">
                            <label for="ServiceType">@Html.Sitecore().Field("Service Type Text")</label>
                            <select id="ServiceType" ng-model="filters.serviceType" ng-options="item.value as item.name for item in filtersList.serviceType">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="Account">@Html.Sitecore().Field("Account Text")</label>
                            <select id="Account" ng-model="filters.accountNumber" ng-options="item.value as item.name for item in filtersList.accountNumber">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="item" ng-if="hasPaymentStatus">
                            <label for="Status">@Html.Sitecore().Field("Status Text")</label>
                            <select id="Status" ng-model="filters.status" ng-options="item.value as item.name for item in filtersList.status">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="actions" ng-show="isFiltered()">
                            <p><a href="" ng-click="resetFilters()">@Html.Sitecore().Field("Reset Filters Text")</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="stretch">
                <table grid-table ng-model="paymentsTable">
                    <thead grid-table-header></thead>
                    <tbody ng-repeat="item in table.valuesToShow">
                        <tr>
                            <td style="width:30px;" ng-click="expandInnerTable($index)" ng-class="{'opened': expand[$index], 'closed': !expand[$index]}">
                                <i ng-class="{'icon-arrow-expanded': expand[$index], 'icon-arrow-collapsed': !expand[$index]}"></i>
                            </td>
                            <td ng-show="showColumn('isRecurring')"><i class="icon-recurring" ng-show="item.isRecurring"></i></td>
                            <td ng-show="showColumn('accountNumber')">{{ item.accountNumber }}</td>
                            <td ng-show="showColumn('serviceType')" ng-switch on="item.serviceType">
                                <i ng-switch-when="HomeLife Services" class="icon-homelife-services"></i>
                                <i ng-switch-when="Utility" class="icon-utility"></i>
                                {{ item.serviceType }}
                            </td>
                            <td ng-if="hasConfirmation" ng-show="showColumn('confirmCode')">{{ item.confirmCode }}</td>
                            <td ng-show="showColumn('paymentAmount')">{{ item.paymentAmount | currency }}</td>
                            <td ng-show="showColumn('paymentDate')">{{ item.paymentDate | date:'MM/dd/yyyy' }}</td>
                            <td ng-if="hasPaymentStatus" ng-show="showColumn('status')">{{ item.status }}</td>
                            <td ng-show="showColumn('action')">
                                <button class="secondary" ng-click="expandInnerTable($index)">Details</button>
                            </td>
                        </tr>
                        <tr class="expand-details" ng-show="expand[$index] == true">
                            <td colspan="11">
                                <div class="grid clearfix">
                                    <div class="col clearfix">
                                        <div class="detail-row" ng-hide="showColumn('accountNumber')"><span class="label"><strong>@Html.Sitecore().Field("Account Number"):</strong></span><span class="account-info">{{ item.accountNumber }} <i class="icon-recurring" ng-show="item.isRecurring"></i></span></div>
                                        <div class="detail-row" ng-hide="showColumn('paymentDate')"><span class="label"><strong>@Html.Sitecore().Field("Payment Date"):</strong></span><span class="account-info">{{ item.paymentDate }}</span></div>
                                        <div class="detail-row" ng-if="item.paymentID"><span class="label"><strong>@Html.Sitecore().Field("Payment ID Text")</strong></span><span class="account-info">{{ item.paymentID }}</span></div>
                                        <div class="detail-row" ng-if="item.confirmCode"><span class="label"><strong>@Html.Sitecore().Field("Confirmation Code Text")</strong></span><span class="account-info">{{ item.confirmCode }}</span></div>
                                        <div class="detail-row" ng-if="item.paymentMode"><span class="label"><strong>@Html.Sitecore().Field("Payment Mode Text")</strong></span><span class="account-info">{{ item.paymentMode }}</span></div>
                                    </div>
                                    <div class="col clearfix">
                                        <div class="detail-row" ng-if="hasPaymentStatus" ng-hide="showColumn('status')"><span class="label"><strong>@Html.Sitecore().Field("Status"):</strong></span><span class="account-info">{{ item.status }}</span></div>
                                        <div class="detail-row" ng-if="item.paymentAccount"><span class="label"><strong>@Html.Sitecore().Field("Payment Account Text")</strong></span><span class="account-info">{{ item.paymentAccount }}</span></div>
                                        <div class="detail-row" ng-if="item.routingNumber"><span class="label"><strong>@Html.Sitecore().Field("Routing Transit Number Text")</strong></span><span class="account-info">{{ item.routingNumber }}</span></div>
                                        <div class="detail-row" ng-if="item.paymentMadeBy"><span class="label"><strong>@Html.Sitecore().Field("Payment Made By Text")</strong></span><span class="account-info">{{ item.paymentMadeBy }}</span></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot grid-table-pagination></tfoot>
                </table>
            </div>
        </div>
    </article>
</section>