<article class="win-back">
    <div class="intro">
        <h1>@Html.Sitecore().Field("Header")</h1>
    </div>
    <div>
        <h3>@Html.Sitecore().Field("Lowest Rate")</h3>
        <div class="price">
            @Html.Sitecore().Field("Rate")
        </div>
    </div>
    <div class="switch">
        <a href="" ng-click="scrollTo('GetStarted')" class="button">@Html.Sitecore().Field("Switch Button")</a>
    </div>
    <div>
        <p class="former-customer">@Html.Sitecore().Field("Former Customer")</p>
        <h3>@Html.Sitecore().Field("One-time Offer")</h3>
        <p>@Html.Sitecore().Field("Lock In")</p>
        <div class="new-rate">
            <h3>@Html.Sitecore().Field("New Rate Header")</h3>
            <p>@Html.Sitecore().Field("New Rate Paragraph")</p>
        </div>
        <h3 class="switching-back">@Html.Sitecore().Field("Switching Header")</h3>
        <p class="sub-header">@Html.Sitecore().Field("Switching Subheader")</p>
        <p>@Html.Sitecore().Field("Switching Paragraph 1")</p>
        <p>@Html.Sitecore().Field("Switching Paragraph 2")</p>
        <div class="get-started">
            <a href="" ng-click="scrollTo('GetStarted')" class="button">@Html.Sitecore().Field("Switching Button")</a>
        </div>
    </div>
    <div class="reasons">
        <div class="wrapper">
            <h2>@Html.Sitecore().Field("Reasons Header")</h2>
            <div class="grid three">
                <div class="col simple-billing">
                    <h4><strong>@Html.Sitecore().Field("Reason 1 Header")</strong></h4>
                    <p>@Html.Sitecore().Field("Reason 1 Paragraph")</p>
                </div>
                <div class="col best-rate">
                    <h4><strong>@Html.Sitecore().Field("Reason 2 Header")</strong></h4>
                    <p>@Html.Sitecore().Field("Reason 2 Paragraph, landingItem")</p>
                </div>
                <div class="col customer-service">
                    <h4><strong>@Html.Sitecore().Field("Reason 3 Header")</strong></h4>
                    <p>@Html.Sitecore().Field("Reason 3 Paragraph")</p>
                </div>
            </div>
            <p class="asterisk">@Html.Sitecore().Field("Reasons Footnote")</p>
        </div>
    </div>
    <div class="lock-in">
        <h2>@Html.Sitecore().Field("Lock In Header")</h2>
        <a href="" ng-click="scrollTo('GetStarted')" class="button">@Html.Sitecore().Field("Lock In Button")</a>
    </div>
</article>