<article class="marketing mobile-acronyms">
    <div class="wrapper">
        <p><a href="#"><strong>Back to Mobile Support</strong></a></p>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("1G")</strong><br />
                @Html.Sitecore().Field("1G description")</p>
                <p><strong>@Html.Sitecore().Field("3G")</strong><br />
                @Html.Sitecore().Field("3G description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("2G")</strong><br />
                @Html.Sitecore().Field("2G description")</p>
                <p><strong>@Html.Sitecore().Field("4G")</strong><br />
                @Html.Sitecore().Field("4G description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("A Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Android OS")</strong><br />
                @Html.Sitecore().Field("Android OS description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("AVL")</strong><br />
                @Html.Sitecore().Field("AVL Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("B Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("BAN")</strong><br />
                @Html.Sitecore().Field("BAN Description")</p>
                <p><strong>@Html.Sitecore().Field("BYOD")</strong><br />
                @Html.Sitecore().Field("BYOD Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Blackberry OS")</strong><br />
                @Html.Sitecore().Field("Blackberry OS Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("C Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("CDNA")</strong><br />
                @Html.Sitecore().Field("CDNA Description")</p>
                <p><strong>@Html.Sitecore().Field("CRM")</strong><br />
                @Html.Sitecore().Field("CRM Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Cloud Services")</strong>
                @Html.Sitecore().Field("Cloud Services Description")</p>
                <p><strong>@Html.Sitecore().Field("CSD")</strong><br />
                @Html.Sitecore().Field("CSD Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("E Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("ESN")</strong><br />
                @Html.Sitecore().Field("ESN Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("ETF")</strong><br />
                @Html.Sitecore().Field("ETF Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("G Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("GB")</strong><br />
                @Html.Sitecore().Field("GB Description")</p>
                <p><strong>@Html.Sitecore().Field("GSM")</strong><br />
                @Html.Sitecore().Field("GSM Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("GPS")</strong><br />
                @Html.Sitecore().Field("GPS Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("H Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Hotline")</strong><br />
                @Html.Sitecore().Field("Hotline Description")</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("I Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("IMEI")</strong><br />
                @Html.Sitecore().Field("IMEI Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("iOS")</strong><br />
                @Html.Sitecore().Field("iOS Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("K Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("KB")</strong><br />
                @Html.Sitecore().Field("KB Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Kbps")</strong><br />
                @Html.Sitecore().Field("Kbps Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("L Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("LTE")</strong><br />
                @Html.Sitecore().Field("LTE Description")</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("M Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("MB")</strong><br />
                @Html.Sitecore().Field("MB Description")</p>
                <p><strong>@Html.Sitecore().Field("MEID")</strong><br />
                @Html.Sitecore().Field("MEID Description")</p>
                <p><strong>@Html.Sitecore().Field("MMS")</strong><br />
                @Html.Sitecore().Field("MMS Description")</p>
                <p><strong>@Html.Sitecore().Field("MRC")</strong><br />
                @Html.Sitecore().Field("MRC Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Mbps")</strong><br />
                @Html.Sitecore().Field("Mbps Description")</p>
                <p><strong>@Html.Sitecore().Field("MIN")</strong><br />
                @Html.Sitecore().Field("MIN Description")</p>
                <p><strong>@Html.Sitecore().Field("MNO")</strong><br />
                @Html.Sitecore().Field("MNO Description")</p>
                <p><strong>@Html.Sitecore().Field("MVNO")</strong><br />
                @Html.Sitecore().Field("MVNO Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("N Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("NPA")</strong><br />
                @Html.Sitecore().Field("NPA Description").</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("O Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("Offloading")</strong><br />
                @Html.Sitecore().Field("Offloading Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("OS")</strong><br />
                @Html.Sitecore().Field("OS Description")</p>
            </div>
        </div>
        <div class="divider">
            <p>@Html.Sitecore().Field("P Header")</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@Html.Sitecore().Field("PIN")</strong><br />
                @Html.Sitecore().Field("PIN Description")</p>
            </div>
            <div class="col">
                <p><strong>@Html.Sitecore().Field("PORTING")</strong><br />
                @Html.Sitecore().Field("PORTING Description")</p>
            </div>
        </div>
    </div>
</article>

