@{ 
    Sitecore.Data.Items.Item mobileAcronymContent = Sitecore.Context.Database.GetItem("{9D6656D5-695F-4FC2-9EFE-AC0E6B42B7B4}");
}
<article class="marketing mobile-acronyms" ng-show="mobileAcronyms">
    <div class="wrapper">
        <p><a href="" ng-click="mobileAcronyms = false">Back to Support</a></p>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["1G"]</strong><br />
                @mobileAcronymContent.Fields["1G description"]</p>
                <p><strong>@mobileAcronymContent.Fields["3G"]</strong><br />
                @mobileAcronymContent.Fields["3G description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["2G"]</strong><br />
                @mobileAcronymContent.Fields["2G description"]</p>
                <p><strong>@mobileAcronymContent.Fields["4G"]</strong><br />
                @mobileAcronymContent.Fields["4G description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["A Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Android OS"]</strong><br />
                @mobileAcronymContent.Fields["Android OS description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["AVL"]</strong><br />
                @mobileAcronymContent.Fields["AVL Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["B Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["BAN"]</strong><br />
                @mobileAcronymContent.Fields["BAN Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["BYOD"]</strong><br />
                @mobileAcronymContent.Fields["BYOD Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Blackberry OS"]</strong><br />
                @mobileAcronymContent.Fields["Blackberry OS Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["C Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["CDNA"]</strong><br />
                @mobileAcronymContent.Fields["CDNA Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["CRM"]</strong><br />
                @mobileAcronymContent.Fields["CRM Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Cloud Services"]</strong>
                @mobileAcronymContent.Fields["Cloud Services Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["CSD"]</strong><br />
                @mobileAcronymContent.Fields["CSD Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["E Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["ESN"]</strong><br />
                @mobileAcronymContent.Fields["ESN Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["ETF"]</strong><br />
                @mobileAcronymContent.Fields["ETF Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["G Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["GB"]</strong><br />
                @mobileAcronymContent.Fields["GB Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["GSM"]</strong><br />
                @mobileAcronymContent.Fields["GSM Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["GPS"]</strong><br />
                @mobileAcronymContent.Fields["GPS Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["H Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Hotline"]</strong><br />
                @mobileAcronymContent.Fields["Hotline Description"]</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["I Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["IMEI"]</strong><br />
                @mobileAcronymContent.Fields["IMEI Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["iOS"]</strong><br />
                @mobileAcronymContent.Fields["iOS Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["K Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["KB"]</strong><br />
                @mobileAcronymContent.Fields["KB Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Kbps"]</strong><br />
                @mobileAcronymContent.Fields["Kbps Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["L Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["LTE"]</strong><br />
                @mobileAcronymContent.Fields["LTE Description"]</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["M Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["MB"]</strong><br />
                @mobileAcronymContent.Fields["MB Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MEID"]</strong><br />
                @mobileAcronymContent.Fields["MEID Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MMS"]</strong><br />
                @mobileAcronymContent.Fields["MMS Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MRC"]</strong><br />
                @mobileAcronymContent.Fields["MRC Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Mbps"]</strong><br />
                @mobileAcronymContent.Fields["Mbps Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MIN"]</strong><br />
                @mobileAcronymContent.Fields["MIN Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MNO"]</strong><br />
                @mobileAcronymContent.Fields["MNO Description"]</p>
                <p><strong>@mobileAcronymContent.Fields["MVNO"]</strong><br />
                @mobileAcronymContent.Fields["MVNO Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["N Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["NPA"]</strong><br />
                @mobileAcronymContent.Fields["NPA Description"].</p>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["O Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["Offloading"]</strong><br />
                @mobileAcronymContent.Fields["Offloading Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["OS"]</strong><br />
                @mobileAcronymContent.Fields["OS Description"]</p>
            </div>
        </div>
        <div class="divider">
            <p>@mobileAcronymContent.Fields["P Header"]</p>
        </div>
        <div class="grid">
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["PIN"]</strong><br />
                @mobileAcronymContent.Fields["PIN Description"]</p>
            </div>
            <div class="col">
                <p><strong>@mobileAcronymContent.Fields["PORTING"]</strong><br />
                @mobileAcronymContent.Fields["PORTING Description"]</p>
            </div>
        </div>
    </div>
</article>

